[2018-06-29 21:42] rodribet3 commented on #2596
I'm having the same problem as @g4laura. I want to remove the back button titles but when I add `backTitle = " "` the back button start showing in every screen even if there wasn't one before adding that property. Is there any solution in which the back button doesn't show when is not suppose to?

[2018-06-30 06:09] kr0000 opened #3103 "Show bottom menu for scene which button is not present in menu"
Its possible to render bottom menu for Scene which is not in Tabs (doesn't have button on menu)?
showIcon={false} - not hide this icon

[2018-06-30 10:34] ZeroCool00 commented on #2261
anyone solve this error..  replace is not working.

[2018-06-30 10:36] daviscabral commented on #2261
Please open a new issue with the details of your error and sample code to help someone to jump on this.

[2018-06-30 11:18] ZeroCool00 opened #3104 "There is no route defined for key when opening page second time"
![screenshot_20180630-170318](https://user-images.githubusercontent.com/18139594/42125337-65a9958a-7c92-11e8-855e-32a56252f66e.png)
**Version**

   react-native-router-flux v4.0.0-beta.31
   react-native v0.55.4

Expected behaviour:
  page should open using props..
 when i open my app, props.auth.success is false and it open login page, but
 when i click login button my authantication api call and

[2018-06-30 11:36] ZeroCool00 commented on #2261
#3104

[2018-06-30 11:38] ZeroCool00 commented on #2261
@daviscabral i open this issue here #3104

[2018-06-30 13:50] kr0000 commented on #3058
@jie any progress here? i have the same issue.

[2018-06-30 13:51] kr0000 commented on #3058
@aksonov i have the same problem - how can i hide icon on menu any ideas?

[2018-06-30 20:48] nica0012 opened #3105 "navbar background color animation is buggy with different background colors while navigating."
### Version
Tell us which versions you are using:
4.0.0-beta.31

### Expected behaviour
A smooth header background transition when background colors are different.

### Actual behaviour
When navigating between scenes with different header background colors, everything is smooth . except the background color animation.  It seems to switch colors right away (makes it look buggy) and when navigating

[2018-07-01 20:10] berpcor opened #3106 "What is difference between react navigation library and react native router flux built on top of it?"
What to use?
I can't understand the difference except syntax.

[2018-07-02 00:09] kwoumn3 commented on #1123
@apoterenko Did you ever find a workaround for this?

[2018-07-02 10:32] Chameehub opened #3107 "RNRF backAndroidHandler not work after calling RN BackHandler"
I use RN router-flux tab view and, for android hardware back button. I'm using both backAndroidHandler provided by RN-router-flux for handle back functions of tab view and react-native BackHandler for handle other components' hardware backpress. Both nicely work **separately**.

but when soon after the call of react native BackHandler, react-native-router-flux backAndroidHandler not functioning fu

[2018-07-02 10:47] repapa commented on #2553
@aksonov I have the same issue with @afilp. Please assist us.

[2018-07-02 11:14] godot007 opened #3108 "please update to react-navigationV2,thx"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.?.? (v3 is not supported)
- react-native v0.?.?

### Expected behaviour

### Actual behaviour

### Steps to reproduce
For non-obvious bugs, please fork this component, modify Example project to reproduce your issue and include link here.
1.
2.
3.

[2018-07-02 12:43] repapa opened #3109 "Lightbox background not displaying the initial screen but displays a white background"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.31 (v3 is not supported)
- react-native v0.55.3

### Expected behaviour
Should see the initial screen when navigating to a Lightbox Scene

### Actual behaviour
<img width="367" alt="screen shot 2018-07-02 at 8 38 44 pm" src="https://user-images.githubusercontent.com/19182530/42164223-f09d0464-7e37-11e8-921f-d

[2018-07-02 15:02] AlexDM0 commented on #3068
I'm really looking forward to an integration with the new versions since the following bug is very visible in our app: https://github.com/react-navigation/react-navigation/issues/4185

It's fixed in 2.5.5 :)

[2018-07-02 21:32] mrkhoros commented on #3100
mentions:aTable the latest is 4.0.0-beta.31, I cannot see 32 in the release list [https://github.com/aksonov/react-native-router-flux/releases](url)

[2018-07-02 23:22] aTable commented on #3100
I guess it's an unofficial beta at this stage

` npm i react-native-router-flux@4.0.0-beta.32`

[2018-07-03 02:15] jie commented on #3058
@kr0000 I use custom tabbar instead

[2018-07-03 03:18] ekoooo opened #3110 "delay back and refresh the current scene can lead to infinite loop."
### Version
- react-native-router-flux v4.0.0-beta.31
- react-native v0.55.4

### Expected behaviour
page1 `componentWillReceiveProps` called once when  page2 pop to page1.

### Actual behaviour
page1 `componentWillReceiveProps` infinite loop when  page2 pop to page1.

### Steps to reproduce
1. `git clone https://github.com/ekoooo/TestRouterFlux.git`.
2. run App.
3. page1 -> page2 -> page1.
4. inf

[2018-07-03 03:53] telmen commented on #2929
?

[2018-07-03 04:44] radjivF opened #3111 "how can I add a local icon png in the Tab ?"
### Version
Tell us which versions you are using:

- react-native-router-flux ^4.0.0-beta.31 (v3 is not supported)
- react-native 0.55.4

### Expected behaviour
Im trying to get an image in a tab and not an icon and its been very hard, how can I did this

[code]

### Actual behaviour

I get an error
[code]

Any idea how can I add a local icon png in the Tab

Im totally lost at the moment. Thanks f

[2018-07-03 04:58] ekoooo commented on #3111
e.g. `image = require('../assets/form-icon.png')`;

[2018-07-03 06:04] radjivF commented on #3111
thx @ekoooo, but unfortunately I have tried this too and I get ```Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.

Check the render method of `TabIcon`.```

[2018-07-03 07:04] russellgoldman commented on #2696
Got this issue but fixed it with {{ marginLeft: 5, marginRight: 5 }} (doesn't have to be 5, just something to balance out the marginLeft shift)

[2018-07-03 11:19] zealgt opened #3112 "Duplicate scene when Actions.push to child in Stack or Scene group"
### Version

  "dependencies": {
    "react": "16.4.1",
    "react-native": "0.55.4",
    "react-native-router-flux": "4.0.0-beta.31"
  },

### Expected behaviour

When I click "Go to register" it should have only one Register's scene mounted.

### Actual behaviour

I got double scenes Register have mount, When you click back Register button then back to Register scene again.
So I'm not sure, Is i

[2018-07-03 15:05] hungdev commented on #3099
i think the error of react-native-svg or react-native-pathjs-charts

[2018-07-03 23:02] jwilliamson1 commented on #2439
@shamanking @saurabhabh and anyone else who is having this problem, and is probably also doing Stephen Grider's React-Native course that this example seems to be from. You need to call `Actions.pop()` or `Actions.main()`, to go back on instead of using `Actions.employeeList({ type: 'reset' })`;.

try the following if the key is named main:

`export const employeeSave = ({ name, phone, shift, uid }

[2018-07-04 02:47] saurabhabh commented on #2439
Thank you so much.

On Wed, Jul 4, 2018, 4:32 AM jwilliamson1 <notifications@github.com> wrote:

[2018-07-04 21:25] matteocollina opened #3113 "I would like to reload data when go back from Scene B to Scene A"
### Version
- react-native-router-flux v4.0.0-beta.31
- react-native: v0.55.4

### Actual behaviour
- From "A" => Actions.push("B")
- When press "back" on "B", I would like to reload data (or override a method) on "A", like a "**onResume**" on Android.

Is it possible?

![schermata 2018-07-04 alle 23 25 11](https://user-images.githubusercontent.com/8715726/42294492-85a2b540-7fe1-11e8-8cdc-e6032854

[2018-07-06 05:11] themakerman opened #3115 "How to keep drawer always open on tablet screens?"
The syntax is not working. Can anyone please help me out. Also when the drawer is locked i don't want the main screen to be out of focus. Is this possible?
`<Drawer drawer drawerLockMode={{'locked_open'}} contentComponent={SideMenu} hideNavBar>`

[2018-07-06 09:29] taichi-jp commented on #2835
How to use `Component` to divide routers?

[2018-07-06 14:34] compojoom commented on #3089
@aksonov - any comment on this?

[2018-07-07 08:59] Vi-jay opened #3116 "can't work with mobx"
you should change package.json like this
[code]

[2018-07-07 15:59] MichalJana opened #3117 "undefined is not an object (evaluating '_reactNativeRouterFlux2.default.newScreen')"
### Version
 "react": "16.3.1",
    "react-native": "~0.55.2",
    "react-native-router-flux": "^4.0.0-beta.31"

### Actual behaviour
I'm trying to get started with React Native. And right from the start I came across the problem. I can't figure out what I'm doing wrong. After click on `<Text onPress={newScreen}>Test text press.</Text>` i got an exception:

undefined is not an object (evaluating '

[2018-07-07 18:18] jairbj commented on #2033
@d7laungani , I've added this style to my router component and it has solved for me.

Example:
[code]

[2018-07-08 09:57] dccmmtop commented on #2499
@maulikdhameliya  thank you very much

[2018-07-08 10:17] SexySix opened #3118 "popTo can't find scene"
### Version

- react-native-router-flux v4.0.0-beta.32 (v3 is not supported)
- react-native v0.52.3

### Code

my code like following:
[code]

### Expected behaviour

When current scene is 'register', `Actions.popTo('home')` should back to 'home'

### Actual behaviour

When current scene is 'register', `Actions.popTo('home')` doesn't work.
And In 4.0.0-beta.31, it works.

#3043 may cause this bug.

[2018-07-09 04:25] zouminhuababa opened #3119 "renderRightButton Actions.refresh() not working"
"react-native": "0.55.4"
"react-native-router-flux": "^4.0.0-beta.31"

in my code :
    renderRightButton = () => (
        <TouchableOpacity
          onPress={() => {
              DeviceEventEmitter.emit(TYPE.EDIT_ADDRESS_BOOK);
          }}

            <Text style={{ color: '#33ccff', fontSize: 20, marginRight: 20 }}>Edit</Text>
        </TouchableOpacity>
        )

    componentDidMount() {

[2018-07-09 05:01] zouminhuababa commented on #3119
using right insteadof renderRightButton

[2018-07-09 05:01] #3119 closed

[2018-07-09 12:52] aksonov commented on #3108
Duplicate of #3068

[2018-07-09 12:52] #3108 closed

[2018-07-09 12:55] aksonov commented on #3068
Unfortunately it seems to be quite hard... I started and stuck here: https://github.com/react-navigation/react-navigation/issues/4481

As you can see react-navigation starts recommending to store state within their library only and will not support (?) external management of state with Redux, MobX, etc. (as well as RNRF), etc. starting next major version. I will think what I can do.

[2018-07-09 19:10] #3083 closed

[2018-07-10 00:53] nica0012 opened #3120 "Very confused about the lightbox..."
Version: 4.0.0-beta.28

Hi all.

After doing some looking around in the docs and online, I haven't had any luck with this Lightbox. I am trying to display an image full screen with its props when pressed in my grid but it seems like I'm doing something wrong?

[code]

Can someone direct me to a useful example? or show me what they have done to implement it? I would love some guidance.

Cheers!

[2018-07-10 07:32] RijaAdrian commented on #3021
Same issues here !

[2018-07-10 11:57] mightym commented on #2987
@aksonov Does this mean `onEnter` is never called inside any scene inside tabs?

I have this setup:
[code]
and basically in ever Scene
[code]
gets not fired.

[2018-07-11 04:30] kylanhurt opened #3121 "Unable to Hook Into drawerClose Event"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.28
- react-native v0.51.0

### Expected behaviour

Howdy, we are using react-native-router-flux's <Drawer> component as our sidebar and we have some items in the sidebar that have Redux state. While apparently you can call `drawerClose` and `drawerOpen`, there is not an actual event (eg `onDrawerClose`) which

[2018-07-11 07:00] BatDroid opened #3122 "Keyboard will show up after calling Actions.reset() from a scene containing Text Input"
### Version
Tell us which versions you are using:

- react-native-router-flux 4.0.0-beta.28 (v3 is not supported)
- react-native v0.55.1

### Expected behaviour
when i don't want to return to previous scene (eg: after login/signup) i use Actions.reset("sceneKey") (in my case is Actions.reset("home")). since the page contains text input and the keyboard is up. first i make sure that the keyboard is

[2018-07-11 08:05] themakerman opened #3123 "undefined is not a function (evaluating 'arr[typeOf Symbol === 'function'? Symbol.iterator:'@@iterator']()')"
Can we solve this. Looks like the issue is with react-navigation.
[https://github.com/facebook/react-native/issues/16633](url)

[2018-07-11 15:17] jcoulaud commented on #3111
I had the same thing when using the Image component from React Native Elements. Switched to the Image component from React Native and it fixed the problem ;)

[2018-07-12 04:28] MayankRajSinha commented on #2907
The issue still persists in `^4.0.0-beta.31`. As mentioned by @tkalejaiye doing` left={null}` is the workaround.

[2018-07-12 06:38] rupvm opened #3124 "Fatal Exception: com.facebook.react.common.JavascriptException: TypeError: undefined is not an object (evaluating 'r.default')"
### Version
Tell us which versions you are using:

- "react-native-router-flux": "^4.0.0-beta.31"
- "react-native": "0.56.0"

-- issue
When i add drawer getting exception and app crash on release apk, when i run app in debug it will compile and run fine.

My Drawer code

     <Drawer
                        hideNavBar
                        key="drawerMain"
                        contentComponen

[2018-07-12 14:22] Sharcoux opened #3125 "Reset parameters of a scene"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.27 (v3 is not supported)
- react-native v0.55.3

### Expected behaviour

Actions.replace('myScene',{}) or Actions.myScene('myScene') should clear previous parameters of the scene

### Actual behaviour

[code]

### Steps to reproduce

For non-obvious bugs, please fork this component, modify Example project to

[2018-07-12 20:33] csmtcy commented on #2722
@busheezy would you mind to share your code ? because i running into the same problem also. Thanks

[2018-07-12 20:35] busheezy commented on #2722
oh, I'm sorry. I didn't have my comment formatted correctly and my code was invisible. I used ```<Scene drawer>``` instead of ```<Drawer>```, I believe.

[2018-07-12 22:18] mrkhoros opened #3126 "Back button action"
### Version
Tell us which versions you are using:

"react-native-router-flux": "^4.0.0-beta.32",
  "react-native": "~0.55.2",

### Expected behaviour
Fire an action when android back button ( hardware ) is touched.

### Actual behaviour
While touching the back button on the top triggers the action, the hard key on android phone does not fire the action and treats is a normal `Actions.pop()` which

[2018-07-13 09:59] prasanthyejje opened #3127 "How to remove Scene From history stack."
In my app i have multiple pages(components), every page has LOGOUT on it's header. when user clicks logout i am navigating to login page by using ### **Actions.login()**. here home component instance is not deleting from the react router flex history stack.
 ### **Actions.pop({ key: 'homePageComponent' })** not resoving my issue. if is there any bettor solution please let me know.
   @aksonov Plea

[2018-07-13 15:04] rupvm commented on #3124
@CptFabulouso right ..its working..thank you

[2018-07-13 15:04] #3124 closed

[2018-07-14 07:57] pureandfresh commented on #2397
@SaffaShujah
pop: function (props) {
        const {popNum} = props || {}
        if (popNum > 1) {
            const routes = Actions._state && Actions._state.routes
            if (routes && routes.length > popNum) {
                const route = routes[routes.length - popNum - 1]
                //v4 not support props refresh, not sure futrue
                Actions.popTo(route.routeName, props

[2018-07-14 09:20] kesha-antonov opened #3128 "Please add Migration guide from RNRF to React-Navigation"
Hello! RNRF is deprecated. Please provide migration guide!

[2018-07-14 16:45] ebaynaud commented on #3124
So many thanks. Any proper fix somewhere to this issue? I mean not modifying node_modules manually?

[2018-07-14 17:32] ebaynaud commented on #3124
@CptFabulouso could you please explain how did you find the origin of the issue? After renaming `TabRouter` to `tabRouter` I still get the `r.default` issue...

[code]

Also tried to do that in all other Navigators without success...

If you explain how you did find the issue, I may be able to find what's still wrong.

Still getting for now: `ReactNativeJS: undefined is not an object (evaluating '

[2018-07-14 18:55] CptFabulouso commented on #3124
I used console logs (viewed them in android studio) to track where the code throws error. Did you also fix the next line after contentRouter?
[code]

[2018-07-15 00:00] Hypothesis-github commented on #3126
I added event listeners to my code and this in away does it on android

[code]

[2018-07-15 06:27] roeib opened #3129 "Tabs is RTL Devices"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.31
- react-native v0.55.4

### Expected behaviour
Regular tab behaviour just like in LTR language

### Actual behaviour
when my mobile device language is Hebrew (RTL)
the tabs behavie is opposite

### Steps to reproduce
For non-obvious bugs, please fork this component, modify Example project to reproduce your

[2018-07-15 10:10] Koshukey commented on #2980
Me, too !😭

[2018-07-15 10:10] Koshukey commented on #2980
Does anyone know how to fix this???

[2018-07-15 18:38] antoantonyk commented on #2115
if any one knew which version working correctly? i tried beta 23,25,28 and 31 sadly nothing seems working, Please help

[2018-07-15 19:56] kesha-antonov commented on #3128
Their docs are very good. No need for guide.

[2018-07-15 19:56] #3128 closed

[2018-07-16 01:23] Koshukey opened #3130 "How to hide the descriptions of tabs ?"
### Version
Tell us which versions you are using:
"^4.0.0-beta.31"

### Expected behaviour

I want to hide descriptions of tabs.

### Actual behaviour

I cannot hide the descriptions.

<img width="349" alt="2018-07-16 10 22 53" src="https://user-images.githubusercontent.com/31874274/42740422-450e0bf6-88e2-11e8-86d1-f81f6445a993.png">

[2018-07-16 05:07] A86S commented on #2029
Thanks @thiagoh , I got this error because i am writing code like this
[code]

[2018-07-16 11:00] ebaynaud commented on #3124
Ok got it working now, only doing what you suggested editing those 3 lines in `node_modules/react-navigation/src/navigators/DrawerNavigator.js`:
[code]

[2018-07-16 11:52] fadlykayo commented on #2531
@kesha-antonov hi, do you found any solution for this? my current workaround is by adding `setTimeout(() => { Actions.home(), 0);`. But it still give me flicker effect.

[2018-07-16 12:08] ebaynaud commented on #3124
Would be great to find the route cause and fix it because now the only (_not so_) clean solution I found is:
- forking react-navigation
- commiting modifications in DrawerNavigator react-navigation **in 1.x branch**
- add this to my package.json:
[code]
Had also submit a PR on react-navigation: https://github.com/react-navigation/react-navigation/pull/4699

[2018-07-16 13:14] godofmadness commented on #3124
@ebaynaud what version of react-navigation you using?

[2018-07-16 13:18] ebaynaud commented on #3124
Initially that was the one specified in current RNRF dependencies, so 1.5.8.
Now I forked the last one in react-navigation 1.x branch (latest release is 1.5.11) and performed the modifications in my fork: `https://github.com/ebaynaud/react-navigation.git#1.x`

[2018-07-16 13:59] webdevsyd commented on #2103
Im currently encountering this. Any straight forward solution for this issue? When I click the message `Icon` as you can see below in the code, same thing happen to with my navigation
Here's what I have.

<img width="625" alt="screen shot 2018-07-16 at 9 57 51 pm" src="https://user-images.githubusercontent.com/15810023/42762620-5c7a8ea2-8943-11e8-87e0-05ace6848469.png">

[2018-07-16 14:05] godofmadness commented on #3124
@ebaynaud solution worked for me, will wait for PR submttion

[2018-07-16 14:07] CptFabulouso commented on #3124
May this be related to [this](https://github.com/facebook/react-native/issues/20150)?

[2018-07-16 14:22] kesha-antonov commented on #2531
Hello @fadlykayo ! I've migrated to react-navigation today

[2018-07-16 15:31] aksonov commented on #3120
Just check Example project that use it

[2018-07-16 15:31] #3120 closed

[2018-07-16 15:32] aksonov commented on #3098
Something wrong with your node_modules/packager. Please check Example project

[2018-07-16 15:32] #3098 closed

[2018-07-17 01:49] the-simian commented on #2592
I had the same problem as @aksonov  at first. No matter what I sent to the indicatorStyle prop, its seemed to stay the default yellow.
My problem is I was trying to only override the color and not also the other properties. When I added the borderBottomWidth property, it started working for me.

[2018-07-17 11:48] smhassan90 commented on #2980
I fixed it by making it a child of some scene. Let me know if you need more clarification.

[2018-07-17 20:28] whalswo7777 opened #3132 "Is there anyway for passing props from drawer to nested scene?"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.31 (v3 is not supported)
- react-native v0.55.2

### Expected behaviour
![image](https://user-images.githubusercontent.com/29480583/42843361-b4a089de-89c4-11e8-9ebe-6cf26e6a0c4d.png)

Actually, I want to passing props("Recent_Measurement") from drawer(in this case, "main_tab") to its nested scence ("measure_t

[2018-07-18 09:31] coolmic commented on #2856
React-navigation will stop supporting redux in the near future.
https://github.com/react-navigation/react-navigation/issues/4490
https://reactnavigation.org/docs/en/redux-integration.html

I decided to refactor my app, so it doesn't use redux for navigation.

[2018-07-18 09:31] #2856 closed

[2018-07-18 11:00] smhassan90 commented on #2980
How did you resolve? I want to know if there is some good work around

[2018-07-18 11:34] yeomann opened #3133 "react-native upgrade 0.56.0 error"
### Version

"react-native-router-flux": "^3.43.0",
"react-native": "^0.56.0-rc.5",

### Actual behaviour

I KNOW V3 is not supported! I am using v3 as it is stable release for now. I was trying to upgrade `react-native` to latest which is `0.56.0` but I was having a build error from packager saying that there's trailing comma in `react-native-experimental-navigation` mainly as latest react native

[2018-07-19 07:21] catherinetcai commented on #3100
If for some reason you don't feel like bumping the version, I was able to workaround this using yarn and resolutions, as outlined [here](https://stackoverflow.com/questions/49429718/there-are-multiple-mobx-instances-actives).

[2018-07-19 07:21] catherinetcai commented on #3116
Is this the same issue as https://github.com/aksonov/react-native-router-flux/issues/3100?

[2018-07-19 08:00] Koshukey commented on #2980
[code]

I did like this. i made another scene which does not have tag element and I put what i do not wanna show tabs there.

[2018-07-19 09:56] tquiroga commented on #842
Same problem.
It's still happening to me 2 years later with RN 0.56 and RNRF@4.0.0-beta.27.

[2018-07-19 11:13] NN01010101 commented on #2880
Had the same problem with iOS (grey / white) line at the bottom. Fixed with borderBottomWidth: 0 in navigationBarStyle

[2018-07-19 12:52] aksonov commented on #3133
It is interesting how many still use v3. react-navigation changes so rapidly and unpredictably so whole v4 was probably not good idea...

[2018-07-19 13:02] yeomann commented on #3133
@aksonov well the thing is as much as people would love to use v4 but they are probably afraid to ship the product with unstable or beta release package. Not to mention, This could create a hug amount of chaos in my humble opinion.

[2018-07-19 15:17] MaxInMoon commented on #3091
@nfq6612 I'm thinking about something like this:

[code]

[2018-07-19 15:27] sajaddp opened #3134 "ActionConst.BACK vs ActionConst.BACK_ACTION"
Hi,
What is the difference between `ActionConst.BACK` and `ActionConst.BACK_ACTION` in v4?

[2018-07-20 07:08] Chris533 commented on #1675
componentWillMount () {
    this.fetchCarts()
    Actions.refresh({
      rightTitle: 'Edit',
      onRight: () => {
        Actions.refresh({isBulkEdit: true})
        console.log(this.props.isBulkEdit)
      }
    })
 }

componentWillReceiveProps (newProps) {
     if (newProps.isBulkEdit) {
      this.setState({
        isBulkEdit: !this.state.isBulkEdit
      })
      Actions.refresh({isBulkEdi

[2018-07-20 08:53] shoki2shoki opened #3136 "Actions.pop can't work in the screen on the same screen"
### Version
- react-native-router-flux v4.0.0-beta.31
- react-native v0.55.4

### Problem
When I display a screen on the same screen(component), I can't navigate back to previous same screen, even though I tap the button that has "Actions.pop".
this button works successfully on other screens.

### Expected behaviour
navigate back to previous same screen

### Actual behaviour
nothing happens

[2018-07-20 09:13] vit134 opened #3137 "params is undefined in custom Tabbar"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.31
- react-native v0.55.2

### Expected behaviour
I need to create custom tabBar, and in navigationState.routes.params i expect  params of my scene but navigationState.routes.params is undefined

### Actual behaviour
navigationState.routes.params is undefined

### Steps to reproduce

[code]

[2018-07-20 12:01] ajaykumarramani commented on #1456
const children = state.children ,  where is 'children' defined
i got error in this line

[2018-07-20 12:44] sajaddp opened #3138 "Receive the whole scene from navigation stack"
Hello,

### Version
- react-native-router-flux v4.0.0-beta.31
- react-native v0.55.4

How can I see and receive the list from the whole scene off the nav stack? Take, for example,
the user navigates from **screen A to the screen B, then C, after that D**. Therefore, we intend to have a stack like the mentioned example in bold: D,C,B,A

[2018-07-20 13:10] sajaddp commented on #2843
same problem

[2018-07-20 19:00] EiderDiaz commented on #2957
same issue here,  @baonguyen2604 did you find any solution or a workaround?

[2018-07-21 01:06] mcoder14 opened #3139 "Issue with flashing on load of scene"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.28
- react-native v0.55.3

### Expected behaviour
I want the scene to load without any flashes

### Actual behaviour
The scene flashes on every page transition even with duration={0}

### Steps to reproduce
[code]
and then the required section
[code]

[2018-07-21 02:48] ericjordanmossman opened #3140 "Title prop and rightTitle are not aligning correctly."
Versions

- react-native-router-flux 4.0.0-beta.31
- react-native v0.56.0

### Expected behaviour

The title and rightTitle is centered and aligned at the top of the application next to the back button (which is in the correct place)

### Actual behaviour

Title and rightTitle are beneath desired position and will not overlap.

### Steps to reproduce

I created the app with `react-native init proj

[2018-07-21 02:48] ericjordanmossman commented on #3140
<img width="334" alt="screen shot 2018-07-20 at 7 43 13 pm" src="https://user-images.githubusercontent.com/25092858/43031415-efb6d9f4-8c55-11e8-926d-eae6b26709a5.png">

[2018-07-22 14:37] aksonov commented on #3068
I found one easy and one complex way. First is to remove state management from RNRF, second is to build own navigators and use them instead of react-navigation ones, use only views from react-navigation. I'm working on first way while probably second way may be implemented at the future (or maybe not).

Feel free to check my PR (Some links work, some not - login/lightbox/modal don't work yet)

[2018-07-22 14:39] aksonov commented on #3068
@daviscabral what do you think about my comments above and my PR? There are still a lot of things to to do, maybe you can help here (new tab navigator, our custom actions like popTo, etc)....

[2018-07-22 18:58] daviscabral commented on #3068
@aksonov Great - I've been thinking about removing state management from RNRF - but that would make the project name a bit out of sync with it. I'll check your PR and start to hack on missing stuff - let me know things that you would prefer me to look into first.

[2018-07-22 19:02] aksonov commented on #3068
@daviscabral Could you clarify - "make the project name a bit out of sync with it." ? RNRF name?
You may start from converting navigators and restore original Example demo, fix eslint errors or restore original actions like POP_TO, checking all other actions like RESET, REPLACE - they may not work..., etc.

[2018-07-22 19:09] daviscabral commented on #3068
@aksonov sure - yeah - when I was trying to make it to work with `react-navigation@2` here - ended being more like a utils than something like it is now. But checking your PR, that's a way better than I thought.

I have created a few helpers/utils for some projects where I am using `react-navigation@2` that I think might be useful there. I'll get started with it tonight! 👍

[2018-07-22 19:31] aksonov commented on #3068
@daviscabral Great! Also we can remove mobx now too to make RNRF more lightweight (everybody who are observing state/or currentScene will be able to pass own onNavigationState function)

[2018-07-22 19:40] daviscabral commented on #3068
@aksonov I can do it - even provide the way to connect it with `onNavigationState`.

Also - with the new React context API - we might want to explore that instead of a `forward props hell` that usually happens.

[2018-07-23 09:24] nfq6612 opened #3143 "What is the way to view the current pages stack?"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.31
-  react v16.3.2
-  react-native v0.53.0

### Expected behaviour
for example : where I open page A、page B、page C, the  pages navigation stack Is :A->B->C .
                     What is the way to view the current pages stack?

[2018-07-23 19:52] ericjordanmossman commented on #3140
Fix is `hideNavBar` in parent scene.

[2018-07-23 19:52] #3140 closed

[2018-07-23 22:03] rayjadore commented on #3099
same issue

[2018-07-23 22:52] HenryHengZJ commented on #2583
is this solved yet?

[2018-07-24 07:51] aksonov commented on #3143
`Actions.state`

[2018-07-24 07:51] #3143 closed

[2018-07-24 07:54] aksonov commented on #3138
`Actions.state` contains all navigation state.

[2018-07-24 07:54] #3138 closed

[2018-07-24 14:58] protectmeoleg opened #3144 "[Drawer] Horizontal ScrollView inside Drawer"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.31
- react-native v0.56.0

### Expected behaviour
ScrollView should respond to right swipe gesture

### Actual behaviour
ScrollView do not respond to right swipe gestures, because of Drawer gestures

### Steps to reproduce
1. Add Drawer
2. Add Horizontal ScrollView inside drawer

![ezgif-5-eb2f1bc5bd](https:/

[2018-07-24 15:44] dextermb commented on #2923
🤔 💭

[2018-07-25 11:09] cicer1 commented on #2036
@kunaldodiya can you please share your CustomTabBarComponent?

[2018-07-25 13:30] rvasoya commented on #2350
You likey forgot to add the key.

[2018-07-25 14:48] kunaldodiya commented on #2036
@cicer1 i am no more using this module.. I am now using react navigation

[2018-07-25 18:18] ebaynaud commented on #3124
Unfortunately my PR https://github.com/react-navigation/react-navigation/pull/4699 was rejected due to the lack of information provided. Do someone can explain this?

[2018-07-25 20:00] danielzzz commented on #3124
@ebaynaud  thanks for the fix, it worked for me!

[2018-07-25 20:08] Twinbird24 opened #3145 "Cannot style bottom border of active tab"
### Version

- react-native-router-flux v4.0.0-beta.26

### Expected behaviour

To be able to change the style of the actively selected tab's bottom border.

### Actual behaviour

There does not appear to be a prop to change the actively selected tab's bottom border (see screen shot, the border of that active tab is yellow–I cannot change it). Setting the style in the `tabStyle` prop doesn't chang

[2018-07-26 02:55] icerockq opened #3146 "DefaultRenderer and navigationState not working"
### Version
Tell us which versions you are using:

- react-native-router-flux 4.0.0-beta.31
- react-native v0.55.4
- native-base v2.7.1

### Expected behaviour

[code]

And there is a homeContainer component:
[code]

But for some reason, DefaultRenderer does not work. And as there is no data in navigationState.
How can I get a navigationState about his children?
If possible, attach links to exampl

[2018-07-26 05:20] TwilightOwl commented on #3124
this is because babel plugin which allows instance creation without "new" keyword is removed from babel 7 https://babeljs.io/docs/en/babel-plugin-transform-class-constructor-call

[2018-07-26 10:50] csmtcy commented on #2722
Still getting the same error

[2018-07-26 11:19] csmtcy commented on #2748
@NSShentu I used your solution and added the new plugin react navigation. It does work.

[2018-07-26 19:57] akinolu52 commented on #1828
same issue on v4

"react-native-router-flux": "^4.0.0-beta.32",

[2018-07-26 19:57] akinolu52 commented on #1828
@aksonov any help?

[2018-07-27 06:53] telmen opened #3148 "How to hide, dismiss keyboard on every navigation change?"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta31 (v3 is not supported)
- react-native v0.53.3

### Expected behaviour

### Actual behaviour

### Steps to reproduce
For non-obvious bugs, please fork this component, modify Example project to reproduce your issue and include link here.
Hi guys, I'd like to dismiss, hide keyboard on every navigation state cha

[2018-07-27 09:04] dextermb opened #3149 "Mounting when not in focus causing API request issues with componentDidMount"
### Version
Tell us which versions you are using:

- react-native-router-flux 4.0.0-beta.27
- react-native 0.54.0

### Expected behaviour

Do not render/mount the component when it is not focused. I would like to have a prop which enables/disables instant mounting when not focused.

### Actual behaviour

The component is mounted and rendered when it is not in focus. Most, if not all of my scenes h

[2018-07-27 17:15] direwolf424 commented on #2957
same issue here.

[2018-07-28 16:43] ReactDevBeginner commented on #1896
Hello everyone

Please I use native base, I want to skip the line after "Analyst", I used the code above.

To jump the line I used: {'\ n'} between the two lines.
The problem is that I can not change the margin between the text?
![image](https://user-images.githubusercontent.com/38378058/43358694-ac358a98-928d-11e8-8b63-84bf17199247.png)
![14884b0e-6d2a-4441-a391-3257f550bb69](https://user-images.

[2018-07-30 02:36] mswokk commented on #3102
Did you find any workaround for this issue?

[2018-07-30 02:48] Symous commented on #3102
@mswokk not yet friend, this only appeared with Android, so I have to write a native module to force to kill the app manually. :(

[2018-07-30 06:44] colorfulberry commented on #1828
@akinolu52  How to you solve it at end?

[2018-07-30 08:36] dextermb commented on #3149
Within the API docs it suggests using the `lazy` prop on `Tabs`.

---

[Source](https://github.com/aksonov/react-native-router-flux/blob/master/docs/API.md#tabs-tabs-or-scene-tabs).

[2018-07-30 08:36] #3149 closed

[2018-07-30 08:41] dextermb commented on #3092
I've found myself needing an answer for this too. That or being able to render tabs from a scene that is not nested within `Tabs`.

[2018-07-30 11:11] OrangeFlavoredColdCoffee commented on #2008
<img width="638" alt="image" src="https://user-images.githubusercontent.com/15223345/43394164-4f8ecc82-942c-11e8-90c0-fbfa22e394fc.png">

[2018-07-30 12:10] Moshikol opened #3151 "Add a FAB that would be visible on specific scenes"
### Version
Tell us which versions you are using:

- react-native-router-flux": "^4.0.0-beta.31
- react-native": "0.55.4

### Expected behavior
I Want to add FAB (floating action button) that would be visible on all scenes that under my "tabs" scene parent is there a way to add the  FAB to the tab navigation bar without wrting a whole new component that would handle the animations of the changed t

[2018-07-30 15:43] dextermb opened #3152 "`Actions.refresh` should also reset screen position?"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.27
- react-native v0.54.0

### Expected behaviour
When calling `Actions.refresh()` screen position should be reset to the top of the screen

### Actual behaviour
The screen currently stays where it was before refresh

### Steps to reproduce
For non-obvious bugs, please fork this component, modify Example proj

[2018-07-30 17:54] mdelclaro opened #3153 "Header title not centered when there is a right/left button"
### Version
Tell us which versions you are using:

- react-native-router-flux@4.0.0-beta.31
- react-native@0.56.0

### Expected behaviour
Header title to be centered

### Actual behaviour
![image](https://user-images.githubusercontent.com/32961172/43414029-fbafe6b0-9407-11e8-95bc-450995328f48.png)

[2018-07-30 19:35] Amnesthesia commented on #3124
I'm hitting this too :( This was insanely confusing to debug

[2018-07-30 19:50] CptFabulouso commented on #3124
[This](https://github.com/facebook/react-native/issues/20150#issuecomment-406344140) may be a more proper workaround for this problem. I've seen it work in a project, not have tried in one of mine yet.

[2018-07-30 20:46] Amnesthesia commented on #3124
I've already done that — works in debug mode, still crashes in release

[2018-07-31 03:43] Koshukey commented on #3130
@dextermb  Thanks it worked !!!

[2018-07-31 07:02] dextermb commented on #3130
@Koshukey 👍 be sure to close this thread then

[2018-07-31 07:44] #3130 closed

[2018-07-31 10:43] pavjacko commented on #3124
run this package.json snippet in postinstall or manually before release:

For older react-navigation (where SwitchRouter is not available)
`
{
  "scripts": {
    "fix:react-navigation": "sed -i '' 's/ TabRouter/ tabRouter/g' ./node_modules/react-navigation/src/navigators/DrawerNavigator.js && sed -i '' 's/ StackRouter/ stackRouter/g' ./node_modules/react-navigation/src/navigators/StackNavigator.js

[2018-07-31 12:32] dextermb commented on #3152
I guess this isn't possible without having a `ref` to the `ScrollView` unless you were to loop through elements in a component recursively.

Note that this can be done like so:
[code]

[code]

[2018-07-31 12:32] #3152 closed

[2018-07-31 12:33] dextermb commented on #3134
There doesn't seem to be a difference. Check out the API table [here](https://github.com/aksonov/react-native-router-flux/blob/master/docs/API.md).

| Property | Type | Value | Shorthand |
|-----------------|----------|----------|--------------------------------------------|
| `ActionConst.BACK` | `string` | 'REACT_NATIVE_ROUTER_FLUX_BACK' | `pop` |
| `ActionConst.BACK_ACTION` | `string` | 'REACT_

[2018-07-31 17:47] #3134 closed

[2018-08-01 08:50] AlexCatch commented on #3092
From a UX perspective, you're looking a modal rather than replacing a tab screen, only scenes inside a tab bar will be rendered with a tab bar because they're the core sceeens of the app.

Any additional views like edit profile screens etc should be presented as modals.

[2018-08-01 09:40] Blapi commented on #2896
@bishalshr status there ?

[2018-08-01 09:40] Blapi commented on #2886
@KunwarSingh status there?

[2018-08-01 09:41] Blapi commented on #2885
@AgNm what's the status there?

[2018-08-01 09:41] Blapi commented on #2871
@panhs what's there status there?

[2018-08-01 09:42] #2848 closed

[2018-08-01 09:43] Blapi commented on #2809
@v3yr0n what's the status there?

[2018-08-01 09:44] #2799 closed

[2018-08-01 09:45] Blapi commented on #2787
@EvianZhow what's the status there?

[2018-08-01 09:45] Blapi commented on #2773
@melkayam92  what's the status there?

[2018-08-01 09:45] #2696 closed

[2018-08-01 09:46] #2675 closed

[2018-08-01 09:49] EvianZhow commented on #2787
@Blapi Fixed in latest version

[2018-08-01 09:59] #2787 closed

[2018-08-01 10:04] AgNm commented on #2885
I have added `<Root>` tag, the performance is improved somehow but still there is some lagging

`<Provider store={store}>
          <StyleProvider style={getTheme(material)}>
            <Root>
              <Router toggle={false}/>
            </Root>
          </StyleProvider>
        </Provider>`

[2018-08-01 10:15] Blapi commented on #2885
Even in a release mode?

[2018-08-01 11:31] AgNm commented on #2885
yes

[2018-08-01 17:49] Pallavgarg commented on #2909
After background color is not showing

[2018-08-01 21:08] akinolu52 commented on #1828
Yeah; That is what I used @colorfulberry

[2018-08-02 19:39] SourceCipher opened #3154 "Tab navigation mounting any screens with a large delay"
### Version
Tell us which versions you are using:

- react-native-router-flux: ^4.0.0-beta.31
- react-native: 0.55.4
- Developing for android only for now

### Expected behaviour

Scenes should be mounted instantly once the scene is set fully to the view

### Actual behaviour

It has 1-2s delay before the screen is mounted. Have in mind I am talking about the production app so no debugging issues

[2018-08-03 10:34] BurakKartal1 opened #3155 "Tabs & Custom Transition"
is it possible to implement custom transition for tabs other than swipe. for example Fade In or Zoom In

### Example
[code]

### Version
Tell us which versions you are using:

- react-native-router-flux v4
- react-native v0.55.4

[2018-08-03 17:04] ibraheamkh commented on #3155
Custom transition can be achieved by writing your own or using  Animations defined in
 `CardStackStyleInterpolator` from `react-navigation` library as used in the [Sample Project](https://github.com/aksonov/react-native-router-flux/blob/master/Example/Example.js#L74).
Refer to these issues to know how to write custom animations:
[#2628](https://github.com/aksonov/react-native-router-flux/issues/26

[2018-08-03 20:31] nica0012 opened #3156 "Navbar glitch on previous scene during transition while using custom navbar"
### Version
Tell us which versions you are using:
4.0.0-beta.28

### Expected behaviour
Custom navbar doesn't make the previous screens navbar disapear during transition which causes a jumpy glitchy issue.

Is there something I am missing here? I am using hideNavBar on my scene and then in my component I am applying the customNavBar like the example. This bug/glitch is very frustrating as the only

[2018-08-04 08:09] misuna1997 commented on #3144
Any suggestions on this?

[2018-08-04 16:23] muhamad-rizki opened #3157 "deep linking on android not working?"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.31
- react-native v0.55.4

### Expected behaviour
open specific scene when opening a url

### Actual behaviour
only open initialroute

### Steps to reproduce
For non-obvious bugs, please fork this component, modify Example project to reproduce your issue and include link here.
1. i see the code and linking me

[2018-08-04 19:19] msabaeian opened #3158 "LinkingManager.getInitialURL"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.31
- react-native v0.55.4

App.js
[code]
Splash is just a simple react component

error:
TypeError: undefined is not an object (evaluating 'LinkingManager.getInitialURL')

![error](https://i.imgur.com/Fq72BjS.png "error")

how i can fix it?
thanks all

[2018-08-05 23:47] d7laungani commented on #3005
Same @kholiavko-roman did you end up finding a solution?

[2018-08-05 23:47] d7laungani commented on #2843
Same problem. Anyone find a solution?

[2018-08-06 10:54] matteocollina commented on #754
In <Drawer> component change the props:
- drawerImage: hamburger icon
- backButtonImage: back icon

In my example:
`
            <Drawer
              hideNavBar
              key="drawer"
              contentComponent={MenuContent}
              drawerImage={MenuIcon}
              backButtonImage={MenuBackIcon}
              drawerWidth={300}
             .......

`

[2018-08-06 11:09] Maple13 commented on #3145
I also encountered this problem, is there a solution? My version is 4.0.0-beta.31

[2018-08-06 11:32] Maple13 commented on #3145
@Twinbird24  Hey! You can look at #504, Use indicatorStyle can cover underscore

[2018-08-06 16:18] luanbitar commented on #3117
you need to import Actions like an object, like this:
    `import {Actions} from "react-native-router-flux";`

[2018-08-07 06:18] kholiavko-roman commented on #3005
@d7laungani, I did like this:
`Actions.settings({ title: 'settings title' });`
And when defined all routes of the app, you need set some default value for this params:
`<Scene title='my page' />`

[2018-08-07 09:18] syyam commented on #1381
The only solution for this is to call the sceneA  Actions.sceneA() 🥇

[2018-08-07 12:25] bulatshafigullin commented on #3124
@pavjacko With these fixes applied, still can't run it in release mode (debug mode is ok)
`2018-08-07 15:24:35.636 [error][tid:com.facebook.react.JavaScript] TypeError: undefined is not an object (evaluating 't.default')`

[2018-08-07 13:50] hanishcodebrew commented on #2518
@cosinus84 you rock man (y)

[2018-08-07 22:17] Kelby2 opened #3159 "When using navTransparent on iOS, the navbar area is non-responsive"
### Version
Tell us which versions you are using:
"react-native-router-flux": "^4.0.0-beta.31",
"react-native": "0.55.1",

### Expected behaviour
If using navTransparent, you should be able to click on the area where the navbar would have been (component beneath it). (This is the behavior on Android, where you can continue to click in the area, drag, etc).

### Actual behaviour
This area does not

[2018-08-08 07:26] pakkibokati2012 opened #3160 "Actions.jump() not working as it is supposed to"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.31
- react-native v0.55.4

### Expected behaviour
        Actions.jump('tabbar', this.props.rowData) is supposed to send props to all children of scene with key 'tabbar'

### Actual behaviour
Props is sent to first child only
below is the scene heirarchy
<Scene key="tabbar" tabs tabBarPosition='bottom'>

[2018-08-08 07:26] pakkibokati2012 commented on #3160
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.31
- react-native v0.55.4

### Expected behaviour
        Actions.jump('tabbar', this.props.rowData) is supposed to send props to all children of scene with key 'tabbar'

### Actual behaviour
Props is sent to first child only
below is the scene heirarchy
<Scene key="tabbar" tabs tabBarPosition='bottom'>

[2018-08-08 07:28] pakkibokati2012 commented on #3160
<Scene key="tabbar" tabs tabBarPosition='bottom'>
          <Scene key='StepList' title='Steps' icon={TabIcon} back component={StepList} iconName="list-ul"
           swipeEnabled />
            <Scene key="See Site on Map" title="See Site on Map" icon={TabIcon} back component=
           {ShowMap} iconName="map-marker" swipeEnabled />
            <Scene key='Show Documents' title="Site Documents"

[2018-08-08 08:45] pakkibokati2012 commented on #3160
``<Scene key="tabbar" tabs tabBarPosition='bottom'>
          <Scene key='StepList' title='Steps' icon={TabIcon} back component={StepList} iconName="list-ul"
           swipeEnabled />
            <Scene key="See Site on Map" title="See Site on Map" icon={TabIcon} back component=
           {ShowMap} iconName="map-marker" swipeEnabled />
            <Scene key='Show Documents' title="Site Document

[2018-08-08 08:45] pakkibokati2012 commented on #3160
`<Scene key="tabbar" tabs tabBarPosition='bottom'>
          <Scene key='StepList' title='Steps' icon={TabIcon} back component={StepList} iconName="list-ul"
           swipeEnabled />
            <Scene key="See Site on Map" title="See Site on Map" icon={TabIcon} back component=
           {ShowMap} iconName="map-marker" swipeEnabled />
            <Scene key='Show Documents' title="Site Documents

[2018-08-08 08:46] pakkibokati2012 commented on #3160
`<Scene key="tabbar" tabs tabBarPosition='bottom'>
          <Scene key='StepList' title='Steps' icon={TabIcon} back component={StepList} iconName="list-ul"
           swipeEnabled />
            <Scene key="See Site on Map" title="See Site on Map" icon={TabIcon} back component=
           {ShowMap} iconName="map-marker" swipeEnabled />
            <Scene key='Show Documents' title="Site Documents

[2018-08-08 10:33] aksonov commented on #3146
There is NO DefaultRenderer within v4, you have to use custom navigators from React Navigation

[2018-08-08 10:33] #3146 closed

[2018-08-08 10:34] aksonov commented on #3068
Please check latest 4.0.0-beta.40, it uses React Navigation v2.x now

[2018-08-08 10:34] #3068 closed

[2018-08-08 10:34] #2276 closed

[2018-08-08 10:35] aksonov commented on #2893
RNRF 4.0.0-beta.40 uses latest react-navigation now (2.x)

[2018-08-08 10:35] #2893 closed

[2018-08-08 10:39] aksonov commented on #3118
Please check latest 4.0.0-beta.40, Example Login->Login2->login3->popToRoot uses popTo function

[2018-08-08 10:39] #3118 closed

[2018-08-08 13:05] aksonov commented on #3160
Sorry, this functionality is not supported (jump with params), feel free to submit PR.

[2018-08-08 13:05] #3160 closed

[2018-08-08 13:06] aksonov commented on #3159
Sorry, this component is wrapper around react navigation (i.e. adds own Router syntax and some syntax sugar). Feel free to check latest version (beta.40). If it still doesn't work, check react navigation demos and try reproduce the issue there.

[2018-08-08 13:06] #3159 closed

[2018-08-08 13:07] aksonov commented on #3158
https://facebook.github.io/react-native/docs/linking

[2018-08-08 13:07] #3158 closed

[2018-08-08 13:08] aksonov commented on #3157
Please reproduce it with Example project and latest version.

[2018-08-08 13:09] aksonov commented on #3156
Please check latest beta.40

[2018-08-08 13:09] aksonov commented on #3155
@ibraheamkh Great answer, thanks! Closing this ticket

[2018-08-08 13:09] #3155 closed

[2018-08-08 13:10] aksonov commented on #3154
Please check latest version based on react navigation 2.x

[2018-08-08 13:12] aksonov commented on #3153
Please check latest version based on react navigation 2.x - 4.0.0-beta.40

[2018-08-08 13:13] aksonov commented on #3151
Please check Example project, it has MessageBar that is very similar for your goals (i.e. global for all screens).

[2018-08-08 13:13] #3151 closed

[2018-08-08 13:14] aksonov commented on #3148
Please check latest version based on react navigation 2.x - 4.0.0-beta.40, it should hide Keyboard automatically now.

[2018-08-08 13:14] #3148 closed

[2018-08-08 13:15] aksonov commented on #3145
Closing it (indicatorStyle should be used)

[2018-08-08 13:15] #3145 closed

[2018-08-08 13:16] aksonov commented on #3144
Please check latest version based on react navigation 2.x - 4.0.0-beta.40. If the problem exist, reproduce it with react navigation examples and create the issue there (because RNRF uses react navigation)

[2018-08-08 13:16] #3144 closed

[2018-08-08 13:16] aksonov commented on #3139
Have you tried it without export? I don't see any flashes for Example project, please check

[2018-08-08 13:19] #3129 closed, assigned to nobody

[2018-08-08 13:27] SourceCipher commented on #3154
@aksonov I switched the app navigator to the React Navigation, but I will test on my backed up app to see if there are any differences in speed at all

[2018-08-08 13:28] aksonov commented on #3154
Thank you, closing it

[2018-08-08 13:28] #3154 closed

[2018-08-08 13:28] #3117 closed

[2018-08-08 13:28] aksonov commented on #3122
Please check latest version based on react navigation 2.x - 4.0.0-beta.40, it should be solved

[2018-08-08 13:28] #3122 closed

[2018-08-08 13:29] aksonov commented on #3116
Latest version no longer uses mobx, closing it.

[2018-08-08 13:29] #3116 closed

[2018-08-08 13:29] aksonov commented on #3100
Latest version no longer uses mobx, closing it.

[2018-08-08 13:29] #3100 closed

[2018-08-08 13:30] aksonov commented on #3112
Your solution is right. Yes, it is 'feature' - first Scene is already part of stack.

[2018-08-08 13:30] #3112 closed

[2018-08-08 13:31] aksonov commented on #3115
Sorry, it is not supported

[2018-08-08 13:31] #3115 closed

[2018-08-08 13:31] aksonov commented on #3113
You may use `Actions.pop({refresh: data})`

[2018-08-08 13:31] #3113 closed

[2018-08-08 13:32] aksonov commented on #3111
@jcoulaud is right, closing this issue.

[2018-08-08 13:32] #3111 closed

[2018-08-08 13:33] aksonov commented on #3110
You need to use `setTimeout` to defer nav action

[2018-08-08 13:33] #3110 closed

[2018-08-08 13:34] aksonov commented on #3109
Please check Example, it uses Lightbox with semi-transparent background

[2018-08-08 13:34] #3109 closed

[2018-08-08 13:34] aksonov commented on #3107
It is not supported, sorry

[2018-08-08 13:34] #3107 closed

[2018-08-08 13:36] aksonov commented on #3106
Syntax is the main difference as well as some additions (own custom navigators, actions popTo, better 'replace', onEnter/onExit, etc.)

[2018-08-08 13:36] #3106 closed

[2018-08-08 13:36] aksonov commented on #3091
Please check latest beta.40, it should solve this issue

[2018-08-08 13:36] #3091 closed

[2018-08-08 13:37] aksonov commented on #3105
Please check latest 4.0.0-beta.40 version

[2018-08-08 13:37] #3105 closed

[2018-08-08 13:38] aksonov commented on #3104
Sorry, it is not correct usage of RNRF (i.e. different scenes for `props.auth.success`). You may check auth example for https://github.com/aksonov/react-native-starter-app (it could be outdated, though)

[2018-08-08 13:38] #3104 closed

[2018-08-08 13:40] aksonov commented on #3102
Sorry, Android maintainer is really wanted, I'm using iOS right now.

[2018-08-08 13:40] aksonov commented on #3153
Android maintainer is really wanted, I'm using iOS right now.

[2018-08-08 13:41] aksonov commented on #3101
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 13:41] #3101 closed

[2018-08-08 13:41] aksonov commented on #3103
It is not supported

[2018-08-08 13:41] #3103 closed

[2018-08-08 13:42] aksonov commented on #3087
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 13:42] #3087 closed

[2018-08-08 13:42] aksonov commented on #3099
Not related to RNRF

[2018-08-08 13:42] #3099 closed

[2018-08-08 13:42] aksonov commented on #3096
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 13:42] #3096 closed

[2018-08-08 13:43] aksonov commented on #3093
Latest version doesn't use mobx, closing it

[2018-08-08 13:43] #3093 closed

[2018-08-08 13:44] aksonov commented on #3092
@AlexCatch is right, closing this ticket.

You may try to use `clone` attribute, but I didn't test it for Tabs (only for Stack)

[2018-08-08 13:44] #3092 closed

[2018-08-08 13:44] aksonov commented on #3090
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 13:44] #3090 closed

[2018-08-08 13:44] aksonov commented on #3084
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 13:44] #3084 closed

[2018-08-08 13:45] aksonov commented on #3089
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 13:45] #3089 closed

[2018-08-08 13:46] aksonov commented on #3079
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 13:46] #3079 closed

[2018-08-08 13:46] aksonov commented on #3086
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 13:46] #3086 closed

[2018-08-08 13:47] aksonov commented on #3077
Not enough information, closing

[2018-08-08 13:47] #3077 closed

[2018-08-08 13:48] aksonov commented on #3056
Sorry, it is not supported at this moment.

[2018-08-08 13:48] #3056 closed

[2018-08-08 13:48] aksonov commented on #3080
It is not supported at this moment

[2018-08-08 13:48] #3080 closed

[2018-08-08 13:49] aksonov commented on #3052
It is not supported at this moment

[2018-08-08 13:49] #3052 closed

[2018-08-08 13:49] #3071 closed

[2018-08-08 13:50] aksonov commented on #3048
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 13:50] #3048 closed

[2018-08-08 13:50] aksonov commented on #3042
Sorry, it is not supported

[2018-08-08 13:50] #3042 closed

[2018-08-08 13:50] aksonov commented on #3029
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 13:50] #3029 closed

[2018-08-08 13:51] aksonov commented on #3069
It is not supported at this moment

[2018-08-08 13:51] #3069 closed

[2018-08-08 13:51] aksonov commented on #2997
Not enough information. Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 13:51] #2997 closed

[2018-08-08 13:52] aksonov commented on #3040
It is not supported, PR is really welcome.

[2018-08-08 13:52] #3040 closed

[2018-08-08 13:52] aksonov commented on #3075
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 13:52] #3075 closed

[2018-08-08 13:54] aksonov commented on #3065
You may pass React component as header (i.e. smart header) that will listen for some redux/mobx events and changes the title.

[2018-08-08 13:54] #3065 closed

[2018-08-08 13:54] aksonov commented on #2982
Sorry, it is not supported

[2018-08-08 13:54] #2982 closed

[2018-08-08 13:55] aksonov commented on #2971
Sorry, it is not supported

[2018-08-08 13:55] #2971 closed

[2018-08-08 13:55] aksonov commented on #3025
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 13:55] #3025 closed

[2018-08-08 13:56] #3055 closed

[2018-08-08 13:56] aksonov commented on #3039
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 13:56] #3039 closed

[2018-08-08 13:56] aksonov commented on #3038
Sorry, it is not supported

[2018-08-08 13:56] #3038 closed

[2018-08-08 13:56] #3062 closed

[2018-08-08 14:00] daviscabral commented on #3153
I am back on Android - most of my users are Android. Now I am with several AVDs on my mac to test - so I can help with that.

[2018-08-08 14:02] aksonov commented on #3153
@daviscabral Great. Hopefully I solved the non-trivial problem with`popTo` and also restored `reducer` support, so please check beta.40 and let's close all issues now ;)

[2018-08-08 14:02] aksonov commented on #2996
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:02] #2996 closed

[2018-08-08 14:03] aksonov commented on #2968
It is how it was designed. Feel free to submit PR for improved/desired functionality

[2018-08-08 14:03] #2968 closed

[2018-08-08 14:06] aksonov commented on #3021
Please try to reproduce it with Example project and latest version 4.0.0-beta.40 (and RN0.56). Feel free to open if the issue still exists

[2018-08-08 14:06] #3021 closed

[2018-08-08 14:06] aksonov commented on #2966
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:06] #2966 closed

[2018-08-08 14:06] aksonov commented on #2960
Closing it now because beta.40 doesn't use mobx

[2018-08-08 14:06] #2960 closed

[2018-08-08 14:07] aksonov commented on #3050
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:07] #3050 closed

[2018-08-08 14:07] #2948 closed

[2018-08-08 14:09] #3015 closed

[2018-08-08 14:09] aksonov commented on #2994
Settings height/width should help

[2018-08-08 14:09] #2994 closed

[2018-08-08 14:09] aksonov commented on #2964
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:09] #2964 closed

[2018-08-08 14:09] aksonov commented on #2931
Sorry, it is not supported

[2018-08-08 14:09] #2931 closed

[2018-08-08 14:10] aksonov commented on #2928
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:10] #2928 closed

[2018-08-08 14:11] aksonov commented on #2934
You are right, it was migration change, sorry.

[2018-08-08 14:11] #2934 closed

[2018-08-08 14:11] #2992 closed

[2018-08-08 14:13] aksonov commented on #2924
You may still try to apply different sceneStyle to individual component.

[2018-08-08 14:13] #2924 closed

[2018-08-08 14:14] aksonov commented on #2980
Closing because of correct solution, thanks @Koshukey

[2018-08-08 14:14] #2980 closed

[2018-08-08 14:31] aksonov commented on #2950
Please check 4.0.0-beta.41 and Example with `backToInitial` prop

[2018-08-08 14:31] #2950 closed

[2018-08-08 14:31] aksonov commented on #3019
Please check 4.0.0-beta.41 and Example with `backToInitial` prop

[2018-08-08 14:31] #3019 closed

[2018-08-08 14:32] aksonov commented on #2957
Please check Example project and TabView.js with `Actions.tab_5_1({ data: 'test!' })`

[2018-08-08 14:32] #2957 closed

[2018-08-08 14:33] aksonov commented on #3160
Please check Example project and TabView.js with `Actions.tab_5_1({ data: 'test!' })`

[2018-08-08 14:34] #3137 closed

[2018-08-08 14:34] aksonov commented on #2922
Should be fixed now

[2018-08-08 14:34] #2922 closed

[2018-08-08 14:36] aksonov commented on #2936
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:36] #2936 closed

[2018-08-08 14:36] aksonov commented on #2937
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:36] #2937 closed

[2018-08-08 14:37] aksonov commented on #2947
Sorry, it is not supported

[2018-08-08 14:37] #2947 closed

[2018-08-08 14:37] aksonov commented on #2932
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:37] #2932 closed

[2018-08-08 14:38] aksonov commented on #2915
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:38] #2915 closed

[2018-08-08 14:39] aksonov commented on #2926
I guess @arnsa is right

[2018-08-08 14:39] #2926 closed

[2018-08-08 14:39] aksonov commented on #2933
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:39] #2933 closed

[2018-08-08 14:40] aksonov commented on #2923
Yes, you have to set width/height, closing this issue

[2018-08-08 14:40] #2923 closed

[2018-08-08 14:40] aksonov commented on #2923
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:40] #2910 closed

[2018-08-08 14:42] aksonov commented on #2905
It is not a bug, but feature - first scene is already part of the stack. So you name of stack/drawer, not name of first scene

[2018-08-08 14:42] #2905 closed

[2018-08-08 14:42] aksonov commented on #2906
You may try to use tabs with hideTabBar so all your scenes will not be destroyed

[2018-08-08 14:42] #2906 closed

[2018-08-08 14:43] #2914 closed

[2018-08-08 14:44] aksonov commented on #3121
With latest version you can see this for Example project:
[code]

[2018-08-08 14:44] #3121 closed

[2018-08-08 14:45] aksonov commented on #2935
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

To 'reset' stack you can use `type='replace'` for your `Tab`, so user cannot go back.

[2018-08-08 14:45] #2935 closed

[2018-08-08 14:45] #2891 closed

[2018-08-08 14:46] aksonov commented on #2911
Dynamic scenes are not supported.

[2018-08-08 14:46] #2911 closed

[2018-08-08 14:46] aksonov commented on #2899
You may also check Example project with Modal usage

[2018-08-08 14:46] #2899 closed

[2018-08-08 14:46] aksonov commented on #2909
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:46] #2909 closed

[2018-08-08 14:47] aksonov commented on #2896
Closed due inactivity

[2018-08-08 14:47] #2896 closed

[2018-08-08 14:48] aksonov commented on #2883
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:48] #2883 closed

[2018-08-08 14:48] aksonov commented on #2919
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:48] #2919 closed

[2018-08-08 14:48] aksonov commented on #2884
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:48] #2884 closed

[2018-08-08 14:49] aksonov commented on #2907
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:49] #2907 closed

[2018-08-08 14:49] aksonov commented on #2885
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:49] #2885 closed

[2018-08-08 14:49] aksonov commented on #2888
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:49] #2888 closed

[2018-08-08 14:50] #3136 closed

[2018-08-08 14:50] aksonov commented on #2880
@NN01010101 is right.
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:50] #2880 closed

[2018-08-08 14:51] aksonov commented on #2886
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

Closed due inactivity

[2018-08-08 14:51] #2886 closed

[2018-08-08 14:51] aksonov commented on #2886
@Blapi Feel free to close inactive tickets, thanks

[2018-08-08 14:51] aksonov commented on #2857
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:51] #2857 closed

[2018-08-08 14:52] aksonov commented on #3057
Yes, please wrap all scenes inside the Drawer.

[2018-08-08 14:52] #3057 closed

[2018-08-08 14:52] aksonov commented on #2865
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:52] #2865 closed

[2018-08-08 14:55] aksonov commented on #2874
Sorry, it looks like a question for stackoverflow, not issue for github..

[2018-08-08 14:55] #2874 closed

[2018-08-08 14:55] aksonov commented on #2917
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:55] #2917 closed

[2018-08-08 14:55] aksonov commented on #2894
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:55] #2894 closed

[2018-08-08 14:56] #2871 closed

[2018-08-08 14:56] aksonov commented on #2843
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 14:57] aksonov commented on #2902
Custom navbar is solution, @rstims is correct

[2018-08-08 14:57] #2902 closed

[2018-08-08 14:58] aksonov commented on #2866
Please raise this issue within react-navigation github, because RNRF is wrapper around react-navigation

[2018-08-08 14:59] aksonov commented on #2881
You have to use redux/mobx or use navigation state & Actions.refresh inside static function

[2018-08-08 14:59] #2881 closed

[2018-08-08 14:59] aksonov commented on #2873
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

If it is still actual, please ask @daviscabral because he works with Android

[2018-08-08 14:59] #2873 closed

[2018-08-08 15:00] aksonov commented on #2916
Duplicate #2851

[2018-08-08 15:00] #2916 closed

[2018-08-08 15:01] aksonov commented on #2846
Closed due inactivity

[2018-08-08 15:01] #2846 closed

[2018-08-08 15:01] aksonov commented on #2860
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:01] #2860 closed

[2018-08-08 15:01] aksonov commented on #2829
Check Example project for more details

[2018-08-08 15:01] #2829 closed

[2018-08-08 15:02] aksonov commented on #2869
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:02] #2869 closed

[2018-08-08 15:02] aksonov commented on #2847
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:02] #2847 closed

[2018-08-08 15:03] aksonov commented on #2841
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:03] #2841 closed

[2018-08-08 15:03] aksonov commented on #2818
Yes

[2018-08-08 15:03] #2818 closed

[2018-08-08 15:04] aksonov commented on #2815
Please check Example project and its 'reducer' param for redux integration

[2018-08-08 15:04] #2815 closed

[2018-08-08 15:04] aksonov commented on #2819
Not supported, sorry

[2018-08-08 15:04] #2819 closed

[2018-08-08 15:05] #2826 closed

[2018-08-08 15:05] aksonov commented on #2813
It is the same ;) It is just syntax sugar for better readability.

[2018-08-08 15:05] #2813 closed

[2018-08-08 15:06] aksonov commented on #2824
onEnter/onExit params are equivalent of Switch (i.e. control of flow). We may restore Switch if it is really needed (feel free to submit PR)

[2018-08-08 15:06] #2824 closed

[2018-08-08 15:07] aksonov commented on #2834
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:07] #2834 closed

[2018-08-08 15:07] aksonov commented on #2803
Lack of details

[2018-08-08 15:07] #2803 closed

[2018-08-08 15:07] aksonov commented on #2801
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:07] #2801 closed

[2018-08-08 15:08] aksonov commented on #2805
jumpToIndex now is obsolete for react navigation v2.x...

[2018-08-08 15:08] #2805 closed

[2018-08-08 15:09] aksonov commented on #2811
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:09] #2811 closed

[2018-08-08 15:09] aksonov commented on #2921
Lack of information

[2018-08-08 15:09] #2921 closed

[2018-08-08 15:10] aksonov commented on #2789
It is not issue for github

[2018-08-08 15:10] #2789 closed

[2018-08-08 15:10] aksonov commented on #2791
Use `setTimeout` for this.

[2018-08-08 15:10] #2791 closed

[2018-08-08 15:11] aksonov commented on #2810
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:11] #2810 closed

[2018-08-08 15:12] aksonov commented on #2782
Great starter kit! Feel free to submit PR to add your link into our docs. Btw, check latest version that works with react navigation v2.x

[2018-08-08 15:12] #2782 closed

[2018-08-08 15:13] aksonov commented on #2844
You really should check react navigation docs about this - RNRF just passes params to Drawer from react navigation

[2018-08-08 15:13] #2844 closed

[2018-08-08 15:13] aksonov commented on #2918
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:13] #2918 closed

[2018-08-08 15:14] aksonov commented on #2796
Duplicate of #2576

[2018-08-08 15:14] #2796 closed

[2018-08-08 15:14] aksonov commented on #2576
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:14] aksonov commented on #2795
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:14] #2795 closed

[2018-08-08 15:15] #2773 closed

[2018-08-08 15:15] aksonov commented on #2786
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:15] #2786 closed

[2018-08-08 15:15] aksonov commented on #2738
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:15] #2738 closed

[2018-08-08 15:16] aksonov commented on #2764
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:16] #2764 closed

[2018-08-08 15:16] aksonov commented on #2770
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:16] #2770 closed

[2018-08-08 15:16] aksonov commented on #2788
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:16] #2788 closed

[2018-08-08 15:16] aksonov commented on #2830
Lack of information

[2018-08-08 15:16] #2830 closed

[2018-08-08 15:17] aksonov commented on #2863
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:17] #2863 closed

[2018-08-08 15:17] aksonov commented on #2929
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:17] #2929 closed

[2018-08-08 15:17] aksonov commented on #2828
Check Example project

[2018-08-08 15:17] #2828 closed

[2018-08-08 15:18] aksonov commented on #2809
Closed due inactivity

[2018-08-08 15:18] #2809 closed

[2018-08-08 15:18] aksonov commented on #2621
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:18] #2621 closed

[2018-08-08 15:18] aksonov commented on #2785
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:18] #2785 closed

[2018-08-08 15:19] aksonov commented on #2827
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:19] #2827 closed

[2018-08-08 15:19] aksonov commented on #2552
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:19] #2552 closed

[2018-08-08 15:19] aksonov commented on #2551
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:19] #2551 closed

[2018-08-08 15:20] aksonov commented on #2634
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:20] #2634 closed

[2018-08-08 15:20] #2821 closed

[2018-08-08 15:20] aksonov commented on #2644
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:20] #2644 closed

[2018-08-08 15:21] Luckygirlllll opened #3161 "Can't render icon in the button in NavBar"
### Version
Tell us which versions you are using:

- react-native-router-flux v3.38.0
- react-native v0.55.1

platform: Android

### Expected behaviour

See the icon in the navBar

### Actual behaviour
don't see the icon in the NavBar

### Steps to reproduce
My code:
[code]

[code]

[2018-08-08 15:22] #3161 closed, assigned to nobody

[2018-08-08 15:25] aksonov commented on #2389
Custom tabor should receive `navigation` prop with all needed data inside

[2018-08-08 15:25] #2389 closed

[2018-08-08 15:25] aksonov commented on #2467
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:26] #2734 closed

[2018-08-08 15:26] #2771 closed

[2018-08-08 15:26] #2510 closed

[2018-08-08 15:27] aksonov commented on #2409
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:27] #2409 closed

[2018-08-08 15:28] aksonov commented on #2589
Great https://github.com/fram-x/FluidTransitions could be used together with latest RNRF beta.40

[2018-08-08 15:28] #2589 closed

[2018-08-08 15:28] #2550 closed

[2018-08-08 15:28] aksonov commented on #2367
You should use BackHandler with v4.

[2018-08-08 15:28] #2367 closed

[2018-08-08 15:29] #2469 closed

[2018-08-08 15:29] #2396 closed

[2018-08-08 15:29] aksonov commented on #2410
Not supported

[2018-08-08 15:29] #2410 closed

[2018-08-08 15:29] aksonov commented on #2404
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:29] #2404 closed

[2018-08-08 15:30] aksonov commented on #2347
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:30] #2347 closed

[2018-08-08 15:30] #2144 closed

[2018-08-08 15:30] aksonov commented on #2094
@radha-bacancy Just check navigation state

[2018-08-08 15:30] #2094 closed

[2018-08-08 15:31] aksonov commented on #2012
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:31] #2012 closed

[2018-08-08 15:31] aksonov commented on #2284
Mobx is removed now

[2018-08-08 15:31] #2284 closed

[2018-08-08 15:31] aksonov commented on #2298
You can try to use `Actions.refs.SCENE_NAME` to access component instance

[2018-08-08 15:31] #2298 closed

[2018-08-08 15:32] aksonov commented on #2400
Please check Example project for custom nav bar

[2018-08-08 15:32] #2400 closed

[2018-08-08 15:33] aksonov commented on #3102
cc @daviscabral

[2018-08-08 15:34] aksonov commented on #2386
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:34] #2386 closed

[2018-08-08 15:34] aksonov commented on #2387
It is not supported

[2018-08-08 15:34] #2387 closed

[2018-08-08 15:35] aksonov commented on #2377
Looks like React Navigation issue (RNRF just sends actions to RN)

[2018-08-08 15:35] #2377 closed

[2018-08-08 15:35] aksonov commented on #2343
backToInitial is supported now to reset stack for tab bar

[2018-08-08 15:35] #2343 closed

[2018-08-08 15:36] aksonov commented on #2310
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:36] #2310 closed

[2018-08-08 15:36] aksonov commented on #2371
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:36] #2371 closed

[2018-08-08 15:36] aksonov commented on #2370
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:36] #2370 closed

[2018-08-08 15:36] aksonov commented on #2373
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:36] #2373 closed

[2018-08-08 15:36] aksonov commented on #2393
It is not supported

[2018-08-08 15:36] #2393 closed

[2018-08-08 15:37] aksonov commented on #2812
Duplicate of #2309

[2018-08-08 15:37] #2812 closed

[2018-08-08 15:37] #2748 closed

[2018-08-08 15:37] aksonov commented on #3132
Duplicate of #2309

[2018-08-08 15:37] #3132 closed

[2018-08-08 15:38] aksonov commented on #3156
Please try to reproduce it with Example project and latest version 4.0.0-beta.40. Feel free to open if the issue still exists

[2018-08-08 15:38] #3156 closed

[2018-08-08 15:39] #2549 closed

[2018-08-08 15:39] #2820 closed

[2018-08-08 15:52] Koshub commented on #2910
@aksonov Why it is closed?

[2018-08-08 16:27] Sharcoux opened #3162 "Error when upgrading from beta.27 to beta.41"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.41 (v3 is not supported)
- react-native v0.55.3

### Expected behaviour

The same as v4.0.0-beta.27 : ie. working

### Actual behaviour

Generates an error. See below.

### Steps to reproduce
For non-obvious bugs, please fork this component, modify Example project to reproduce your issue and include link here

[2018-08-08 16:58] aksonov commented on #2910
I don't understand the issue. Check Example project that uses Lightbox and Modal

[2018-08-08 16:59] aksonov commented on #3162
Looks like you called dispatch before navigator is set. Anyway, I added needed condition, please check beta.42

[2018-08-08 16:59] Pallavgarg commented on #2909
Thanks , but u replied very late

[2018-08-08 17:00] aksonov commented on #2909
I see. It is almost impossible to support such project alone, during only free time

[2018-08-08 17:52] daviscabral commented on #3102
I am on it :+1:

[2018-08-08 20:07] daviscabral commented on #2820
@aksonov you are a machine today 🤣

[2018-08-08 21:48] SourceCipher opened #3163 "Tabs flag for swiping not working"
### Version
Tell us which versions you are using:

- react-native-router-flux 4.0.0-beta.40
- react-native 0.55.4

### Expected behaviour

When the flag swipeEnabled is set to true, user should be able to swipe through the tabs

I have my tabs layout like this:

[code]

The same goes for not be able to hide the tab Bar Component which is at the bottom by default.

### Actual behaviour

Swiping is

[2018-08-08 21:55] SourceCipher commented on #3163
Ok I just fixed by doing this "cheat". To make tabs to swipe, make sure you have set `tabBarPosition='top'`.

To disable the **tabBarComponent** you have to return null as a component. To do so just do `tabBarComponent={() => null}`

By adding these 2 to a Tabs component it will make your tabs swiping without even setting `swipeEnabled={true}`

[2018-08-08 23:59] irvanniz commented on #2171
it's work for me
`const tabMaterial = createMaterialTopTabNavigator(
  {
    option1: Option1Screen,
    option2: Option2Screen
  },
  {
    tabBarOptions: {
      indicatorStyle: {
        backgroundColor: "#ffffff"
      }
    }
  }
);`

[2018-08-09 01:36] gitsuraj commented on #2722
same error

[2018-08-09 06:26] aksonov commented on #2851
Could someone change Example accordingly and reproduce this issue with latest version (4.0.0-beta.42) ?

[2018-08-09 06:29] kanekotic commented on #2851
I can try to do this. If its ok to wait till the weekend.

[2018-08-09 07:07] asciifaceman commented on #2410
@James2516 imho it's not an entirely bad look to load the first view and then push the next one. You can make it look more official with an overlay. Just my 2 cents that it won't detract the user experience.

[2018-08-09 07:14] asciifaceman commented on #2931
@aksonov If I can get something together would you accept a PR for other directions? No promises, but I have it working in a project and might be able to abstract it to RNRF

[2018-08-09 07:32] aksonov commented on #2931
Sure!

[2018-08-09 07:33] daviscabral commented on #3157
@muhamad-rizki I might help you after getting a sample code.

[2018-08-09 08:26] muhamad-rizki commented on #3157
@daviscabral well here is code I used in my App.js:

`
             <MenuProvider ref={v => this.optionsMenu = v}>
                <View style={{
                    flex: 1
                }}>
                    <StatusBar
                        translucent={true}
                        backgroundColor="rgba(0,0,0,0)"
                        barStyle="light-content" />
                    <Rou

[2018-08-09 08:30] matteocollina commented on #2843
_It works for me_! This is my code:
I have a left menu (Drawer).
**NB**: It works if in my menu.js I call "`Actions.team_nav()`" and **NOT** "`Actions.my_team()`"  and then I can pass data to "show_player_from_team" with "`Actions.push("show_player_from_team",{player: player})`"

[code]

[2018-08-09 09:56] rudyryk commented on #2866
https://github.com/react-navigation/react-navigation/issues/2749

[2018-08-09 09:58] aksonov commented on #2866
@rudyryk Yes, react-navigation doesn't provide it yet.. PR are welcome, we can do any header we want with RNRF!

[2018-08-09 09:59] HengCC opened #3164 "A new feature about pop method."
Is it possible to do a markup action before jumping the page. For example, Actions.mark(), after doing a lot of jumps, I only need to execute Actions.popToMark(). I will return directly to the mark point.

[2018-08-09 10:03] aksonov commented on #3164
Yes, it is supported already, just use `Actions.popTo('mark')`

[2018-08-09 10:03] #3164 closed

[2018-08-09 10:17] HengCC commented on #3164
@aksonov  thanks,

But I mean, when I execute Actions.popToMark(), I don't know what the point I am marking. This point is automatically maintained in memory only when I execute Actions.mark().

For example:
[code]
When Actions.popToMark() is executed again, it will return to the position of key1.

[2018-08-09 10:28] aksonov commented on #3162
Yes, it is probably a bug, I didn't checked Redux integration yet. Do you have any github repo with Redux & RNRF example to see the problem (that works with beta.31 but not with beta.42)? It would help

[2018-08-09 10:38] daviscabral commented on #3162
Thinking about having 3 example folders instead of just one right now.

1) The current one (call it Playground maybe? like `react-navigation` does);
2) Redux integration;
3) An example using `Expo` / `create-react-native-app`.

Any objection about it?

[2018-08-09 10:41] aksonov commented on #3162
Agree

[2018-08-09 11:42] mobdim commented on #3162
@aksonov Yes, I created test [repository](https://github.com/mobdim/test_rn_router_flux)

If call change a scene from `componentWillMount()` not work in `beta.42`, but work in `beta.31`.
This [line](https://github.com/mobdim/test_rn_router_flux/blob/master/views/view1/view.js#L17).

[2018-08-09 11:51] aksonov commented on #3162
It doesn’t look like correct usage of redux. Reducers must be pure functions, you must use defaultReducer and usual navigate action to view2 to return new state.
 Actions calls are not pure functions and should not be used from reducers

[2018-08-09 12:27] aksonov commented on #3162
I'm preparing Example now for redux.

[2018-08-09 12:29] mobdim commented on #3162
@aksonov Ok, I rewrite [line](https://github.com/mobdim/test_rn_router_flux/blob/master/views/view1/view.js#L19), but the scene don't change in function `componentWillMount`.

[2018-08-09 12:31] aksonov commented on #3162
@mobdim Have you tried setTimeout ?

[2018-08-09 12:45] mobdim commented on #3162
@aksonov Yes, it's work. But this is a bad thing )) Let me remind you that in version 31 it worked.

[2018-08-09 12:48] aksonov commented on #3162
Bad thing is to use non-pure function within reducers.
Also bad thing is to navigate away from component even when it is not mounted yet (that is why setTimeout is needed.

Anyway, you helped me to find the bug, thanks! It is probably not related to your issue, I will release new version and very basic redux demo shortly.

[2018-08-09 12:53] mobdim commented on #3162
@aksonov Thanks for the clarification. I'm mostly a native developer, so I'm still not good at redux and react native, I think about other patterns (like viper, mvvm etc).

[2018-08-09 13:30] aksonov commented on #3157
@muhamad-rizki Sorry, but it is not about RNRF, but generic React Native Linking setup. Please create test github repo where deep linking WORKS without RNRF, but doesn't work with RNRF.

[2018-08-09 14:21] aksonov commented on #2851
Okey, I just checked and RNRF beta.43 should work well with Redux. It also includes ReduxExample folder with very simple redux demo (it just 'loads' data). However simple `Redux.connect` will be not enough to support management of external nav state because react-navigation 2.x changed redux integration (comparing to react-navigation 1.x).  You still can do that using this docs:
https://reactnavig

[2018-08-09 14:26] aksonov commented on #3162
beta.43/ReduxExample is out.

[2018-08-09 14:26] #3162 closed

[2018-08-09 14:39] muhamad-rizki commented on #3157
allright then

[2018-08-09 14:39] #3157 closed

[2018-08-09 15:38] MattyK14 commented on #3153
Seems the header is no longer centered after upgrading to `react-native@0.55`. Tested with `beta.42` & `beta.31`. `beta.31` is fine on `react-native@0.54` whereas `beta.42` just doesn't run, both are off center on `react-native@0.55`.

[2018-08-09 15:44] aksonov commented on #3153
So what is expected/actual  (RN0.55)?

[2018-08-09 15:54] MattyK14 commented on #3153
Expected (seen on RN 0.54 & previous versions):

![screen shot 2018-08-09 at 1 23 05 pm](https://user-images.githubusercontent.com/16196171/43910451-6cc8aa86-9bd7-11e8-8781-ce9eb39a95bb.png)

Actual (seen on RN 0.55):

![screenshot_1533829160](https://user-images.githubusercontent.com/16196171/43910471-7af438f0-9bd7-11e8-8e8a-9f0b344f7ed8.png)

[2018-08-10 07:58] aksonov commented on #3139
Closed due inactivity, feel free to reopen it with recorded video for the issue with Example project.

[2018-08-10 07:58] #3139 closed

[2018-08-10 08:00] aksonov commented on #3163
It seems to be removed from React Navigation 2.x. Should we return it back? ;)
https://github.com/react-navigation/react-navigation/issues/4146

[2018-08-10 08:09] SourceCipher commented on #3163
@aksonov I have been trying to make my app with this navigation to work perfectly but its struggling to do the job and its a shame as its a very good library, easy to use as well.

But after the latest update a lot of features not working anymore. I implemented my custom header in navBar I think which works fine, but checking the current screens in different components is a mess as it will never r

[2018-08-10 08:11] aksonov commented on #3163
We are using our library on production, too pity that it doesn't work for you. You may create the ticket for every issue you have with reproducible fork of Example project. For Android issues please ask @daviscabral

[2018-08-10 08:29] aksonov commented on #3163
Btw, `Actions.currentScene` really could be inaccurate now (because RNRF no longer maintains own navigation state), I will try to fix it now.

[2018-08-10 08:36] SourceCipher commented on #3163
@aksonov Thanks for your help! Because I am using a custom header, all the logic goes there as well and without keeping a track in the header what screen is mounted is pretty hard to handle all the logic.

[2018-08-10 08:50] aksonov commented on #3163
@SourceCipher Could you create new issue for this problem? It seems hard to fix, `onNavigationStateChange` is called _AFTER_ react components are mounted.

[2018-08-10 09:00] SourceCipher opened #3165 "currentScene is not showing the currently mounted screens key"
### Version
Tell us which versions you are using:

- react-native-router-flux 4.0.0-beta.40
- react-native 0.55.4

### Expected behaviour

If opening the screen with the key 'main', currentScene should show the main screens key

### Actual behaviour

If the screen opens with the key 'main' it should show this key in currentScene, but it shows the previous screens key which main was mounted from

[2018-08-10 09:41] aksonov commented on #3165
@SourceCipher Could you reproduce this issue with Example project? The main difference between current RNRF version and older is that currentScene is set AFTER component is mounted/rendered. So for custom navbars you have to read currentScene from actual `navigation.state` (because it is passed before rendering), not `Actions.currentScene`

[2018-08-10 09:42] aksonov commented on #3165
You may also check `ReduxExample`, how it renders 'current scene' (as `name` prop)

[2018-08-10 11:03] bialasik opened #3166 "Transition history using this same scene but with other parameters"
Hello,
I'm creating a shop app and I'm using react-native-router-flux as a router.
Currently I have just few scenes like product list, product info, basket, checkout.

But I need to create a navigation. I have JSON with whole navigation structure, where ID of category is the ID for call to API when ProductList scene calls componentDidMount().

But I don't know how to
a) use this same scene but wit

[2018-08-10 11:14] SourceCipher commented on #3165
@aksonov  I am using mobx but I dont think adding with observables is a good idea. I will try using navigation.state even tho not really sure how to implement it :/ But using `Actions.currentScene` on componentDidMount is still showing the wrong scene tho

[2018-08-10 11:27] tantanrcl opened #3167 "-v"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.?.? (v3 is not supported)
- react-native v0.?.?

### Expected behaviour

### Actual behaviour

### Steps to reproduce
For non-obvious bugs, please fork this component, modify Example project to reproduce your issue and include link here.
1.
2.
3.

[2018-08-10 11:27] aksonov commented on #3166
Just do usual 'push', like Actions.productList({categoryId: 123}), you will just two components in the stack.

[2018-08-10 11:28] aksonov commented on #3166
For Redux integration, change ReduxExample

[2018-08-10 11:29] bialasik commented on #3166
And even if I'll do some pushes on this same scene but with different parameters, I can go back to old state?

[2018-08-10 11:30] aksonov commented on #3166
"<" button ? Sorry, github is for issues not for questions, please post the question to StackOverflow

[2018-08-10 11:30] #3166 closed

[2018-08-10 12:37] aksonov commented on #3167
No info. Please don't create such tickets.

[2018-08-10 12:37] #3167 closed

[2018-08-10 12:39] aksonov commented on #2851
I've just updated ReduxExample for full Redux integration, please use version 4.0.1

[2018-08-10 12:43] aksonov commented on #3165
For mobx it is even easier (we are using it) - just create simple mobx store `navStore` and with one observable `scene` and `setScene` action, then pass `onStateChange` param to Router:

`<Router onStateChange={() => navStore.setScene(Actions.currentScene)}>...</Router>`

and then you can observe `navStore` from your components and use `navStore.scene`

[2018-08-10 12:49] SourceCipher commented on #3165
@aksonov  oh I see.. I think I can do that with the mobx the same way as well

[2018-08-10 12:52] aksonov commented on #69
Dear maintainers and supporters, I have vacation until the end of August. You are welcome to answer issues, submit/review/merge PRs, etc.

[2018-08-10 14:13] daviscabral commented on #69
Thank you and have a great time!

[2018-08-10 14:42] SourceCipher commented on #3165
@aksonov  your solution worked after I used this with Mobx. Well done

[2018-08-10 15:10] daviscabral commented on #3163
I am also strugling with the onNavigateStateChange life cycle. Any chance for us to implement a side life cycle instead of route state? So people can subscribe to it instead.

[2018-08-10 15:12] aksonov commented on #3163
Could you clarify?

[2018-08-10 15:48] daviscabral commented on #3163
Of course. I meant about adding something like a `onNavigateStateWillChange` on our side - to allow some kind of preparation for the next component.

[2018-08-10 15:51] aksonov commented on #3163
Any idea how? RNRF doesn’t manage state anymore (maybe 5.0 release will do, but it is a lot of work).

[2018-08-10 15:56] aksonov commented on #3102
@Symous have you tried latest version? Could you reproduce this issue with Example project?

[2018-08-10 16:02] daviscabral commented on #3163
I was actually thinking in something unconnected to state - to really move away from this idea a bit.

Have you take a look at `NavigationEvents`? https://reactnavigation.org/docs/en/navigation-events.html#docsNav

Maybe allow users to connect whatever they want (with the new context API - I am noticing that it might be possible to postpone use of redux or mobx a bit in some cases).

[2018-08-10 16:04] aksonov commented on #3163
Users can use `NavigationEvents` freely already.

[2018-08-10 16:05] daviscabral commented on #3163
Yeah - that's true. I am overcomplicating with this idea - just shooting to see if we could end with something around it - but you are correct - let's keep things simple. ;-)

[2018-08-10 18:00] SourceCipher commented on #3163
@aksonov  I implemented the current screen logic and all works fine.. The problem is still the long delay between the card press and the screen mount. It takes a while for the screen to appear for some reason

[2018-08-10 20:53] SourceCipher opened #3168 "Back button will not send the app to the background"
### Version
Tell us which versions you are using:

- react-native-router-flux 4.0.0-beta.40
- react-native 0.55.4

### Expected behaviour

If you are navigating inside the app, after pressing multiple times back button on android, the app should be sent to the background the same way when you press the menu button

### Actual behaviour

After pressing back button the app will come back to the init

[2018-08-11 00:10] nica0012 opened #3169 "Drawer panHandlers{null} doesn't work anymore"
### Version
Tell us which versions you are using:

- react-native-router-flux 4.0.0-beta.43
- react-native 0.55.4

### Expected behaviour
Disable swipe back when drawer is open

### Actual behaviour
Drawer swipes back to login. I had this working before with panHandlers{null} on my drawer but after updating it broke. I have also tried gesturesEnabled={false} too but no luck still.

P.S  - This upd

[2018-08-11 10:47] SourceCipher opened #3170 "Tab screens have no sliding animation"
### Version
Tell us which versions you are using:

- react-native-router-flux4 .0.0-beta.40
- react-native 0.55.4

### Expected behaviour

Calling the tab screen from the tabs component (or any other) with the `Actions.jump('key')` should slide to that screen with the sliding animation

### Actual behaviour

Instead of sliding with the animation it will instantly jump to the screen. Even if im on

[2018-08-12 04:33] danferd opened #3171 "Check the render method of `SceneView` error when upgraded to v4.0.1"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.1
- react-native v0.51.1

Getting the below error when upgraded from v4.0.0-beta.31 to v4.0.1
**Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.

Check the render method of `SceneView`.**

[2018-08-12 08:02] lynnic26 opened #3172 "Actions.pop(refresh:{}) does not work for me"
### Version

- react-native-router-flux v4
- react-native v0.55.4
- react  v16.3.1

### Expected behaviour

I have screen A and Screen B
when I redirect from A -> B,
In B screen backing to A ,  I want A screen fetch data and rerender the screen everytime entering it

[code]

### Actual behaviour

The api methions above does not work ,
so I did some workaround,

[code]

this can fire **componentWil

[2018-08-12 09:47] roeib opened #3173 "android back button move the app to forground mode"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.31
- react-native v0.55.4

### Expected behaviour
when press back button make Actions.pop()

### Actual behaviour
android back button move the app to forground mode

### Steps to reproduce
For non-obvious bugs, please fork this component, modify Example project to reproduce your issue and include link here.
1

[2018-08-12 15:49] fadlykayo commented on #2489
@sina-mirhejazi hello, any success with unmounting the tab on leaving?

[2018-08-12 22:05] sina-mirhejazi commented on #2489
@fadlykayo Hi. No, I didn't find a way to unmount them. But I cannot remember what did I do to overcome the problem! It was like a year ago

[2018-08-13 07:55] Abhishekgarg727 commented on #2909
Error i get when using RNRF

package.json

{
  "name": "ABC",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "node node_modules/react-native/local-cli/cli.js start"
  },
  "dependencies": {
    "axios": "^0.18.0",
    "eslint": "^5.2.0",
    "native-base": "2.6.1",
    "react": "16.3.1",
    "react-native": "0.54.0",
    "react-native-router-flux": "^4.0.1",
    "react-native

[2018-08-13 08:02] Abhishekgarg727 opened #3174 "[Important] Unable to use , RNRF getting error : bug of REACT file an issue"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.1
- react-native v0.54
- react 16.3.1

### Expected behaviour
import React from 'react';
import { AppRegistry } from 'react-native';
import { Router, Scene } from 'react-native-router-flux';
import { Provider } from 'react-redux';
import store from './app/store/store';
import PostAd from './app/components/PostAd';
i

[2018-08-13 08:47] Moshikol commented on #3151
I did check the example project but I didn't find a way to use the overlay component only on my scenes that under the tabs parent scene

[2018-08-13 12:47] alimuqaddas commented on #465
@bethuel11  This is re rendering the component in a loop. Not a good solution though

[2018-08-13 13:06] fdobre opened #3176 "Stack of same scene not working anymore after update from 4.0.0-beta-28 to 4.0.1"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.1
- react-native v0.55.4

### Expected behaviour

Having some scenes like:

    <Scene key="articles">
        <Scene
          key="home"
          component={ChannelsScreen}
          sceneStyle={styles.screen}
          renderRightButton={<ProfileIcon />}
          onRight={() => {}}
        />

        <Scene

[2018-08-13 16:17] Asinox commented on #3176
The same thing here!

**Version**
Tell us which versions you are using:

react-native-router-flux 4.0.1
react-native 0.56.0

[2018-08-14 02:20] keneseu opened #3177 "TextInput field lost focus for each character input"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0 (I think is recently renamed from 4.0.1 back to 4.0.0)
- react-native v0.56.0

### Expected behaviour

The TextInput field to accept the input text, and to be eventually passed as a prop to another scene.

State and helper function defined ...

  state = {
    task: ''
  }
  updateTask = (task) => {
    this.setSt

[2018-08-14 06:11] telmen opened #3178 "How to listen onback, onpop inside screen component"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.?.? (v3 is not supported)
- react-native v0.?.?

### Expected behaviour

I wanna listen, catch on navigation pop, back inside screen component

### Actual behaviour

Actions.refresh({ renderBackButton: () => ()}) in cdm, cwm seems not working

### Steps to reproduce
For non-obvious bugs, please fork this component, mo

[2018-08-14 07:49] abhimanyuPathania commented on #3176
Same here

react-native-router-flux 4.0.0-beta-40
react-native 0.51.0

This is probably because of the 'less pushy' breaking change in react-navigation V2
https://reactnavigation.org/blog/#navigateroutename-in-stacknavigator-is-less-pushy

But `react-navigation` still exposes older push actions. Here the change seems to be in `Actions.push`, and I could not find any alternative to it that uses old

[2018-08-14 10:01] arbabi2010 opened #3180 "drawer position right not working correctly"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.24
- react-native v0.46.4

### Expected behaviour
Hi. when I open drawer with position "left" it open and move from left to right and fix in right. actually this not open from right. this is my code
`<Scene drawer key="drawer" contentComponent={buy} drawerPosition="left" drawerWidth={350}  hideNavBar hideTabB

[2018-08-14 10:04] ThomasLarge opened #3181 "Add tabStyle to active tab only"
Version  4.0.0-beta.31

I'm asking if there's a way to add a tabStyle to the active tab. This way you would be able to add a different style to the whole tab on the active state. I might just be missing something in the docs but I'm not able to see something to do this with

This is what I'm trying to achieve

![screen shot 2018-08-14 at 11 00 43](https://user-images.githubusercontent.com/15890942

[2018-08-14 18:02] SourceCipher commented on #3181
Same issue here as I want to add different width to each tab but I cant seem to find a way to do it.

I was about to add the issue that the `tabStyle` is not working at all as it says **Override the style for an individual tab of the tabbar** but having this  `tabStyle`  in each tab component which is a child of the Tabs or Scene with the `tabs={true} `will not take any custom styling whatsoever

[2018-08-14 22:39] esanguinetti opened #3182 "IOS: setting scene backgroundColor to transparent not working"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.1 (v3 is not supported)
- react-native v0.55.4

### Expected behaviour

Scene backgroundColor transparent on IOS

### Actual behaviour
Scene backgroundColor is black on IOS.
The solution referenced in https://github.com/aksonov/react-native-router-flux/issues/2809
did not seem to work.

### Steps to reproduce
For no

[2018-08-14 22:43] marcosmartinez7 commented on #3182
Same problem here!

[2018-08-15 07:39] Abhishekgarg727 commented on #3174
?

[2018-08-15 08:45] tikkichan4 commented on #3176
Workaround (change the push method in navigationStore.js
[code]

Hope this help.

[2018-08-15 12:44] dextermb opened #3184 "Issues with Android's hardware back button with Tabs"
### Version
Tell us which versions you are using:

- react-native-router-flux `4.0.0-beta.27` (v3 is not supported)
- react-native `0.54.0`

### Expected behaviour

When navigating to a `Scene` outside of `Tabs` from within tabs and then pressing the hardware back button, you should then be navigated back to the previous scene within tabs.

### Actual behaviour

When navigating to a scene outside

[2018-08-15 12:57] dextermb commented on #3184
The solution although not documented is to change `Tabs` for `Scene tabs`.

[2018-08-16 07:18] aniltirola opened #3185 "any plans to support SwitchNavigator or recommended setup"
### Version
- react-native-router-flux ^4.0.1
- react-native https://github.com/expo/react-native/archive/sdk-29.0.0.tar.gz
- react-navigation: ^2.11.2

### Expected behaviour
use the features of SwitchNavigator
https://reactnavigation.org/docs/en/switch-navigator.html

### Actual behaviour
seems not to be implemented now

### My question
Are there any plans to support SwitchNavigator?
Or are ther

[2018-08-16 15:54] fcabrera23 commented on #3171
Hi, I’m having the some problem! Will try to downgrade flux to see if it’s fixed

[2018-08-16 20:27] alejandroclvi commented on #3171
Hi, I'm having the same problem, and I'm using react native v0.50.3, any ideas of why?

[2018-08-16 20:59] NataliaCt22 opened #3186 "it's an error this error (LOL)"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.?.? (v3 is not supported)
- react-native v0.?.?

### Expected behaviour

### Actual behaviour

### Steps to reproduce
For non-obvious bugs, please fork this component, modify Example project to reproduce your issue and include link here.
1.
2.
3.

[2018-08-16 21:00] #3186 closed

[2018-08-16 21:40] daviscabral commented on #3171
I will see if I can reproduce it here and then get back to you guys.

[2018-08-17 07:33] dextermb commented on #3181
Couldn't you do this through `icon`? Or at least this is how I am doing it?

[code]

Then in `TabbarIcon`:

[code]

Thoughts?

[2018-08-17 10:41] ljmkimqx opened #3187 "How to control swipe and return to the specified page instead of the previous page(ios)"
### Version
Tell us which versions you are using:

- react-native-router-flux ^4.0.0-beta.32 (v3 is not supported)
- react-native v0.?.?

### Expected behaviour
How to control swipe and return to the specified page instead of the previous page(ios)

[2018-08-17 13:19] dextermb commented on #3172
I attempted to add a function for a Scene's `onEnter`:
[code]

[code]

But this doesn't seem to work either.

[2018-08-18 13:54] matthewkwong2 opened #3188 "renderLeftButton not working when back={true}"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.1 (v3 is not supported)
- react-native v0.55.4

### Expected behaviour
[code]
should override the back button and display the custom ```<LeftButton/>```  component in any case.

### Actual behaviour
This doesn't happen **IF AND ONLY IF**

[code]

I have also tried:
[code]

And none of above works.

Note, the back bu

[2018-08-18 14:01] matthewkwong2 commented on #3187
call
[code]
if you want to navigate to a specific page.

Or,
[code]
If you want to return to a specify page.
These methods can be called in everywhere, including any kind of listeners (e.g. onPress).

take at look at here
https://github.com/aksonov/react-native-router-flux/blob/master/docs/API.md#actions

[2018-08-18 14:15] matthewkwong2 commented on #3185
OK, from the offical doc of react navigation, the key feature of Switch Navigation is

You may try to look at ```Actions.reset()```
https://github.com/aksonov/react-native-router-flux/blob/master/docs/API.md#actions

which seems like something you are looking for. The downside though is no transition animation will be fired. If you want to keep the animation while simply prevent users going back t

[2018-08-18 14:27] matthewkwong2 commented on #3177
Try to do the following:

In your Scene  1:
[code]

When you want to pass the value to an other scene, let say you want to navigate to ***Scene 2*** on button press,
[code]

[2018-08-18 14:34] matthewkwong2 commented on #3168
Same issue, when in the initial page, the hardware back button has no effect at all.

You may implement the BackHandler yourself, if you really need it right now.
https://facebook.github.io/react-native/docs/backhandler

[2018-08-18 15:15] ljmkimqx commented on #3187
I know this, I often use these methods。But I mean when I slide back right, not when I click back。For example, A->B->C, in the C page, I hope that when I can slide right, I will return the A page instead of the B page. The reason why I have this requirement is because I don't want users to ban right slides on C pages (I don't want to use panHandlers={null}). I personally think that prohibiting righ

[2018-08-18 15:25] matthewkwong2 commented on #3187
That's the point, I'm not sure whether onBack handles the swipe gesture in iOS, but it DOES handle the back button in the nav bar AND the hardware back button in Android devices.

You may try
[code]

[2018-08-18 15:36] ljmkimqx commented on #3187
I found that ios's right-sliding back and Android's hardware back button won't trigger the onBack method.

[2018-08-18 15:40] matthewkwong2 commented on #3187
Too bad.

For android, you can implement the backhandler

For ios though, still searching

[2018-08-18 15:41] ljmkimqx commented on #3187
Yes, but thank you for answering me.

[2018-08-18 15:56] ThomasLarge commented on #3181
@dextermb I did try something like that but the active state is on the issue with the icons as they have this build in.

I want to change the borderTopColor on active state. I'm able to set the tabStyle to add the styling but can't find away to get add a styleProp for the tabStyle on active state.

<img width="405" alt="screen shot 2018-08-18 at 16 55 24" src="https://user-images.githubusercontent

[2018-08-18 16:07] daviscabral commented on #3188
I don't think it works like that with `refresh` - but I'll check it and get back to you.

[2018-08-18 16:07] aniltirola commented on #3185
ok, thanks; currently I solved everything with a customreducer;

[2018-08-18 16:08] daviscabral commented on #3184
Could you try with most recent version and let me know if is still broken?

[2018-08-18 16:15] daviscabral commented on #3187
Hey guys, looking into the issue history I found out that `onBack` is really not called by hardware handlers like you can see at #2359. For now `BackHandler` still should be used, I'll check what can be done on that matter - feel free to provide PRs that help on that matter.

[2018-08-18 16:27] daviscabral commented on #3187
Sorry - I misread the issue. Maybe we could work in a new event here? Not sure yet how to fix it - I am checking other issues with the `Example` code, and might take a look into that too.

[2018-08-18 16:34] ljmkimqx commented on #3187
Is there a way to solve this problem?  thanks

[2018-08-18 16:45] daviscabral commented on #3180
Your issue description is confusing.

But it seems this is the expected behavior.

Here is the code from Example folder using the most recent version:
[![Image from Gyazo](https://i.gyazo.com/1f37db18f03d6384a1108cc46980ecc1.gif)](https://gyazo.com/1f37db18f03d6384a1108cc46980ecc1)

Please, try it like is there and in case you are still having issues, reopen this ticket.

[2018-08-18 16:45] #3180 closed

[2018-08-18 16:55] daviscabral commented on #3177
Thank you @matthewkwong2.

I believe the way you are working with controlled/uncontrolled components here might be causing it. If the suggestion from @matthewkwong2 does not work for you or you are still having issue, please provide an example with the code from `Example` folder that I'll take a look.

I found this article really interesting and helpful to do a better use of controlled/uncontrolle

[2018-08-18 16:55] #3177 closed

[2018-08-18 16:57] daviscabral commented on #3169
@nica0012 could you please update to the most recent version at the moment and see if is still happening?

Also, can you provide an app using the code from `Example` folder?

[2018-08-18 17:00] daviscabral commented on #3186
:)

[2018-08-18 17:32] daviscabral commented on #3173
@roeib Please try the most recent version, in case that still does not work, provide an example (better if using one of the ones provided in the repository) so I can reproduce it here and help you.

[2018-08-18 17:32] #3173 closed

[2018-08-18 17:38] SourceCipher commented on #3168
@matthewkwong2  I added **backAndroidHandler** in my route with the function

[code]

And it works fine for now, but I did not needed to do that before the new update

[2018-08-18 17:42] daviscabral commented on #3165
Thank you @SourceCipher for letting us know that the solution provided worked. Closing this one.

[2018-08-18 17:42] #3165 closed

[2018-08-18 18:26] daviscabral commented on #3176
Thank you @tikkichan4, the fix was added on #3190 and it will be released as `4.0.2`.

Just checking why we have changed it back (during the upgrade to 2.0 it was `StackNavigation.push` during some time.

[2018-08-18 21:58] daviscabral commented on #3174
@Abhishekgarg727 I am not able to reproduce it here - could you provide an example using the code from the repo (`Example` or `ReduxExample`)? Thank you.

[2018-08-19 07:47] dextermb commented on #3184
@daviscabral, will test tomorrow

[2018-08-19 08:59] telmen commented on #3178
In API documentation, it has `onBack` prop but there's no API in source code.

[2018-08-19 13:28] arbabi2010 commented on #3180
@matthewkwong2 I wanted to open it from right but it had a bug when i was using from genymotion. i use from my mobile device and it's ok right now. thank you.

[2018-08-19 16:33] daviscabral commented on #3102
@symous I cant reproduce it here. Closing due inactivity - but let me know if the last version haven’t fixed it for you.

[2018-08-19 16:33] #3102 closed

[2018-08-20 00:02] matthewkwong2 commented on #3188
Basically, this is what I'm trying to do:

I have to allow user to select multiple items and delete them, similar to the file manager. You have a delete button on the right, when clicked, the left button will be replaced with a "select all" check box. If the user press cancel or confirm, the left button will be reverted back to a normal "back" button.

This is the only way I can think of doing it.

[2018-08-20 04:17] ljmkimqx commented on #3187
thanks，I'll look at the use of React Native Gesture Handler, but I have an idea of ​​directly manipulating Actions.state to see if I can delete a page in state, so I don't have to modify the swipe gesture, but it feels so dangerous.

[2018-08-20 09:37] Abhishekgarg727 commented on #3174
@daviscabral  yeah it is simple just create sample two screens using react native than attach your whole react native code in android app , when we simply use RNRF for the navigating from one screen to another it show above log.
could tell what is possible problem will causing this , by reading log i mentioned above.

Thank you.

[2018-08-21 03:35] asd8855 opened #3194 "Actions.reset: There is no route defined for Key X"
### Version
- react-native-router-flux v4.0.1
- react-native v0.56.0

<Router backAndroidHandler={backAndroidHandler}>
      <Lightbox>
      <Scene key="root">
          <Scene key="LaunchPage" component={LaunchPage} hideNavBar={true} navTransparent={false} rightTitle="" initial />
          <Scene key="LoginPage" component={LoginPage} title="登录" hideNavBar={true} navTransparent={false} hideBackI

[2018-08-21 03:50] asd8855 commented on #3194
when I use "Action.reset("xxx")",it will show

[2018-08-21 06:27] #3174 closed

[2018-08-21 07:13] daviscabral commented on #3176
@aksonov is on vacation - so the 4.0.2 version will need wait him to be released. But while that, you can try it using `yarn add aksonov/react-native-router-flux`.

Please, try that and let me know if it have fixed your issue.

[2018-08-21 08:32] mswokk commented on #3194
Same here.
* RN 0.54.0
* RNRF 4.0.1

Under 4.0.0-beta.31 has no problem.
After upgrading to 4.0.1 it throws error.

Here is my hierarchy and error message

[code]

Error says ....
[code]

It looks doesn't recognize child  <Scene> s more then 2 depth

[2018-08-21 08:32] dtwilliams commented on #1381
that's not ideal as i have to keep track of what page to go back too, which could be several.

[2018-08-21 09:28] keneseu opened #3196 "Unable to transfer a state value from one scene to another via “Actions.push()” ..."
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.1
- react-native v0.56.0

### Expected behaviour
Able to transfer a "task" state value from "tasks" scene to the "screen" scene, using “Actions.push” - where "the router and scenes" are defined  in "App".

### Actual behaviour
The "Screen" scene seemed to receive an "undefined" value instead ...

### Steps to reprod

[2018-08-21 09:28] R1ckye opened #3197 "hideTabBar is broken when used in nested stacks/scenes"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.2 (latest master)
- react-native v0.56.0 (Example App)

### Expected behaviour
hideTabBar on any Scene hides TabBar when that Scene is presented (as previously)

### Actual behaviour
TabBar keeps on showing

### Steps to reproduce
Slightly modified the Example app, added `tabs` to the root Stack, and added `hideTabB

[2018-08-21 14:16] Abhishekgarg727 commented on #3174
@daviscabral  can you put this JSON in your  read me docs, so that future beginners don't need to struggle and also save time. below is my updated package.json which work flawlessly with android.

Because only using react-native-router-flux as dependency does not work.

[code]

[2018-08-21 19:53] edoantonioco commented on #2909
@chiragsheta way works

[2018-08-21 22:35] delia-m commented on #3176
I have similar issue. props doesn't pass into component with Actions

This worked in 4.0.0-beta.32 and doesn't work after I update to 4.0.1

For example
call `Actions.profile({ reset: true });`
and `this.props.reset` in profile component is never true

I tried with 4.0.2 already but it doesn't work neither.

[2018-08-21 23:56] lafiosca commented on #3055
Why was this issue closed? I have been digging through the documentation and code for quite a while now and trying various things, but I haven't found a way to pass the `forceInset` param through the `Scene`, other than perhaps constructing my own `navBar`.

[2018-08-22 00:37] lafiosca commented on #3055
I finally realized you can just pass `headerForceInset` directly as a property of the `Scene`:

[code]

[2018-08-22 08:17] Agby commented on #3197
I had the same issue too

### Version
react-native-router-flux v4.0.1

[code]

[2018-08-22 10:38] dextermb opened #3198 "Upgrading from `4.0.0-beta27` to `4.0.0` breaks app"
I am attempting to upgrade my app from `4.0.0-beta27` to `4.0.0` but it seems to break from an internal error:
[code]

What is `context.changedBits` and where can I find it? This seems to be what is breaking everything. Note that the app errors instantly upon opening.

[2018-08-22 10:56] telmen opened #3199 "How to override tab swipe navigation if child element is swipeable?"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.31 (v3 is not supported)
- react-native v0.56.0

### Expected behaviour
Override tabs swipe navigation if child element has panresponder, swipeable.

### Actual behaviour

A current Scene(Tab) is navigating between tabs while child element is working partially.

### Steps to reproduce
For non-obvious bugs, pl

[2018-08-22 10:56] sritharanrbt opened #3200 "Error while updating property transfrom of a view managed bt RCTView"
Just after installing router-flux it throws this error on android , but working fine with Ios , is there work around with this

<img width="1280" alt="screen shot 2018-08-22 at 4 21 18 pm" src="https://user-images.githubusercontent.com/16588387/44459631-fb9b6280-a627-11e8-8298-85fe9a6526af.png">

### Version
    "react": "16.4.1",
    "react-native": "0.56.0",
    "react-native-router-flux": "4.0.

[2018-08-22 12:38] dextermb commented on #3184
@daviscabral #3198

[2018-08-22 14:48] nica0012 commented on #3169
@daviscabral I tried updating but the issue still persists.

[2018-08-22 15:27] socialcode-rob1 commented on #3017
@CZHach did you figure out the cause?

[2018-08-22 21:19] felipe-alecsandro opened #3201 "How can I hear the event come back?"
Hello,

I'm trying to hear the back event I stated on the route in de module detailVisit:
`<Scene key="detailsVisit" back={true} component={DetailsVisit} title="Detalhes da visita" />`

I have tried to listen to the event as follows, and I have not been successful in the detailVisit:
`  componentDidMount() {
        BackHandler.addEventListener('backPress', () => {
            Actions.visits();

[2018-08-22 22:27] daviscabral commented on #3201
Have you tried `onBack`?

[2018-08-23 01:45] daviscabral commented on #3198
As discussed (here)[https://github.com/react-navigation/react-navigation/issues/4375], this is because of the new context API. I can't say much, cause I don't know anything about your environment, but try to use React > 16 and React Native > 0.55.

Probably we will need to update README to say that as well.

[2018-08-23 01:47] daviscabral commented on #3184
Please update your React and React Native versions and also try to use `aksonov/react-native-router-flux` while version `4.0.2` is not released to see if that is fixed.

[2018-08-23 02:08] daviscabral commented on #3178
Did you meant `Scene` with `Screen`? - `onBack` is showed in the code and in the `Example` code.

https://github.com/aksonov/react-native-router-flux/blob/cd74da5f28f3a0d3c33be781a7f07463ace6b00f/src/NavBar.js#L18
https://github.com/aksonov/react-native-router-flux/blob/e1b7cd19ad86980643ae852c2f689da4d6ec6538/Example/Example.js#L113

Please provide the information that is asked in the template, s

[2018-08-23 02:48] telmen commented on #3178
I mean yeah, but I want to control it from either previous scene navigating to my desired scene or inside my scene. Like Actions.myscene({ onBack: () => {} }). But it doesn't work.

[2018-08-23 05:56] daviscabral commented on #3178
`onBack` is not a supported in the action param. You will have to manage that in the life cycle of your component or in the `onNavigationStateChange`.

[2018-08-23 05:56] #3178 closed

[2018-08-23 05:56] telmen commented on #3178
Nevermind, my bad. I was rendering custom back button and didn't pass props onback on onPress prop. Closing this issue.

[2018-08-23 06:12] #3201 closed

[2018-08-23 06:16] daviscabral commented on #3178
My bad - just confirmed that it is supported. Thanks for having the time to report it back here.  👍

[2018-08-23 06:24] thatjuan opened #3202 "Navigation breaks after 4.0.0-beta.23"
### Version

- react-native-router-flux v4.0.0 =
- react-native v0.56.0

### Expected behaviour

`Actions.SignIn();` should load up the SignIn Scene.

### Actual behaviour

Nothing happens. No error messages.

###  Issue
I upgraded from 4.0.0-beta31 to 4.0.0 and my app gets stuck in my initial scene. There's code in the main component of the initial scene that determines whether the user is logged

[2018-08-23 06:42] daviscabral commented on #3202
Could you reproduce the error using the `ReduxExample` from the project? If yes, do you mind sharing this - so I can check it and see what is going on?

[2018-08-23 06:50] lordenas opened #3203 "How to pass the props in Tabs?"
### Version
Tell us which versions you are using:

-  "react-native-router-flux": "^4.0.0-beta.31",
-  "react-native": "~0.55.2",

###
app.js
[code]

accountList.js

`<TouchableOpacity
              underlayColor={'#000'}
              activeOpacity={0.9}
              onPress={ () => {
                  Actions.tabbar({accountid: item.id})
                }}

### Actual behaviour
When passing in

[2018-08-23 07:54] daviscabral commented on #3198
React Native 0.55 does not support React 16 as you can see here https://github.com/facebook/react-native/blob/v0.55.4/package.json#L145.

Please provide failing example (with valid package versions).

For docs, PRs are welcome. The upgrade for React Navigation is pretty recent.

[2018-08-23 07:55] daviscabral commented on #3203
Please upgrade to version 4. I don't think beta should be supported.

[2018-08-23 07:58] #3203 closed

[2018-08-23 08:04] daviscabral commented on #3184
Those versions aren't compatible like I told you in the other ticket. About the hardware back button - that also happens with React Navigation when the POP action is called. That seems like a good enhancement to me.

I don't have time now to work on that, but if someone else decide to take stab ;-)

[2018-08-23 08:13] daviscabral commented on #3197
That is working in the `Example` code with the most recent version.

[![Image from Gyazo](https://i.gyazo.com/d38fb0e9eaf317502006b0045358a769.gif)](https://gyazo.com/d38fb0e9eaf317502006b0045358a769)

<img width="703" alt="screenshot 2018-08-23 05 10 48" src="https://user-images.githubusercontent.com/4285/44513181-0b03c580-a693-11e8-8c51-517024c938a6.png">

Please, take a look there, and in case

[2018-08-23 08:13] #3197 closed

[2018-08-23 08:14] anishroff opened #3204 "onEnter event supported on Drawer component ? Want to call function when user open Drawer"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.1 (v3 is not supported)
- react-native v0.55.1

[code]

### Expected behaviour
I want to call a function in component after user opens the Drawer. I tried with above code with no luck.

### Actual behaviour

`onEnter` alert is not shown when Drawer is opened. Is it supported on `Drawer` ? How to track if event of us

[2018-08-23 08:35] VishalKumar2016 opened #3205 "How can I hide single tab with width 0"
- react-native-router-flux: "^3.39.2",
- react-native: "^0.44.3",

### Expected behaviour
I have 6 tabs but what to show only five tabs how can I hide one tab and when I call that tab programmatically It's will show the screen but not show any tab select and even not show that tab in tab bar. I mean I need an invisible tab

### Actual behaviour
I use tab style with width: 0 but not working is ther

[2018-08-23 08:35] daviscabral commented on #3196
You should use the scene key or `jump` to make that work. You can see this working in the Tab 5 from the `Example` code.

With the example, the code would be:
[code]

![2018-08-23 05 17 54](https://user-images.githubusercontent.com/4285/44513560-0be92700-a694-11e8-9f4e-be1463aba94a.gif)

In case that is still happening, please provide a failing example and reopen this ticket.

[2018-08-23 08:35] #3196 closed

[2018-08-23 08:37] daviscabral commented on #2851
Hey guys - any update with the Redux testing here? Can I close this issue? Thank you.

[2018-08-23 08:40] daviscabral commented on #3188
@matthewkwong2 for params, that's correct, it is `renderLeftButton` - but since back was true - it seems it is being replaced right after being set.

[2018-08-23 08:46] daviscabral commented on #3200
@sritharanrbt are you using RTL? Can you provide more information about the error? Code sample? That sounds like a real bug with the way we handle the `transform` prop - but the lack of information in the issue does not help.

[2018-08-23 08:59] lordenas opened #3206 "after update to Release 4.0.2 props not working..."
### Version
Tell us which versions you are using:

- react-native-router-flux v 4.0.2 (v3 is not supported)
- react-native ~0.55.2

### Expected behaviour

login .js
 Actions.Account_list({ data: 'test!' })

accontlist.js
console.log(this.props.data) = undefined

### Actual behaviour
console.log(this.props.data) = test!

[2018-08-23 09:10] dextermb commented on #3198
@daviscabral Thanks for the help! The dependencies seem to work working properly now:

[code]

[2018-08-23 09:10] #3198 closed

[2018-08-23 09:14] dextermb commented on #3184
@daviscabral Thanks for helping me work through this. We're slowing making progress. I'm now using `react-native-router-flux` off master.

While I am still having the original problem of the software back button still skipping views, I've also noticed that tapping through the tabbar, and pressing back, will take you to the first tab. Not the previously selected ones.

[code]

Going from `page_1` t

[2018-08-23 09:27] lordenas commented on #3206
https://github.com/lordenas/reactNativeJfSerive

In the loginForm.js function myoutput() after a response is received, makes the transition to `Action.Account_list({token: this.state.token, userName:this.state.userName})`

But Account_list.js stopped seeing these props

[2018-08-23 09:27] dextermb commented on #3184
Interesting. @daviscabral, you'd suggest keeping my own stack of views and then just going back to the previous one?

Does the `onStateChange` prop work for Router, this way I could get the current route and push it whenever navigation happens?

[2018-08-23 09:28] dextermb commented on #3184
This does not seem to get triggered 😨

[code]

[2018-08-23 10:01] daviscabral commented on #3184
Check the Example, it's working there :+1:

![2018-08-23 06 58 45](https://user-images.githubusercontent.com/4285/44519047-42c63980-a6a2-11e8-8295-47e2605902d5.gif)

[2018-08-23 10:03] dextermb commented on #3184
@daviscabral yeah, haha. Good stuff! I think this thread can be closed now 🎉 Thanks again.

[2018-08-23 10:29] dextermb commented on #3184
[code]

[2018-08-23 10:50] R1ckye commented on #3197
@daviscabral I'm sorry but I don't really see the `hideTabBar` in your screenshot of code (Cmd+F didn't work so I can't be sure), both of us above provided broken examples, mine is straight out of the Example app. But to make it straightforward, here's the full modified Example app: https://github.com/R1ckye/rnrf-broken
Just go to the register screen, it should hide the tab bar (it has hideTabBar)

[2018-08-23 11:07] daviscabral commented on #3197
Sorry - I misread the issue and the prop - I read it as `hideNavBar` - as the `hide the navigation bar` - and not the tab bar.

But I got your code here - and there is no `hideTabBar` in your example as well.

[code]

[2018-08-23 11:28] daviscabral commented on #3197
Check this out: https://github.com/aksonov/react-native-router-flux/issues/2076.

[2018-08-23 11:40] lordenas commented on #3206
Something went wrong... I went back to yesterday's version and everything worked. Somehow ceased to be transferred to the props...

[2018-08-23 11:45] BhaumikSurani commented on #2606
I Have same issue.
i'm defined Scene as clone and use
`Actions.MyScreen({ randomParam: randomValue })`
But still not working. It Every time update value.
How to Resolve this issue?

[2018-08-23 11:46] R1ckye commented on #3197
![image](https://user-images.githubusercontent.com/1330143/44523665-f64b2000-a6da-11e8-814e-73cdeff3a047.png)

[2018-08-23 11:48] R1ckye commented on #3197
@daviscabral That issue is more than a year old, and as mentioned above by both of us, it was working exactly this way in late betas of 4.0.0, but not anymore

[2018-08-23 12:41] R1ckye commented on #3197
I pinpointed the issue, it was broken in this commit, when react-navigation was bumped from 1.5.8 to 2.8.0
https://github.com/aksonov/react-native-router-flux/commit/d61960c6bf0139150a327a161b3d9374c6d6772f

Can you please reopen, as it's clearly a valid, existing issue?

[2018-08-23 12:50] dextermb commented on #3206
I am also noticing that my props are not being populated
[code]

Output from `this.props` within `componentDidMount`:
[code]

I do not see `challenge` prop 😨

[2018-08-23 12:52] mikaelrosquist commented on #3202
Had the exact same issue. Was able to "solve" it by setting a timeout before pushing the _SignIn_ scene.
`Actions.SignIn()` is not defined at first. Looks like a race condition.

[2018-08-23 12:55] dextermb commented on #3206
@daviscabral Any ideas where I can find the code that might be causing this within the source?

[2018-08-23 14:16] keneseu commented on #3196
Hi,

Thank you for your help! Could you provide me with the complete code for
the Tab 5 example, as I still could not get it work somehow?

Look forward.

On Thu, Aug 23, 2018 at 4:35 PM Davis Z. Cabral <notifications@github.com>
wrote:

[2018-08-23 17:17] rishiankush commented on #3124
I am facing the same issue, I tried everything mentioned above, nothing worked for me.
Debug mode is working fine. Problem occurs in release mode.

RN version: 0.56.0

[2018-08-23 18:28] thatjuan commented on #3202
@mikaelrosquist - I added `Actions.SignIn()` to the `onPress` of a button to rule that out. It never redirects, so we may be running into different issues.

[2018-08-23 18:32] daviscabral commented on #3202
I believe 4.0.0 is really broken, and that's why @aksonov released 4.0.1 right after. I tried to release 4.0.2 to fix a couple of other issues right after as well. But I will only have time to dedicate to code here in the weekend now.

Anything that you guys might provide to help with that, specs, examples, would really make the testing/fixing process easier. Thank you.

[2018-08-23 18:36] daviscabral commented on #3206
I noticed that with `react-navigation@2.x` - `Scenes` are being rendered all together with the `Stack`. So, when you are really logging it - it has no params being passed to it yet, so probably, the lifecycle is wrong, and that might be probably the issue with all the recent opened tickets here. If someone here have time to help dig on that, I would appreciate.

This might be related to #3202, #31

[2018-08-24 05:52] pehagg opened #3207 "Custom title not centered on Android after upgrade to 4.0.1"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.1
- react-native v0.56
- os Android

### Expected behaviour

Title should be centered.

### Actual behaviour

The title used to be centered before upgrading from 4.0.0-beta.27 to 4.0.1. Title aligns to the left, next to the back button. Using titleStyle that centers the component doesn't help. Removing the renderRig

[2018-08-24 06:01] daviscabral commented on #3207
This seems to be related to the `react-navigation@2` upgrade.

Checking the link below, it seems now they have a `headerLayoutPreset` prop to manage that. That's not supported yet and will have to add it to the list.

https://github.com/react-navigation/react-navigation/pull/4588
https://github.com/react-navigation/react-navigation/issues/4615

[2018-08-24 06:09] pehagg commented on #3207
Was able to fix this by adding `flex: 1` to the style definition of the custom title component. Got inspiration from https://github.com/react-navigation/react-navigation/issues/544. Using titleStyle doesn't seem to have any effect. Closing issue.

[2018-08-24 06:42] dextermb commented on #3206
@daviscabral is this an issue with this library or react navigation? Maybe it's worth creating an issue in [react-navigation](https://github.com/react-navigation/react-navigation) if it is something to do with them. I'm need an app pushing out sometime today, but obviously I can't do that if navigation isn't working properly.

[2018-08-24 06:47] daviscabral commented on #3206
I need to investigate to be sure. Right now I am running late with work and might get back to it in the weekend.

What I usually do in these cases, where I have a deadline, is to fork the project I need, do my changes and install it direct from there with yarn, pointing the github repo.

[2018-08-24 06:51] dextermb commented on #3206
@daviscabral hmm alright. My issue is that I need `onStateChange` which is in the latest releases. When does `onStateChange` get implemented into `react-nativation`? Maybe we could do a branch from flux's beta 27 and just introduce `onStateChange` into it until these issues are resolved?

[2018-08-24 07:06] HengCC opened #3208 "is it possible to create a custom Scene instead of use original Scene?"
I want to handle some things in a unified way when the scene trigger `onEnter`, like:
[code]

then use it:

[code]
Is this feasible?

[2018-08-24 07:10] HengCC commented on #3208
i try this, but got an error:

`Cannot read property 'routes of undefined'`

[2018-08-24 07:10] HengCC commented on #3208
i try this, but got an error:

`Cannot read property 'routes of undefined'`

[2018-08-24 09:55] Hannibal2 opened #3209 "How to make react-native-router-flux Drawer transparent?"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.31",
- react-native v0.55.4

I need to make side menu transparent, but i dont't  lnow how, I've tried to add opacity to my MenuView component, but it makes visible white backround  of scene instead of phone screen

MyCode:
[code]
Does anybody know how to solve it?

[2018-08-24 10:17] dextermb commented on #3209
Do you need to make the menu transparent or the backdrop of the menu?

[2018-08-24 10:44] daviscabral commented on #3181
Have you achieved the result expected? Do you mind sharing what have you done? What is the lib missing in that case? Thank you.

[2018-08-24 10:46] daviscabral commented on #2851
I believe we can consider this done. Please open a new issue referring this one in case something new pops up.

[2018-08-24 10:46] #2851 closed

[2018-08-24 11:15] Hannibal2 commented on #3209
@dextermb the backdrop

[2018-08-24 11:26] daviscabral commented on #3184
I will keep this opened to track the PR that I might work in the weekend to make it easier.

[2018-08-24 11:27] daviscabral commented on #3185
Keeping it opened to see if someone might implement it.

[2018-08-24 11:28] daviscabral commented on #3207
I'll keep this opened since it was a existent feature that is not working anymore and probably will be an easy fix.

[2018-08-24 11:41] daviscabral commented on #3194
Nice, thanks, I'll take a look when possible and update the ticket.

[2018-08-24 11:44] daviscabral commented on #3206
I think you can fork the repo, make the changes and then use that fork. I don't think beta versions will be supported. At least I have no plans to work with that (it will cause one more version to give maintenance).

[2018-08-24 21:19] nicolas-rohricht commented on #3197
In my case, I use Actions.refresh({ hideTabBar: true }) dinamically inside of the scene.
Like when the keyboard shows up, or under an onPress Button event...

With the RF 4.0.1, this option was not working.

Downgraded to 4.0.0-beta.28 and my problem got fixed.

[2018-08-24 22:03] daviscabral commented on #3197
Yes, I belive that's because `4.0.0-beta-28` uses `react-navigation@1.5` - and the final `4.0` version uses `react-navigation@2.0`. We will need to see what else is broken/deprecated - and maybe update the API.

[2018-08-24 23:08] daviscabral commented on #3204
Can you try this?

[code]

[2018-08-25 01:27] HengCC commented on #3208
i read the source code . I found the `scene` just as a container, it's not really rendered, So the above solution is not feasible. Is there any other solution that can handle the onEnter event of all routes uniformly?

[2018-08-25 15:05] daviscabral commented on #3194
Also guys, there a couple of things here that I noticed that are not supported anymore - due `react-navigation@2` breaking changes:

- `swipeEnabled={false}` and `animationEnabled={false}` will not work anymore as you can read about it here: [react-navigation/issues/4146](https://github.com/react-navigation/react-navigation/issues/4146) and [here](https://reactnavigation.org/blog/2018/05/07/react-

[2018-08-25 16:07] daviscabral opened #3213 "Proposal: RNRF 3.5"
A lot of issues are coming from the major upgrade of `react-navigation` from `1.5.6` to `2.x`.

That is really making the work of handling issues and fixing bugs a lot more complicated that used to be.

So just to be clear:

- RNRF `4.0.1` uses `react-navigation@2.0`;
- RNRF `4.0.0-beta.31` uses `react-navigation@1.5.6`;

What I am proposing here is to branch-out from `4.0.0-beta.31` as `v3.1` and

[2018-08-25 16:27] daviscabral commented on #3199
Could you try `4.0.1`? RNRF 4.0.1 uses `react-navigation@2.0` and `4.0.0-beta.31` uses `react-navigation@1.5`. In `react-navigation@2.0` is not supported anymore.

[2018-08-25 17:13] daviscabral commented on #3208
You can try the `react-navigation@2` [`NavigationEvents`](https://reactnavigation.org/docs/en/navigation-events.html#docsNav).

Could you also check if the idea below works? (I haven't actually tested it - and typed it here in the input off the top of my head - it might have errors or typos - help me out on that to get the whole idea behind it 😉).

### CustomScene
[code]

Adding a `onEnter` in the

[2018-08-25 17:13] ThomasLarge commented on #3181
Hi @daviscabral I haven’t yet, I don’t really want to make a custom component as I would have to route all of the push / pops.

If the lib could have a active style prop for the container / single tab of the tab view that would be great. As you can see above I have added a border top to the whole container but I want to add it every tab and then change it to white when active.

When I have some ti

[2018-08-25 23:09] atrimn opened #3215 "Drawer Open detection"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.?.? (v3 is not supported)
- react-native v0.?.?

I have a Custom NavBar so my drawer button doesnt work.
But on my Iphone device i can just swipe right to open the drawer which is fine.

But i cannot detect if the drawer is open using onEnter or onOpen

[2018-08-26 01:16] filipenatanael commented on #1668
Nice :)

[2018-08-26 15:08] jan-happy commented on #1381
I found the only working solution here:
https://github.com/aksonov/react-native-router-flux/issues/2047#issuecomment-315976469
`Actions.pop();
        setTimeout(() => {
          Actions.refresh({
            someProp: someValue
          });
        }, 0);
`

[2018-08-26 15:41] Arwiz opened #3216 "(0, _reactNavigation.withOrientation) is not a function. (In '(0, _reactNavigation.withOrientation)(Header)', '(0, _reactNavigation.withOrientation)' is undefined)"
### Version
Tell us which versions you are using:
4.0.0-beta.27

- react-native-router-flux v4.?.? (v3 is not supported)
- react-native ~0.51.0

### Expected behaviour
It was a working project now the application is not responding with these errors.

### Actual behaviour

### Steps to reproduce
For non-obvious bugs, please fork this component, modify Example project to reproduce your issue and inc

[2018-08-27 00:53] mswokk commented on #3213
Due to critical bugs in 4.0.1, I'm still in 4.0.0-beta.31. I think 4.0.0 is not stabilized yet. I agree with @daviscabral

[2018-08-27 01:33] HengCC commented on #3208
@daviscabral   thanks! I have tried your idea, but it still doesn't work.
My current solution is to add the onEnter event to each Scene.

[2018-08-27 02:15] asd8855 opened #3217 "How to set the gradient for the navigation bar？"

[2018-08-27 02:52] jamesholcomb opened #3218 "Actions.refresh renderRightButton has no effect"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.1 (v3 is not supported)
- react-native v0.56.0

### Expected behaviour
The navbar refreshes with the new right button component

### Actual behaviour
No effect

### Steps to reproduce
For non-obvious bugs, please fork this component, modify Example project to reproduce your issue and include link here.

[code]

[2018-08-27 09:34] Sharcoux opened #3219 "Module parse failed when using react-native-router-flux in minimal test project"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.1 (v3 is not supported)
- react-native v0.?.? -> react-native-web v0.8.9

### Expected behaviour

Just trying to make a minimal project to work

### Actual behaviour

I get this crash

Module parse failed: Unexpected token (100:6)You may need an appropriate loader to handle this file type.|   if (transitionConfigure

[2018-08-27 11:48] akshayseth opened #3220 "Disable backswipe in ios in expo react native"
I want to disable back swipe in my expo app.I have tried the following

gestureEnabled={false} and swipeEnabled={false}
Below is my code in which I want to disable back swipe on home route:

  <NavigationDrawer>
    {/* <StatusBar backgroundColor={statusBarColor} /> */}
    <RouterWithRedux>
      <Stack key="root" hideNavBar gestureEnabled={false}>
        <Scene
          key="login"
          c

[2018-08-27 15:07] tuxity commented on #3206
There is a ugly fix we can use until it's fixed ?

[2018-08-27 19:36] jamesholcomb commented on #3218
Here is how I worked around it

[code]

[2018-08-28 03:52] maac4422 commented on #2891
Thanks @Paul-Todd  you save my life

[2018-08-28 04:35] daviscabral commented on #3216
There is no way to help with the information provided here. Please fill the information from the template.

[2018-08-28 04:37] daviscabral commented on #3213
@mswokk I believe `4.0.1` is stable - but it's not working as before for a lot of cases that I believe were not the main intent of the lib.

But for having a `3.5` version, someone from the community also will have to step up to maintain it. That's the main purpose of this issue too. My focus is on bringing back things that people are missing from `v3` on `v4`.

[2018-08-28 05:08] daviscabral commented on #3219
This is not related to `RNRF`. As the error message says - you will need the `babel` loader to make spread work (probably `@babel/plugin-syntax-object-rest-spread` - but I believe that's not included anymore and to customize it, you might have to `eject` your app).

[2018-08-28 05:08] #3219 closed

[2018-08-28 05:13] daviscabral commented on #3209
The opacity solution - if I am not mistaken, is for the versions using `react-navigation@2`.

For versions before it - I am not aware how to that's could be done. I usually look into the `react-navigation` issues and StackOverflow to see if someone asked/answered it. Please reopen the issue with template information in case of a bug found.

[2018-08-28 05:13] #3209 closed

[2018-08-28 05:56] daviscabral commented on #3208
I believe the way for doing that (since `onEnter` from components is always called) is to move the code you want reuse to a module and call it in your components.

[code]

`RNRF` will call `onEnter` in these components if you do not set it in the `Scene`.

[2018-08-28 06:16] HengCC commented on #3208
I haven't tried this method yet, maybe it's feasible, but I don't think there is any difference between this method and the way that the onEnter event is added directly on the Scene, and this implementation is intrusive to the component. I am not sure if such demand is universal,  if it is, as you said, Adding a unified onEnter on the Router may be a better solution.

[2018-08-28 06:21] 2linziyi2 opened #3221 "pop and refresh problem in a async function"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.25 (v3 is not supported)
- react-native v0.53.3

### Expected behaviour
Scene A -> Scene B, Scene B pop by a function. As follows
[code]

Only Scene A tigger componetWillReceiveProps

### Actual behaviour

Actions.refresh function will refresh Scene A and Scene B, and Scene A tigger componetWillReceiveProps，S

[2018-08-28 06:26] dextermb commented on #3206
@tuxity Unfortunately I'm using the `onStateChange` on [Router](https://github.com/aksonov/react-native-router-flux/blob/master/src/Router.js#L77) and in [`4.0.0-beta.31`](https://github.com/aksonov/react-native-router-flux/blob/4.0.0-beta.31/src/Router.js#L77) it doesn't have it yet. Any updates on a potential fix, @daviscabral?

[2018-08-28 06:26] daviscabral commented on #3208
HoC is also a solution.

[code]

[2018-08-28 06:27] daviscabral commented on #3208
But yeah - something on the `Stack` level would be nice. Let's wait @aksonov come back from vacation to see his opinion about it.

[2018-08-28 06:28] daviscabral commented on #3206
Not yet - I'll try to hack something on that :+1:

[2018-08-28 08:17] daviscabral commented on #3174
I think people might refer this issue in the future - and also check the `package.json` from examples. BTW,  `react-native@ˆ0.55` is the first version to use Babel 7, and it's recommended to enforce the version `beta-47` using tools like `yarn resolutions`.

It's possible to know more about it here: https://github.com/react-native-community/react-native-releases/blob/0.57/CHANGELOG.md

[2018-08-28 08:38] daviscabral opened #3222 "New release of `react-navigation` is available (v2.12.1)"
There is a new `react-navigation` version available that might help with a few of the issues that `4.0.2-dev` is facing.

## Below change since `v2.11.2` (RNRF version)

### [2.12.1] - [2018-08-23](https://github.com/react-navigation/react-navigation/releases/tag/2.12.1)

#### Fixed
- Fix crash on react-native@>=0.56 described in https://github.com/react-navigation/react-navigation/issues/4886

##

[2018-08-28 08:46] daviscabral commented on #3221
Can you update to a more recent version?

I am still waiting further discussion on #3213 - until there, I don't think `beta` version should be supported.

[2018-08-28 10:50] Sharcoux opened #3224 "router.getActionCreators is not a function"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.1 (v3 is not supported)
- react-native v0.55.3

### Expected behaviour

I tried to follow the ReduxExample and I expected my app to at least start

### Actual behaviour

The app crashes with:

[code]

### Steps to reproduce
For non-obvious bugs, please fork this component, modify Example project to reproduce your is

[2018-08-28 17:38] pierol opened #3225 "Calling Actions.key() not reload the components Scene"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.1 (v3 is not supported)
- react-native v0.55.4

### Expected behaviour

Refresh of the components of Scene when it is called with:

Actions.key();

### Actual behaviour
I update from react-native-router-flux 4.0.0.beta27 where the default behaviour was that when i called Actions.key() the components of the Scene wer

[2018-08-28 18:41] #3222 closed

[2018-08-28 18:44] daviscabral commented on #3225
Do you have a sample code? I have no idea about what might be happening here.

[2018-08-28 19:01] daviscabral commented on #3224
I can't see anything wrong - probably is the order you are loading things. This seems a questions better suited for StackOverflow. If you find that this was mistakenly closed and it is really a bug, please reopen and provide a code sample.

That will help with the tests when new versions come. Failing tests might get added to the examples in the long run (tests would be much better actually).

[2018-08-28 19:01] #3224 closed

[2018-08-28 20:16] ggunti opened #3226 "New scene is not visible full screen"
### Version

- react-native-router-flux v4.0.1
- react-native v0.55.4

### Expected behaviour
Open the required scene full screen of course.

### Actual behaviour
The required scene is opened, but on the bottom is still visible a little portion from the previous screen (the camera).
See the video: https://vimeo.com/287135365
I called Actions.sketch(), but on the background is still alive the previ

[2018-08-28 20:39] pierol commented on #3218
I made an example code to show you what i mean go here: https://github.com/pierol/rnrf-example it's an EXPO example try to open it in a ios simulator. Make login inside the app with these credentials: pierol and pw: giulia09. You have to swtch the version of react-native-router-flux from 4.0.0.beta.27 and 4.0.1 to see the two different behaviours. There is a console log in the DayList componenetWi

[2018-08-28 20:40] pierol commented on #3225
I made an example code to show you what i mean go here: https://github.com/pierol/rnrf-example it's an EXPO example try to open it in a ios simulator. Make login inside the app with these credentials: pierol and pw: giulia09. You have to swtch the version of react-native-router-flux from 4.0.0.beta.27 and 4.0.1 to see the two different behaviours. There is a console log in the DayList componenetWi

[2018-08-28 20:54] aguevara92 opened #3227 "How to change the scene transition's direction?"
### Version
Tell us which versions you are using:

- react-native-router-flux v^4.0.1,
- react-native v"~0.55.2"

### Expected behaviour
I have 2 scenes and 2 buttons that led me those scenes. I want to press the left button and go to a scene with a transition coming from the left. the same way, if I press the right button the scene should slide in from the right.

### Actual behaviour
I am using

[2018-08-28 21:49] daviscabral commented on #3225
Thank you for providing the example - I'll investigate further later tonight.

[2018-08-29 03:15] daviscabral commented on #3181
Nice - thank you. Please, when you do, refer to this issue. I'll keep this opened and marked as `feature request`.

[2018-08-29 04:55] daviscabral commented on #3216
@ptmaroct thank you.

[2018-08-29 05:45] zi6xuan commented on #3017
You must like this `Actions.product({ time: new Date() });`to input the props

[2018-08-29 06:04] daviscabral commented on #3205
Sorry, unfortunately v3 is not supported anymore.  Also, this seems to be a question better suited for StackOverflow.

[2018-08-29 06:04] #3205 closed

[2018-08-29 06:11] daviscabral commented on #3218
Thank you for the update about the workaround. This seems to be sort of a duplicate of #3188. I'll keep it marked as bug and work on both in the same PR.

[2018-08-29 06:34] daviscabral commented on #3225
The main point to be aware here is that RNRF had a major library upgrade (`react-navigation`) during the `v4.0.0-beta.x` releases. So `beta.31`was the last version using `react-navigation@1.5.x`. After that RNRF started to use `react-navigation@2.x` that deprecated some stuff, and removed others - but also added lots of new things/fixes.

[2018-08-29 09:35] pierol commented on #3225
In general i think that it's not the right behaviour do not refresh the components of a scene when you focus on it. The component could have in its componentWiilMount a fetch like in the example i made. Another solution could be to set in the <Scene></Scene> an atttribute that specify if refresh or not, but it should refresh as default behaviour.

[2018-08-29 14:19] kylethebaker commented on #2891
@timeturnback If I'm understanding the solution correctly you don't create a ref yourself but rather use the one provided by the router. It should be `Actions.refs[yourSceneName]`, where `yourSceneName` is the identifier for the scene that you set up in the router.

[2018-08-29 16:00] daviscabral commented on #3225
That would not be a refresh - refreshing automatically a component would make sense if params were going to change - if they do not change, you will not get any reason the trigger `render` again. If they change, you will need to inform that, in that case, I believe it's more flexible and less problematic to allow users works with it in the ways that might be the best for them. Do you know what I m

[2018-08-29 18:49] caiorios commented on #2589
Hey @aksonov , I've been trying to integrate RNRF with FluidTransitions with no success. Could you provide a example?

[2018-08-29 19:57] pierol commented on #3225
Yes i understand what you mean :

Thats's right it could be a attribute in the Scene tag like :

`<Scene .... refreshOnFocus={true} ... />`

[2018-08-30 05:40] EyreGe opened #3229 "<Tabs tabBarOnPress() .../>, obj.scene is undefined, obj.jumpToIndex() is not a function"
### Version
Tell us which versions you are using:

- "react-native-router-flux": "^4.0.1",
- "react-navigation": "^2.12.1",
- "react": "16.4.1",
- "react-native": "0.56.0",

### Expected behaviour

![image](https://user-images.githubusercontent.com/19946413/44831518-7df3da00-ac59-11e8-8d14-920520a10d44.png)

### Actual behaviour

![image](https://user-images.githubusercontent.com/19946413/44831588

[2018-08-30 06:48] dextermb commented on #3229
For the sake of keeping things easy to read, could you post code snippets using the `<>` icon in the editor rather than screenshots.

[2018-08-30 06:50] daviscabral commented on #3229
`jumpToIndex` was removed in the `react-navigation@2` and for this reason it's not possible to use anymore (and one of the reasons that it was not even documented as stated on #2805).

[2018-08-30 06:50] #3229 closed

[2018-08-30 06:51] dextermb commented on #3217
According to the [API Documentation](https://github.com/aksonov/react-native-router-flux/blob/master/docs/API.md#scene) you can pass a custom navbar component with the prop `navBar` on a Scene or forfeit the gradient and just change the styles with the prop `navigationBarStyle`

[2018-08-30 07:12] EyreGe commented on #3229
I solved the problem:
  const routeName = obj.navigation.state.key;
  obj.navigation.navigate(obj.navigation.state.routeName);

[2018-08-30 07:33] asd8855 commented on #3217
ths

[2018-08-30 08:06] dextermb commented on #3206
@daviscabral `master` seems to have props working again. Perhaps the version bump for `react-navigation` resolved the issue?

[2018-08-30 14:44] dextermb commented on #3206
@daviscabral Nevermind. This isn't resolved.

[code]

👎

[2018-08-30 18:04] daviscabral commented on #3206
That's because `react-navigation@1.5` is used there - in the recent versions RNEF is using `react-navigation@2` that has some breaking changes.

[2018-08-31 05:29] omars94 opened #3230 "nested navigator or fixed component"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0 (v3 is not supported)
- react-native v0.56.0

### Feature request or How to
I am trying to create a tablet application, and I want my layout to have a sidebar and then content inside but I'm not able to do that I tried searching for how to create a nested navigator that will work independently of its parent and re

[2018-08-31 05:51] Sushant-Sardeshpande commented on #2835
Getting the same error as well with beta 31, the v3 method no longer works and the link above throws a  404 error

[2018-08-31 06:26] dextermb commented on #3230
You can do this using [`Drawer`](https://github.com/aksonov/react-native-router-flux/blob/master/docs/API.md#drawer-drawer-or-scene-drawer), which is a togglable sidebar. Set it as your root, give it a component for `contentComponent` and put all your other [`Scene`](https://github.com/aksonov/react-native-router-flux/blob/master/docs/API.md#scene)s within it.

[code]

Is this what you were lookin

[2018-08-31 06:27] dextermb commented on #3217
@asd8855 If this resolved your issue can you close this thread.

[2018-08-31 06:31] #3217 closed

[2018-08-31 08:17] lvst09 opened #3231 "can i remove some scene from the navigation stack"
Version
Tell us which versions you are using:

react-native-router-flux v4.0.0-beta.31
react-native v0.55

 can i remove some scene from the navigation stack  ? when i pushed two same scene after several push actions ,like A=>B=>C=>A, then I wan't to remove the first scene A

[2018-08-31 08:23] JJMoon opened #3232 "Property onChangeState is not working."
### Version
Tell us which versions you are using:

- react-native-router-flux : 4.0.0-beta.28
- react-native v0.55.2

### Expected behaviour
Call onChangeState function.

### Actual behaviour
Not call it.

### Steps to reproduce

This is some part of my AppIOS.js
I am using MobX.

[code]

[2018-08-31 08:39] JJMoon commented on #3232
Forget it.
I looked up the source code, and couldn't find the method. I guess it is implemented after 4.0.0 beta.
I should upgrade to 4.0.X

[2018-08-31 08:39] #3232 closed

[2018-08-31 10:05] nagacoder commented on #3216
some problem with me

[2018-08-31 18:31] thomas-yancey opened #3233 "Cannot convert object to primitive value error in dependency"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.1.0 (v3 is not supported)
- react-native v0.56.0

### Expected behaviour
Build works

### Actual behaviour

Build fails when creating static bundle for release on

/node_modules/rx/dist/rx.all.js: Cannot convert object to primitive value
what would cause this? it seems like I have added no new routes and the error cam

[2018-08-31 21:39] daviscabral commented on #3233
Are you able to reproduce it with the Example or ReduxExample code provided? It might be something else in your app affecting it.

There is no enough information here to help you - please provide a way to reproduce the error - here, both examples are building on ios and android.

[2018-09-01 12:38] mn7676 opened #3234 "There is no route defined for key when using Actions.reset();"
### Version
Tell us which versions you are using:

- react-native-router-flux "^4.0.1"
- react-native 0.56.0

### My code
[code]

in page 'main' or 'page' when using `Actions.reset("login")` get error : `There is no route defined for key login Must be one of :'root'` but `Actions.push("login") or Actions.replace("login") ` is ok!!

[2018-09-01 15:14] WinterSoldier21 opened #3235 "How To Pass Props in Actions.Push?"
Hi
I try Pass Props in Actions Push but does not work .
my code is :
`onPress={()=>Actions.push('blogDetail',{Blog:BlogDetail})}`

[2018-09-01 15:52] thomas-yancey commented on #3233
you were right it was unrelated to this library, my mistake and thanks for responding

[2018-09-01 21:43] daviscabral commented on #3233
No worries, glad you got it working.

[2018-09-01 21:43] #3233 closed

[2018-09-01 21:45] daviscabral commented on #3234
Thank you for reporting the issue - this one is a duplicated and was already reported on #3194.

Closing in favour to keep all information to this bug there.

[2018-09-01 21:45] #3234 closed

[2018-09-01 22:16] daviscabral commented on #3227
There is an example of how to handle transition config in the `Example` app inside the repo.

For the most recent versions (> 4.0.1) - that's something you can use from the `react-navigation-stack` package.

For the earlier versions (<= 4.0.1) that's still part of `react-navigation`.

This issue explains how to do it react-navigation/react-navigation/issues/1759 in some different versions.

Here t

[2018-09-01 22:16] #3227 closed

[2018-09-01 22:29] daviscabral commented on #3216
Please provide a https://stackoverflow.com/help/mcve or enough information to reproduce this error. Closing this issue for the lack of information by all the users that complained about it since it was opened.

[2018-09-01 22:29] #3216 closed

[2018-09-01 22:33] daviscabral commented on #3199
I am closing this ticket in favour of the bugs and active issues - please, check the `Example` folder from that version you are using or try to upgrade to the most recent version.

If you believe that this was mistakenly closed - feel free to reopen providing a way to reproduce the error (I couldn't get the problem exactly) or a https://stackoverflow.com/help/mcve.

[2018-09-01 22:33] #3199 closed

[2018-09-01 22:36] daviscabral commented on #3170
Could you update to the most recent version and see if it works with your app and fix this issue?

[2018-09-01 22:50] daviscabral commented on #3172
@lynnic26 what is the `react` version you are using?

Could you check if your version is compatible?

| `react-native` | `react`         |
|----------------|-----------------
| 0.46.x         | 16.0.0-alpha.12 |
| 0.47.x         | 16.0.0-alpha.12 |
| 0.48.x         | 16.0.0-alpha.12 |
| 0.49.x         | 16.0.0-beta.5   |
| 0.50.x         | 16.0.0          |
| 0.51.x         | 16.0.0          |
| 0

[2018-09-01 22:55] daviscabral commented on #3235
Please, when opening a ticket, provide the information that is asked in the template. Without knowing that - it's not possible to help you.

[2018-09-01 22:55] #3235 closed

[2018-09-01 23:07] daviscabral commented on #3171
@alejandroclvi @danferd @fcabrera23 I was not able to reproduce it with the Example that I have here. But I do believe that is because `babel` is misconfigured. What is the `react` and `react-native` versions that you are using?

Could you check if your version is compatible?

| `react-native` | `react`         |
|----------------|-----------------
| 0.46.x         | 16.0.0-alpha.12 |
| 0.47.x

[2018-09-01 23:34] daviscabral commented on #3202
I noticed that with the last release, a lot of issues might be happening due the wrong version match between a lot of dependencies.

Could you check if your version is compatible?

| `react-native` | `react`         |
|----------------|-----------------
| 0.46.x         | 16.0.0-alpha.12 |
| 0.47.x         | 16.0.0-alpha.12 |
| 0.48.x         | 16.0.0-alpha.12 |
| 0.49.x         | 16.0.0-beta.5

[2018-09-01 23:34] #3202 closed

[2018-09-02 07:54] vygandas opened #3236 "Can't pass props to scene from Action.key(props). Think this way should work too."
Hello,
I can't send props to another scene. Was looking into the docs but can't find that could help.

### Version
Tell us which versions you are using:

- react-native-router-flux 4.0.1
- react-native 0.55.4

### Expected behaviour
Action.scene_key(props) shout pass props to the component

### Actual behaviour
No props in the component. I see only Router specific props printed out:
![screen shot

[2018-09-02 15:54] daviscabral commented on #3236
Where is how is `Actions.selfie` being called?

I noticed that with the last release, a lot of issues might be happening due the wrong version match between a lot of dependencies.

Could you check if your version is compatible?

| `react-native` | `react`         |
|----------------|-----------------
| 0.46.x         | 16.0.0-alpha.12 |
| 0.47.x         | 16.0.0-alpha.12 |
| 0.48.x         | 16.0.

[2018-09-02 15:58] daviscabral commented on #3226
Can you provide the route and component structure used? The way you explained here - it is really hard to reproduce from my side to try to help you.

I noticed that with the last release, a lot of issues might be happening due the wrong version match between a lot of dependencies.

Could you check if your version is compatible?

| `react-native` | `react`         |
|----------------|--------------

[2018-09-02 16:56] vygandas commented on #3236
React version I've used is 16.3.1. All app was created by create-react-native-app, so it should be ok I guess.

`Actions.selfie` is called from child component. Chain would bee something like:
`FeedScreen` (custom component) -> `FlatList` (RN component) -> `RenderedItem` (custom component). And it's used in onPress.

Looked into a changes but do not see what would relate to this issue.

[2018-09-02 20:03] daviscabral commented on #3194
Hey guys - I was able to fix the issue - just being sure that is not going to break anything else before creating a PR for it.

Just to be clear about the fixes I am going to push:
- Reset is now going to work with the right stack/scope - respecting nested scenes;
- When using the scene aliases (Actions.[key]) for a scene that has a type `RESET`, it will also respect the scope.

Thank you for the

[2018-09-02 23:45] daviscabral commented on #3176
There is a new version now that fix this. To get it right, with reset, use `Actions.reset` or set `type={ActionConst.RESET}` in the scene you want to behave like that.

Again, I am not able to publish any version, so you will have to use master to test it there.

Please reopen this if the fix haven't worked.

[2018-09-02 23:45] #3176 closed

[2018-09-02 23:48] daviscabral commented on #3163
@sourcecipher could you provide an example where I am able to see it?

It seems that the lifecycle of the components now are all mounted at once right after loading the app.

[2018-09-03 00:01] alimahmoodvand opened #3238 "Pop not working correctly in multiple stack in tabs"
### Version
"react-native-router-flux": "^4.0.0-beta.28",
 "react-native": "0.54.4",
I have 2 tabs with stack and scene

Tab1
Stack
Scene 1-1
Scene 1-2
Tab2
Stack
Scene 2-1
Scene 2-2

I go to scene scene 1-1 => scene 2-1 => scene 1-2
then i use pop function

### Expected behaviour
I expect go to scene 2-1

### Actual behaviour
router go to scene 1-1

because scene 1-1 & scene 1-2 is in same stack

[2018-09-03 00:14] daviscabral commented on #3238
Please try to upgrade to `beta.31` that is the last version using the same react-navigation, and if that does not work, upgrade it to `4.0.1`.  There is a discussion about turning `beta.31` into a version on #3213 - but I don't think it will get traction - so for now, there is no support for beta versions IMO.

[2018-09-03 00:14] #3238 closed

[2018-09-03 00:20] #3221 closed, assigned to nobody

[2018-09-03 01:41] #3194 closed

[2018-09-03 01:47] daviscabral commented on #3236
Cool - thank you for pointing all this out. I will take a look - but it seems this might be a duplicate - maybe #3049 or #3221. Both are in the queue to be checked. I can't really use client paid time to fix that now - but on my next free time I will def check this out first.

[2018-09-03 02:54] daviscabral commented on #3236
It seems for `react-navigation@2` some extra work is going to be needed.

RN issues related to this:
https://github.com/react-navigation/react-navigation/issues/2770
https://github.com/react-navigation/react-navigation/issues/1171
https://github.com/react-navigation/react-navigation.github.io/issues/191

Libs that might help here:
https://github.com/ReactTraining/react-broadcast

RN Docs:
https://

[2018-09-03 02:55] daviscabral commented on #3188
It seems for `react-navigation@2` some extra work is going to be needed.

RN issues related to this:
https://github.com/react-navigation/react-navigation/issues/2770
https://github.com/react-navigation/react-navigation/issues/1171
https://github.com/react-navigation/react-navigation.github.io/issues/191

Libs that might help here:
https://github.com/ReactTraining/react-broadcast

RN Docs:
https://

[2018-09-03 03:29] daviscabral commented on #3225
This might get easier to fix with the proposal work that I am going to do in #3240.

[2018-09-03 06:00] vygandas commented on #3236
Great, thanks for info.

I've also found that I'm able to pass params to scene that is not nested deeper e.g. under Tabs. My case scene like `settings` is receiving props.

[2018-09-03 06:15] danferd commented on #3171
i'm using:

"react": "^16.4.2",
"react-native": "^0.51.1",

[2018-09-03 06:47] daviscabral commented on #3236
Just a note about the info, I used the issue as bookmark - and also to encourage someone else to work on it - if available. There is a PR with initial work on that - but I am not sure when I will have the time to finish it.

[2018-09-03 07:22] arfaWong opened #3241 "How can i get the props after Actions.popTo in the previous scene?"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.1
- react-native v0.55.4

### Expected behaviour

Actions.push
SceneA ==> SceneB

Actions.popTo
SceneB ==> SceneA

How can i get the  props in SceneA?

[2018-09-03 07:39] dextermb commented on #3241
According to the [API documentation](https://github.com/aksonov/react-native-router-flux/blob/master/docs/API.md#actions), there is a second parameter on `popTo` that is an object for your props.

| Property | Type | Parameters | Description |
|-----------------|----------|----------|--------------------------------------------|
| `[key]` | `Function` | `Object` | The `Actions` object "automagical

[2018-09-03 07:49] daviscabral commented on #3220
This seems to be better suited to Stack Overflow. Btw, you have a typo, it's not `gestureEnabled` - the right prop is `gesturesEnabled`.

[2018-09-03 07:49] #3220 closed

[2018-09-03 07:51] vygandas commented on #3236
Yea, I understand. Maybe I have time someday, not sure. Currently have a lot of work...
Btw another notice that when navigating, after component is rendered it doesn't fire onEnter or shouldComponentUpdate anymore.

[2018-09-03 07:52] daviscabral commented on #3171
@danferd but what is the version installed? Try to run these commands to check the versions you are using and if they are compatible.

[code]

[2018-09-03 08:04] aksonov commented on #3213
@daviscabral Sounds good (v3.5)

[2018-09-03 08:27] arfaWong commented on #3241
@dextermb I have seen that API documentation, but it doesn't seem to work.

[2018-09-03 08:28] dextermb commented on #3241
@arfaWong Probably in relation to #3206.

cc @daviscabral @aksonov

[2018-09-03 08:56] daviscabral commented on #3241
Yes, thank @dextermb, we can continue this over there. But before doing that it's important to notice that things changed from 1.x to 2.x on react-navigation, making a lot of RNRF API to also change (that's the main reason why this went from v3 to v4.

Please read #3206 and see if you think you can contribute there with more information about your problem or that you can help with a PR.

[2018-09-03 08:56] #3241 closed

[2018-09-03 09:01] daviscabral commented on #3236
Thanks for reporting this as well. That's because when navigating it does not mount/unmouont the component. That's also being tackled in the PR I am taking a look. In order to concentrate all this information in the same place - I am closing this and encouraging you to continue contributing in #3206 - that's the main issue to handle this issue related with the lifecycle (that seems to be the culpr

[2018-09-03 09:01] #3236 closed

[2018-09-03 10:00] daviscabral commented on #3213
Cool. I'll fork the last beta using `react-navigation@1.5` to a branch `v3.5` and update the `package.json` to reflect it.

[2018-09-03 10:00] #3213 closed

[2018-09-03 12:17] daviscabral commented on #3213
@aksonov that's done - could you publish it as a version please? I've already built and tagged it too over there. And also, ignore the `4.0.2` commit on `packages.json` in the history - that was really precipitated - but if would be good to release it now that we have a few fixes in place. Thanks.

[2018-09-03 12:31] daviscabral commented on #3213
Agree. I just had the idea of moving it to its own package - like `react-native-router-flux-deprecated`. But right after changing the title I was not so sure about it. Anyway, let's focus in the v4 :-)

[2018-09-03 12:39] SourceCipher commented on #3163
@daviscabral Which should make screens switching super fast, but thats not the case. I have a custom header component and there is a profile icon. when you press it it simply calls this `onPress={() => Actions.profile()}`. Now once I press it, its not switched instantly the same way it would do If I press on the tabs

[2018-09-03 14:41] durgesh387 commented on #2182
i was unable to solve the problem even after the work around suggested in #2040.

[2018-09-03 14:48] daviscabral commented on #2182
If you think you found a bug - please open a new issue with all the information asked in the template. Beta versions are not supported - I recommend you to download the most recent release to test.

[2018-09-03 14:48] asatour commented on #2269
Try swipeEnabled={false}

[2018-09-03 15:30] daviscabral commented on #1381
I am locking this issue to focus on bugs and issues in the v4.

v3 and v4-beta are not supported anymore - in case you found a bug or would like to improve something, PRs are welcome, but I recommend to update to the most recent version to make use of last version of `react`, `react-navigation` and `react-native`.

[2018-09-03 15:42] daviscabral commented on #3163
Can you try last code from master? There was some updates related to `reset` and other stuff that might help on that.

[2018-09-03 17:05] SourceCipher commented on #3163
@daviscabral  you mean v4.0.0?

[2018-09-03 17:44] daviscabral commented on #3163
No - master as in master branch:

[code]

[2018-09-03 18:30] daviscabral commented on #3226
@ggunti Cool. Thanks. I can't see anything wrong there - have you inspected the views to see from where is that coming? Also, could you try to use `yarn add aksonov/react-native-router-flux` to test if the new version of RN that was merged and the other fixes to reset and push/pop might fix that?

[2018-09-04 20:19] alimahmoodvand commented on #3238
I upgrade my router flux to 4.0.1 version but my problem yet exist in pop navigation

[2018-09-05 04:23] alimahmoodvand opened #3243 "Pop not working correctly in multiple stack in tabs"
Version
"react-native-router-flux": "^4.0.1",
"react-native": "0.54.4",
I have 2 tabs with stack and scene

Tab1
Stack
Scene 1-1
Scene 1-2
Tab2
Stack
Scene 2-1
Scene 2-2

I go to scene scene 1-1 => scene 2-1 => scene 1-2
then i use pop function

Expected behaviour
I expect go to scene 2-1

Actual behaviour
router go to scene 1-1

because scene 1-1 & scene 1-2 is in same stack and scene 2-1 in anot

[2018-09-05 09:14] atifplus commented on #3172
` "react": "16.4.1",
    "react-native": "0.56.0",
    "react-native-router-flux": "4.0.0-beta.31",`  This is working for me had the same issue with 4.0.1

[2018-09-05 10:19] marcoj commented on #3216
same here, just updated to 4.0.1

[2018-09-05 10:28] dextermb commented on #3172
@atifplus Most features were broken after `4.0.0` (and I think `^4.0.0-beta.31`) as that is when it changed to react-navigation `^2.0`.

There's a pull request that is being worked on which will hopefully resolve these issues soon.
https://github.com/aksonov/react-native-router-flux/pull/3240

[2018-09-05 10:45] #3187 closed

[2018-09-05 10:46] aksonov commented on #3215
It looks like question for stackoverflow. You can try to check `this.props.navigation.state`

[2018-09-05 10:46] #3215 closed

[2018-09-05 10:48] aksonov commented on #3226
If you don't have problem without camera then it is not problem of RNRF. Maybe react-navigation and CameraKitCamera is not compatible somehow. Please try pure react-navigation first.

[2018-09-05 10:48] #3226 closed

[2018-09-05 10:52] aksonov commented on #3206
@lordenas As @daviscabral mentioned we need you to reproduce the issue based on Example project, not your project.

[2018-09-05 10:54] aksonov commented on #3236
react-navigation@2.0 doesn't pass props to all children components anymore. `Tabs` are 'wrapped' by default - i.e. all children are wrapped by `Stack` with own nav bar. You may disable wrapping by using `wrap={false}` for `Tabs` and check passing props again.

[2018-09-05 10:57] dextermb commented on #3206
@aksonov We've confirmed that it's an bug with how React Native Router Flux communicates with the latest React Navigation versions

[2018-09-05 10:58] aksonov commented on #3243
Sorry, but your desired behavior is not supported - you are manipulating with scenes from different stacks and tabs are automatically switched.

[2018-09-05 10:58] #3243 closed

[2018-09-05 11:00] aksonov commented on #3206
@dextermb Sorry, but I can't help you until you don't give me modified Example. So far I can't find the bug with passing props.

[2018-09-05 11:06] lordenas commented on #3206
@aksonov, as I said, there is a problem in passing parameters.
loginpage.js
`Action.Account_list({test: 'test'})`

Account_list.js
console.log(this.props.test) = undefined

All this occurred after upgrading to version 4.0.2 (4.01 same problem). The props just are not transferred to the other component.

[2018-09-05 11:35] dextermb commented on #3206
@aksonov Do you have a [snack](https://snack.expo.io/) example making it easier for us to show examples?

[2018-09-05 11:36] aksonov commented on #3206
No. PR is welcome to make Example project as Expo project.

[2018-09-05 11:37] aksonov commented on #3231
Maybe you can use custom reducer with custom action to do that. Check RNRF sources, its Reducer.js, how it works with custom POP_TO.

[2018-09-05 11:37] #3231 closed

[2018-09-05 11:41] aksonov commented on #3218
@jamesholcomb It looks like a hack and probably just not supported by React Navigation 2.x (its SET_PARAMS action). Instead you should define one renderRightButton that changes its content depending from navigation state. `Actions.refresh` should be used just to update navigational state (i.e. pass values not functions)

[2018-09-05 11:41] #3218 closed

[2018-09-05 11:42] aksonov commented on #3188
@matthewkwong2 It looks like a hack and probably just not supported by React Navigation 2.x (its SET_PARAMS action). Instead you should define one renderLeftButton that changes its content depending from navigation state. Actions.refresh should be used just to update navigational state (i.e. pass values not functions)

[2018-09-05 11:42] #3188 closed

[2018-09-05 11:42] #3200 closed

[2018-09-05 11:48] aksonov commented on #3170
@daviscabral  Just verified that it works (latest master, `github:aksonv/react-native-router-flux#master`) with addition of `legacy` attribute to `Tabs`. But I don't see tab bar anymore, is it intended?

[2018-09-05 11:55] aksonov commented on #3185
@aniltirola @daviscabral What is problem just to pass `SwitchNavigator` as `navigator` param to `Scene`?

[2018-09-05 11:55] #3185 closed

[2018-09-05 11:56] aksonov commented on #3208
HoC is good solution, closing this ticket

[2018-09-05 11:56] #3208 closed

[2018-09-05 11:59] aksonov commented on #3171
@danferd I can't reproduce it. Make sure you removed node_modules before RNRF upgrade. It is very possible to latest react navigation may not support old react native version. Try to upgrade to latest 0.56.0 or 0.55.4 (I'm using 0.55.4). Check Example project as well.
Try to simplify your Router to one Scene and check. After that add more scenes one by one.

[2018-09-05 11:59] #3171 closed

[2018-09-05 12:00] aksonov commented on #3163
`legacy` attribute must be used to make old behavior. However I don't see tab bar, maybe @daviscabral could help

[2018-09-05 12:01] aksonov commented on #2309
Closing due inactivity.

[2018-09-05 12:01] #2309 closed

[2018-09-05 12:01] aksonov commented on #3170
Duplicate of #3163

[2018-09-05 12:01] #3170 closed

[2018-09-05 12:02] dextermb commented on #3206
@aksonov Seem like your `app.json` in the example doesn't even work with Expo without making changes to it.
[code]

From what I've noticed it's because you're missing required attributes.

[2018-09-05 12:03] aksonov commented on #3206
Please re-read my sentence above again.
NO, we don't have Expo-compartible Example now. You are WELCOME to add PR and modify Example to make Expo-compartible

[2018-09-05 12:14] dextermb commented on #3206
@aksonov Is there any documentation on how to run it without Expo? I'd rather try and get functionality working properly before converting the example to Expo

[2018-09-05 12:17] Kiran0791 commented on #3194
I installed the latest package today "react-native-router-flux": "^4.0.1" but i don't find the above fix.
Can someone help me on how to pull these changes

[2018-09-05 12:30] abrantes01 commented on #3216
I was facing the same issue after upgrading to 4.0.1. Just restarting packager and rebuilding the app and everything is fine.

[2018-09-05 17:33] jamesholcomb commented on #3218
I am attempting to upgrade a 3.X project to 4.0.  `Actions.refresh` is used throughout the app to wire up navbar buttons to their scene handlers based on data/conditions that are determined within the scene.

The example does not seem to demonstrate how to go about this and the migration guide does not mention it.

Can you elaborate or point to an example?

[2018-09-05 18:34] RodrigoCS commented on #3194
@Kiran0791
I believe the last changes are not on npm, right now you could do react-native-router-flux@https://github.com/aksonov/react-native-router-flux/

[2018-09-06 04:54] daviscabral commented on #3170
@aksonov not sure if I understand - it is not showing the tab bar at all?

[2018-09-06 04:58] daviscabral commented on #3185
Thanks - I might start a doc page project - to link API with examples.

[2018-09-06 04:58] daviscabral commented on #3163
It was not intended :(

[2018-09-06 04:58] daviscabral commented on #3170
I got it now - it was not the intention.

[2018-09-06 05:11] faheem121 commented on #3050
just put the  gestureEnabled={false} in scene tag
example:its work for me after login switch to home scene and now never swipe back
<Scene key="home" hideNavBar={true} gesturesEnabled={false} component={HomePage} title="Home" />

[2018-09-06 05:11] faheem121 commented on #3050
<Scene key="home" hideNavBar={true} gesturesEnabled={false} component={HomePage} title="Home" />

[2018-09-06 05:12] faheem121 commented on #3050
`` <Scene key="home" hideNavBar={true} gesturesEnabled={false} component={HomePage} title="Home" />

[2018-09-06 05:13] faheem121 commented on #3050
![image](https://user-images.githubusercontent.com/34395002/45136418-6a96c080-b1bd-11e8-9125-929ee93aed0f.png)

[2018-09-06 07:20] aksonov commented on #3207
Duplicate of #3153

[2018-09-06 07:20] #3207 closed

[2018-09-06 09:11] daviscabral commented on #3194
This should do the trick:
[code]

[2018-09-06 13:58] Luckygirlllll opened #3246 "Can't navigate to the screen with Drawer"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.1
- react-native v0.55.1

### Expected behaviour

Can navigate to the screen with the drawer and see the drawer

### Actual behaviour

Can't navigate to the screen with a drawer

### Steps to reproduce
For non-obvious bugs, please fork this component, modify Example project to reproduce your issue and include link h

[2018-09-06 14:08] Luckygirlllll opened #3247 "renderRightButton doesn't render anything"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.1
- react v16.?.?
- react-native v0.55.1

### Expected behaviour

See text in the right side of NavBae

### Actual behaviour

Don't see text in the right side of NavBar

### Steps to reproduce
For non-obvious bugs, please fork this component, modify Example project to reproduce your issue and include link here.

[co

[2018-09-06 16:38] daviscabral commented on #3206
I found out a few things about the tabBar and props - but are mostly the way things works now with React Navigation.
[![Image from Gyazo](https://i.gyazo.com/664563f57ca5a9b25a57e41c5d793359.gif)](https://gyazo.com/664563f57ca5a9b25a57e41c5d793359)

[2018-09-06 17:05] Luckygirlllll commented on #852
I have the same error. deleting /android/app/build didn't help

[2018-09-06 20:55] Luckygirlllll opened #3248 "backicon_mask.png: error: Invalid filename. Unable to add."
### Version
Tell us which versions you are using:

react-native-router-flux v4.0.1
react-native v0.55.1

### Expected behaviour

Create release apk for android

### Actual behaviour

[code]

### Steps to reproduce
For non-obvious bugs, please fork this component, modify Example project to reproduce your issue and include link here.
1. create release apk

### Reproducible Demo

Please provide a min

[2018-09-06 23:06] daviscabral commented on #3248
The `Example` project got all the configuration got be able to generate the APK without this issue, you might copy or check it to see what to do.

This commit shows more or less what I have done to bring it back to live: https://github.com/aksonov/react-native-router-flux/commit/cd74da5f28f3a0d3c33be781a7f07463ace6b00f

Just keep the focus in the `android/` folder and you will be fine.

Closing as

[2018-09-06 23:06] #3248 closed

[2018-09-06 23:27] daviscabral commented on #3246
Take a look in the Example code.
https://github.com/aksonov/react-native-router-flux/blob/master/Example/Example.js

`Stack` and `Drawer` are both navigators - and with this structure I believe you don't need both there. Try to remove Stack and make the Drawer your root. If that does not work, put the Stack inside.

[2018-09-06 23:27] #3246 closed

[2018-09-06 23:33] daviscabral commented on #3225
@pierol Now that I got deeper in that code a bit more - I believe you can get done using `onEnter={Actions.refresh}`. This will trigger a refresh every time the Scene get focused.

Other thing you might try too is to have a call with params: `Actions.key(params)`. Reopen the ticket if those solutions does not work. Also, there is an opened PR that have a few fixes and samples that show this.

[2018-09-06 23:33] #3225 closed

[2018-09-07 04:15] brickion commented on #3197
confirmed that it doesn't work for me also

[2018-09-07 06:28] dextermb commented on #3206
@daviscabral Cool, I'll give it a go and let you know 💃

[2018-09-07 06:28] daviscabral commented on #3197
I got it working in the PR that is opened: [![Image from Gyazo](https://i.gyazo.com/664563f57ca5a9b25a57e41c5d793359.gif)](https://gyazo.com/664563f57ca5a9b25a57e41c5d793359

[2018-09-07 06:30] daviscabral commented on #3206
Do it please - just need that confirmed to proceed with the release.

[2018-09-07 06:35] daviscabral commented on #3213
A note for anyone that end in this thread - there is a branch for beta - and PRs are welcome. I am not interested in working on that version (too much context to load everytime I have to switch between the different versions of react-navigation).

[2018-09-07 06:39] dextermb commented on #3206
@daviscabral I'll continue the discussion in the PR thread

[2018-09-07 08:56] daviscabral commented on #2932
PR for better documentation to avoid this confusion for other users is welcome. But yeah, looking at the code I saw that if you define `backToInitial` - it's not possible to define `tabBarOnPress` - and keeping both handlers might be even worst (and harder to debug). I believe a warning would be fine - telling the user that the `tabBarOnPress` defined will be overwritten due the `backToInitial` fl

[2018-09-07 09:00] daviscabral commented on #2932
I am pushing a PR with this change - I believe it does not hurt. :-)

[2018-09-08 18:46] Luckygirlllll opened #3249 "Error while create release apk: backicon_mask.png: error: Invalid filename. Unable to add."
Version

Tell us which versions you are using:

react-native-router-flux v4.0.1
react-native v0.55.1

Expected behaviour

Create release apk for android

Actual behaviour

Error: Invalid file name
/android/app/build/intermediates/res/merged/release/drawable-mdpi/node_modules_reactnativerouterflux_node_modules_reactnavigationstack_dist_views_assets_backiconmask.png

Steps to reproduce
create releas

[2018-09-09 20:15] skaunited opened #3250 "Cannot update during an existing state transition"
### Version
react-native-cli: 2.0.1
react-native: 0.56.0

I got this message in my warning console: "Warning: Cannot update during an existing state transition (such as within render or another component's constructor). Render methods should be a pure function of props and state; constructor side-effects are an anti-pattern, but can be moved to componentWillMount"
[code]

[2018-09-10 10:20] garenacupson opened #3251 "Tabs not show/not working in drawer main scene"
"react": "16.0.0-alpha.6",
"react-native": "0.44.0",
"react-native-router-flux": "^3.37.0",

This is my render codes:

![image](https://user-images.githubusercontent.com/12163818/45292147-de6efb00-b526-11e8-9188-63dac463eaff.png)

Any idea on why Tabs not working ?
Is it possible to fix this without update dependencies ?
![error tabs](https://user-images.githubusercontent.com/12163818/45291908-09a

[2018-09-10 16:19] ThomasLarge commented on #3181
I haven't had the chance to look into this as much as I would of liked but if someone could explain how the active state works on the title colors. I'm sure we will be able to add a new prop for the activeTabStyle

[2018-09-11 04:42] anishroff commented on #3204
@daviscabral Apologise for delay. It doesn't work this way as well. How can I help to find the issue, please assist.

[2018-09-11 08:43] davidwu220 opened #3253 "SafeAreaView not working with hideNavBar"
### Version
- react-native-router-flux v4.0.1
- react v16.4.1
- react-native v0.56.0

### Expected behaviour
Wrapping `SafeAreaView` component around `View`s should provide extra paddings (in the case of iPhone X, top and bottom).

### Actual behaviour
Bottom padding was added correctly, but the top padding was not added (see screenshot 1). An `Modal` page, however, the paddings are added correctl

[2018-09-11 09:13] daviscabral commented on #3204
@anishroff I've added support for it in a PR.

[2018-09-11 13:35] apoterenko commented on #2008
![image](https://user-images.githubusercontent.com/12325691/45363644-b217b500-b5e0-11e8-88e1-7d3a03c9c913.png)

[2018-09-11 13:37] apoterenko commented on #2008
~Two days ago that was working fine.

[2018-09-11 21:04] daviscabral commented on #2008
Thank you for reporting - but beta versions are not supported.

You can use `resolutions` in your `package.json` to lock the `opencollective` version to one that might work in your environment.

[2018-09-12 05:16] mog3n commented on #3170
@SourceCipher @aksonov were you able to get it working? I have the same problem as you- when a call Actions.jump('key'), it does not seem to animate (transition left/right) to the appropriate tab.

`<Scene
                    tabs
                    legacy
                    showLabel={false}
                    swipeEnabled={true}
                    tabBarPosition="top"
                    hid

[2018-09-12 05:54] aksonov commented on #3170
@daviscabral Could you fix tabbar for legacy before releasing of new version?

[2018-09-12 06:02] #3204 closed

[2018-09-12 06:03] aksonov commented on #3170
@mog3n You have to use latest master and `legacy` param for `tabs` scene. But now it works without `tabbar`...

[2018-09-12 08:18] daviscabral commented on #3184
I believe a custom reducer also can make it work without needing to change the lib. I am inclined to close this issue since the lib is flexible enough to allow a proper fix. What do you think?

[2018-09-12 08:21] Komalov opened #3255 "Update beta27 -> 4.0.1 bug"
### Version
#### 4.0.1
Tell us which versions you are using:

- react-native-router-flux v4.0.1
- react v16.2
- react-native v0.56

### Expected behaviour

I'm trying to update from beta27 to latest 4.0.1

### Actual behaviour

__Unable to resolve module react-navigation/src/views/CardStack/CardStackStyleInterpolator__

![screen shot 2018-09-12 at 12 12 34](https://user-images.githubusercontent.co

[2018-09-12 08:54] daviscabral commented on #3255
There is an example of how to handle transition config in the Example app inside the repo that shows the correct path to import this file.

For the most recent versions (> 4.0.1) - that's something you can use from the `react-navigation-stack` package.

For the earlier versions (<= 4.0.1) that's still part of react-navigation.

Sorry, but the error there is pretty clear, the file is not there anym

[2018-09-12 08:54] #3255 closed

[2018-09-12 09:06] daviscabral commented on #3153
Fixed on #3256.

[![Image from Gyazo](https://i.gyazo.com/84990e04356ed387ceb50ca99d448a5a.gif)](https://gyazo.com/84990e04356ed387ceb50ca99d448a5a)

[2018-09-12 09:08] daviscabral commented on #3249
Sorry, I was really trying to help. I am focusing on bugs. I hope you get the help you need.

[2018-09-12 10:06] atlkuk opened #3257 "react-native-safe-area-view@0.9.0 issue: Require cycles are allowed, but can result in uninitialized values. Consider refactoring to remove the need for a cycle."
### Version
Tell us which versions you are using:
Version 4.0.1

-->
- react-native-router-flux v4.0.1
- react v16.4.1
- react-native v0.57.0-rc.3

### Expected behaviour

That all works fine

### Actual behaviour

When i run my application this warning appears:
[code]
this is because of an old react-native-safe-area-view version, if you could upgrade it to 0.10.0 it'll be great!!

Thanks