[2016-05-07 23:44] sarovin commented on #646
Right

[2016-05-07 23:44] #646 closed

[2016-05-08 03:30] jamesone commented on #636
Any idea if/when RN 0.25 will be supported?

[2016-05-08 03:33] cridenour commented on #636
@aksonov is on a well deserved break, but I have to think we're going to wait for 0.26 as 0.25 did not include any NavigationExperimental fixes. Between the 0.24 branch and a few open pull requests, I imagine you could get pretty close though.

[2016-05-08 03:40] jamesone commented on #636
@cridenour  Fair enough! Yeah I agree, waiting until 0.26 is probably the best option (:

[2016-05-08 09:58] celloudiallo opened #652 "NavBar Title not updated when navigate to a different scene"
- react-native-router-flux v3.22.23
- react-native v0.25.1

[code]

### Expected behaviour

"Title 2" should be updated on the navbar when we navigate to home2.

### Actual behaviour
Navbar title remain "Home Page 1" regardless of which scene is active.

### Steps to reproduce

[code]

[code]

[2016-05-09 07:29] aksonov commented on #636
Does anybody tried 0.26-rc?

[2016-05-09 07:32] thelordoftheboards commented on #636
I have been able to run a knock off of the React Relay To Do (naturally with all the 0.25 import changes) example and it works great, I have not tried any navigator experimental features though so I cannot attest to how well they work.

[2016-05-09 08:03] aksonov commented on #647
@andpor Component methods must be _static_.

[2016-05-09 08:04] aksonov commented on #652
#525 ??

[2016-05-09 08:04] #619 closed

[2016-05-09 08:05] #627 closed

[2016-05-09 09:59] aksonov commented on #489
@joenoon Could you check if it is possible to merge 3.24 with latest branch and upgrade it to usage with 0.26-rc? This way we will create new branch 3.26 and then will replace master when official 0.26 will be released.

[2016-05-09 10:18] aksonov commented on #634
@NIcholasJudd Have you tried to set onRight={null} AND rightTitle={null} ?

[2016-05-09 10:21] aksonov commented on #634
@andpor It is how React Native work. NavBar is overlay which is persisted across scenes, so it cannot be part of individual Scene. As I understand it is done to support 'native' looking animations that are DIFFERENT for scene and for navbar.

[2016-05-09 11:16] sylvainbaronnet commented on #489
@aksonov import must be updated for 0.25+, there's a warning currently. I can submit a PR if you want (to 3.24 ? wait 3.26 ?)

[2016-05-09 11:35] aksonov commented on #489
@sylvainbaronnet Maybe could you integrate 3.24 into master and then update imports?

[2016-05-09 11:39] sylvainbaronnet commented on #489
Sorry I deleted my message because I realized imports were already updated in master.

[2016-05-09 11:43] charpeni commented on #567
@aksonov Welcome back!

You should setup your Git with your real git address, some commits are linked to aksonov@gmail.com and you don't get mentioned by the bot.

I added a circle.yml, but CircleCI doesn't get triggered, can you try to manually start a build and verify the link with this repo?

[2016-05-09 12:01] sylvainbaronnet commented on #489
I tried to merge 3.24 into master but there's too many conflict in `src/NavBar.js` and `src/DefaultRenderer.js` and I don't know the project enough to resolve them.

[2016-05-09 12:02] aksonov commented on #489
Probably they are caused by eslint formatting done for master branch....

[2016-05-09 12:02] aksonov commented on #489
Also I did some improvements for NavBar component.

[2016-05-09 12:13] sylvainbaronnet commented on #489
yes esling formatting but not only. If you want to take a look :

https://gist.github.com/sylvainbaronnet/3dcd34832466abe7be012d9f67d824d5

https://gist.github.com/sylvainbaronnet/a2671d94e9f548aa169473e871d476b0

[2016-05-09 12:43] alvarowolfx commented on #629
Just for the record, @ajwhite  you can force the scene to animate vertically using NavigationCardStackStyleInterpolator and getSceneStyle prop.

`
import NavigationCardStackStyleInterpolator from 'NavigationCardStackStyleInterpolator';

<Scene key="login" getSceneStyle={NavigationCardStackStyleInterpolator.forVertical}>
    <Scene key="loginScreen" component={LoginScreen} title="Login"/>
</Scene>

[2016-05-09 14:02] aksonov commented on #567
@charpeni  please check now.
I'm getting this:
[code]

[2016-05-09 14:53] charpeni commented on #567
@aksonov Fixed and merged into master.

1 eslint error remaining (except Example folder), I will fix it.

[2016-05-09 17:01] joenoon commented on #489
@aksonov I attempted to update my app to 0.26-rc last night and decided it was too early for me.  I made all of the required changes such as require react vs react-native, etc.  But the real problem was downstream in other npm modules I relied on that had not yet done the same and probably wont for a while.

But the good news for me is the 3.24 branch works fine with react-native 0.25.1.  I had br

[2016-05-09 17:09] #567 closed

[2016-05-09 17:10] charpeni commented on #613
@aksonov

[2016-05-09 17:11] charpeni commented on #628
Duplicate of #613.

[2016-05-09 17:11] #628 closed

[2016-05-09 17:14] aksonov commented on #613
@charpeni I don't have any problems with npm install, do you?

[2016-05-09 17:17] charpeni commented on #613
Sorry I didn't noticed you had answered into the PR.

I'll close this issue.

[2016-05-09 17:17] #613 closed

[2016-05-09 17:17] aksonov commented on #489
"The one issue I do run into but not sure if its known is - when switching tabs the entire UI seems to re-render (loses scroll position etc). I've been meaning to try and track this down for a while - maybe I can figure it out this week." - actually i've met this problem and it is very critical bug...

NavigationStateUtils seems necessary if user wants to use NavigationExperimental directly....

[2016-05-09 18:26] mckn commented on #619
Yes, I have tried it but without any success :/

[2016-05-09 19:54] andpor commented on #634
hmmm, i don't quite agree...buttons can be rendered based on the component that is being rendered in a given route...you already have an instance...you should be able to call methods on it in fact to render a button (and tied it up to its own local callback)..

[2016-05-10 06:34] ptomasroos commented on #557
react-native has 0.26 has now a rc released since 5 days ago.

[2016-05-10 07:10] aksonov commented on #634
The component doesn't have _instance_ of scene. It just renders scene. DefaultRenderer is stateless now. You may implement your own stateful renderer and submit PR.

[2016-05-10 08:21] aksonov commented on #617
#525

[2016-05-10 08:21] #617 closed

[2016-05-10 08:21] #647 closed

[2016-05-10 12:52] albo1337 opened #656 "Change props of previous view"
### Version

- react-native-router-flux v3.?.?
- react-native v0.24.1

### Expected behaviour
I'm doing this:

[code]
OnPress on a Button in "Home"-View I push data and go to "Products"-View. I want to change in my "Products"-View the props of my "Home"-View on button press.

For example:

Home.js has a state `loader: true`. I want to change the state in my Products.js to `loader: false`. If I pre

[2016-05-10 13:18] mvaivre commented on #489
@aksonov Yep, I think I have this problem too: while switching (push) to a scene, the component associated to this scene is **re-mounted**, and I end up having several instance of the same component! If it's not a mistake on my side, then it's indeed critical. (3.24 branch with react-native 0.25.1).

[2016-05-10 13:49] MovingGifts commented on #647
@aksonov Can you share a snippet?

[2016-05-10 13:51] aksonov commented on #647
[code]

[2016-05-10 14:01] MovingGifts commented on #647
@aksonov Thank you :+1:

[2016-05-10 15:40] joenoon commented on #489
I've been trying to track down the re-mounting issue and so far am having no luck.  From the basic logging I've added locally, it looks like previous components are unmounted as new ones are mounted when switching tabs - so its *not quite as bad* as it could be.

I'm still trying today - does anyone know if this happens in older react-native + rnrf master combos?

When I follow the component lifec

[2016-05-10 17:06] Elyx0 commented on #626
I've done it and it required a custom `renderNavigationBar`. Besides that you're building a dropdown like you would normally in React using state and `Actions`

[2016-05-10 17:08] Elyx0 commented on #636
So is .22 the latest stable or .24 is fine ?

[2016-05-10 18:05] sylvainbaronnet commented on #636
0.24 and 0.25 are _mostly_ fine the 3.24 branch but not stable

[2016-05-10 20:06] joenoon commented on #489
Its looking more like this is a problem in RN, so now I'm focusing efforts on getting my app to work with RN 0.26-stable branch which includes the commits that look relevant.  https://github.com/ericvicenti/navigation-rfc/issues/69

Will update here as I know more

[2016-05-11 01:30] tinygipxy opened #657 "Memory leak and there are alot of setState warning when rotate screen after calling screen transition"
I'm using:
- react-native-router-flux v3.2.8
- react-native v0.22.0

### Expected behaviour
App work fine when rotate screen many times
### Actual behaviour
Memory leak issue after 10-20 times rotate screen and there are alot of setState warning:
![image](https://cloud.githubusercontent.com/assets/7077139/15167388/1700ba92-175b-11e6-9dc5-f170829f1e93.png)

### Steps to reproduce

1. Download React

[2016-05-11 03:36] rturk commented on #636
@sylvainbaronnet can you describe your App/Tests? Are you, for example, using Tabs?

[2016-05-11 04:09] Mokto opened #658 "Remove shadow on DefaultRenderer"
Hi,

I do not know if this is RNRF or [navigation-rfc](https://github.com/ericvicenti/navigation-rfc) related, but is there any way to remove shadow generated by RNRF on Scenes/DefaultRenderer ?

Thanks !

[2016-05-11 05:32] CoericK opened #659 "Setting Action.x({type: 'replace'}) does nothing"
- react-native-router-flux v3.22.23
- react-native v0.25.1
- react v0.14.8

When calling Action.x({type: 'replace'}) to replace the current scene for a new one, it does nothing, not errors, or warnings (besides deprecated React.createElement)

[2016-05-11 06:42] helsont commented on #103
@CreepGin's method worked best for me:
TLDR: On your Router, use the style
`sceneStyle={{paddingTop: Navigator.NavigationBar.Styles.General.TotalNavHeight}}`

[2016-05-11 06:53] sylvainbaronnet commented on #659
This is a known bug (from RN) and 0.25 is not officially supported, See #525

[2016-05-11 06:54] sylvainbaronnet commented on #636
I use a custom NavBar and a Drawer, I was using `type="replace"` but there's a bug currently so I only use `type="push"` with `panHandlers={null}`

I don't use Tabs but I know there's a critical bug discussed here : #489

[2016-05-11 09:09] A1ex5andr commented on #382
Helped me a lot. Many thanks ))

[2016-05-11 09:11] aksonov commented on #382
@gaykov I believe you should always prefer composition over inheritance in react native world (btw, maybe it could be true for any language). As I see you are using private API of NavBar, so it easy could be broken (or already broken)

[2016-05-11 09:29] jamesone commented on #636
@sylvainbaronnet  - There's something wrong with the storage of state when using the `3.24` branch. So I wouldn't say it's stable at all!

For instance when I use `Actions.routeName({type: 'push'})`, the sceneName will not be added to the `routes` store.

[2016-05-11 09:36] A1ex5andr commented on #382
@aksonov
Pavel, what is the best way to hide navigation drawer after any onPress={Action ...}

[2016-05-11 09:38] aksonov commented on #382
@A1ex5andr It is out of scope for this component. You will probably need onPress={()=>{Action.NAME();drawer.hide()}

[2016-05-11 09:46] SunnyGurnani opened #660 "Why does it create new instances of component every tab switch?"
We found that this router is creating new objects and calling constructor() of component on Tab Switch.

This make it really slow and un useful. Are we first to find this out ?
Is there a workaround ?

[2016-05-11 09:47] aksonov commented on #660
#525 ?

[2016-05-11 10:00] A1ex5andr commented on #382
Exactly 👍 Thanks a lot ))

[2016-05-11 10:12] sylvainbaronnet commented on #636
I did say it was not stable... although it works fine me as temporary solution

[2016-05-11 12:31] albo1337 commented on #656
Is that even possible?

kind regards
albo1337

[2016-05-11 15:02] seanfuture commented on #607
Running 0.22.2 of React Native resulted in same console log so in Actions.js the following change solved it for myself for now:

**Before**
[code]
**After**
[code]
.. where the `console.log("Key " + root.key + " is already defined!");` statement appears below this.

Hope this helps

[2016-05-11 15:25] Elyx0 commented on #656
There is different ways to solve this issue, I recommend you check other people issues (open/closed) about custom navigation bar, and/or integration with flux/redux.

[2016-05-11 15:27] Elyx0 commented on #636
Yeah I need the full power of RNRF, meaning tabs & replace & navigationState & static navigationBar, so v22 is  pretty much a safe heaven for now.

[2016-05-11 15:33] danieldunderfelt commented on #636
I hope everyone knows that the 2.x branch is stable and works great (fork and modify if you need to get rid of RN0.25 warnings). I'm using it right now and I miss nothing from 3.x.

If you want to use RN0.24/25 right now with a stable RNRF and not lose out on features, I highly recommend it.

[2016-05-11 15:40] ndarilek commented on #636
How difficult is the 3.x upgrade path? Right now I have a hand-rolled
router but would like to switch to Redux, and cleaning up the router
logic would make that easier. I just don't know what my situation will
be if I start with 2.x when 3.X becomes compatible.

Thanks.

[2016-05-11 15:43] danieldunderfelt commented on #636
Upgrading from 2.x => 3.x is super easy. Just change `Route` to `Scene`, the `name` prop to `key` and remove your `Schema`s. There might be something else for features I haven't used, but that's it in a nutshell.

[2016-05-11 15:55] kitolog opened #662 "Scene preloading"
Hi, I'm using v3 and I need to preload some scene before it using. Scene contains video and I want to do something like:
1. On scene1 we do nothing
2. On scene2 we preload sceneVideo.  Preloading needed for video caching.
3. When user goes out somewhere from scene2 (to scene3, scene4,... etc) we show preloaded sceneVideo
4. return back to needed scene (scene3, scene4,... etc)

So, my question is:

[2016-05-11 16:05] greatwitenorth commented on #226
Is there a way to set it for a specific scene even if I'm not currently on that scene? ie
[code]

[2016-05-11 16:31] rturk commented on #662
My two cents: RNRF manages the App navigation stack, just like any other framework it will not help with when and how you'll render and show stuff . For your use case you could use a app state (via redux for example) to decide when to show or not the Video.

My question is: Do you really need to preload a video? If you need to preload a VIdeo you shouldn't be using it in a MobileApp.. Think about

[2016-05-11 16:42] anthonywebb opened #663 "From within a scene, put an icon in the navbar"
I have a scene/component that has a form, once the form is complete I would like to put a save button up on the right side of the navbar.  Can the navbar be manipulate by code inside a scene?  Or is it only possible to add/remove navbar buttons when you initially set up your router and scenes?

Thanks!

[2016-05-11 17:05] SunnyGurnani commented on #660
You are right that was the issue we thought any version greater then 0.22 will work with the router.
Thanks for quick response.

[2016-05-11 18:30] ndarilek commented on #515
Can anyone create the react-native-router-flux tag on SO? I can't, I need 1500 reputation. I have a question but unfortunately Gitter is inaccessible to me, and since I can't create the SO tag I don't know where to ask it.

Thanks!

[2016-05-11 19:59] #659 closed

[2016-05-11 23:33] wireblue commented on #663
Hi @anthonywebb,

I believe this is one way of doing it.
https://github.com/aksonov/react-native-router-flux#sub-scenes-support

I've not used this feature before, but I would imagine you'd setup a "save" sub-scene (with a key of "form_save" for example) and run `Actions.form_save()` when you want the save button shown.

I'm sure there are other ways of achieving a similar result also.

[2016-05-12 01:28] jamesone commented on #636
Can confirm that the current `master` branch is more stable than the `3.24` branch when using `react-native 0.24.1`

Fixes I've noticed:
- type: Replace, this will actually replace the previous scene and not show the previous scenes content.

Confirmed working:
- type: pop, works as expected

Problems:
As I was writing this, I noticed one major problem, I'll open up a new issue.

[2016-05-12 01:37] jamesone opened #664 "current master branch navigationState conflict on RN 0.24.1"
As I was testing the `master` branch everything seemed to be working fine until I noticed one critical problem when changing scenes using `type: push`.

I pinpointed the issue to this snippet of code in the `DefaultRenderer.js` file:
[code]

I noticed that my console.log was printing twice in a row before the following error occured:

`ExceptionsManager.js:61 navigationState.children[1].key "scene

[2016-05-12 01:39] jamesone commented on #664
#636 Branched off from this issue

[2016-05-12 02:49] devux opened #666 "Process 'command 'node'' finished with non-zero exit value 1"
Hello all,
I'm getting these error while building APK using this https://facebook.github.io/react-native/docs/signed-apk-android.html

Error:
uncaught error Error: TypeError: /home/devux/Desktop/events-photo-react/node_modules/react-native-router-flux/src/NavBar.js: Property object of JSXMemberExpression expected node to be of a type ["JSXMemberExpression","JSXIdentifier"] but instead got "MemberE

[2016-05-12 04:25] joenoon commented on #636
@jamesone could you try this PR instead of yours and see if it fixes the issue you ran into? https://github.com/aksonov/react-native-router-flux/pull/667

[2016-05-12 04:30] joenoon commented on #660
@SunnyGurnani ive added a 0.26-wip branch: https://github.com/aksonov/react-native-router-flux/tree/0.26-wip

It brings back the old behavior where all tabs are loaded, however there is a bug I haven't been able to figure out yet related to the "selected" tab changing on load.  But if you are trying to get things working with > 0.22 then it might make sense to check that branch out.

[2016-05-12 04:34] anthonywebb commented on #663
I'll have to give that a try.

I am also wondering if maybe this can be done via Actions.refresh() ?

[2016-05-12 04:40] joenoon commented on #489
Unfortunately the changes upstream in RN that I thought would fix the tab-switching issues actually didn't fix it.  Now my app works with 0.26 though, which was quite a challenge in itself.

I've started a 0.26-wip branch: https://github.com/aksonov/react-native-router-flux/tree/0.26-wip

It brings back the old behavior where all tabs are loaded at the same time, however there is a bug I haven't b

[2016-05-12 05:02] albo1337 commented on #656
I don't have problems with my navigation bar. I want to change props of my root scene while being on a child scene.

Kind regards and thank you for your response

[2016-05-12 07:08] jamesone commented on #489
@joenoon @aksonov - I'd find it a lot easier if the code were commented? I'd like to start contributing a bit, but the code is foreign to me! I'm not really sure what's doing what, I think comments would help developers new to the project.

[2016-05-12 07:47] SunnyGurnani commented on #660
Just to add one more thing when we used >0.22 transitions were always horizontal even when we set it as vertical. But when we downgraded to RN 0.22 it worked fine.

[2016-05-12 09:18] aksonov commented on #636
@joenoon Glad to see that you start working on 0.26-wip, i've made some fixes, Example seems to work good! I've got only strange warning:
![simulator screen shot 12 may 2016 11 15 28](https://cloud.githubusercontent.com/assets/1321329/15209750/374211c4-1833-11e6-9db8-b4ba86631252.png)

[2016-05-12 09:21] aksonov commented on #666
#525 ??

[2016-05-12 09:21] aksonov commented on #666
666 issue should be like this ;)

[2016-05-12 09:23] joenoon commented on #636
@aksonov cool! i have a PR upstream for that warning: https://github.com/facebook/react-native/pull/7518

you could try silencing it for now:
[code]

also working on what i think will be a better tab component, but will see what you did and we can compare notes

[2016-05-12 09:41] joenoon commented on #636
@aksonov check out https://github.com/joenoon/react-native-router-flux/tree/0.26-wip if you get a chance.

I didn't want to push that commit into your repo without first getting approval.  I think that tab library is a big improvement since its smart about not rendering the content of the tab until the tab is active.  It also seems to fix or avoid the issue I was running into with my app, where on

[2016-05-12 09:43] aksonov commented on #636
Hm, i don’t see any changes comparing to 0.26-wip branch…
https://github.com/joenoon/react-native-router-flux/compare/0.26-wip...aksonov:0.26-wip?expand=1

[2016-05-12 09:44] aksonov commented on #636
Ops, see it now.

[2016-05-12 09:53] aksonov commented on #636
@joenoon Looks good (after your fixes will be approved for navigator), have you checked Example project? Btw, i see NavigationView is removed from latest RN master, maybe we could do the same within 0.26-wip?

Another idea is to move TabBar to separate component and require setting component prop (so no default TabBar).

[2016-05-12 10:19] bosung90 commented on #663
yes you can do it with Actions.refresh({})
just override rightButtonImage and onRight or use other props if you want only text.

[2016-05-12 10:26] bosung90 commented on #662
You can try using tabbar without showing tabbar icons.
After showing Scene 1, you can push tabbar
Tabbar has 2 tabs:
Tab1 has Scene 2 3 4 ... etc
Tab2 shows preloaded scene Video.
You can fire off loading the video at the same time you push the tabbar scene

[2016-05-12 10:34] bosung90 commented on #657
Have you tried adding
shouldComponentUpdate(){
return false
}
??

[2016-05-12 11:57] #660 closed

[2016-05-12 11:58] aksonov commented on #658
Could you show screenshot? Also could you check 0.26-wip to see if it is fixed there (then it means that it was bug of navigation-rfc)

[2016-05-12 11:59] aksonov commented on #656
Have you tried Actions.refresh({key:SCENE_KEY, ..data}) ?

[2016-05-12 12:05] albo1337 commented on #656
I'm actually trying to change the props of my parent view while being on a child view.

My problem is, that if I go to a child view from a parent view, my parent view is still running. If I could set it onPause state (or something like that) while being on child view my problem would get solved...

[2016-05-12 12:06] albo1337 commented on #656
http://stackoverflow.com/questions/37180919/change-props-of-parent-view-in-react-native

Here I have opened a question where I explain it with more details.

Thanks for your respond @aksonov

[2016-05-12 12:36] tinygipxy commented on #657
Good suggest :-), why don't you tell me use static html instead of React

[2016-05-12 12:38] aksonov commented on #657
@tinygipxy I suggest you to try experimental 0.26-wip branch with react native 0.26.0-rc. Looks like it is RN issue, not this component.

[2016-05-12 15:13] rturk commented on #607
@cmouysset can you try again using the latest master? FYI (https://github.com/aksonov/react-native-router-flux/commit/900ba4299faff2099b91e8002bf2256892cee652)

[2016-05-12 17:36] simman commented on #103
@helsont ,Can be used in a root sceneStyle?  I use it in the `Scene key="root"` does not work, but I use in `Scene key="WebView"`, it can work .

[code]

[2016-05-12 19:09] bosung90 commented on #657
@tinygipxy That's what you say to someone who is trying to help you out?

[2016-05-12 20:07] jasongaare commented on #629
@alvarowolfx thanks for this! Is there a way to get it to come in from the top rather than the bottom with this?

[2016-05-12 22:28] cridenour commented on #636
If we do remove the default TabBar, we should make sure it's included in the Example - because even though I use a custom one for various reasons, seeing how the default one changes in each release helps me keep up to date with the best ways to use DefaultRenderer.

[2016-05-12 23:30] joenoon commented on #636
@aksonov I started working off of the Example project.  Do you know any nice way around needing to `rm -rf node_modules/react-native-router-flux/ && npm i` after every src change when working on the Example project?  I know one way but its very hacky.

I've updated my 0.26-wip branch to make the tab/nav work out of the box a bit more, and added some examples of more advanced hide nav/tab tracking

[2016-05-13 04:47] anthonywebb opened #671 "404 looking for image icons"
Running the latest version of RNRF, I can run fine on the simulator, but when I create a jsbundle and host it on my server, the server logs show lots of these:

info: 404 Not found - /assets/node_modules/react-native-router-flux/src/back_chevron.png?platform=ios&hash=02819ce128c1fdd2dba04dcf203939d8

and, none of the navigation icons show up.

I kind of assumed the icons would be baked into the bu

[2016-05-13 07:09] joenoon commented on #636
@aksonov FYI i ended up finding a neat way to speed up the dev flow: https://github.com/joenoon/react-native-router-flux/commit/ea0a2603f344df637272ed2e7f9d839a1f41ee7b

[2016-05-13 07:16] aksonov commented on #636
@joenoon Fantastic, will try it! For now i just edited RNRF inside node_modules/react-native-router-flux and then copied it to RNRF own folder

[2016-05-13 07:17] aksonov commented on #636
Will you merge all things into 0.26-wip?

[2016-05-13 07:17] aksonov commented on #636
Ok, i agree about default tab bar, however be ready that it will raise more issues ;)

[2016-05-13 07:23] joenoon commented on #636
@aksonov 0.26-wip updated!  Yes, I understand about the tab bar and issues :)

[2016-05-13 14:34] Mokto commented on #658
![img_0113](https://cloud.githubusercontent.com/assets/5103928/15251169/1cabff82-18f6-11e6-8a9e-1ba426b39dec.PNG)

I hope you see it clearly but everything around a Scene container has a black shadow.

I even had to set my custom navbar to position: 'absolute' to hide this shadow.

This behaviour exists since 3.0.

[2016-05-13 14:38] tinygipxy commented on #657
@bosung90 Nothing serious here, thank you anyway
@aksonov you tried to use this component (3.22.23) with react-native 0.26.0-rc, but got issue "Super expression must either be null or a function, not undefined" that caused by :
`import {Scene} from 'react-native-router-flux'` command

[2016-05-13 15:02] cridenour commented on #657
@tinygipxy You also need to use the 0.26-wip branch..

[2016-05-13 16:07] tinygipxy commented on #657
@cridenour Can you help to explain it more ? what is 0.26-wip and where can I get it ?

[2016-05-13 16:37] ArEnSc opened #674 "scenes Actions.create is broken ?"
### Version
v3 is SLOW for Android right now (because React Native ExperimentalNavigation is slow), see #355, no need to create new issue!
Tell us which versions you are using (react native 0.22 is required for v3!):

"react-native-router-flux": "^3.22.23",
"react-native": "^0.25.1",
### Expected behaviour

Supposed to show tabs

### Actual behaviour

Doesn't show tabs

### Steps to reproduce

Do

[2016-05-13 16:39] aksonov commented on #674
#525!!

[2016-05-13 16:39] #674 closed

[2016-05-13 18:09] cridenour commented on #657
It's a branch on this project.

In your package.json, update this library to read
`"react-native-router-flux": "aksonov/react-native-router-flux#0.26-wip",`

Then run `npm install` again.

[2016-05-13 18:48] xvalentino commented on #662
I need to do this exact thing. On android there was a bug with using the tabbed views. Because the component wouldn't render the tab or update it if it was not in focus. Let me know if you figure this out, I'm still working on this.

https://github.com/aksonov/react-native-router-flux/issues/599

[2016-05-13 22:46] CoericK commented on #659
@sylvainbaronnet @cridenour So what should i do? Lower my RN Version ?

[2016-05-13 22:49] cridenour commented on #659
Most people are sticking with 0.22 for the time being. You're welcome to try the beta branch `0.26-wip` on this project and use the `0.26-rc` version of react-native. Or as others have pointed out, try using the 2.x branch of this project.

I realize none are ideal, but most of the bugs are upstream in react-native.

[2016-05-14 01:15] alanzanattadev commented on #525
Am I the only one who has a problem with renderRightButton ? It worked with 0.22 but doesn't work anymore. Nothing is displayed, or maybe it's under the navbar layer.

[2016-05-14 07:08] tinygipxy commented on #657
Yes, branch 0.26-wip with react 0.26.0-rc don't have this issue

[2016-05-14 11:04] ms88privat commented on #663
@anthonywebb I tried the sub-scenes thing @wireblue mentioned and it did work for me.

[2016-05-14 11:43] Evinon opened #675 "Image Flickering when navigating to another View"
### Version
- react-native-router-flux v3.22.23
- react-native v0.24.1
- react v0.14.8

### Expected behaviour
I do expect that the Images ( does not matter where they are ) do not get re-rendered when I move to another View.

### Actual behaviour
I do have two Screens which both use the same NavBar as defined in the Root-Scene.
When I Navigate from one View to another then the Image which is plac

[2016-05-14 11:44] aksonov commented on #675
#525

[2016-05-14 11:46] Evinon commented on #675
@aksonov -.- Sorry, my fault.

[2016-05-14 12:53] #675 closed

[2016-05-14 12:56] #664 closed

[2016-05-14 16:10] itinance opened #676 "Actions aren't fired within react-native-side-menu based components"
### Version
- react-native-router-flux v3.22.23
- react-native v0.25.1

Can you give some hints about correct usage of react-native-router-flux together with react-antive-side-menu?

Following the docs is the most outer element a < SideMenu >, encapsulating the < Router >-Component, like so:

[code]

Doing this everything works fine, but when i place some buttons with actions inside the side menu,

[2016-05-14 18:37] cridenour commented on #676
This sounds like #525. Feel free to re-open if you find this with 0.22.

[2016-05-14 18:37] #676 closed

[2016-05-14 19:01] itinance commented on #676
Don't know what you mean. None of the listed issues in #525 are related to this issue. Also i use react-native 0.25 and not 0.22.
Please correct me if i misunderstood you

[2016-05-14 22:32] davidfloegel commented on #92
Sorry for bringing this up again!

If I wrap a Router in the <SideDrawer /> I can't seem to access the context anymore and therefore not open/close the sidebar.

Any ideas? @mmazzarolo

[2016-05-14 22:35] BigPun86 commented on #92
Not sure what u mean exactly...But this is how i implemented my Router with SideMenu (react-native-drawer)

    .............................
    <SideDrawer ref="drawer" router={this.refs.router}>
					<Router
						ref="router"
						firstRoute={{
    .......................

    export default class SideDrawer extends Component {

	constructor(props) {
		super(props);
	}

	render() {
		var user

[2016-05-15 10:28] davidfloegel commented on #92
Hmm yeah that is strange you see..

My Main Component:
`
class App extends Component {
    render() {
        return (
            <Router key='mainrouter' name='router' sceneStyle={ styles.router }>
                <SideDrawer key='drawer' ref='drawer' router={ this.refs.router }>
                    <Router ref='router' key='root' duration={ 100 }>
                        <Scene key='home' initi

[2016-05-15 17:03] wootwoot1234 opened #679 "ActionSheets"
I read in the readme that PR with alternatives to ActionSheets are welcome.  What did you all have in mind?  Why aren't ActionSheets supported?  Happy to lend a hand.

[2016-05-15 18:50] joenoon commented on #658
@Mokto I just updated the 0.26-wip branch to allow overriding the NavigationCard's default shadows.  Check the Example project on that branch and specifically `getSceneStyle`.

[2016-05-15 18:55] BigPun86 commented on #92
@davidfloegel do you have gitter? So we could solve it there....

[2016-05-15 18:56] joenoon commented on #663
@anthonywebb Actions.refresh or sub-scenes should do the trick here.  Please re-open if there are any issues.

[2016-05-15 18:56] #663 closed

[2016-05-15 19:12] davidfloegel commented on #92
Just got an account! davidfloegel is my username!

[2016-05-15 23:01] itinance opened #680 "Using redux fails"
I tried to use this router component with redux passing state and actions and ran into several issues.
Thus i tried to fill up an already existing redux example application with this routing-approach.

However, it doesn't work and produce an error "Action should be defined".

I published an example project "Counter" on github for reproducing: https://github.com/itinance/example-react-native-redux-

[2016-05-15 23:09] itinance commented on #328
Why is this closed? Having the same issue: https://github.com/aksonov/react-native-router-flux/issues/680

[2016-05-15 23:31] itinance opened #681 "Using redux: passing state to a scene won't update on state modifications"
**Versions**:
    "react-native": "0.22.2"
    "react-native-router-flux": "3.22.23"

**The issue:**

Building a react native app using redux and this router library will not work together as expected.
Reducers are working fine, but the state will not being updated in nested components.

Won't work:

[code]

HomeScreen:

[code]

Using no router this will work fine on state updates:

[code]

[2016-05-16 08:29] andyshuxin opened #683 "How to Force Navigation Bar to re-render"
Update: I found a work around, by calling `Actions.refresh({leftButtonImage: null})` in `clickTrash`

### Version
"react-native-router-flux": "3.22.23",
"react-native": "0.24.1",

### Expected behaviour
<img width="487" alt="screen shot 2016-05-16 at 16 19 24" src="https://cloud.githubusercontent.com/assets/233354/15284151/38d81252-1b82-11e6-82f6-d563ec014503.png">
I have a UI like this. I like th

[2016-05-16 11:23] shraddha1704 opened #684 "Is it possible to have a fixed view of fixed width/height outside a router?"
### Version
react native 0.22.2
- react-native-router-flux v3.x

### Expected behaviour
A small fixed view should be present on top of each scene.

### Actual behaviour
View outside Router tag does not work.

`<View style={{flex:1}}>
<Provider store = {store}>
            <Router hideNavBar={true}>
                <Route name="s1" component={s1} initial={true}/>
                <Route name="s2" co

[2016-05-16 11:26] itinance opened #685 "Scenes seems to be recreated on every dispatched redux action"
### Version

- react-native-router-flux v3.22.23"
- react-native 0.22

When using router-flux together with redux, it seems that the scenes are recreated on every action that was dispatched.

![screen shot 2016-05-16 at 13 09 50](https://cloud.githubusercontent.com/assets/1758597/15288164/bca0fe9c-1b68-11e6-8ea3-c8862335863c.png)

Console.log will be flooded with "Key $SceneName is already defined

[2016-05-16 11:28] itinance commented on #681
I published an [example application](https://github.com/itinance/react-native-router-flux/tree/master/ExampleRedux) as an entire copy of the original example application, which demonstrates this issue. In the launch screen i placed a simple counter with "increment" button. The counter is being incremented well in state, but not the view:

[2016-05-16 11:31] aksonov commented on #685
Omg, #525 again? Why people don't check existing issues first? I've put 0.22 version even into title of the project, but it didn't help, people are creating and creating new issues with non-supported versions of React Native...

[2016-05-16 11:33] itinance commented on #685
Holy... i interpreted this as a "minimum version", not the exact required version. Thx man

[2016-05-16 11:34] itinance commented on #685
But, this example is based on 0.22, the issue remains (i wrote it wrong in my opener comment)

[2016-05-16 11:35] itinance commented on #685
https://github.com/itinance/react-native-router-flux/blob/master/ExampleRedux/package.json#L10

[2016-05-16 12:00] 009dollar commented on #684
I am facing a similar issue. has anyone found a solution?

[2016-05-16 13:30] dominicmh opened #686 "Actions.callback is not defined!"
### Version
- react-native-router-flux v3.22.8
- react-native v0.24.0-rc5

### Issue
I'd expect that as soon as the Router is rendered, Actions has a callback for all scenes to transition to.

In my app I tried to transition to a login scene if the user isn't logged in at start. However, I get an error as soon as Actions.login() in the componentDidMount() function is executed:

If I try to do the

[2016-05-16 15:12] Mokto commented on #658
Ok thanks man !

[2016-05-16 15:12] #658 closed

[2016-05-16 16:12] rturk commented on #686
@dominicmh
FYI https://github.com/aksonov/react-native-router-flux/issues/525

Considering https://github.com/aksonov/react-native-router-flux/issues/636 and that RN26 will be released within the next couple of days please close this issue

[2016-05-16 17:02] greatwitenorth opened #687 "Adding styles to a tab bar causes poor performance"
### Version
- react-native-router-flux v3.22.23
- react-native v0.22.2

### Expected behaviour
When I add a style to a tab bar I expect the style to show and the application to retain the same level of performance (memory, cpu usage etc) before the style was applied

### Actual behaviour
The style is displayed correctly, but as I navigate to several screens the ram and CPU usage climb rapidly unti

[2016-05-16 17:47] charpeni commented on #686
I'll close this issue as @rturk said 0.26.0 version will be landed soon. (react-native and react-native-router-flux)

If you still get this issue with 0.26.0, please reopen it.

[2016-05-16 17:48] charpeni commented on #687
On iOS, Android or both?

[2016-05-16 17:53] charpeni commented on #679
Thank you for asking.

cc @aksonov.

[2016-05-16 18:02] charpeni commented on #666
I'll close this issue since 0.26 will be landed in few days.

If you still get this issue with 0.26.0 (both updated react-native and react-native-router-flux), please reopen it.

[2016-05-16 18:02] #666 closed

[2016-05-16 18:03] greatwitenorth commented on #687
I've only tested on iOS. It happens on both the simulator and an actual device.

[2016-05-16 18:41] cridenour commented on #684
You could use `src/TabBar.js` as inspiration for rendering a child scene with a "static" component.

[2016-05-16 18:47] charpeni commented on #657
I'll close this issue since it's resolved by 0.26.

Thank you @tinygipxy.

[2016-05-16 18:47] #657 closed

[2016-05-16 18:50] charpeni commented on #656
I'll close this issue since it was answered on Stack Overflow.

[2016-05-16 18:50] #656 closed

[2016-05-16 18:51] charpeni commented on #652
I'll close this issue since 0.26 will be landed in few days.

If you still get this issue with 0.26.0 (both updated react-native and react-native-router-flux), please reopen it.

[2016-05-16 18:51] #652 closed

[2016-05-16 18:52] charpeni commented on #633
I'll close this issue since 0.26 will be landed in few days.

If you still get this issue with 0.26.0 (both updated react-native and react-native-router-flux), please reopen it.

[2016-05-16 18:52] #633 closed

[2016-05-16 18:58] Mbompr commented on #419
Hi @cgreening apparently you did not have time to turn it into a PR. By any chance, could share with us your custom reducer, I am facing the same problem.

[2016-05-16 19:53] charpeni commented on #520
I'll close this issue since 0.26 will be landed in few days.

If you still get this issue with 0.26.0 (both updated react-native and react-native-router-flux), please reopen it.

[2016-05-16 19:53] #520 closed

[2016-05-16 23:43] EricWithCare commented on #634
I agree, I'm having a hard time figuring out how to do this. I can see how you might want to hide/show a right button based on the state of the rendered scene (eg. a Save button). This also applies to the title, where the content of the title depends on a server response returned upon mounting of a scene/component. How would I do that?

[2016-05-17 03:26] devux commented on #666
I've modified my babelrc file now its working

[2016-05-17 05:47] yanghuxiao opened #690 "Use tabbar,Click the tab item,the page will render again."
### Version
- react-native-router-flux v3.24.1
- react-native v0.24.1

### Expected behaviour
when i go to the listview page,the listview's data loaded,then i scroll to the end,now I click the tab item to change the page.but i click the tab to go to listview,the data loaded again,and it scroll to the top.
i want to keep the listview state.don't want to reload the data and scroll to top.

### Actua

[2016-05-17 05:55] ismeteor opened #691 "RCTRootView.h' file not found"
### Version
v3 is SLOW for Android right now (because React Native ExperimentalNavigation is slow), see #355, no need to create new issue!
Tell us which versions you are using (react native 0.22 is required for v3!):

- react-native-router-flux v3.?.?
- react-native v0.?.?

### Expected behaviour

### Actual behaviour

### Steps to reproduce

1.
2.
3.

[2016-05-17 07:33] ptomasroos commented on #690
See #525

[2016-05-17 07:36] ptomasroos commented on #687
Can you create a repo with the code @greatwitenorth ?

[2016-05-17 07:37] aksonov commented on #679
@wootwoot1234 You may check existing Modal, TabBar and do the same for ActionSheet.

[2016-05-17 07:41] aksonov commented on #619
Sorry, i can't reproduce, maybe you don't use RN0.22

[2016-05-17 09:33] anguskwan opened #692 "how to use system Icon for navbar button?"
thx.

[2016-05-17 10:14] AlexDM0 commented on #692
Simply define your own icon definition:

[code]

with:

[code]

[2016-05-17 12:54] DavidBrear opened #693 "Issue Causing ReactNative.createElement"
### Version
v3 is SLOW for Android right now (because React Native ExperimentalNavigation is slow), see #355, no need to create new issue!
Tell us which versions you are using (react native 0.22 is required for v3!):

- react-native-router-flux v3.22.23
- react-native v0.25.1

### Expected behavior

Source code on github for version 3.22.23 has

[code]
inside of `Scene.js` (there are other files b

[2016-05-17 13:50] charpeni commented on #693
@aksonov didn't publish `react-native-router-flux` to npm since 3 weeks, I guess a new release will be published when 0.26 will land.

[2016-05-17 13:56] davidfloegel commented on #632
Has there been any solution to this yet? Or any more ideas?

[2016-05-17 14:55] cridenour commented on #632
Still waiting to see if this is an issue with the library or mis-matched versions. Can anyone try this on 0.26-rc with the 0.26-wip branch here?

[2016-05-17 14:57] cridenour commented on #693
For the time being, I suggest you change your package.json to use `askonov/react-native-router-flux#0.26-wip` if you really need to use anything beyond 0.22.

[2016-05-17 14:59] cridenour commented on #691
This is a problem with your react-native installation, not this library. Feel free to jump in the Gitter to ask for more general help though!

[2016-05-17 14:59] #691 closed

[2016-05-17 15:00] DavidBrear commented on #693
Sounds good. I just wasn't sure since it says it's version 3.22.23 via NPM but the code is slightly different from what's available from master branch. I honestly just went into each of the files and manually changed it to use `react` which solved the warning problem. Not my finest moment but it worked.

[2016-05-17 15:00] #693 closed

[2016-05-17 15:33] sathyakumarseshachalam opened #694 "Unable to run tests with Mocha"
### Version
- react-native-router-flux 3.22.23
- react-native v0.22.0
- mocha 2.4.5

### Expected behaviour
Running test using mocha.
[code]

### Actual behaviour
Get an error like
[code]

[2016-05-17 16:02] davidfloegel commented on #632
Ok thanks!
I will see if I have some spare time tonight then I can try it!

[2016-05-17 17:41] joenoon commented on #683
Looks like you solved it with Actions.refresh which is correct, so I'll close.

[2016-05-17 17:41] #683 closed

[2016-05-17 17:48] joenoon commented on #687
@greatwitenorth if possible you might want to try with the 0.26-wip branch.  RN 0.26 stable is right around the corner and the react-native-router-flux 0.26-wip branch has quite a few changes - especially dealing with the TabBar.

[2016-05-17 17:49] joenoon commented on #690
@yanghuxiao  if possible you might want to try with the 0.26-wip branch. RN 0.26 stable is right around the corner and the react-native-router-flux 0.26-wip branch has quite a few changes - especially dealing with the TabBar.

[2016-05-17 17:49] #690 closed

[2016-05-17 18:02] joenoon commented on #692
@anguskwan You can't use a system icon by default.  You could implement your own TabBar using TabBarIOS, which has a systemIcon property: https://facebook.github.io/react-native/docs/tabbarios-item.html#content

But IMO I would use react-native-vector-icons and check out the react-native-router-flux 0.26-wip branch which has a new tabbar implementation, and provide the icon as @AlexDM0 explained.

[2016-05-17 18:02] #692 closed

[2016-05-17 18:26] joenoon commented on #489
@jamesone I know what you mean.  I think there is a lot going on - NavigationExperimental changes upstream, RNRF used to be its own thing from my understanding (2.x), but now more of an extension/default/implementation on top of NavigationExperimental (3.x).  But its sometimes difficult to keep straight where NavigationExperimental ends and RNRF begins.  But please feel free to ping me on gitter a

[2016-05-17 18:26] #489 closed

[2016-05-17 18:28] #359 closed

[2016-05-17 18:46] aestrro commented on #405
Actually, I'm getting the same error on the `burger menu (menu burger) <- lolz`

![hamburgerissue](https://cloud.githubusercontent.com/assets/1408518/15334868/cd051fea-1c24-11e6-9dda-7049c3ee718c.png)

[2016-05-17 18:49] lwhiteley commented on #405
i stopped my packager and ran `watchman --watch-del-all` and then restarted my packager and it started working for me

[2016-05-17 21:52] danawoodman commented on #680
What is the full stack trace?

Why are you passing in actions like you did? Why not instead use the `Actions` method?

[code]

Also, did you follow [this guide](https://github.com/aksonov/react-native-router-flux/blob/master/docs/REDUX_FLUX.md)?

[2016-05-17 23:10] cridenour commented on #692
Just for fun, here is a working tabIcon for our tab bar. Obviously you probably don't want our design, but figured I keep everything in there to get you started.

[code]

And how we use it

[code]

[2016-05-17 23:12] cridenour commented on #694
Duplicate of #628 - feel free to continue conversations there if this is a blocker for you.

[2016-05-17 23:12] #694 closed

[2016-05-18 00:46] danawoodman opened #695 ""replace" and "reset" not working?"
### Version
v3 is SLOW for Android right now (because React Native ExperimentalNavigation is slow), see #355, no need to create new issue!
Tell us which versions you are using (react native 0.22 is required for v3!):

- react-native-router-flux v3.22.22
- react-native v0.24.1 (react 0.14.8)
- redux 3.5.2

### Expected behaviour

Calling `Actions.someAction({ type: 'replace' })` (or `reset`) should

[2016-05-18 00:59] yanghuxiao commented on #690
@joenoon thank you

[2016-05-18 01:55] sunnyyants commented on #695
Yes, I have the same situation when I try to use reset after authentication...

[2016-05-18 03:40] cridenour commented on #695
#525 !

[2016-05-18 03:40] #695 closed

[2016-05-18 08:15] itinance commented on #680
@danawoodman for registered routes is Actions the right choice as you wrote. But those route-Actions are pretty working. My issue is, that my own actions aren't working that way and they have nothing to do with the route-actions in "Actions" from react-native-router-flux. Anyway, i've got the solution, will share it in a new comment

[2016-05-18 08:18] itinance commented on #680
To make custom actions work, every component needs apparently to be connected with redux' "connect" method. This commit will solve my issue: https://github.com/itinance/react-native-router-flux/commit/65db001441406878a56b4ee8215825ae44ad4626

But i'm wondering about. In another project i switched to "react-native-router-redux", which works pretty well with connecting the actions only once in the r

[2016-05-18 11:31] rodan-lewarx commented on #666
@devux Hi, I have the same issue. What have you modified in your babelrc? Thanks

[2016-05-18 11:38] fabriziomoscon commented on #199
I was trying the Example updated as of today with both a real Android devide and simulator and it was simply unusable.
I tried to update `package.json` so to use the latest `react-native` `"react-native": "^0.25.1",` and now it runs pretty smooth.

[2016-05-18 13:27] luisfuertes commented on #113
On android cant center image on navBar.

Code of renderTitle:

[code]

And navBar style:
[code]

[2016-05-18 15:18] sathyakumarseshachalam commented on #628
@cridenour : I see this issue as closed. But I am not able to clearly see a resolution. Do you have a recommendation / steps to fix the issue

@sattaman : Were you able to resolve the issue ?

[2016-05-18 15:28] sattaman commented on #628
@sathyakumarseshachalam I was able to get this project transpiling

http://stackoverflow.com/questions/37251534/how-to-test-project-when-3rd-party-modules-used-arent-transpiled

I have also moved my references to this project into my container components, which has allowed me to test my inner ones,

My current error thrown by this component is due to NavigationExperimental not being mocked, I noti

[2016-05-18 16:17] heimuya commented on #636
@sylvainbaronnet can you show your example about how to use rnrf(3.22.23) with drawer? My rn version is 0.24.1

[2016-05-18 21:13] joenoon opened #697 "Unable to resolve module buffer"
@ronak301 ran into this on gitter and I tracked it down to a recent release of "assert".  I've created an issue over there: https://github.com/defunctzombie/commonjs-assert/issues/20

For now, I've updated the 0.26-wip branch to lock "assert" @ 1.3.0 : https://github.com/aksonov/react-native-router-flux/commit/15696515400126b74ce8ff93ca42ec558be58d44

Any ideas how to address it in the existing ve

[2016-05-18 21:36] ronak301 commented on #697
Ya this have solved my problem for the time being. Thanks to @joenoon for quick reply.

[2016-05-18 22:19] JimmyStavros commented on #697
I'm still having the same issue even after manually installing the dependency, anything else I can try?

[2016-05-18 22:21] joenoon commented on #697
@JimmyStavros try a thorough reset:

[code]

[2016-05-18 22:45] aksonov commented on #697
@joenoon what about removing this dependency at all and replace to own function to check condition and raise exception if it is not true?

[2016-05-18 22:46] joenoon commented on #697
@aksonov that sounds great!

[2016-05-18 22:54] SudoPlz commented on #636
I believe react 0.26.0 is out.. Check https://github.com/facebook/react-native/releases, the latest tag is 0.26.0

[2016-05-18 22:56] thelordoftheboards commented on #636
@SudoPlz I can't seem to find it on npm. This is what I am seeing right now:

![image](https://cloud.githubusercontent.com/assets/7056535/15377512/18f5e668-1d11-11e6-8044-e2e8d170e946.png)

[2016-05-18 23:11] SudoPlz commented on #636
@aksonov  Try now, its up!

[2016-05-18 23:30] thelordoftheboards commented on #636
Works pretty well with react-native-router-flux installed from git like this:

[code]

My use cases, however, are trivial.

[2016-05-19 02:50] Olliepop commented on #557
Fixes didn't make it into 0.26. Holding out for 0.26.1.

[2016-05-19 07:22] ptomasroos commented on #557
@Olliepop what fixes are you referring to?

[2016-05-19 07:54] anthonywebb commented on #636
@joenoon @thelordoftheboards is there an easy way to specify in my package.json that I would like npm to install/use the 0.26-wip branch?  I'd like to try .26 but would like to pick up some of the changes for .26 that are not yet in master.  Thanks!

[2016-05-19 07:55] aksonov commented on #557
@joenoon 0.26 is out, should we merge wip-0.26 to master?

[2016-05-19 07:56] Kerumen commented on #636
[SO Answer](http://stackoverflow.com/a/16350674)

`"react-native-router-flux": "git+https://github.com/aksonov/react-native-router-flux.git#0.26-wip"`

[2016-05-19 07:58] Kerumen commented on #636
@anthonywebb [SO Answer](http://stackoverflow.com/a/16350674)

[code]

[2016-05-19 08:07] thelordoftheboards commented on #636
@Kerumen thank you!

[2016-05-19 08:08] aksonov commented on #69
all contributors, please PM me if you need WebStorm license, i've just got open source license.

[2016-05-19 08:17] zccan opened #699 "Is there a way to hide status bar?"
### Version 3.1.5
Is there a way to hide status bar?
Like [this](https://facebook.github.io/react-native/docs/statusbar.html)?
<Navigator
     initialRoute={{statusBarHidden: true}}
...

[2016-05-19 09:25] calvinmetcalf commented on #697
FYI this exists https://github.com/calvinmetcalf/minimalistic-assert

[2016-05-19 09:29] aksonov commented on #697
@calvinmetcalf Let's don't repeat the same error - avoid dependency if possible. Because author of minimalist-assert could publish new version that brake build again... It is definitely weak side of NPM.

[2016-05-19 11:00] gmchaturvedi1 opened #700 "version 0,.26 showing error"
i have just upgraded to 0.26 react-native but showing error.Can u help me on this

![image](https://cloud.githubusercontent.com/assets/10846505/15391469/f0bbab0a-1dde-11e6-9872-74b1a49ff461.png)

[2016-05-19 11:26] xotahal commented on #700
I think, [update to 0.26-wip](https://github.com/aksonov/react-native-router-flux/issues/636#issuecomment-220253826) could help for now

[2016-05-19 11:47] gmchaturvedi1 commented on #700
how to do that can u suggest?

[2016-05-19 11:53] xotahal commented on #700
npm i react-native-router-flux@aksonov/react-native-router-flux#0.26-wip

[2016-05-19 11:54] yulinho commented on #679
no actionSheet in 3.x ?

[2016-05-19 13:10] Kerumen commented on #699
You can do it in the `componentWillMount` hook of your initial `Scene` with the static API of `StatusBar`:
[code]

[2016-05-19 13:23] calvinmetcalf commented on #697
I'm the author of minimalistic-assert fyi but it would probably make sense to just require a specific version

[2016-05-19 14:53] dbsdugus00 commented on #351
I think I have a same question like this.
I want to pass props to custom NavBar like
<Scene key='menu' component='menu' navBar={<Toolbar istrue={true} }/>
But It doesn't work. How can I solve it?

[2016-05-19 14:54] dbsdugus00 commented on #351
I think I have a same question like this.
I want to pass props to custom NavBar like
`<Scene key='menu' component='menu' navBar={<Toolbar istrue={true}/> }/>`
But It doesn't work. Is there any recommendations?

[2016-05-19 15:46] cridenour commented on #697
I think @joenoon pushed a version to our new Utils file. But let's all remember the left-pad insanity before we introduce dependencies for 3 lines :)

[2016-05-19 18:33] danawoodman commented on #695
@cridenour I see that now but please realize the current readme does not say this anywhere. Until that changes, I imagine a lot more similar issues are created unfortunately.

That said, it looks like v0.26.0 was just released so I imagine this won't be an issue soon.

Cheers 🍻

[2016-05-19 19:28] dominicmh commented on #686
I updated to RN 0.26.0, but the issue remains:

I used the 0.26-wip branch as suggested here [#636](https://github.com/aksonov/react-native-router-flux/issues/636#issuecomment-220253826) in order to make RNRF runnable on RN 0.26.0

* "react": "^15.0.2",
* "react-native": "^0.26.0",
* "react-native-router-flux": "github:aksonov/react-native-router-flux#0.26-wip"

[2016-05-19 19:39] rturk commented on #686
@dominicmh paste more details of your code in a Gist.

[2016-05-19 19:55] anthonywebb opened #702 "How to reset?"
On the README it mentions

Exactly what I am looking for, but I dont know how to use the new reset action.  I couldnt find any info in the documentation or examples.  Can someone help?

[2016-05-19 19:56] dominicmh commented on #686
[Fails in App.js, note that it works fine in MissionsTab.js](https://gist.github.com/dominicmh/f86be050221c0568d1360a40c4c04301)

[2016-05-19 20:14] rturk commented on #686
@dominicmh My Two cents
looks like your app is rendering before Actions is loaded. In my case my app needs to load a lot of stuff from asyncStorage before `boot` so I was facing similar problems.

This can help:
https://github.com/fbsamples/f8app/blob/master/js/setup.js#L60

[2016-05-19 20:25] cridenour commented on #702
Your best bet is to use type="reset" when defining scenes or when using `Actions.scene()` instead do `Actions.scene({type: "reset"})`.

I had a branch where I created a Actions.reset() but it felt like overkill vs. passing in the type.

[2016-05-19 20:32] anthonywebb commented on #702
@cridenour that worked great, thank you!

[2016-05-19 20:32] #702 closed

[2016-05-19 21:02] anthonywebb commented on #634
@EricWithCare you can use refresh to modify the title like this (works great):

`Actions.refresh({title: this.props.name})`

Oddly enough I am trying to use a similar mechanism to update the right button like this:

`Actions.refresh({rightTitle: "foo", onRight: this._save()})`

When I do that I get a warning "Both onRight and rightTitle/rightButtonImage must be specified for the scene", and I dont

[2016-05-19 21:07] anthonywebb commented on #634
@EricWithCare for more info on this issue see my question here https://github.com/aksonov/react-native-router-flux/issues/663

[2016-05-20 01:54] jneumann opened #703 "Error with menu_burger.png"
### Version
- react-native-router-flux v3.22.23
- react-native v0.26.0

### Expected behaviour

This is with a new React Native project. The first time I run the app, without editing anything except adding react-native-router-flux

### Actual behaviour
"/Users/jneumann/Projects/portfolio/node_modules/react-native-router-flux/src/menu_burger.png: Unexpected Character '?' (1:0) at menu_burger.png:1:

[2016-05-20 02:29] cridenour commented on #703
We haven't pushed a version compatible 0.26 to NPM yet. Go ahead and change your package.json to `"react-native-router-flux": "aksonov/react-native-router-flux#0.26-wip",`

[2016-05-20 02:40] jneumann commented on #703
Jawesome! That works now.

[2016-05-20 02:40] #703 closed

[2016-05-20 02:53] timzaak commented on #699
I change the status bar by native code.

[2016-05-20 02:56] rturk commented on #700
@gmchaturvedi1
In General  ...super expression must be either null.. means that one ore more of your external dependencies are using legacy React import due to breaking changes in RN0.26

[2016-05-20 03:05] rturk commented on #632
Not sure if I understand your question. My two cents...
I can't understand your code above. Why you're wrapping the drawer menu within the navigation logic?

This is what works for me
  <Scene key="asda" component={DrawerMenu} type="reset" duration={1} initial={true} >

Also check this
https://github.com/aksonov/react-native-router-flux/blob/cad94673dd872669d49ec95895bd775592a13dec/Example/compone

[2016-05-20 04:44] lwansbrough commented on #697
Libraries should version lock their dependencies. Using the carat is dangerous.

[2016-05-20 06:09] jeroenbourgois commented on #699
Does this work for you @zccan ?

[2016-05-20 06:20] joonhocho opened #704 "Any plans to support deep linking by having a url scheme?"

[2016-05-20 08:16] oziks opened #705 "Warning due to a upgrade react-native to 0.26 [using key props]"
I explain you my workflow :
* react-native-router-flux #master
* react-native v0.26.0
* react v15.0.2

I just created an issue on https://github.com/exponentjs/react-native-tab-navigator/issues/75 repository. According to React warning message, using `key` props is not recommended.

You'll make a way to fix this message?

[2016-05-20 09:52] aksonov commented on #687
Check latest 3.26.0 and re-open this ticket if issue remains.

[2016-05-20 09:52] #687 closed

[2016-05-20 09:54] aksonov commented on #686
You may define all your scenes separately, before router to avoid that (however hot-loaded will not work). Or re-design your app properly, like @rturk suggests.

[2016-05-20 09:54] #686 closed

[2016-05-20 09:55] aksonov commented on #681
@itinance What scene should be updated? Have you connected your scene to Redux? As I see you connected container but not particular scene.

[2016-05-20 12:24] calvinmetcalf commented on #697
in fairness it's especially dangerous for a situation like react-native
where you are consuming libraries from a different ecosystem meaning things
that are not a breaking change in node/browserify/webpack are breaking for
you guys

On Thu, May 19, 2016 at 11:44 PM Loch Wansbrough <notifications@github.com>
wrote:

[2016-05-20 12:27] gerard0315 opened #707 "Implementing Actions.xxx in function"
Hi, I'm using RN0.24 and flux3.26. RN version may be out-dated but the Actions.xxx works fine when I'm using `onPress={Actions.xxx}`
However once I put it into functions like `onPress=this.function` and in function i do
`function(event){ Actions.xxx; }` then it's not working
can anyone help with this? thank you!!

[2016-05-20 12:49] msathis commented on #707
Shoudn't you call Actions.xxx() inside your custom onPress handler?

[2016-05-20 12:53] gerard0315 commented on #707
@msathis lol thanks just realized it

[2016-05-20 12:53] #707 closed

[2016-05-20 13:08] mvaivre opened #708 "[Update to RN 0.26] Warning: Failed propType: SceneView: prop type `sceneRendererProps` is invalid"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux **v3.26.1**
- react-native **v0.26.0**

### Expected behaviour

No warning.

### Actual behaviour

`Warning: Failed propType: SceneView: prop type `sceneRendererProps` is invalid; it must be a function, usually from React.PropTypes. Check the render method of `NavigationCard`.`

###

[2016-05-20 13:21] mvaivre commented on #708
Ok, seems that this warning is hidden for iOS (cf. https://github.com/aksonov/react-native-router-flux/blob/5d8ce5daef89616099a53fbcff979813d80d6a96/Example/index.ios.js) and not for Android ;)

[2016-05-20 13:38] aksonov opened #709 "Redux replacement with reactive programming"
You may check wrapper around RNRF - https://github.com/aksonov/react-native-reactive. Feedback is welcome.

[2016-05-20 13:43] charpeni commented on #709
That sounds interesting!

[2016-05-20 14:29] mnadbader opened #710 "[v3.26.1] Drawer Button don't display"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.26.1
- react-native v0.26.0

### Expected behaviour

### Actual behaviour

The drawer button didn't display. I have made the nav bar style transparent and i see the button but i can't press it because he is overrided by the title.

### Steps to reproduce

1.Make scenes with drawe

[2016-05-20 14:58] mnadbader commented on #710
I'm debugging the package and i have deleted the heade style position:'absolute', and i founded that the navbar is duplicated. See attached pic.
And we can see that the title hide a part of the drawer image.

![sans titre 2](https://cloud.githubusercontent.com/assets/17679530/15431819/d4862776-1eab-11e6-88f4-16305904dbd0.jpg)

[2016-05-20 15:01] charpeni commented on #710
Thanks for the screenshot.

FYI : It should be Accueil and not Acceuil :)

[2016-05-20 15:04] mnadbader commented on #710
yes a typo mistake  :) thx

[2016-05-20 15:09] mnadbader commented on #710
i founded a solution by addind type='reset' in  homeDrawer scene and main scene

[2016-05-20 17:16] cridenour commented on #704
Could be interesting. Any ideas on how you would you map url elements to props?

[2016-05-20 17:17] cridenour commented on #705
You can always use `console.ignoredYellowBox` until they fix it upstream.

[2016-05-20 17:20] cridenour commented on #708
Good call. Yea, it's definitely not important, but we should probably document it somewhere. I'll leave this open until we update the README and Android example.

[2016-05-20 18:34] joonhocho commented on #704
https://github.com/reactjs/react-router
React router accepts `path` param like `path="/user/:userId"`, and you can get `userId` as such `this.props.params.userId`.

[2016-05-20 19:42] alex88 commented on #708
Seems something related to https://github.com/facebook/react-native/issues/7626 which should be fixed with https://github.com/facebook/react-native/pull/7518

However, after trying to upgrade RN to 0.27-rc it gives a fatal error when rendering Router

[code]

![screen shot 2016-05-20 at 12 42 13 pm](https://cloud.githubusercontent.com/assets/436888/15440078/4bbf8860-1e88-11e6-99bf-4e865b7bd445.png

[2016-05-20 23:25] alex88 commented on #619
Same here, RN0.26

[code]

and still on the second scene I can swipe to go back

[2016-05-20 23:50] alex88 commented on #619
With RN0.26 same thing, my code is:

        <Scene key="root">
          <Scene key="home" component={Login} hideNavBar={true} initial={true}/>
          <Scene key="timeline" panHandlers={null} direction="vertical" component={Timeline} />
        </Scene>

and I'm still able to swipe down to go to the previous view

[2016-05-21 01:40] #697 closed

[2016-05-21 01:49] joenoon commented on #700
Agree with @rturk this is usually because a dependency does `import Foo from 'react-native'`, and then extends `Foo.Component`, which no longer exists since RN 0.26.

Also things may have stabilized since two days ago, so give the upgrade another try.

[2016-05-21 01:49] #700 closed

[2016-05-21 02:01] joenoon commented on #710
@mnadbader is this solved? The Example app has a working drawer.  I'm wondering if you need to set titleStyle to prevent it from obstructing the left button - but just a guess.

[2016-05-21 02:50] samdturner commented on #465
@aksonov I am having the same issue as @helloworld123456 and @rtrompier .  My navigation flow looks as follows:

Scene A => Scene B => Scene C

When I pop from C to B, I need to rerender Scene B.  I see that you have suggested using `Actions.pop(); Actions.refresh();`  I have two questions:

1.  Will calling `Actions.refresh()` rerender Scene C or B?
2.  Is it possible to override the `onPress` ha

[2016-05-21 05:40] aksonov commented on #517
Closing it for now. I've also added possible alternative to redux, react-native-reactive library to docs.

[2016-05-21 05:40] #517 closed

[2016-05-21 06:06] rajkissu opened #711 "Duplicate navbar when using drawer and nested scenes"
When trying to use nested scenes in a drawer, I get two navbars. Also, the styling runs for left and right buttons. Here's the code I used, any idea if this is a bug or if I'm missing some configuration?

[code]

Screenshot:

![Duplicate Navbar](http://i.imgur.com/ZmdnodY.png)

[2016-05-21 09:46] mnadbader commented on #710
the issue is that i have a duplicated navbars.  i debugued the component and i have elminated the issue by checking if hidenave=true to return null in render function of navbar. So i suggest that there's a bug whit navbar in this version.

[2016-05-21 15:26] zelphir commented on #555
Just updated to RN 0.26 and latest version of RNRF (3.26.1). The problem is still present.

[2016-05-21 15:54] joenoon commented on #710
@mnadbader It looks like if hideNavBar (now an inherited value) resolves to true that the NavBar component should never be rendered: https://github.com/aksonov/react-native-router-flux/blob/2d84f885a6723d3a0dfba18a4db6554e6260581f/src/DefaultRenderer.js#L144

Can you check against the Example app and see if theres a bug you can reproduce so I can take a look?

I my guesses would be you might need

[2016-05-21 16:12] rturk commented on #555
My two cents..

@zelphir what triggers **isAuthenticated**? Looks like you're using this to change the launch screen of your app? If that's the case Keep in mind that while the app is loading you'll might hit a state where redux was not fully loaded/processed/parsed and your app already started to render.

Also RN25> apps are much faster after improvements in the code, so there is a change the app

[2016-05-21 16:58] zelphir commented on #555
@rturk The initial state of the app is handled by `redux-persist`

[code]

I've just checked that if I don't use a wrapper for the scenes it works, for instance:

[code]

But I have different scenes based on the user state, that's why I was using a Scene wrapper.

[2016-05-21 18:22] anthonywebb commented on #671
This was an issue with my machine and the bundler, not specific to this module

[2016-05-21 18:22] #671 closed

[2016-05-22 01:40] CoericK commented on #541
Hey @vinayr im trying to do something similar but, on my scene i got
[code]

So when im leaving the scene the navbar, but also reloads the state or something like that, cuz the previous scene had a validation that pushed to the current scene, and when i go back it redirects again  to the scene.

[2016-05-22 02:38] donnguyen commented on #558
@aksonov I have created a PR to add my recent published app that using this plugin here, please have a look https://github.com/aksonov/react-native-router-flux/pull/712

[2016-05-22 03:01] codyhazelwood opened #713 "Drawer icon size is much bigger than it should be"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.26.0 (issue was present in latest v3.22.x as well)
- react-native v0.26.1 (issue was was present in v0.24.x)

### Expected behaviour

Hamburger icon should be normal size

### Actual behaviour

Hamburger icon is double size.  I know it's not just me, as nearly all of the screensh

[2016-05-22 03:35] CoericK opened #714 "Show the navbar from within Scene programmatically"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.?.?
- react-native v0.?.?

### Expected behaviour

Something like :

[code]

### Actual behaviour

Dont know.

### Steps to reproduce

1.
2.
3.

[2016-05-22 08:51] sylvainbaronnet opened #715 "RNRF v3.26.1 / RN 0.26.1 Error: "navigationState and onNavigate property should be not null""
### Version

- react-native-router-flux v3.26.1
- react-native v0.26.1

Got error  on launch :
![screen shot 2016-05-22 at 10 43 25](https://cloud.githubusercontent.com/assets/1569516/15453155/93df4d96-200a-11e6-8e26-3aef876d0edf.png)

@joenoon Code must be updated for 0.26 ?

[2016-05-22 09:21] xotahal commented on #715
It's just a guess. If you use side menu, you will have to add `onNavigate` prop to `DefaultRenderer`. In  [side menu integration](https://github.com/aksonov/react-native-router-flux/blob/master/docs/OTHER_INFO.md#drawer-side-menu-integration) example is same issue - there is not `onNavigate` prop.

[code]
vs.
[code]

And also, if you use `DefaultRenderer` somewhere, you should pass `onNavigate` pr

[2016-05-22 09:55] sylvainbaronnet commented on #715
Good guess, it fixes the error, thanks !

Now my custom navbar doesn't appear anymore and the side menu is not accessible

[2016-05-22 09:57] sylvainbaronnet commented on #715
It's ok, I had just to remove `hideNavBar={true}`

[2016-05-22 12:55] Fantasim opened #716 "Remove default style"
Hey,

I use react-native-router-flux since 2 days, so if i implement it, i've a default css like that :

http://www.yagoshack.fr/?v=capturuou.png

and if i don't use it :

http://www.yagoshack.fr/?v=capturnyn.png

so how can i remove this default styles ?
thanks :)

[2016-05-22 23:45] Olliepop opened #717 "Tapping a tab should navigate to the default scene for that scene group"
### Version
- react-native-router-flux v3.26.1
- react-native v0.26.0 & v0.26.1

I am using the Example app.
### Expected behaviour

In the Example, when I go to the "TabBar page" then "push new scene" then tap the tab i'm currently in ("Tab #2" for example) i expect my current scene to pop so that i'm back at the default scene for that tab.

Because the action type `jump` with key `tab2` is dispa

[2016-05-23 00:12] r88r opened #718 "on a Scene, componentDidMount only gets called once and componentWillReceiveProps never gets called"
### Version
Using:
- react-native-router-flux v3.26.1
- react-native v0.26.1

I have some simple scene components that are set up as such:
[code]

The tab components are supposed to use a setting from AsyncStorage to decide what content to show.

The "settings" component does a simple action, allows a user to set an option that is saved in AsyncStorage. This is confirmed as working, by setting, th

[2016-05-23 03:43] tinygipxy opened #719 "How to intercept loading scene to check authentication first ?"
### Version
- react-native-router-flux v3.26.1
- react-native v0.26.1

### Expected behaviour
I want to check authen before loading the scene, I tried to use componentWillMount, but it's only called one time:
[code]
### Actual behaviour

[2016-05-23 14:19] #716 closed

[2016-05-23 16:12] hartmamt commented on #718
+1

[2016-05-23 16:46] ivpusic opened #722 "tabs scene not rendering anymore => hideTabBar not working"
### Version
- react-native-router-flux v3.26.1
- react-native v0.26.1

I did upgrade to latest versions of RN and RNRF, and I have hard time doing all fixes. There should be some migration or something, which explains what should we do to support 0.26 RN when used with latest RNRF. Previously I used RN0.25 and previous version of RNRF and everything was working like a charm.

So,  back to my probl

[2016-05-23 17:04] rturk commented on #719
@tinygipxy I guess that your question is beyond the scope of this framework. Looks like you want to increase the control of your app state based on certain conditions, in your example authentication.

You can achieve this using redux. For example only a certain redux state will render a particular view. Check the example folder.

Also this can help you
https://github.com/aksonov/react-native-route

[2016-05-23 17:25] cridenour commented on #465
1. It should refresh B, but why don't you test it and find out!
2. Use `renderBackButton` to pass in your own back button, custom onPress and all.

[2016-05-23 17:28] cridenour commented on #711
You should be passing `hideNavBar={true}` to your root component. See the Example project as it has a Drawer.

[2016-05-23 17:28] #711 closed

[2016-05-23 17:36] #715 closed

[2016-05-23 17:36] samdturner commented on #465
Got it - thanks @cridenour

[2016-05-23 17:37] cridenour commented on #717
I think this is a good idea, would love to see a PR with it if you're up to it!

[2016-05-23 17:42] cridenour commented on #718
This is a limitation of how tabs are implemented in react-native in general AFAIK. They are all mounted with the TabBar. You can check if the tab is selected through it's props though - which makes me think there might be a bug if that lifecycle event is never called. Can you fork the Example for a simple example for us?

[2016-05-23 17:43] cridenour commented on #722
Version 3.22 is not compatible with 0.26. However, 3.26.1 is! Feel free to re-open if this is still happening after you upgrade.

[2016-05-23 17:46] cridenour commented on #719
Yea unfortunately we don't have the web's react-router control of "preTransition" in this library. Highly suggest you move that stuff into a Flux implementation though anyways.

[2016-05-23 17:52] CoericK commented on #714
@cridenour that reloads the whole state of the app

[2016-05-23 18:07] ivpusic commented on #722
sorry, version is `3.26.1`, it is my mistake

[2016-05-23 18:19] Olliepop commented on #717
@cridenour Cool - i thought this was a bug with intended functionality because of the actions dispatched when you click a tab. But if it's an enhancement i'd definitely be happy to work on it.

[2016-05-23 18:36] hartmamt commented on #718
I was actually having a similar issue but it was related to redux.  If my scene points to a container component that I've 'connected' to my store everything works.  I had my container too high up and the props weren't passing down to the scene.

[2016-05-23 18:44] cridenour commented on #717
I believe those actions are only dispatched because we send them regardless of whether the tab is selected.

[2016-05-23 21:13] anthonywebb opened #723 "Re-render scene when back button is pressed"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.26.0
- react-native v0.26.1

### Expected behavior
Re-render the component when the scene is loaded by pressing the back button.  The data for the page doesnt have any way to be updated without hard exiting and reloading the app.

### Actual behavior
No lifecycle events at all ar

[2016-05-23 23:22] joenoon commented on #717
Agree this would be nice - just checked the Facebook and Twitter apps and they behave as described above

[2016-05-23 23:34] joenoon commented on #722
@ivpusic to use your own tab bar component you would need to add `component={MyTabBar}` to the `tabs={true}` scene.  If you intend to use your own tab bar component and see an error about TabNavigator, the rnrf implementation is being used.

[2016-05-23 23:53] joenoon commented on #722
Also to add more background, there were lots of changes, especially to the tab component, to get everything working with NavigationExperimental in RN upstream.  react-native-tabs was previously used but I switched the project to react-native-tab-navigator.  react-native-tabs' focus is on the actual tab bar.  react-native-tab-navigator handles the tab bar and the tab's child content, making sure th

[2016-05-23 23:53] sathyakumarseshachalam opened #724 "How to auto-transition Scenes based on state"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.26.1
- react-native v0.26.0

## Requirement

This is more a "how to" question rather than an issue.
My requirement is that Scene transition should be based on the availability of a state. For e.g, On startup, I would like to transition a user to a `Search` scene when a state `loc

[2016-05-24 00:07] ivpusic commented on #722
@joenoon tnx for help. Is there any example of `component={MyTabBar}`? if not, are there any specific requirements which component should have in order to work correctly?

[2016-05-24 01:18] yuyixg opened #725 "expected a string (for built-in components) or a class/function (for composite components) but got: undefined. Check the render method of `TabNavigator`."
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.26.1
- react-native v0.26.0

ExceptionsManager.js:61 Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. Check the render method of `TabNavigator`.

   <Scene key="main" tabs={true} >

tabs ={true

[2016-05-24 02:01] tinygipxy commented on #719
Thank you all, I'll try to use state to control it

[2016-05-24 02:30] yorzi commented on #647
@MovingGifts Hi do you find any good hints related to sidebar drawer integration? I am looking for detailed document on this topic as well. Thanks.

[2016-05-24 02:32] cridenour commented on #725
Can you reproduce in the Example app? Or paste your <Router> config.

[2016-05-24 02:33] cridenour commented on #722
You should use src/TabBar.js in this project as a starting point for `MyTabBar`. Just change as necessary!

[2016-05-24 02:34] cridenour commented on #724
Where is the transition started from? A button press? App load?

Either way, it will come down to custom code in your component and using `Actions.search()` or `Actions.list()` as necessary.

[2016-05-24 03:15] sathyakumarseshachalam commented on #724
Want to do it in AppLoad. So question : I can only call `Actions.*` when I have registered my scenes with Provider in my render method. That being the case, whats the recommended pattern/place to call `Actions.search` or `Actions.list` like calls on AppLoad.

[2016-05-24 04:03] cridenour commented on #724
Check out everything under `Alternatively` here: https://github.com/aksonov/react-native-router-flux#usage

After that, I would try using `Actions.search` in componentWillMount of your app.

[2016-05-24 04:51] yuyixg commented on #725
@cridenour  thank you ,demo is not issue ,my project is upgrade

[2016-05-24 04:51] #725 closed

[2016-05-24 09:31] yorzi opened #726 "[HELP] Drawer integration issue."
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.22.23
- react-native v0.24.1

### Expected behaviour

I hope to trigger Drawer's open and close in my custom NavBar component, I have some config like this:

[code]

### Actual behaviour

I have no idea how I can open or close Drawer in `HeaderBar` component, is there a way to ge

[2016-05-24 09:37] jeroenbourgois commented on #726
There is an example with the Drawer, it can be found here:

https://github.com/aksonov/react-native-router-flux/blob/master/docs/OTHER_INFO.md#drawer-side-menu-integration

In your header bar the Drawer should be available through the context afik, have you tried debugging the context?

[2016-05-24 09:53] jaimeagudo opened #727 "`Router` is undefined on RN 0.26.1"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.26.1
- react-native v0.26.1

### Expected behaviour

`Router` is not undefined

### Actual behaviour

`Router` is undefined

![image](https://cloud.githubusercontent.com/assets/4053914/15499732/fe8593e8-21a5-11e6-8081-0b2121cd6eb8.png)

### Steps to reproduce

1. `git clone https

[2016-05-24 09:57] yorzi commented on #726
@jeroenbourgois thanks for your quick reply, I did follow your like. Hmm, I thought Drawer is available in context, but `this.context` in HeaderBar is blank.

[2016-05-24 10:00] ramigb opened #728 "Element type is invalid"
- react-native-router-flux v3.26.1
- react-native v0.27.0-rc

### Expected behaviour
The example provided on the github page should work fine, I've made sure the scenes have valid components etc.

### Actual behaviour
Element type is invalid: expected a string (for built-in components) or class/function (for composite components) but got: undefined, check the render method of 'Router'.

[2016-05-24 10:07] yorzi commented on #726
@jeroenbourgois according to your update, Yeah, `SideMenuContent` in you case is child component of Drawer, so you can get `const { drawer } = this.context`. but in my case, `HeaderBar` is a custom NavBar for Scene where I want to have a complex and flexible top nav bar. I might need to trigger the menu icon in HeaderBar to open or close Drawer.

[2016-05-24 10:55] 7daysofrain commented on #340
Im still having this problem, cant make the scene transparent with 3.26.1. I cant see the background Image. Please can somebody help me? Thanks

`            <View style={styles.container}>
                <Image source={require('Correos/imgs/bg-photo.jpg')} style={styles.background} />
                <Router style={styles.overbox} sceneStyle={styles.routerScene}>
                    <Scene key="

[2016-05-24 12:36] brettpappas commented on #723
You can create your own Reducer to handle navigation state. Check out the detailed example for details.

[2016-05-24 13:56] jhen0409 commented on #724
I also have similar question but different purposes, if it doesn't auto-transition depends on the state, it will be unable to use `remote-redux-devtools` instrument functions. (e.g. skip action)

Finally I directly used NavigationExperimental, [the RootContainer must get the same state](https://github.com/jhen0409/react-native-boilerplate/blob/master/src/containers/App.js#L46), the `skip action` i

[2016-05-24 14:11] sathyakumarseshachalam commented on #724
@cridenour : I tried and your solution worked. Thanks

[2016-05-24 14:11] #724 closed

[2016-05-24 14:43] cridenour commented on #726
Just a heads up you are using an unsupported pair of RNRF + RN. The only known working configurations are RN 0.22 + RNRF 3.22.x and RN 0.26 and RNRF 3.26.x.

[2016-05-24 14:45] cridenour commented on #728
Possibly related to https://github.com/facebook/react-native/commit/14eb427a8061e0c904ace022535070150c6872d4?

[2016-05-24 14:45] cridenour commented on #728
@ramigb In the mean time, I would stick with 0.26.

[2016-05-24 14:57] rturk commented on #727
Kill NavigationExperimental Containers is only applicable to RN0.27-rc, are you sure you're using RNv0.26.1?

[2016-05-24 14:58] rturk commented on #719
@tinygipxy can you please close this?

[2016-05-24 15:01] #719 closed

[2016-05-24 15:21] aksonov commented on #719
@rturk i've added you as collaborator, so you could close issues now. Thanks for your help!

[2016-05-24 15:35] ivpusic commented on #722
is there a way to disable requirement for tabbar completely? if I pass option hideTabBar={true}, then I expect that I don't need to think about it at all, and this was working in previous version.

[2016-05-24 16:30] ramigb commented on #728
@cridenour thank you, that's what I will do for now.

[2016-05-24 16:50] cridenour commented on #722
Don't use `tabs={true}`?

I am using a custom tab bar based on src/TabBar.js that I hide using a flux state. I had to update my component with 0.26, but other than that, it works fine.

[2016-05-24 16:55] ivpusic commented on #722
without tabs=true you get push actions when doing navigation, instead of jump which is desired in my case...the workaround would be to use replace instead of push

[2016-05-24 16:56] joenoon commented on #722
If you are using `tabs={true}` you need something to render the child scenes: feed, profile, etc.  If you don't use the default TabBar, you need a component that will take its place and render those children for you - keep only the active screen visible, the rest hidden, etc.

I'm still not sure though that you need to do anything other than `hideTabBar={true}` like you intended.  The error you me

[2016-05-24 16:58] cridenour commented on #722
Yes, if needed, you can just use `type="jump"` on all the sub-scenes. Definitely take a look at Joe's comments above though!

[2016-05-24 17:01] joenoon commented on #722
Also check your imports vs requires, exports etc...  see this: https://github.com/reactjs/react-router/issues/2220#issuecomment-220573173

[2016-05-24 17:03] joenoon commented on #722
And maybe this https://codereviewvideos.com/blog/warning-react-createelement/

[2016-05-24 17:06] ivpusic commented on #722
@joenoon that wont work until you provide Icon=something. the reason is because hidetabbar is ignored, so default tab bar will still try to render and fail, becuase not all parameters are specified...I saw that this was changed recently, and now hidetabbar option only affects style, not rendering of default component

[2016-05-24 17:15] joenoon commented on #722
@ivpusic ok so the problem is you are not passing an icon to the tab bar?  Can you simply pass something for now to see if it gets you working? `icon={() => <View/>}` or something.  If thats the only problem then we might need a better error message.

[2016-05-24 17:22] joenoon commented on #722
about hideTabBar... it is not ignored.  it is used by the default tab bar component to set its styling to hidden, and it can be used by getSceneStyle to account for its state.  I think what you might be referring to is previously the whole tab bar component would be skipped entirely if hideTabBar was true.  That does not happen any more since the scenes are children of the tab bar component now.

[2016-05-24 17:45] ivpusic commented on #722
thanks for explanation...but, when I set hideTabBar to false and render my component on top of it, then if I click somewhere on the bottom of screen, I get redirected to some other page...on android this is even more visible...my workaround for now is to put width and height to 0, using custom scene style property.

As you can see this is pretty big discussion and thing are unclear. I had no idea

[2016-05-24 18:32] joenoon commented on #722
@ivpusic agreed and the points you bring up are very valid.   NavigationExperimental is still a moving target - things change rapidly there and as a result here - for example tabs became non-functional due to a change in NavigationExperimental's NavigationView a few versions back.  The hidden tab bar catching clicks is one I haven't heard about until just now.  PRs either addressing docs, adding e

[2016-05-24 18:50] esutton opened #731 "How can Example component TabView listen for onRight and onLeft button ?"
For example, I would like to display "Done" for the rightTitle and commit to database when user presses right button. Currently the Example's "Tab #1" displays an alert with text "Right Button".

Can anyone advise on how to modify the Example TabView component to intercept the onRight event?

Scene declaration in Example.js:
[code]

- react-native v0.26.0

React and js newbie.

-Ed

[2016-05-24 22:49] markgoodyear commented on #619
I believe I have the same/similar issue. Here is a description of what I have:

[code]

I can swipe down on `SettingsOne` to pop back to the `Main` scene. If I navigate to `SettingsTwo` from `SettingsOne` I can still swipe down to pop back to the `Main` scene despite `panHandlers={null}` being set. Setting `panHandlers={null}` just prevents a horizontal gesture, but not the vertical one. When swip

[2016-05-24 22:55] GeoffreyPlitt commented on #552
I am still getting this error, even though I seem to be using all the right versions of things:

webfreelance10@p26xx-webfree10:~/eaplay_good $ npm list | grep react
├─┬ react@0.14.8
├─┬ react-native@0.22.2
│ ├─┬ babel-preset-react-native@1.8.0
│ │ ├── babel-plugin-react-transform@2.0.2
│ │ ├── babel-plugin-transform-react-display-name@6.8.0
│ │ ├─┬ babel-plugin-transform-react-jsx@6.8.0
│ │ │ └──

[2016-05-24 23:04] GeoffreyPlitt commented on #552
Also, is all of this affected by the version of Android being run in the simulator? Are my versions of node modules only expected to work up to a certain version of Android? Testing with API 23 for now.

[2016-05-25 00:59] yorzi commented on #726
@cridenour Oh, thank you, I know the version relation now. Let me try to adjust versions first.

[2016-05-25 03:09] zccan commented on #699
@jeroenbourgois yes this helps. thank you @Kerumen

[2016-05-25 03:09] #699 closed

[2016-05-25 05:09] sharq1 commented on #727
@jaimeagudo try following changes to snowflake.js:
![image](https://cloud.githubusercontent.com/assets/1241239/15528786/9a5a9b78-2247-11e6-950c-71d8400cc627.png)

[2016-05-25 06:46] albo1337 commented on #634
Hey @anthonywebb
you have to do: `Actions.refresh({rightTitle: "foo", onRight: this._save});`

[2016-05-25 07:09] albo1337 commented on #634
My problem here is, that I don't know how to add source to `rightButtonimage`. When I'm doing for example this: `rightButtonImage: "../../img/ic_shopping_cart.png"`

An error appears: `Warning: Failed propType: invalid prop 'source' supplied to 'Image'. Check the render method of 'NavBar'.`

What am I doing wrong here?

Best regards,
albo1337

[2016-05-25 07:40] albo1337 commented on #634
Got it.

I had to do: `rightButtonImage: require("./ic_shopping_cart.png")`

[2016-05-25 08:22] OFranke commented on #727
Changing this did not work for me. I still have the same error as described above.

[2016-05-25 09:37] xiaopow opened #732 "TextInput Keyboard not sliding away with scene"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.22.23
- react-native v0.24.1

### Expected behaviour

Keyboard should slide away with scene

### Actual behaviour

Keyboard doesn't slide away with scene

### Steps to reproduce

![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/10229915/15535295/40ab3e04-229f-

[2016-05-25 10:07] wzywno commented on #727
Hi,
@sharq1 I made changes as you wrote in previous comment.
Now I have other error, Did you have it also?
![img_2926](https://cloud.githubusercontent.com/assets/1249754/15536327/2f107318-2271-11e6-84f7-3deb14530baf.jpg)

[2016-05-25 10:28] wzywno commented on #727
This is related with react-native-drawer
[code]

[2016-05-25 10:33] jamesone opened #733 "Is their a way we can unmount each time we change a tab?"
Say I move from tab Y to tab Z, I'd want the componentWillMount method to run. If there's no way to do this, I can just implement something with componentDidUpdate.

[2016-05-25 10:47] jaimeagudo commented on #727
thanks @sharq1 , that pass the error but afaik won't bind the Router component to the store which I think it's wrong https://github.com/reactjs/react-redux/blob/master/docs/api.md#connectmapstatetoprops-mapdispatchtoprops-mergeprops-options

![image](https://cloud.githubusercontent.com/assets/4053914/15536043/11452e88-2270-11e6-8ef9-a5653ecc3ee2.png)

Honestly I am just starting with RN and I have

[2016-05-25 10:53] wzywno commented on #710
@mnadbader  Hi, I have a problem with SideDrawer implementation for RN 0.26.2.
Can you share how body of your ```class SideDrawer extends Component {}``` looks?

[2016-05-25 10:57] jeroenbourgois commented on #727
@jaimeagudo is the `ItemCheckbox` a component of yours? If so, are you exporting it correctly?

[2016-05-25 12:25] wzywno commented on #727
@jaimeagudo  I had the same error message. I changed my components declarations.
I added  ```default ```, so
[code]
I changed to
[code]

[2016-05-25 14:07] hyperh opened #735 "navigationState and onNavigate property should be not null"
### Versions
- react-native-router-flux v3.22.22
- react-native v0.24.1
- react-v0.14.8

Expect to see login scene if not logged in. It was working a before I upgraded to react-native v0.26.2. But since react-native v0.26.2 wasn't working for me (https://github.com/facebook/react-native/issues/7679), I downgraded back to v0.24.1. And react-native-router-flux is not working even though I'm back to

[2016-05-25 14:25] hyperh commented on #735
Fixed it through the following

1.  `rm -rf node_modules`
2. Removing the `^` from my package.json to make sure I am on the correct version.
3. `npm install --save assert@1.3.0` http://stackoverflow.com/a/37356920

[2016-05-25 14:25] #735 closed

[2016-05-25 15:38] rturk commented on #733
Hi @jamesone can you elaborate your question? The issue title title mentions `unmount` however your explanation ask for `componentWillMount` to run. Run where? In tab Y, Z, both tabs?

`componentWillMount`, `componentDidUpdate` are core React components they play a significant role keeping the App performance. Not sure if overriding the existing logic is the best approach.

There are multiple opti

[2016-05-25 15:43] aksonov commented on #722
@joenoon Just got these exceptions too - i'm not using built-in TabBar either... I think it is VERY critical issue, too pity that i didn't mention it during 3.26.0-rc testing...
I still believe we must separate tabbar to different component completely to avoid coupling....

[2016-05-25 15:53] Elyx0 opened #736 "Re-implement hidden tabs from tabbar behavior"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.26.2
- react-native v0.26.2

In the previous versions not supplying ` icon={TabIcon}` to a Scene inside a `tabs={true}` component allowed to hide the tab from the tabbar, but still be allowed to navigate to it using `Actions`.
After upgrading from `"react-native-router-flux": "^3

[2016-05-25 16:21] joenoon commented on #722
@aksonov maybe a combination of the react-native-tabs with some of the smart logic around how the children are rendered like react-native-tab-navigator does?  I'm all for it if it pleases more people.  In hindsight the release for .26 probably should have been a major version bump + contain release notes saying something like check your usage against the Example app.  There is just too much changi

[2016-05-25 16:38] aksonov commented on #722
We could publish docs about breaking changes for 3.27 to use separate TabBar (tabs or tab-navigator,etc.).

Both. As I understand i have to pass icons for hidden tabbar to resolve it and it is quite weird :)

[2016-05-25 16:40] aksonov commented on #709
Just found impressive MobX framework and build RNRF bridge to it:
https://github.com/aksonov/react-native-mobx

[2016-05-25 16:50] ssomnoremac commented on #725
Just a note on this error, I got it when I didn't define and include an Icon for tabs. Might be worth investigating a clearer error message.
to reproduce:
[code]
to fix:
[code]

[2016-05-25 18:20] Elyx0 commented on #725
Opened https://github.com/aksonov/react-native-router-flux/issues/736 as it was previously working

[2016-05-25 18:50] ssomnoremac commented on #287
I had to use @greatwitenorth 's advice to get this working for me. I think people will keep having this problem though

[2016-05-25 21:56] jeremyong commented on #647
Why is this closed? There doesn't seem to be a good way for the scene component to specify any data or state necessary to be passed to the right or left buttons for the navigator. Am I missing something?

[2016-05-25 22:21] zelphir commented on #555
@aksonov any thoughts?

[2016-05-25 22:37] smwoods commented on #652
I'm having this issue as well. Did you ever find a solution?

[2016-05-26 06:25] aksonov commented on #736
agree, @joenoon could you fix that?

[2016-05-26 06:27] aksonov commented on #555
@zelphir Add some debug into selector to check if updated property is there. Btw, i've made Switch as pure function recently and it worked well for me (yes, it doesn't generate action anymore but just show proper scene)

[2016-05-26 09:46] RooneyLeeSJ opened #738 "After upgrade version to 3.22, renderRightButton is not correctly displayed."
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.22.0
- react-native v0.23.1

### Expected behaviour
What I want to is to show two image icons left and right both side.
When I used 2.x version, renderRightButton was completely perfect, but after update version to 3.22,  right image is not displayed well.
what should i do? this

[2016-05-26 14:33] codyhazelwood commented on #713
Worked around it for now by doing:
[code]

But I'd still say it's a bug since it changed between versions of RNRF.

[2016-05-26 16:49] rturk commented on #636
Closing this. RN v26 is out and is supported by latest RNRF series v3.26.x

[2016-05-26 16:49] #636 closed

[2016-05-26 16:54] sharq1 commented on #727
@jaimeagudo you are right, it should be connected to the store, which should be done this way `const RouterWithRedux = connect()(Router)`, so the difference is that we import `Router` and use it instead of `RNRF.Router` - it works for me.

[2016-05-26 17:34] ms88privat commented on #736
the old behaviour sounds like a bug to me. But I can see the usefulness of it. Can we make it by explicit setting a new prop like `hideTab={true}` ?

[2016-05-26 17:37] joenoon commented on #736
agree it seems like more of a bug than a feature - but maybe there is a valid use case there that I just dont use.  I have a branch in progress that brings back the old tab implementation exactly as it was, and fixes the part I couldnt get working before for the scene rendering.  so hopefully all of these problems since the new tab implementation will go away soon.

[2016-05-26 20:54] ms88privat commented on #662
Creating a view (and destroying a view) before pushing them would be very cool. Would like to see an example of how to do it.

[2016-05-26 23:47] texas697 opened #741 "unable to use type="push""
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- "react-native-router-flux": "3.22.23"
- "react-native": "0.25.1"

### Expected behaviour

return to previous screen with android back button

### Actual behaviour

nothing. The issue I am having is I must have the props "type" set to "replace" or no routing will take place. There no errors in the console. I

[2016-05-27 00:08] rturk commented on #741
React native v0.25.1 is not supported please refer to https://github.com/aksonov/react-native-router-flux/issues/636.

You need to upgrade to RN26 in order to use RNRF 3.26.x series

[2016-05-27 00:09] rturk commented on #741
@texas697 please close this, unless you think further clarification is required.

[2016-05-27 00:15] #741 closed

[2016-05-27 02:18] cridenour commented on #738
You need to use RN 0.22 with 3.22.x or RN 0.26 with 3.26.x. If the problem persists after you upgrade, let me know and I'll re-open.

[2016-05-27 02:18] #738 closed

[2016-05-27 11:26] sibeliusseraphini commented on #356
Hey @rgovindji could u share an example repo with ur solution please?

[2016-05-27 11:30] sibeliusseraphini commented on #437
@r0b1n @joonhocho @ugputu18 could u guys share an example repo please?

[2016-05-27 11:44] r0b1n commented on #437
@sibeliusseraphini can't provide any usable examples now, I was just experimenting with relay rendering.
Check: https://github.com/aksonov/react-native-router-flux/compare/master...r0b1n:relay-integration
You may slightly change the way `RelayComponentRenderer.js` handle params and wrap your Scene component with it, then feed it to `<Scene component={RelayComponentRendererWrappedScene} .../>`
Mayb

[2016-05-27 12:30] rturk commented on #437
@sibeliusseraphini this seems to work
https://github.com/codefoundries/UniversalRelayBoilerplate/blob/master/app/app.js

[2016-05-27 12:46] demiro opened #745 "Storing current Scene"
So imagine this scenario

 - scene 1
 - scene 2
 - scene 3
  - scene 3a
  - scene 3b
  - scene 3c
 - scene 4

Scene 3 will be USER DETAILS page and you can come to this page from different pages

What I want to do is that when I am on Scene 3 the Navigation Bar Close button leads ALWAYS to the previous SCENE...

Hardware back button though it depends... if no tabs were tapped (sub scene), than goe

[2016-05-27 12:52] sibeliusseraphini commented on #437
@rturk I think this solution does not integrate seamless with this package, I think @r0b1n solution is the best one based on react-router-relay

[2016-05-27 13:27] Cordazar commented on #736
One use case is where you want a small amount of tabs (main functionality/views of the app) to be shown on most of the scenes.

[2016-05-27 15:29] chrissm79 commented on #437
Are we able to use RNRF's [wrapBy](https://github.com/aksonov/react-native-router-flux/blob/master/src/DefaultRenderer.js#L194-L197)?

(Example w/ MobX's observer) [https://github.com/aksonov/react-native-mobx/blob/master/index.js](https://github.com/aksonov/react-native-mobx/blob/master/index.js)

[2016-05-27 15:39] eranbes opened #746 "hideNavBar does not work on scene"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.26.2
- react-native v0.26

### Expected behaviour
hideNavBar={true} should hide the NavBar

### Actual behaviour
NavBar is still shown for the scene

### Steps to reproduce

1.  < Scene key="startup" initial={true} hideNavBar={true} / >

[2016-05-27 15:52] rgovindji commented on #356
I'm still using 3.22 so I don't know if there is an issue in the latest version but in order to pass all props to all scenes I did this.

<Router {...this.props}  >

[2016-05-27 16:09] aksonov commented on #437
Yes, it works!

Pavel.

[2016-05-27 18:30] rturk commented on #746
@eranbes can you please include more details of your code? The "startup" scene has nested Scenes?

[2016-05-27 19:15] eranbes commented on #746
One router and a few siblings (scenes), nothing nested.  here is another one (attaching image too):
![screenshot_2016-05-27-20-12-55](https://cloud.githubusercontent.com/assets/342114/15618742/b0027eda-2447-11e6-92ba-f4d8a985fa97.png)

<Scene key="tandcPage" hideNavBar={true} component={TandcScreen} title={strings.tandc}
                   sceneConfig={Navigator.SceneConfigs.FloatFromBottom}/>

[2016-05-27 21:09] chrissm79 commented on #437
Tinkering around w/ @r0b1n solution and wrapBy, and if I get it working I'll post it here. Does anyone have an example they could share?

[2016-05-27 22:19] samdturner opened #747 "Navbar buttons need to access scene component methods"
### Version
- react-native-router-flux 3.26.2

### Current Functionality
I am inserting a rightButton into react-native-router-flux using the `renderRightButton` api.  The problem I ran into is that the rightButton needs to access a method within the scene component (ie. `FirstScene`).

[code]

From this [code](https://github.com/aksonov/react-native-router-flux/blob/e1f782f4893d9a115a3d9d9ef8cecc

[2016-05-28 00:28] r0b1n commented on #437
Hi guys, here is my example. https://github.com/r0b1n/rnrf-relay-example
Please check if it works for you.
// cc @chrissm79 @sibeliusseraphini

[2016-05-28 03:30] rturk commented on #747
Hi @samdturner can you elaborate your use case? Can't you use another logic to interface between components? Ie: Redux?

[2016-05-28 12:52] rturk commented on #731
Hi @esutton If I've understood correctly you've kind of already answered your own question. You need to connect `onRight` to a function or callback that will handle your `save` to database logic. You probably need another framework like Redux to handle your overall App State.

[2016-05-28 12:55] rturk commented on #732
@xiaopow Are you using a KeyboardWrappper?

[2016-05-28 12:58] rturk commented on #442
@willmcneilly can you test this using the latest stable RN & RNRF? RN0.26.2 & RNRF 3.26.X?

[2016-05-28 13:17] sibeliusseraphini commented on #437
great job @r0b1n it works great.

@aksonov I think @r0b1n should submit a PR to add this info to the docs and this example as well, as Relay is getting more main stream now

[2016-05-28 14:08] sibeliusseraphini commented on #679
You can use this https://github.com/exponentjs/react-native-action-sheet

[2016-05-28 14:11] sibeliusseraphini commented on #679
@aksonov ActionSheets should not be a responsability of this package

[2016-05-28 14:25] sibelius opened #749 "How to style Modal to have a transparent background, like an overlay?"
### Version
- react-native-router-flux latest
- react-native 26.0.1

[2016-05-28 14:58] xiaopow commented on #732
@rturk I don't believe so. I have a view container wrapping up my chatBox components and that's it.

[code]

[2016-05-28 17:48] rturk commented on #679
@sibeliusseraphini this makes sense. My App uses both RNRF and Expoent's react-native-action-sheet with no issues. Benefit of this setup is that is compatible with Both IOS and Android.

@wootwoot1234 PR's are still welcome, although I'm not sure if this will be a duplicated effort considering that Expoentjs/react-native-action-sheet works with RNRF

[2016-05-28 21:28] rturk commented on #732
@xiaopow Keyboard is a component manage by the OS. In your example handled by IOS, hence it's `rendered` on top of your app. It's impossible to `slide` a functional keyboard.

Have you tried to **blur** your text input component as soon you start the slide? This will hide the keyboard before sliding, might even be a more interesting User Experience

[2016-05-28 22:03] wootwoot1234 commented on #679
@rturk I was under the impression it didn't work.  @aksonov why does it say it doesn't work in the readme?  Glad to hear it does.

[2016-05-28 22:25] vonovak commented on #732
use `react-native-dismiss-keyboard`

[2016-05-29 01:23] ms88privat commented on #523
Is this now possible with 0.26? Is there any example for a custom animation? Thanks!

[2016-05-29 05:06] ms88privat opened #750 "nested routes with same scene"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.26.0
- react-native v0.26.2

### Expected behaviour

The navigator should route to the `UserView` within its current `tab`. This was working with v2 and a similar route setup.

### Actual behaviour

The navigator routes always to the `UserView` in the last tab defined.

### Steps

[2016-05-29 05:12] ms88privat commented on #750
related to https://github.com/aksonov/react-native-router-flux/issues/209 and [this pr](https://github.com/aksonov/react-native-router-flux/pull/389)

@joenoon did you find a solution yet?

[2016-05-29 05:18] joenoon commented on #750
Can you try something like this?

[code]

`Actions.add() -> Actions.user()`
`Actions.people() -> Actions.user()`

You should see the `user` added to the current tab's nav stack

[2016-05-29 06:02] xiaopow commented on #732
@rturk How can I know the slide starts and how do I programmatically blur the text input?

[2016-05-29 06:35] ms88privat commented on #750
hm, this is only resulting in a "popup" style of navigation. So the navbar will overlay the current navbar without a transition and so on. I would be fine with this, but I got another problem with the navbar. It is immediately be visible instead of being animated with the view transition. Also somehow I'm missing the back button.

I think I have to sleep another night and reproduce it step by step

[2016-05-29 06:38] joenoon commented on #750
Ok. Also try this against my branch https://github.com/joenoon/react-native-router-flux/tree/jn-wip if you can.  That is currently pending PR and possibly addresses some of the stuff you mentioned with navbar.

[2016-05-29 06:44] ms88privat commented on #750
Thanks a lot. Yes, I will try your branch tomorrow.

[2016-05-29 07:42] vonovak commented on #745
Just looking at it, I'd try this: you can transition to your scene 3 like `Actions.Scene(custom props here)`. In custom props, you can pass the original scene that the user came from and then pass that even to the subscenes and then you'll know where the user came from and use that I formation to go back.

[2016-05-29 10:05] itinance commented on #681
Ah yes, that was the right hint. This was a misunderstanding on my site. Thank you very much. For the sake of completeness and if others run into this issue too, i updated the Example to work.

[2016-05-29 10:05] #681 closed

[2016-05-29 11:46] mnadbader commented on #749
backgroundColor:'rgba(255,255,255,0.5'

[2016-05-29 15:20] lwhiteley opened #751 "Assistance with custom navbar"
### Version
- react-native-router-flux v3.26.1
- react-native v0.26.1

### Expected behaviour

I want to render a custom navbar but im afraid i may be doing something wrong

[code]

This doesnt render anything, when i remove it the default navbar is rendered

Any advice would be helpful

[2016-05-29 15:35] lwhiteley commented on #751
fixed, header styling was the issue

[2016-05-29 15:35] #751 closed

[2016-05-29 16:47] lwhiteley opened #752 "custom navBar being rendered twice and to the bottom of the scene"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.26.?
- react-native v0.26.2

### Expected behaviour

[code]

I expected this to be placed first in the scene above the content. However it is being rendered twice
where one has the drawer context and the other doesnt

### Actual behaviour

Once styled absolutely, when the drawer

[2016-05-29 22:18] samdturner commented on #747
My specific use case is putting a "Done" button in the right of the navbar.  This button does 2 things:
1) It submits a form using the data contained within `FirstScene`.  The logic for submitting the form is also on `FirstScene`.
2) It transitions to a new `Scene`.

This sort of use case has come up a number of times in our app.

Using redux is an option but I'm trying to avoid putting additional

[2016-05-29 22:22] samdturner commented on #731
+ 1

@esutton you have the same use case as me.  I am discussing it in issue #747

[2016-05-29 22:26] samdturner commented on #723
+1

Has this feature been implemented?  @anthonywebb were you able to find a solution to your issue?

I ended up putting my data in a reducer, but I don't think that is the ideal implementation.

[2016-05-29 23:57] Hu4F00d commented on #725
Can confirm what @ssomnoremac said. The error seems to happen when you don't include an Icon for the tabs.

[2016-05-30 00:27] rturk commented on #736
Hi @Elyx0 Can you elaborate why you need this? Looks like that your `magicHiddenTab` can easily be placed as a sibling to `tabbar` and by default it will be hidden if you use switch. Or for a more sophisticated design you'll be able to hide it using redux.

I agree with @ms88privat this old behaviour is more like a bug that could lead to incongruent scenarios where it will be hard to define what s

[2016-05-30 00:29] rturk commented on #736
@Cordazar what you're describing can't be achieved with nested scenes?

[2016-05-30 00:38] rturk commented on #747
@samdturner you can always implement your own NavBar. My Apps use own navbars in order case similar to yours.

This is a redacted version of what I'm using:
https://gist.github.com/rturk/a52321593dd9264ddd2ccbd43eb489b7

[2016-05-30 01:15] samdturner commented on #747
Thanks @rturk.  I'm thinking that's probably the best solution for now.

[2016-05-30 01:15] #747 closed

[2016-05-30 02:16] boulajp opened #753 "Dispatch redux action before Switch's selector picks a scene?"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.26.5
- react-native v0.26.0

I know that this isn't SO, but I figure this is the best place to ask how to do this.
I need to dispatch an action which triggers a Facebook sign in before deciding which scene to pick by reading the part of the redux state which was modified by that

[2016-05-30 02:49] yang515648779 opened #754 "How to replace drawer icon and back icon"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.26.5
- react-native v0.26.1
- platform:android

### Actual behaviour
I use DrawerLayoutAndroid,replace the drawer icon, the drawer icon is invisible,but can operate
I replace back icon,but It prompted a warning:

[code]

The new version change is relatively large.I don't know how

[2016-05-30 06:06] Cordazar commented on #736
@rturk I can't see how.

10 Views numbered 1-10.
View 1 and 2 should be in the tab bar for Views 1-8 but not on View 9-10.
How would you nest that?

[2016-05-30 08:00] kdchang opened #755 "How could I make custom navBar fixed on the top ?"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.26.5
- react-native v0.25.1

### Expected
I want to use my custom navBar (NavBar) on the top of every scene.
Here is the sample code:
[code]

### Actual
Actually, the custom navBar is showing on the bottom of the scene.
How could I make it fixed on the top ? Thanks :)

[2016-05-30 08:55] rafaelcorreiapoli commented on #755
Apply this style to the a View wrapping your navbar
  <View style={{position: 'absolute', top: 0, flex: 1, alignSelf: 'stretch', right: 0, left: 0}}>

[2016-05-30 09:13] kdchang commented on #755
@rafaelcorreiapoli
Cool. It works! Thanks a lot :)

[2016-05-30 09:13] #755 closed

[2016-05-30 09:18] rafaelcorreiapoli opened #756 "Get active route on Drawer"
Hello, I want to highlight the current active item on my Drawer, how can I get the current scene/route so I can highlight the corresponding item?
I tried Actions.currentRouter but it is undefined.

Thanks

[2016-05-30 09:21] sandeepgujela opened #757 "routing using keys in props"
var menuItems : [  {name:'Dashboard',redirectkey:'DashboardPageKey'},
                              {name:'Orders',redirectkey:'OrdersPageKey'},
                              {name:'Member Orders', redirectkey:'MemberPageKey'},
                              {name:'Catalog',redirectkey:'CatalogPageKey'} ]

var menuItemsList = this.state.menuItems.map(function(menuItem){
      return(< MenuItem key=

[2016-05-30 09:23] kdchang commented on #755
@rafaelcorreiapoli
Excuse me, the navBar is fixed on the top now. But it would overlap the main content every page(due to position absolute), how could I fix this issue ? thanks :)

[2016-05-30 09:44] kdchang commented on #756
If you use redux, maybe you can check [this](https://github.com/aksonov/react-native-router-flux/blob/master/docs/REDUX_FLUX.md) to get the `this.props.route.key`.

[2016-05-30 09:50] rafaelcorreiapoli commented on #757
import { Actions } from 'react-native-router-flux'

onPress={Actions.myPageKey}

[2016-05-30 12:20] jnbt commented on #725
I've also encountered the same problem

[2016-05-30 12:44] zelphir commented on #555
@aksonov Everything is updated but the scene. If I use the navbar, even the navbar is updated, but the `Scene` remains the same (of course also all the props are updated)

[2016-05-30 12:51] vishnupradeep93 opened #759 "Is there a way to pass props via DefaultRenderer to Component?"
### Version
- react-native-router-flux v3.26.5
- react-native v0.26.2

[2016-05-30 13:05] zelphir commented on #555
@aksonov and yes... the selector is returning the right scene

[2016-05-30 13:10] aksonov commented on #555
@zelphir Are you still using RN 0.24?

[2016-05-30 13:12] aksonov commented on #555
Have you upgraded to latest 3.26.5?

[2016-05-30 13:12] zelphir commented on #555
Nope, using RN@0.26 and latest RNRF@3.26.5

[2016-05-30 13:13] aksonov commented on #555
Probably you need to create new issue then and clone & change Example to reproduce the issue.

[2016-05-30 13:13] zelphir commented on #555
ok

[2016-05-30 13:19] zelphir opened #760 "Switch is not rendering the right scene correctly"
- react-native-router-flux v3.26.5
- react-native v0.26.2

After upgrading to RN v0.26 and the the latest RNRF something doesn't work very well using `Switch` and Redux. Everything was working fine with RN v0.22. I'm using the built-in reducer for the router.

Test repo:  https://github.com/zelphir/switchtest

I have something like that
[code]
to switch from one group of scenes to the other if an

[2016-05-30 13:19] zelphir commented on #555
@aksonov Done: #760

[2016-05-30 13:20] aksonov commented on #760
@zelphir Could you provide github clone of Example with modification to reproduce issue. Sorry, code snippets give too little help here.

[2016-05-30 13:23] mat2maa commented on #736
I'm wondering how this plays with the inclusion of a Drawer. In the [documentation for a Drawer](https://github.com/aksonov/react-native-router-flux/blob/master/docs/OTHER_INFO.md#drawer-side-menu-integration), it is suggested that within the "drawer" Scene you include a scene with `tabs={true}`, presumably so that children scenes will automatically set `type='jump'`.

However, doing so leads to s

[2016-05-30 15:36] explorigin commented on #586
This is still an issue for me with 3.26.5 on RN 0.26.

[2016-05-30 16:06] zelphir commented on #760
@aksonov there you go: https://github.com/zelphir/switchtest

I've created 2 groups (`group1` and `group2`). Each group contains 2 scenes (`PageOne` and `PageTwo` for `group1` and `PageThree` and `PageFour` for `group2`).

As you can see, if you change group from `1` to `2` you go to the next one (`group2`, scene `PageThree`) but once there if you change again group with the button the navbar is u

[2016-05-30 16:24] sarovin commented on #586
@explorigin Can you post a screenshot and your code?

[2016-05-30 16:28] explorigin commented on #586
Screenshot is no different from the first post.  We might leave this one closed.  I was able to work around it by setting `<StatusBar translucent />` inside my scene.  Kinda a bummer to have to do that in each scene but it works.

[2016-05-30 16:30] aksonov commented on #679
Maybe here is some misunderstanding. Sure any component will work with RNRF, but it would be great to have something like Actions.sheet({...}) and see actionsheet, without wrapping anything like exponent's requires. version 2 allowed such easy usage, v3 doesn't.

[2016-05-30 16:37] wootwoot1234 commented on #679
Ok, yeah.  There was some misunderstanding on my part.  Can you update the readme so that's clearer?  I would say something like:

"No built in Action Sheet like v2.  If you want to use Action Sheets you'll need to use a 3rd party module."

[2016-05-30 16:39] sarovin commented on #586
You can use this in index.android.js:

[code]

[2016-05-30 16:41] explorigin commented on #586
Thanks, that's really helpful!

[2016-05-30 16:47] sibeliusseraphini commented on #679
@wootwoot1234 please submit a PR to update the readme, please also add a link to react-native-action-sheet there.

I think we can close this issue cc @rturk

[2016-05-30 17:47] SudoPlz opened #762 "Error: RCTUIManager.dispatchViewManagerCommand must not be null"
I'm using an `Animated.View` from react-native.

If I do `Actions.pop()` while the animation is still playing I get this weird weird error.
If I wait for the animation to end I **don't** get the error

Specifically the error is this:

[code]

I'm actually running
[code]
to stop the animation if we are about to unmount, the code works fine, but I still get the error...

Not sure what to do, I just

[2016-05-30 18:52] SudoPlz commented on #762
Ok this had nothing to do with the `Animated.View`, it had to do with me calling `scrollResponder.scrollResponderScrollTo` after I called `Actions.pop()`.

I close the issue and leave it here if someone faces this in the future.

[2016-05-30 18:52] #762 closed

[2016-05-30 23:58] #753 closed

[2016-05-31 01:24] boulajp commented on #746
I have this issue as well with:

react-native-router-flux v3.26.5
react-native v0.26

[2016-05-31 01:32] boulajp commented on #746
Could you include your entire router tree? I was having this issue, and I managed to fix it by moving the hideNavBar up to the root component

[2016-05-31 02:48] AkiraXue commented on #752
i got  the same  problem  when i  want  to  renderTitle  and  renderLeftButton with  two different  components  which render twice
navBar={ ()=>{ return this.renderNavBar(); } }

...
<NavLeftButton btnText={btnText} style={style} btnIcon={btnIcon}/>
<NavTitle title={'title'} style={style} />
...

[2016-05-31 03:06] rturk commented on #746
HI @eranbes pasting just snippets of code don't help. Can you please provide more details of your code? Please feel free to use a GIST.

[2016-05-31 03:10] q6112345 opened #763 "Hidden TabBar still clickable when hideTabBar={true}"
### Version

Tell us which versions you are using (react native 0.26 is required for v3):
- react-native-router-flux v3.26.0
- react-native v0.26.0
### Actual behaviour

![image](https://cloud.githubusercontent.com/assets/6049450/15661952/fcee12fc-271e-11e6-96fa-e34406146397.png)
### Steps to reproduce

In the example, as screencast below:

![hidetabbar](https://cloud.githubusercontent.com/assets/

[2016-05-31 03:36] #754 closed

[2016-05-31 03:52] reddingit commented on #752
I solve this problem by add some code at render() function in NavBar.js, see below:
![qq20160531-0](https://cloud.githubusercontent.com/assets/5533582/15662730/2e126fd4-2726-11e6-880b-4b9469d21dfd.png)

[2016-05-31 03:53] reddingit commented on #710
I solve this problem by add some code at render() function in NavBar.js, see below:
![qq20160531-0](https://cloud.githubusercontent.com/assets/5533582/15662730/2e126fd4-2726-11e6-880b-4b9469d21dfd.png)

[2016-05-31 09:16] aksonov commented on #760
@zelphir Great, looks like i've found issue - RN0.26 changes, please check latest 3.26.7

[2016-05-31 09:57] itinance commented on #714
this everything reloads and for me it results in an endless loop of refreshing state

[2016-05-31 10:00] aksonov commented on #714
Sorry, but you cannot avoid reload - it is how React Native works. Endless loop is probably caused you update it within your componentWillReceiveProps

[2016-05-31 11:35] augustbjornberg opened #764 "Is there any way to get the active scene instance?"
I know that it's possible to get the active component class, but is it possible to get the active component class **instance**?

- react-native-router-flux v3.22.23
- react-native v0.24.1

[2016-05-31 12:47] esutton commented on #731
@rturk Maybe my problem is I am not experienced in javascript.  ( However, I am using redux. )

How can I connect the Scene onRight function, to the Scene component?

When user presses the right "Done" button I want to commit the edited object to the database.

[2016-05-31 13:17] eranbes commented on #746
it seems like it was a styling error after all.

[2016-05-31 13:17] #746 closed

[2016-05-31 14:33] lwhiteley commented on #752
thanks for the update.

but does it solve the header being displayed at the bottom?
seems like it would only solve it being displayed twice; a step forward nonetheless 👍

[2016-05-31 16:35] willmcneilly opened #766 "Jump action is no longer called when Switch route changes."
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.26.8 and above
- react-native v0.26.0 and above

### Expected behaviour
When switch state changes and a new route is switched to the jump action should be called.

### Actual behaviour
jump action is not called.

This started happening today after the changes made in 3.26.8. I'm

[2016-05-31 18:21] aksonov commented on #766
Please check latest 3.26.13

[2016-05-31 18:23] aksonov commented on #766
Jump action is not called currently for simplicity, however everything should work (i.e. correct scene should be rendered)

[2016-05-31 18:43] chrissm79 commented on #437
Just a note for anyone using ```Action.create``` to generate scenes, the api changed a bit. You need to move ```wrapBy``` from the ```<Router>``` to the ```Actions.create``` function as a second parameter like so:

[code]

[2016-05-31 19:54] aksonov commented on #437
Router could create actions for you if you put scenes as children

Pavel.

[2016-05-31 21:16] bendellarocco commented on #746
@eranbes what was the styling issue?  I am seeing this same issue on android only

[2016-05-31 21:18] eranbes commented on #746
We just reserved top margin and forgot to remove it.

[2016-05-31 21:20] bendellarocco commented on #746
Darn, nothing that helps my issue.  Thank you for your response

[2016-06-01 02:13] reddingit commented on #752
If you want to use both drawer and tabbar, maybe you should do this:
`
<Scene key="drawer" component={SideDrawer} >
							 	<Scene key="tabbar" component={TabBar} tabs={true}>
								      <Scene component={Home} key='home' title='Home' navBar={CommonHeader} hideNavBar={false}/>
								      ...
							    </Scene>
							</Scene>
`

[2016-06-01 02:19] lwhiteley commented on #752
i chose to turn off tabbar actually so maybe should edit post.. but when i do, it still displays to the bottom

[2016-06-01 04:17] Olliepop commented on #717
Question related to solving this issue:

I had this solved in 3.22.23 by chaining `Actions.pop()` to the number of children in the tab scene navigationState.

In the latest implementation of TabBar within the `onSelect` method we're unable to execute multiple Actions i.e:
[code]

In the above example only the last action, `Actions.scene_3()` will be performed. Does anybody know we can perform all

[2016-06-01 04:42] momo-Flanny commented on #752
if you want to use the component in navBar, you should let the component in position absolute like this:

![image](https://cloud.githubusercontent.com/assets/13936769/15698348/3bb6d94c-27f6-11e6-8bcc-3e3a3bacde64.png)

[2016-06-01 04:43] lwhiteley commented on #752
please read the issue again. that is the problem

[2016-06-01 04:55] momo-Flanny commented on #752
well, but i think if you want to use the component in navBar, it means you should recover the style by your self

[2016-06-01 04:58] lwhiteley commented on #752
the default style of the navbar is what you just showed me, that adds the weird behaviour of not being fluid when the drawer is open. as i said before, thats not what i want

[2016-06-01 09:41] willmcneilly commented on #766
Ah ok. We have been using jump in our reducer. I should be able to find a work around. Thanks.

[2016-06-01 09:41] #766 closed

[2016-06-01 11:44] dalmeria commented on #359
Thanks

[2016-06-01 15:13] rochestb commented on #445
@lee-gray Thanks!
![rad-sunny-delight-d-ja8v9vQFdbCiQ](https://media2.giphy.com/media/ja8v9vQFdbCiQ/giphy.gif)

[2016-06-01 18:25] franzejr opened #768 "Key <keyname> is already defined!"
Hello,

I have an onboarding tutorial in my application. I would like to return some Scene if it's the first time or not. Once I create the Router with the scenes, I got a `Key <keyname> is already defined!`, because it tries to re-render the Router. I would like to know if there is one better way to do that.

To do what I would like to do, I'm using a state which I make sure I will render the Sce

[2016-06-01 19:07] cridenour commented on #768
I think in general, you should use `Actions.create` when dynamically changing routes as shown below:

[code]

That said, you should not be re-rendering. Your initial only cares about the first render anyways. So rather than use state, just check for the onboarding once on app load.

[2016-06-01 19:27] esutton commented on #768
@cridenour Thank you !

No more **Key <keyname> is already defined!** messages in the debugger !

[2016-06-01 20:02] antonzy opened #769 "Switching between tabs does not trigger 'focus' action"
### Version

Tell us which versions you are using (react native 0.26 is required for v3):
- react-native-router-flux v3.26.12
- react-native v0.26.3
### Expected behaviour

Given using Redux integration and a <... tabs={true}> scene with <... type='jump'> children scenes,
I expect that when switching between tabs,
a 'focus' action will be dispatched with the current scene.
### Actual behaviour

'f

[2016-06-01 21:03] franzejr commented on #768
I have already tried that. But it seems it does not work. I have the state set up on componentDidMout, it calls the render again when the state is changed.

[code]

[2016-06-01 22:51] zelphir commented on #760
@aksonov Thanks! Everything works as expected now!

[2016-06-01 22:51] #760 closed

[2016-06-01 23:52] SudoPlz commented on #561
Ok so since my pull request was not accepted, here is how to set your View to render below the nav bar in both iOS and Android:

`paddingTop:Platform.OS === 'ios' || Platform.Version > 19 ? 64 : 44,  //nav bar height`

[2016-06-02 06:06] cridenour commented on #768
That's because AsyncStorage is a Promise and will call setState once it returns. To truly make it work add a new function like

[code]

And then in your componentDidMount you can use `this.getOnboard.done()` to get the value and it will work as you expect.

[2016-06-02 07:55] #705 closed

[2016-06-02 11:33] vnovick opened #770 "How to change Animation for tabs"
### Version

Tell us which versions you are using (react native 0.26 is required for v3):
"react-native": "^0.26.2",
"react-native-router-flux": "^3.26.5"

There is no description in docs how to use Animation.

Specifically I want to change Animation on tab change. How can I implement this?

[2016-06-02 15:57] #768 closed

[2016-06-02 16:09] morgondag commented on #442
Can confirm that there is still a white line on transitions with these versions:

[code]

[2016-06-02 16:37] franzejr commented on #708
@mvaivre I got this on iOS.
<img width="392" alt="screenshot 2016-06-02 13 36 42" src="https://cloud.githubusercontent.com/assets/868917/15752997/1a4307aa-28c7-11e6-9eec-cf917cf5a493.png">

[2016-06-02 17:02] cridenour commented on #708
This is upstream RN bug and fixed in 0.26.2, which is a JS only upgrade.

[2016-06-02 22:17] Olliepop opened #771 "Dispatching multiple actions within TabBar onSelect"
### Version
- react-native-router-flux v3.26.16
- react-native v0.26.2
### Expected behaviour

[Within the TabBar `onSelect` method](https://github.com/aksonov/react-native-router-flux/blob/master/src/TabBar.js#L22), the following code will dispatch actions for, and execute each of the following:

[code]

The following should `pop` three times:

[code]
### Actual behaviour

The following code:

[c

[2016-06-02 22:18] Olliepop commented on #717
This is worth a seperate issue, as this issue (#717) is related to TabBar behaviour.

[2016-06-02 22:24] joenoon commented on #771
@Olliepop what do you mean by "within the TabBar onSelect method"?  How do you get that code (scene_1,scene_2,scene_3) to be executed inside onSelect in the first place?  Did you fork the code and modify onSelect to run that code?  As onSelect stands now, it executes the key name for the tab selected - thats it - no 1, 2, 3, pop, pop, pop, etc... so I'm trying to understand how I would even go abo

[2016-06-02 22:31] Olliepop commented on #771
@joenoon This isn't being used in production 🙂  I'm modifying the TabBar source for the purpose of submitting a pull request.

What i want to do is execute `Actions.pop()` for each child in the navigationState of a tab so that tapping a tab takes you back to the initial scene for that tab (functionality described in related issue #717)

[Here's what i'm trying to achieve in my fork](https://github

[2016-06-02 22:40] joenoon commented on #771
Ok I think I follow now.  Here are a couple ideas:

- This "pop to root" should only happen if the *active* tab is tapped again.  Not if switching among different tabs.  I think thats the common convention.

- Maybe it should be something like `Actions[key]({popChildren: popChildrenOnSelect})` and the children could be truncated in the reducer?

[2016-06-02 22:45] Olliepop commented on #771
I agree. This is what i'm using in my fork which is running 3.22.23, and achieves this:
[code]

[2016-06-03 04:25] BipinBhandari opened #772 "Example is not working"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

react-native-cli: 0.2.0
react-native: 0.26.2

- react-native-router-flux v3.?.?
- react-native v0.?.?

### Expected behaviour
I was expecting the example app would run.

### Actual behaviour
<img width="372" alt="screen shot 2016-06-03 at 10 09 32 am" src="https://cloud.githubusercontent.com/assets/5967448/15

[2016-06-03 05:55] diogoviannaaraujo opened #773 "Routing from inside a tab scene to outside it breaks the navbar"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.26.0
- react-native v0.26.3

### Expected behaviour

Im using a structure like this

[code]

I did that so when routing to Item profile it would not show the tabBar, and would keep the tabs position the same and so
In 3.22, i was able to push from Home to ItemProfile without prob

[2016-06-03 10:34] babbarankit opened #775 "Actions.callback is not defined"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.26.2
- react-native v0.26.2

### Expected behaviour
I am calling the second screen using Actions.second() It should redirect to new screen

### Actual behaviour
Instead it is saying Actions.callback() is not defined

### Steps to reproduce

1. Install React-native with react-nati

[2016-06-03 12:05] babbarankit commented on #775
This seems to be working. I will need to improve my library design.

[2016-06-03 12:05] #775 closed

[2016-06-03 12:35] rturk commented on #775
@babbarankit Fantastic! Gitter is also a great place to ask questions.
 https://gitter.im/aksonov/react-native-router-flux

[2016-06-03 12:36] rturk commented on #773
@diogoviannaaraujo can you elaborate? Can you please paste all your code or link to a gist. Snipets of code don't help much.

[2016-06-03 15:36] cridenour commented on #772
I believe you need to cd to Example to run it. Can you try and report back?

[2016-06-03 15:55] babbarankit commented on #775
Thanks @rturk for this info 👍

[2016-06-03 16:55] joewood commented on #103
The `Navigator.NavigationBar.Styles.General.TotalNavHeight` value doesn't seem to be quite large enough to offset the navigationbar. Using the inspector, the NavBar is 64px, but the value of TotalNavHeight is 56.

I've never understood why the NavBar's child navigation card isn't rendered in the body of the Navigation component so this offset isn't necessary. Why not make it the default?

[2016-06-03 16:59] sammkj opened #776 "Unable to get TabBar working"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.26.16
- react-native v0.26.3

## Problem

When I go to `tabbar`, I don't see the tab bar. Did I do something wrong?

[code]

[2016-06-03 17:06] cridenour commented on #776
The `tabbar` Scene should be the one with tabs={true}, not it's first child. Basically remove the whole `tabbar` scene and rename `main` to `tabbar`.

[2016-06-03 17:19] sammkj commented on #776
@cridenour , thank you for your response. I tried your suggestion. But still can't get it work. Here a screenshot:

![deded](https://cloud.githubusercontent.com/assets/9153498/15787016/5d0fc708-2985-11e6-9b82-cc8e14575c44.gif)

[2016-06-03 18:11] Elyx0 commented on #773
I've experimented the same.

When navigating from down to top
`static renderNavigationBar(props) {` is never called.

In his example
[code]
Calling `Actions.Login()` from the Scene `Fav` would render the Login Scene without calling `renderNavigationBar` hence having the top bar empty.

[code]

[2016-06-03 19:09] diogoviannaaraujo commented on #773
Yeah, thats exaclty it!

[2016-06-03 21:44] rturk commented on #773
Please check example
You're not calling renderNavigationBar anywhere in your code, what I'm missing something?

Also you can always include customized NavBar in your render code

[code]

[2016-06-03 23:15] rturk commented on #773
What happens if you go Login from 'ItemProfile' ?

[2016-06-04 01:36] shiv86 opened #777 "[Question] Best way to Synch state across scenes using Default Reducer."
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

    "react-native": "^0.26.3",
    "react-native-router-flux": "^3.26.16"

### Question

What is the best way to change the props of another scene such that it is consistent with another scene using the DefaultReducer:

Say for example I have 3 scenes: **MainContainer** > **FirstContainer**  > **SecondContain

[2016-06-04 06:43] shiv86 commented on #756
If you are using the default reducer you can also get access to the current state and hence the route using:

[code]

[2016-06-04 06:52] aksonov commented on #777
Sorry, but it is only navigation router, not framework for syncing your app state. I'd recommend to look at MobX & react-native-mobx or Redux.

[2016-06-04 06:59] OFranke opened #778 "Passing parameters via Action does not work"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.26.16
- react-native v0.26.1

### Expected behaviour
I want to pass parameters via Actions. This is what I am doing:

     Actions.CompanyProfile({companyName: "company_name"});

I want to receive companyName in the CompanyProfile constructor like this:

class CompanyProfile exte

[2016-06-04 08:29] shiv86 commented on #777
ah ok. I misunderstood the scope of RNRF. Thanks

[2016-06-04 08:29] #777 closed

[2016-06-04 09:15] shiv86 commented on #778
How have you defined your scenes ? Typically it looks like:

[code]

and you called Action.<key>({attribute: value}). So in the case above if I wanted to call firstContainer I would call `Action.firstContainer(companyName: "company_name"{})`. Note the value after Action. refers to the key name that you define not the actual component.

[2016-06-04 09:27] OFranke commented on #778
<Provider store={store}>
            <Router hideNavBar={true}
            footer={TabBar}>
                <Scene key="root">
                    <Scene key="TabBar" tabs={true} default="TagSearchView">
                        <Scene        key="TagSearchView"
                        title="TagSearchView"
                        icon={TabIcon}
                        iconName={"home"}

[2016-06-04 09:32] shiv86 commented on #778
My bad  ({companyName: "company_name"}) should have been within the brace. Yeh not sure why its coming as undefined .

[2016-06-04 16:22] jdmunro commented on #187
I'm also trying to get a modal to appear transparently over some other scenes. I've tried the example from @sbycrosz but this doesn't seem to work anymore because ```Schema``` is no longer supported. I can get a modal to appear but it is not rendering the scenes beneath. Has anyone had any luck?

[2016-06-05 02:25] lexfernandez opened #780 "Actions.[SCENE_NAME] is not working."
### Version

Tell us which versions you are using (react native 0.26 is required for v3):

"react-native": "^0.26.2",
"react-native-button": "^1.6.0",
"react-native-drawer": "^2.2.3",
"react-native-router-flux": "^3.26.16",
"react-redux": "^4.4.5"
### Expected behaviour

I implemented the drawer in my react-native application, I am using redux as well, I expect the side menu show up with the butto

[2016-06-05 10:03] Beingbook opened #781 "[NavBar] wrong style"
### Version

Tell us which versions you are using (react native 0.26 is required for v3):
- react-native-router-flux v3.26.16
- react-native v0.26.3
### Expected behaviour

<img width="487" alt="2016-06-05 6 57 07" src="https://cloud.githubusercontent.com/assets/2682865/15804774/5b3fd186-2b4f-11e6-8e72-93bbf2ec8bb4.png">
`<NavBar />` renders correctly iOS
### Actual behaviour

![kakaotalk_photo_20

[2016-06-05 12:46] xrjxs opened #782 "Actions error and navigationState.children conflicts with another child!"
### Version
- react-native-router-flux v3.26.16
- react-native v0.25.1

### Expected behaviour
Actions.[SCENE_NAME] work correctly.

### Actual behaviour
Actions.[SCENE_NAME] jump to another scene

### Steps to reproduce

1. scene config

        reducerCreate(params) {
             const defaultReducer = Reducer(params);
             return (state, action)=>{
                return defaultReducer

[2016-06-06 00:47] vonovak opened #783 "Search field in navbar loses focus after animation"
### Version

- react-native-router-flux v3.26.16
- react-native v0.26.3

My problem is this - I'm using RNRF in an android app and I have a search `<TextInput>` in the navbar, which has autofocus set, so that after transitioning to the Scene, user can enter query right away. The problem is, the focus is lost upon the end of animation.

### Expected behaviour
As the scene transitions, I'd like the

[2016-06-06 01:20] 281330 commented on #247
I'm having a similar issue, and @aksonov way of doing it does not work for me because I receive undefined error.  Has there been a change, or any updated way on how to do this?

[2016-06-06 01:22] diogoviannaaraujo commented on #773
If I open the app on Login and go to Itemprofile the navbar is there, but if I go from Home to Login and the navbar is alreadly gone it does not come back.

[2016-06-06 01:48] steida commented on #733
Use React key

[2016-06-06 02:10] lexfernandez commented on #780
I figure out that my problem is the Switch component because it is redirecting me to the map even if I try to push another view, is there a way to avoid this behaviour.

I remove this from my root component and everithing else start working as expected.
[code]

[2016-06-06 08:24] vonovak commented on #783
solved by not using the static renderNavigationBar and focusing the field upon the end of animation

[2016-06-06 08:24] #783 closed

[2016-06-06 08:35] Andreyco opened #784 "Swipe back moves multiple scenes"
### Setup

"react-native-router-flux": "^3.26.16"
"react-native": "0.26.2"
### Expected behaviour

On swipe back gesture, I expect to animate single scene only and go back by that scene.
### Actual behaviour

From time to time (+- 50%), swipe back gesture animates 1 or multiple scenes. Despite it animates multiple scenes while swipe back is in progress, it goes back by single scene in every situat

[2016-06-06 08:37] aksonov commented on #784
Please check this on UIExplorer react native example with ExperimentalNavigation, it could be RN issue.

[2016-06-06 08:40] aksonov commented on #780
Could you clarify? Switch switches to map because probably your token is not empty. It should not be re-rendered unless your redux state auth is changed.

[2016-06-06 08:55] Andreyco commented on #784
This is related to scene nesting - which is unique to RNRF as far as I know.
Having different hierarchy, it works as expected. Except navbar does not slide with Scene

[2016-06-06 09:05] aksonov commented on #784
Could you add more scenes with "plain" implementation?
Why did you close this?

[2016-06-06 10:06] #679 closed

[2016-06-06 10:06] 281330 commented on #782
[code]

[2016-06-06 10:38] vnovick opened #785 "Tab switching changes routes.scene to tab wrapper on the second time you click the tab."
### Version

Tell us which versions you are using (react native 0.26 is required for v3):

"react-native": "^0.26.2",
"react-native-router-flux": "^3.26.5"

 When switching between tab bars "routes.scene.name inside reducer" is changed to "tabbar" instead of the correct route name.

[code]

This is "routes.scene" the first time I access tickets tab:
![screen shot 2016-06-06 at 1 35 44 pm](https://

[2016-06-06 10:51] aksonov commented on #785
Please always use latest RNRF version (now it is 3.26.16)

[2016-06-06 10:54] vnovick commented on #785
Updated the version. Still the same

[2016-06-06 11:22] SudoPlz opened #786 "React native 27 is out 3 hours ago. Any plans for 3.27.0?"
[Here](https://github.com/facebook/react-native/releases)!

[2016-06-06 11:24] OFranke commented on #778
I found the problem.
If I move the Scene CompanyProfile outside of the TabBar, I am receiving the props as expected.
Is there a possibility to to pass parameters to Scenes which are part of the TabBar?

I thought about something like

    Actions.TabBar.CompanyProfile({companyName: "company")};

but that does not seem to work.

[2016-06-06 12:18] texas697 opened #787 "view is not changing on scene selection"
### Version

Tell us which versions you are using (react native 0.26 is required for v3):
- "react-native-router-flux": "3.26.1"
- "react-native": "0.26.2"
### Expected behaviour

change scenes
### Actual behaviour

The console shows the scene is being pushed into the stack but the view does not change. I have used the example as the base for my project.

[code]

[code]

[code]

![untitled](https:

[2016-06-06 12:23] rturk commented on #786
Acording to release notes Lot's of breaking changes

Breaking changes related to Navigation

- Kill NavigationLegacyNavigator (ef44781) - @hedgerwang
- Kill NavigationExperimental Containers (14eb427) - @ericvicenti
- Kill NavigationView (c3714d7) - @hedgerwang

New features
- Animated: Implement toJSON method of Animated (17f0807) - @wusuopu
- Expose a new prop transition for scene renderer. (55c

[2016-06-06 12:56] Andreyco commented on #784
No, I did not attempt to do so.

[2016-06-06 13:10] kimorq commented on #171
you can use Actions.refresh({data:"Custom data", title:'Custom title' }) immediately after Actions.pop() and this will do the trick. Refresh will be called on the parent

[2016-06-06 13:29] aksonov commented on #784
@Andreyco Please try, because it may be not RNRF issue. RNRF just constructs navigationState and passes it to RN NavigationExperimental API.

[2016-06-06 13:45] normenster commented on #778
I can confirm that putting a <scene> into tabbar and calling Action.Scene(payload) from somewhere to pass vars to that scene doesn't work, although the scene is being displayed and loaded. But props remains in an old state.

[2016-06-06 14:05] aksonov commented on #778
It is not currently implemented - jump action doesn't pass props. You may submit PR to implement that.

[2016-06-06 14:08] sandeepgujela commented on #708
how can remove this yellow screen("SceneRendererProps") in android ??

using "react-native": "^0.26.0"
          "react-native-router-flux": "^3.26.0",

[2016-06-06 14:15] jrwm commented on #647
Though I can create and manipulate RightButton from Component by using `static renderRightButton` I cannot access the Component's state because the method is static. :( Any ideas?

[2016-06-06 15:22] jpapillon commented on #786
+1

[2016-06-06 17:26] cridenour commented on #787
Is this happening in the Example project as is? Or after you've made changes?

[2016-06-06 17:28] texas697 commented on #787
after I made changes. this from my project

[2016-06-06 19:07] rgovindji commented on #736
I am having trouble with the tab bar as well, maybe it's related to this. I want to display the tab bar for scenes that I have declared outside of the tab bar scene but have navigated to from a scene within a tabbar. Is that possible?

[2016-06-06 19:40] esutton opened #789 "onLeft and leftTitle do not work using Example on tab2_2"
### Version
0.26 is required for v3):

- react-native-router-flux v3.26.16
- react-native v0.26

### Expected behaviour
- Expected left button to display "Left"
- Expected left button press to display alert "Left button!"

File: Example.js
[code]

### Actual behaviour
- The **Tab #2_2** left button displayed no text, only the left arrow
- **Tab #2_2**  scene transitioned to tab2_1 without displayi

[2016-06-06 20:12] Andreyco commented on #786
As stated in release notes _NavigationRootContainer_ is removed. Assuming that, RNRF is completely broken, since _Scene_ makes use of _NavigationRootContainer_. Or am I wrong?

[2016-06-06 20:39] vpasquier opened #790 "Avoid `rightButtonImage` or `rightTitle` warning when set to `null`"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.22.0
- react-native v0.22.2

### Expected behaviour

Not having warnings when setting `null` to `rightButtonImage` or `rightTitle`

### Actual behaviour

The opposite

### Steps to reproduce

Explained in the expected behaviour

Another solution would be hide and display those bu

[2016-06-06 20:46] vpasquier commented on #790
I closed as #791 is created

[2016-06-06 20:46] #790 closed

[2016-06-06 20:53] cgreening commented on #419
customRouterReducer.js:

[code]

And then in your setup do:

[code]

Then send actions with the type "BODGE" to pop back to the first scene.

[2016-06-06 20:59] joenoon commented on #736
@rgovindji that sounds to me like you want this:

You click a tab, click a user's name which should open their profile.  That could happen from any tab at any depth.  The expected behavior would be to "push" the profile screen into the current navigation flow (current nav/tab).  And then when browsing that profile, you might see a "friends" section and find someone else to click... their profile w

[2016-06-06 21:06] joenoon commented on #786
@Andreyco RNRF is locked to 0.26.x, so RNRF should be perfectly fine.  I'm sure there will be a lot of work to make RNRF work with 0.27.x given some of the changes upstream.  So RNRF will hold people back to 0.26.x for now.  I will try to allocate some time this week to look at the 0.27.x path.

[2016-06-06 21:27] lexfernandez commented on #780
@aksonov it switch to map but when I try to call another scene using Action.scene() it doesn't work, I think it is because of the Switch component because when I remove it the Action.scene() works great. How can avoid this conflict?

[2016-06-06 21:27] Andreyco commented on #786
@joenoon oops, it sounded differently as I mentioned that. RNRF works just great as is, with RN 0.26. I meant it's not in shape ready for RN 0.27, which has introduced several breaking changes.

[2016-06-07 01:33] rgovindji commented on #736
@joenoon thanks a lot that is exactly what I was looking for 👍

[2016-06-07 05:35] aksonov commented on #780
Then it could be the bug. Could you make some example based on this project example and publish it to github?

[2016-06-07 05:36] OFranke commented on #778
I've had a look at the code, I am way to unexperienced yet to understand what's happening in Reducer.js, so I am trying to work around this for now.
Thanks aksonov!

[2016-06-07 13:30] esutton commented on #419
@cgreening Thank you!

Can you please give example on how to send action with type "BODGE" ?

[2016-06-07 14:29] lexfernandez commented on #780
Sure, I will try to create an example as soon as I can, I will let you know.

[2016-06-07 15:46] esutton commented on #747
Thank you @rturk  for a great idea!

Your custom NavBar idea should be perfect and solve a lot of problems

[2016-06-07 16:10] rturk commented on #747
@esutton this gist is just a pice of my code. Probably I've forgot to paste something.

[2016-06-07 17:01] xvalentino commented on #770
I'd like to disable animations. Anyone know if there is an easy way to implement this yet?

[2016-06-07 17:17] joewood commented on #786
Maybe worth testing with the release candidate of 0.28 - which has just been [labeled](https://github.com/facebook/react-native/releases/tag/v0.28.0-rc.0). This is due to be final on [June 20th](https://github.com/facebook/react-native/blob/master/Releases.md)

[2016-06-07 17:21] zxcpoiu commented on #770
Try

https://github.com/aksonov/react-native-router-flux/blob/master/Example/Example.js#L105

and see if it works

[2016-06-07 17:29] cridenour commented on #786
Which as I'm sure we're all aware is my birthday. 🎉

[2016-06-07 18:32] diogoviannaaraujo commented on #773
Someone could find any workaround this? Is forcing me to stay with RN 0.22 😢

[2016-06-07 19:38] aestrro opened #794 "Prop for drawerImage placement on `left` and `right` of navigationBar"
### Version
- react-native-router-flux v3.26.5
- react-native v0.26.2

### Expected behaviour
Adding a prop on **Scene** when desiring to place the drawerImage on the `right` or the `left` of the navigationbar.

### Actual behaviour
Currently on a `Scene` we are able to overwrite the `hamburger` drawerImage with our own image, which displays the drawerImage on the left side of the navigationBar by

[2016-06-07 19:42] rturk commented on #773
@diogoviannaaraujo I can't reproduce this. You can always re-create your own navbar and implement it inside the scene view
https://gist.github.com/rturk/a52321593dd9264ddd2ccbd43eb489b7

[2016-06-07 20:27] charpeni commented on #635
Thank you, I'll do some cleaning with babel soon.

[2016-06-07 20:35] charpeni opened #795 "Cleaning of branches"
Actually we have 18 branches, is it possible to remove the branches that are no longer used ?

It will prevent pull requests on unwanted or stale branches.

[2016-06-07 20:37] charpeni commented on #567
@aksonov What happened with the mention-bot ?

[2016-06-08 04:47] Roilan commented on #752
Is there any update on this beside having it `absolute`?

@lwhiteley Have an example of what you did?

[2016-06-08 06:15] lexfernandez commented on #780
Hi @aksonov at the end I just needed to add type="replace" to my scenes in order to see the changes. I'm not sure why only type="replace" is working, can you please explain how do I have to use the other types. 'push', 'jump' and 'reset'

[2016-06-08 07:01] aksonov commented on #780
@lexfernandez I'm waiting for examples, as i said it is probably a bug.

[2016-06-08 07:02] aksonov commented on #795
Are you able to remove? Or should i do it?

[2016-06-08 07:03] aksonov commented on #567
I don't know, i didn't change anything.

[2016-06-08 07:05] aksonov commented on #785
Please provide github repo with our Example project modification to demonstrate issue.

[2016-06-08 07:06] aksonov commented on #773
@diogoviannaaraujo Please provide github repo with our Example project modification to reproduce the issue.

[2016-06-08 07:07] #757 closed

[2016-06-08 07:08] aksonov commented on #776
Please check our Example project with tab bar

[2016-06-08 07:09] aksonov commented on #769
@antonzy It could be a bug, could you provide repo based on our Example project to reproduce it?

[2016-06-08 07:11] aksonov commented on #764
No, it is not possible. If you need that, probably something is wrong with your architecture - your UI should be fully reactive, i.e. react on state changes.

[2016-06-08 07:11] #764 closed

[2016-06-08 07:11] #756 closed

[2016-06-08 07:12] aksonov commented on #772
I can't reproduce, closing it.

[2016-06-08 07:12] #772 closed

[2016-06-08 07:15] aksonov commented on #745
It seems good solution, so i'm closing this.

[2016-06-08 07:15] #745 closed

[2016-06-08 07:16] aksonov commented on #763
Please check with latest version.

[2016-06-08 07:17] aksonov commented on #749
I believe it is out of scope of this component. Example project has modal popup with usage of 3rd party component.

[2016-06-08 07:17] #749 closed

[2016-06-08 07:17] aksonov commented on #728
Please, please don't use unsupported versions.

[2016-06-08 07:17] #728 closed

[2016-06-08 07:18] aksonov commented on #727
It is definitely not issue of this component.

[2016-06-08 07:18] #727 closed

[2016-06-08 07:18] #726 closed

[2016-06-08 07:19] #722 closed

[2016-06-08 07:19] aksonov commented on #722
Feel free to reopen if you still have issue with latest version.

[2016-06-08 07:20] aksonov commented on #718
@cridenour answered, closing this issue.

[2016-06-08 07:20] #718 closed

[2016-06-08 07:21] aksonov commented on #732
Sorry, it seems out of scope for this component. This component is just wrapper around new RN navigation.

[2016-06-08 07:21] #732 closed

[2016-06-08 07:21] #733 closed

[2016-06-08 07:22] aksonov commented on #710
Please check latest version, closing it for now.

[2016-06-08 07:22] #710 closed

[2016-06-08 07:25] aksonov commented on #713
@codyhazelwood Could you submit PR, thanks!

[2016-06-08 07:25] #750 closed

[2016-06-08 07:27] aksonov commented on #731
@esutton You definitely need to re-think this and follow flux/redux principles. MySceneComponent should not have any logic except publishing redux/flux events, so onRight could do the same

[2016-06-08 07:27] #731 closed

[2016-06-08 07:29] aksonov commented on #704
It could be good enhancement, any PR is welcome.

[2016-06-08 07:31] aksonov commented on #704
It should not be difficult to implement - implement additional Actions.path 'action' that will accept path, parse that path and call appropriate action Actions.user({userId:VALUE})

[2016-06-08 07:33] aksonov commented on #685
@itinance Looks like you put Router inside some other React component that calls re-rendering. If issue still exist with latest version, please reproduce it with Example project. Closing this ticket for now.

[2016-06-08 07:33] #685 closed

[2016-06-08 07:35] #736 closed

[2016-06-08 07:36] #680 closed

[2016-06-08 07:37] aksonov commented on #662
Seems this more question to RN new Navigation API, not for this component, because this component is just wrapper.

[2016-06-08 07:37] #662 closed

[2016-06-08 07:38] #684 closed

[2016-06-08 07:38] #634 closed

[2016-06-08 07:38] #632 closed

[2016-06-08 07:39] #626 closed

[2016-06-08 07:39] #615 closed

[2016-06-08 07:39] #607 closed

[2016-06-08 07:41] aksonov commented on #442
Sorry, but it is out of scope for this component, if UIExplorer RN example flickers too, raise issue for RN, not here.

[2016-06-08 07:41] #442 closed

[2016-06-08 07:42] aksonov commented on #778
Looks like duplicate of #563

[2016-06-08 07:42] #778 closed

[2016-06-08 07:43] aksonov commented on #527
Should work with latest version, please check. Closing it for now.

[2016-06-08 07:43] #527 closed

[2016-06-08 07:44] aksonov commented on #557
0.27, 0.28-rc all they have breaking changes. Maybe it is really worth checking to copy NavigationExperimental sources into this component, so it will work with any RN version? And merge them from time to time to improve things...

[2016-06-08 07:46] aksonov commented on #525
Closing it for now, but probably we will have the same story with 0.27 now :)

[2016-06-08 07:46] #525 closed

[2016-06-08 07:47] aksonov commented on #781
Feel free to submit PR to fix that, we can't check all android devices...

[2016-06-08 07:47] aksonov commented on #787
Please reproduce the issue with our Example modification and give us repo.

[2016-06-08 07:49] aksonov commented on #786
Looks like no sense to work on 0.27, because 0.28 breaks things again, please check my latest post for #557

[2016-06-08 11:30] axelander opened #796 "Disable "swipe to go back" for modal"
### Version
- react-native-router-flux v3.26.1
- react-native v0.26.0

Is there a way to disable "swipe to go back" for modals?
In the app I'm currently working on we open a WebView in a modal and when trying to scroll up in the WebView the modal captures the gesture and starts the back-animation. Like this:
![](http://g.recordit.co/lDpVhSIbpG.gif)

[2016-06-08 11:37] #713 closed

[2016-06-08 11:39] aksonov commented on #794
With 3.26.20 Drawer's support is simplified - so now you could defined own leftButton/rightButton and use Actions.refresh({key:DRAWER_KEY,  open: value=>!value}) within onPress method.

Check updated docs for more details.

[2016-06-08 11:39] #794 closed

[2016-06-08 11:39] aksonov commented on #789
Should be fixed with 3.26.20

[2016-06-08 11:41] mvaivre commented on #786
@aksonov Agreed. And 0.28 will add important fixes like this one: https://github.com/ericvicenti/navigation-rfc/issues/61

[2016-06-08 11:58] aksonov commented on #789
3.26.21 reverts Back button over Left button priority, because it is more correct (don't show drawer but back button). In rare case you could use onBack, backTitle and new hideBackImage properties to show something custom instead of own back button

[2016-06-08 11:58] #789 closed

[2016-06-08 11:58] #752 closed

[2016-06-08 12:02] aksonov commented on #759
Good idea, i believe it should not break existing apps, please check 3.26.22

[2016-06-08 12:02] #759 closed

[2016-06-08 12:04] aksonov commented on #782
@xrjxs @281330  is right, also you could use 'clone' attribute to push 'cloned' scene from anywhere.

[2016-06-08 12:04] #782 closed

[2016-06-08 12:09] aksonov commented on #723
@anthonywebb You may try to use Actions.refresh(data) before Actions.pop. I've just added onBack property to latest 3.26.22
However it will not help for gesture back. Looks like upcoming 0.27/0.28 version will have separate onBack handler for this.

[2016-06-08 12:09] #723 closed

[2016-06-08 12:13] aksonov opened #797 "[New Feature] Modifiers for refresh action"
Just realized that working with drawer is still pain with RNRF, you need to pass it to context, etc. More pain if you would have several drawers (left & right). From 3.26.20 you could 'switch' state using modifiers like
`Actions.refresh({ key: DRAWER, open: value => !value })` will 'switch' open value, so all you need to handle 'open' state appropriately within your drawer. So no need to pass cont

[2016-06-08 13:14] rturk commented on #786
@aksonov agreed. I've spent a few hours reading v0.27 and v0.28 navigator code. There are several breaking changes related to the same components. Makes no sense to invest time for two consecutive breaking changes that are only a few weeks apart. Also v0.28 it's already in RC so we can already start coding for it.

[2016-06-08 13:57] farwayer commented on #557
I don't think it is good idea to have separate copy of NavigationExperimental. It can become very different from original source very soon. imho it is better to wait API stabilization. The presence of the version matrix and supporting 0.28 will be enough.

[2016-06-08 14:57] lwhiteley commented on #752
was this fixed or a solution provided?

[2016-06-08 14:58] lwhiteley commented on #752
@Rollan its as i said before,

in order to get away from the absolute style and had to put the header component at the top of the components I use for the Scenes. which is not preferable i guess

[2016-06-08 15:05] lwhiteley commented on #752
and when the drawer is open, how do i get it to move to the side with the rest of the scene?
 that is my intended use case

[2016-06-08 16:12] Elyx0 commented on #717
This can be handled with a custom rnrf reducer. I implemented something along these lines back in v.22

[code]

[2016-06-08 18:03] 281330 opened #799 "If you are passing component={Drawer} to show your DrawerLayout, how are you opening/closing it using the navbar burger button?"
This is just a general question in terms of approach.

I was reading the API documentation and have decided to do the following:

[code]

I have a DrawerLayout component that uses DrawerLayoutAndroid, and I am also using the RNRF built-in nav bar with a burger button.  In the code above, I do not have the renderLeftButton() because I couldn't get it to work, but that's what I plan on using.

Using

[2016-06-08 18:27] willmcneilly commented on #796
Possibly related to this issue https://github.com/facebook/react-native/issues/7450

[2016-06-08 18:27] joonhocho commented on #557
Maybe ask React Native team to have a separate repo for NavigationExperimental ?

[2016-06-08 18:31] satya164 commented on #557
This has come up a lot in the past. I think you'll find this discussion useful - https://github.com/facebook/react-native/issues/6184

[2016-06-08 19:33] bkspace commented on #306
@vysakh0 - looks like react-native-mock is missing NavigationExperimental: https://github.com/lelandrichardson/react-native-mock/pull/48

[2016-06-08 21:16] aestrro commented on #794
Must I set the tabs={true} prop in the child Scene to get this working? Currently my application is not using tabs, so I feel this is why it doesn't work right now.

[code]

[2016-06-08 22:30] jmurzy commented on #557
@joenoon

I've experienced similar [issues](https://github.com/jmurzy/react-router-native/issues/2) in my own project. 🤕

To answer your question:

I believe it should solve your problems with React Native versions, and no, ``NavigationalExperimental`` isn't currently dependent on specific versions of React Native. I'm still not sure if I'd recommend forking as ``NavigationalExperimental`` is stil

[2016-06-08 23:43] adrienthiery commented on #780
I think I got in a similar situation, the idea being that the switch "Restricts" you to only one Scene, but in my case, I just created 2 "subroot" scenes for the switch :
[code]

And then my switch is :
[code]

So only my Scenes children to "anonymous" are available if my user is not logged in, and only my Scenes under "authenticated" are available if my user is logged in.

Is it not the expected

[2016-06-08 23:58] charpeni commented on #795
We are able to remove it, but i'm afraid of deleting a useful branch. I'll let the creator delete it.

[2016-06-09 00:40] brien-crean opened #800 "Actions.pop(): weird transitions between scenes"
### Version

Tell us which versions you are using (react native 0.26 is required for v3):
- react-native-router-flux v3.26.24
- react-native v0.26.3
### Expected behaviour

Smooth transition between two scenes without clunky overlay during transition.
### Actual behaviour

A partial section of the Tab 2_1 screen is overlaid clunkily over the UI when transitioning back to the main screen. I have in

[2016-06-09 05:22] aksonov commented on #557
@jmurzy Looks like your wrote your router **once**, but selling it **anywhere** :) Okey, if seriously, here is my feedback - but please don't start discuss it here (you may use your topic jmurzy/react-router-native#7 for that, you could quote my feedback there if you want), because it is really offtopic here and i don't know why i didn't remove your post (probably because first half is quite usefu

[2016-06-09 05:33] aksonov commented on #800
I noted this as well, but i believe it is NavigaitonExperimental related. I think you should build some prototype based on UIExplorer RN demo and check behaviour there.

[2016-06-09 05:34] aksonov commented on #799
You will access it via navigation state! Check #797 and https://github.com/aksonov/react-native-router-flux/blob/master/docs/OTHER_INFO.md#drawer-side-menu-integration

[2016-06-09 05:38] aksonov commented on #794
It is not required to have tabs, it should be just one child, but usually it is tabs. I don't know how it is possible to use drawer but not use tabs (tabs is NOT tab bar, it is 'tabs' structure, like tabs in browser) - your drawer scenes are usually tabs.

[2016-06-09 06:12] brien-crean commented on #800
@aksonov Good idea, I'll try that and see if I get the same results.

I had seen this issue for a while and stuck to RNRF v2 until now because of it. I thought the issue was related to [ this Navigation Experimental fix](https://github.com/facebook/react-native/commit/81c62c5f41da2e34f0c0e19ca38843918c23c32bl) added in RN 0.26 but doesn't seem so.

[`didFocus` event should fired after transition f

[2016-06-09 13:45] #799 closed

[2016-06-09 16:43] cridenour commented on #796
Have you tried `panHandlers={null}` on the Scene?

[2016-06-09 17:40] Anthonyzou commented on #770
This seems to work. The only issue I cant figure out is when to reset `bounceValue` in the state when navigating away.

[code]

[2016-06-09 19:04] zelphir commented on #523
@aksonov any updates on this one?

[2016-06-09 20:16] BrainTrain3000 commented on #800
I've experienced this issue, and it seems to occur when Scene 1 is clicked before Scene 2 unmounts (in your gif example). Throw a console.log on componentWillUnmount on Scene 2 and you'll see what I mean. Not sure if that's self-evident or if it helps, but just thought I'd mention it!

[2016-06-10 00:00] lexfernandez commented on #780
Thanks @adrienthiery, I remove the drawer and follow your example and it works like a charm.

Do you have any idea how to implement a drawer(side-menu), I follow the example but I can't make it work correctly.

[2016-06-10 00:08] lexfernandez commented on #780
@aksonov here is the example of the drawer + switch, please check it out and let me know what is the problem.

https://github.com/lexfernandez/goGreen/tree/drawer

[2016-06-10 06:14] Swordsman-Inaction opened #803 "Cannot pop twice"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.26.16
- react-native v0.26.3

### Expected behaviour
I want to go back twice. I got the stack A -> B -> C, now I want go back to A without reload or reset it from C.
[code]
or
[code]
doesn't work

### Actual behaviour
Just go back(pop) once

### Steps to reproduce

1.create 3 sce

[2016-06-10 06:37] aksonov commented on #803
Yes, looks like this problem started from React Native 0.26, probably NavigationExperimental API has changed something. As workaround you may use setTimeout(()=>Actions.pop) for 'additional' actions, it should work.

[2016-06-10 06:38] Swordsman-Inaction commented on #803
@aksonov thanks, man

[2016-06-10 06:39] #803 closed

[2016-06-10 07:04] Swordsman-Inaction opened #804 "Go back to any scene before current one?"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.26.16
- react-native v0.26.3

### Expected behaviour
Let's say we have a scenes stack like this: A -> B -> C -> D -> E
I'm at E scene now, and I want to go back to B, I need the stack to be A -> B.
The action is that we go back to B, and clear C, D, E. A and B won't be refreshing

[2016-06-10 07:14] axelander commented on #796
@cridenour Thank you! 👍

[2016-06-10 07:26] #797 closed

[2016-06-10 07:29] nitsujri commented on #804
@Swordsman-Inaction for us, we ran into this with confirmation modals.

`Bookings Index => Booking page => Confirm booking Modal => Booking confirmed Modal`

We wanted to go back to `Booking page`. Our solution was to double `pop()`.

A `clear` would be nice, but not necessary since you can maintain the stack size through the store. Given the amount of effort required just to keep up to date with

[2016-06-10 07:30] aksonov commented on #804
#798 could help here?

[2016-06-10 08:14] Swordsman-Inaction commented on #804
@aksonov @nitsujri @rseemann you guys are awesome

[2016-06-10 08:19] rseemann commented on #804
@Swordsman-Inaction I still haven't had time to work further on this, but if you need this ASAP and your tree structure is simple enough you could try the fork for now.

[2016-06-10 08:35] Swordsman-Inaction commented on #804
@rseemann I'll try it, thanks

[2016-06-10 13:18] tsyirvo commented on #784
Hey,
I'm having the same issue when swiping back when the scenes are wrapped inside a tabbar…
I'm using RNRF v3.22.23 & RN v0.24.1

[2016-06-10 13:18] xvalentino commented on #770
@Anthonyzou depending on what kind of scene it is, maybe you could reset the state in componentWillUnmount.

[2016-06-10 16:04] SudoPlz opened #807 "BackAction not dispatched when I swipe a Schene."
This is the declaration of my Schene:
`<Scene key="VOTE" {...defaultProps} component={Vote} title="Vote" direction="vertical" hideNavBar={true}/>`

I use redux. Now when I swipe down, I pop to the previous parent, but (unlike from when I Actions.pop()) I get neither a `back` nor a `BackAction` action dispatched. I only get a `focus` action dispatch.

Why?

I'm using
`React Native 0.26.3`
and
`RNRF

[2016-06-10 18:00] aestrro commented on #794
Just to let you know:
[code]
Does not work because the open value is a function in this state, (I was getting a YellowBox error), but:

[code]
Does work because when the drawer is open I can dismiss by other means...

[2016-06-10 19:07] aksonov commented on #794
You need to set initial value open so refresh could determine modifier

Pavel.

[2016-06-10 23:49] 281330 commented on #799
@aksonov thanks!  i am wondering if I am using DrawerLayoutAndroid, should I be using the drawer methods for open and close?  I am not sure how the Drawer library you are using works, I am just trying to use what react-native provides out of the box.  Please let me know if you have any suggestions.  Thanks!

[2016-06-12 04:15] viper1029 commented on #754
I'm trying to do the same thing. Have you found a solution?

[2016-06-12 13:22] mbecker opened #809 "Animation"
### Version
- react-native-router-flux v3.26.24
- react-native v0.26.2
### Feature

Hi,

I know from reading the issues here that you could configure the animation for navigation from one to another scene as follows:

[code]

(You could use 'forHorizontal' as well)

Are any other animations are possible?

So from the normal [react native Navigator.NavigatorSceneConfigs](https://github.com/facebook

[2016-06-12 22:43] itcurves opened #810 "Back button"
### Version
Tell us which versions you are using (react native 0.26 is required for v3):

- react-native-router-flux v3.26.16
- react-native v0.26.3

### Expected behaviour

Back button in navigation bar

### Actual behaviour

I installed the example app as shown in gif, but I never get Back button in Navigation bar on iOS.

What I have to do to add that button?

### Steps to reproduce

1.
2.
3.

[2016-06-13 01:04] yang515648779 commented on #754
[code]
this is my solution，but the backButtonImage is still warning。why the Proptype of backButtonImage is number?

[2016-06-13 04:44] symmetriccurve commented on #683
leftButtonImage does not work! How did you get it to work. It  works on right though

[2016-06-13 09:57] aksonov commented on #786
Okey, 3.30.0 version doesn't depend from 0.26 anymore (i've forked NavigationExperimental API to separate package). We will update fork (react-native-experimental-navigation) when new changes within Experimental Navigation API will be made (we could clone even latest master fixes now!). Also we will update this component to work with latest version API but it is not so critical now (now component

[2016-06-13 09:57] aksonov commented on #557
Okey, 3.30.0 version doesn't depend from 0.26 anymore (i've forked NavigationExperimental API to separate package). We will update fork (react-native-experimental-navigation) when new changes within Experimental Navigation API will be made (we could clone even latest master fixes now!). Also we will update this component to work with latest version API but it is not so critical now (now component

[2016-06-13 10:13] aksonov commented on #786
@joenoon other others, if you want to adopt RNRF to latest 0.28 (or even master) API, let me know. I've published latest master as react-native-experimental-navigation, 0.29.0-alpha, so you could play it with RNRF right now.

[2016-06-13 10:18] aksonov commented on #786
Closing it for now. If someone wish to upgrade RNRF to latest API, let me know, PR is welcome.

[2016-06-13 10:18] #786 closed

[2016-06-13 10:23] aksonov commented on #810
Enter tabbar, go to tab2_2 or anywhere where is more than one scene within the stack.

[2016-06-13 10:23] #810 closed

[2016-06-13 10:25] itcurves commented on #810
ok I got it thank you. Is there a simple way to use Tabs? I am trying but bit new thing for me.

[2016-06-13 10:26] aksonov commented on #810
Check Example

[2016-06-13 10:29] itcurves commented on #810
That what I am following:
please check what is wrong:

<Scene key="root">
    <Scene key="tabbar" tabs={true} >
        <Scene key="tab1"  title="Tab #1"  >

        </Scene>
        <Scene key="tab2"  title="Tab #2" >
        </Scene>
    </Scene>
    <Scene key="home" component={Home} title="My Title" hideNavBar={false}/>

  </Scene>

gives me error below:
[react-native-router-flux] component pr

[2016-06-13 10:30] aksonov commented on #810
Please go to gitter chat and ask for help.

[2016-06-13 11:13] dellheng opened #812 "Scene dynamic initial"
### Version
- react-native-router-flux v3.26.13
- react-native v0.26.3

### Expected behaviour
      let isLoggedIn = this.state.isLoggedIn;

       <Scene
          key="login" component={Login} title="Login" type="reset" hideNavBar
          initial={isLoggedIn}
        />
        <Scene
          key="main" tabs default="Dashboard" tabBarStyle={colorStyles.appBg}
          initial={isLoggedIn}

[2016-06-13 12:00] reddingit opened #813 "what's the difference between reset and replace?"
Anybody can tell me?

[2016-06-13 13:09] 281330 commented on #813
sure.  its documented at https://github.com/aksonov/react-native-router-flux/blob/d8ddf9d5e2f3ab4f034d1574793e08032f788e0c/README2.md#configuration

Property 'type' is -

[code]

[2016-06-13 14:09] cgreening opened #814 "Version 3.30.0 on npm causes errors with npm start"
### Version

- react-native-router-flux v3.30.0 from npm

### Expected behaviour

Can install version from NPM without any issues. Version on npm should match release tags in github.

### Actual behaviour

Version on npm does not work, version on npm is 3.30.0 which does not seem to match any tagged version in github.

Error on `npm start`

[code]

### Steps to reproduce

1. Install latest version

[2016-06-13 14:22] abelcha commented on #814
@cgreening What version of RN are you using ?

[2016-06-13 15:14] Anthonyzou commented on #770
@xvalentino It doesn't seem to work. This is a scene in parent with the attribute `tabs={true}`

[2016-06-13 15:28] aksonov opened #815 "[WIP] Migrate to newest React Native master branch API (0.29?)"
All, hopefully @joenoon ,i've started 0.29-WIP branch where trying to use latest ExperimentalNavigation API. Internal structure was changed (route/routes keys instead of children, etc.), RootContainer was removed, onNavigate was removed and so on. A lot of breaking changes :(

I've made some significant progress and successfully run demo (i.e. without compile errors :), but there is a lot to do:
1

[2016-06-13 15:37] joenoon commented on #815
@aksonov yes this will be a big and important release for a few reasons.  I'm in a similar situation with time - I don't have much of it - but as my app depends heavily on this navigation I think I can find some time this week.  I'll post back here when I can actually start so we can coordinate better and not repeat work.  BTW I tried your MobX integration and its awesome!

[2016-06-13 15:40] tuckerchapin commented on #814
Just encountered a similar issue:

[code]

[2016-06-13 15:43] aksonov commented on #557
When ExperimentalNavigation API will be stabilized AND our Router will be changed to use it, we will switch from fork to RN again. I'm glad that ExperimentalNavigation 0.26 doesn't depend from core, so fork was not difficult to do (mostly just replace import paths), i'm closing this issue for now.

[2016-06-13 15:43] #557 closed

[2016-06-13 15:49] aksonov commented on #815
Just found that NavigationAnimatedView is deprecated as well, so we have to remove it. Also we need to rework our 'focus' event to work as described here:
https://github.com/ericvicenti/navigation-rfc/issues/82

[2016-06-13 16:09] aksonov commented on #814
Have you tried to remove node_modules and run install again? I can't reproduce this error both Example and my own app.

[2016-06-13 16:14] xvalentino commented on #770
Hmm, how about adding a listener?

https://facebook.github.io/react-native/docs/animated.html#addlistener

Once the value hits 0, call https://facebook.github.io/react-native/docs/animated.html#stopanimation and set the state back to whatever you need it to be.

Let me know, as I haven't needed to do this yet, but could end up using this in the future.

Hope this helps! @Anthonyzou

[2016-06-13 18:24] vinceprofeta opened #816 "Custom Tab Bar"
In the latest build I cant figure out how to render a custom tab bar component? Does anyone have an example?

[2016-06-13 18:31] esutton commented on #803
How would I pop twice?

I am no JS expert.  I literally tried this syntax without achieving two pops:
`setTimeout(()=>Actions.pop);`

Did I read there support for a **Actions.pop(2)** enhancement coming?

Is it available today somewhere?  I cannot seem to find where I read the issue.

[2016-06-13 19:34] 281330 commented on #816
do you have some example code?  Just asking, that way if there is something obvious.  :)

[2016-06-14 01:51] Proyoyo commented on #814
I had the same issue. I fixed it by using npm 3 instead of npm 2.

[2016-06-14 05:35] Swordsman-Inaction commented on #803
@esutton
you can use the PR in #806
or you can just use
[code]
to pop twice

[2016-06-14 06:15] aksonov commented on #816
@vinceprofeta Just check built-in TabBar and implement yours one in the same way.

[2016-06-14 06:15] #816 closed

[2016-06-14 06:17] aksonov commented on #809
@mbecker As I see ExperimentalNavigation has quite limited support of animations now, you may ask this questions at navigation-rfc github or React Native github because this component is just wrapper around it. If you really need it you could use RNRF v2 version (based on exNavigator)

[2016-06-14 06:18] aksonov commented on #807
@SudoPlz I can't reproduce it with our Example project, could you? I see BackAction property within logs.

[2016-06-14 06:37] #804 closed

[2016-06-14 06:56] MillerDix commented on #814
Guess he`s using RN:0.25.x
Same here, ExperimentalNavigation caused naming collision
RN:0.25.1 （3.30README says RN0.26+ supported, but is there any way i can keep my RN 0.25.1 ? ）
npm: 3.7.3
Remove node_modules and install again doesn`t work.

[2016-06-14 06:58] MillerDix commented on #814
Guess he`s using RN:0.25.x

Same here, ExperimentalNavigation caused naming collision
RN:0.25.1 ( 3.30README says RN0.26+ supported, but is there any way i can keep my RN 0.25.1? )
npm: 3.7.3
Remove node_modules and install again doesn`t work.

[2016-06-14 07:18] aksonov commented on #814
Hm, maybe i need to remove "react" as dependency from react-native-experimental-navigation. Please try now (0.26.1)

[2016-06-14 08:27] aksonov opened #817 "[Discussion] v4 roadmap/desired features/etc"
I'm fan of autocomplete and type checking and want navigation with these features. Also i want to use navigation inside my business logic (react agnostic), not within views (however simple apps should be able to use actions from views).
Persistence of nav state also could be nice.
So I believe we need to split Actions creation into two different parts - navigation tree, actions API and view-specif

[2016-06-14 08:59] jssisodiyaPG commented on #666
@devux what changes you made in your babelrc file

[2016-06-14 11:43] zccan commented on #800
@BrainTrain3000 I get the same issue. particularly, this makes user very confused when he **quickly touch** scenes that wraps in a listView, because the previous subView dosen't  have enough time to unmount.

[2016-06-14 12:22] gijoehosaphat commented on #763
I get this with the currently latest commit to master #b58d21c492838fe16315948ed1695d6b4ca915a8

[2016-06-14 12:24] #813 closed

[2016-06-14 12:25] aksonov commented on #812
Scene is not real component (it doesn't render nothing), so you can't use it as Component replacements. You could use it only inside Router.

[2016-06-14 12:25] #812 closed

[2016-06-14 15:06] mcabs3 opened #819 "Inner Scenes render position left -3"
### Versions
- react-native-router-flux v3.26.3
- react-native v0.26.2
- react-native-drawer v2.2.3

### The Problem
I have nested <Scene> that are wrapped in a navigation drawer, the nested views are offset by 3 pixels and the inspector shows that the position of the inner <Scene> i'm rendering to be to the left -3.

Have nested scenes (I have the Drawer Scene, an arbitrary inner Scene, and then

[2016-06-14 15:07] hellogerard commented on #814
I encountered the same error (with a different conflicting module name). Removing `node_modules` and re-installing all npm modules worked for me.

react: 15.1.0
react-native: 0.27.2
react-native-router-flux: 3.30.0

[2016-06-14 15:13] mcabs3 commented on #819
It looks like it is coming from the drawer i'm using, false alarm! and I apologize for the unnecessary ticket!

[2016-06-14 15:13] #819 closed

[2016-06-14 16:27] vinceprofeta commented on #816
@aksonov would my custom tabsBar be passed into the parent scene as a footer prop?
[code]

[2016-06-14 16:51] ms88privat commented on #784
👍

[2016-06-14 18:13] xvalentino commented on #662
Anyone figure this out? Or does anyone have an idea to where in the new Navigation API this functionality is at? What I'd like is to basically have all of my tabs be able to be updated, even if they aren't in focus.

[2016-06-14 19:10] cridenour commented on #812
Also, even inside a router you should have have state, as you should not re-render the whole app. And given that any "isLoggedIn" will be async, you should be routing to another component after determining a logged in state.

[2016-06-14 19:12] cridenour commented on #816
After forking src/TabBar.js to a component, just pass that in as `component={CustomTabBar}`.

[2016-06-14 19:20] cridenour commented on #817
@aksonov This is very interesting. Since we are restricting the props in Scene to a defined set, will we still pass these props down to the component as well? Or is the thought that these are for the navigation stack and any important props should be passed in the action.

[2016-06-14 19:25] cridenour commented on #815
Now that our app is out, I should have some time later this week to play around as well. I'll check back in before then to see where there's a need.

[2016-06-15 06:34] aksonov commented on #763
@joenoon could you look at it?

[2016-06-15 06:44] aksonov commented on #817
@cridenour No, all props are passed to `component` and `title` functions, so it would be more correct:
[code]

After some thinking i believe that Scene hierarchy is UI-specific (for example for Web it will be completely different. Not sure about initialState - should it be within React Scene or within action declarations.

[2016-06-15 06:54] andyshuxin commented on #683
@symmetriccurve We didn't. We just wrote a custom `NavigationBar`.

[2016-06-15 06:59] aksonov commented on #683
@symmetriccurve If this is not top-level element in the current stack, backButtonImage will be displayed (that is more logical).

[2016-06-15 14:12] KishPatel1996 opened #822 "Unmet Peer Dependency from latest version of this library"
### Version
Tell us which versions you are using:

- react-native-router-flux v3.26.16
- react-native v15.0.2

UNMET PEER DEPENDENCY react@^15.1.0

Upgrading react breaks react-native as well.

[2016-06-15 16:28] DClark5218 commented on #814
still an open issue for me. I removed node modules and did the same as @hellogerard recommended. Still not working :(

[2016-06-15 18:23] xvalentino commented on #662
Here's a branch where this is possible within tabbed Scenes.

https://github.com/xvalentino/react-native-router-flux/commit/30fc19b65c99f869b6025f5d89014ab47eeef9f8.

You can call `Actions.scene` within `componentDidMount` or in an Image/Video's `onLoad`

@ms88privat @kitolog

[2016-06-15 18:25] aksonov commented on #662
@xvalentino could you submit PR to make it configurable option (like preloadScenes, false by default) ?

[2016-06-15 20:35] xvalentino commented on #822
I upgraded to react-native@0.27.0 after upgrading react and things work now.

[2016-06-16 00:40] KishPatel1996 commented on #822
That seemed to fix things.  Thanks!

[2016-06-16 00:40] #822 closed

[2016-06-16 01:00] ajoshdee commented on #783
Hi what did you use instead of the static renderNavigationBar?

[2016-06-16 06:29] aksonov commented on #817
@cridenour Looks like i'm trying to invite bicycle to implement UI state model description. As I've found it is already standardized as SCXML format http://www.w3.org/TR/scxml/ - there is everything we need - states, transitions, guards at so on.

https://github.com/jbeard4/SCION converts it to pure JSON. So RNRF could just attach SCXML states to react native components.

[2016-06-16 08:04] talarari opened #829 "document action types (pop,jump,refresh etc)"
popTo
  pop
  jump
  refresh
  focus

couldn't find any doc to explain the behavior of these actions, could you please add a doc or answer here?

[2016-06-16 08:36] vonovak commented on #783
I just rendered the search field as part of the content.

[2016-06-16 08:50] AlmaasAre opened #830 "typescript definitions broken?"
### Version
- react-native-router-flux v3.26.24
- react-native v0.26.3
- react v15.0.2

type definitions:
- registry:dt/react#0.14.0+20160602151522

### Expected behaviour

Typescript definitions should work

### Actual behaviour

.. doesn't work. The type definitions tries to use properties on React that aren't defined in the react-definition as far as i can see.

![image](https://cloud.githubuse

[2016-06-16 13:40] charpeni commented on #830
Will be fixed by #831.

[2016-06-16 13:58] xirc commented on #830
I had same problem.
Versions:
* react-native-router-flux v3.30.0
* typing: "react-native": "registry:dt/react-native#0.19.0+20160501140141"

I've fixed the problem by #831.
@AlmaasAre Could you try using it?

[2016-06-16 14:30] cridenour commented on #817
@aksonov Hm, while that is a W3 standard, how common is it? I'd like to hear some thoughts of others here - but I'm not sure adopting an unused standard would be beneficial.

[2016-06-16 15:28] gmchaturvedi1 opened #832 "set Icons in tabbar"
Dear Friends,

how to set Icon in tab and  set tabbar to just after navbar.

thanks & Regards
G M chaturvedi

[2016-06-16 17:48] cridenour commented on #832
Hey @gmchaturvedi1, your best bet for support like this is in the [Gitter Chatroom](https://gitter.im/aksonov/react-native-router-flux). Feel free to open a new issue if you find a bug in the library.

[2016-06-16 17:48] #832 closed

[2016-06-16 21:44] rturk commented on #829
https://github.com/aksonov/react-native-router-flux/blob/master/docs/API_CONFIGURATION.md

[2016-06-16 21:44] #829 closed

[2016-06-17 01:26] JosephkimOS opened #833 "How to get length of router?"
### Version

"dependencies": {
    "react": "^15.1.0",
    "react-native": "^0.27.2",
    "react-native-drawer": "^2.2.2",
    "react-native-router-flux": "^3.30.0",
    "react-redux": "^4.4.0",
    "redux": "^3.3.1",
    "react-native-button": "github:ide/react-native-button"
  }
### Expected behaviour

I tried current path and length with "currentRouter" but, got "undefined"

here is capture of

[2016-06-17 01:44] tuckerchapin opened #834 "Feature suggestion/request: StatusBar changes based on scene/route"
Similar to how it's possible to hide or show the NavBar on specific scenes, it would be great to have the ability to hide or toggle the theme/color/visibility of StatusBar in a similar manner.

While it is totally doable and reasonable to expect people to do this themselves in `componentDidMount` or something similar, it is difficult to keep track of what state the StatusBar is in and account for

[2016-06-17 08:32] oziks commented on #800
And if you put a different `key` attribute on your `<View />` component, you should not have this problem?

[2016-06-17 13:14] dljcollette commented on #787
@texas697 Were you able to fix the issue? Could you share your solution?

[2016-06-17 13:20] texas697 commented on #787
@dljcollette
[code]

[code]

[code]

[2016-06-17 13:31] xvalentino commented on #833
What exactly do you expect to get? The number of routes you have?

One idea I have for this is maybe keep track of the stack in redux?

[2016-06-17 13:58] xvalentino commented on #662
@aksonov yeah sure thing.

I'm pretty sure this.props.navigationState is where the props would be for this component in TabbedView, I'm just going to have to make sure TabBar passes its props to it.

[2016-06-17 14:20] hellogerard commented on #628
I'll chime in here, perhaps unnecessarily.

I too ran into this issue. The solutions in that StackOverflow post (which I believe are derivations of the [real solution](https://github.com/facebook/react-native/issues/5392) from the author of Enzyme) work great for other RN modules in general, but I still ran into RNRF issues, specifically issues with PNG images and the new `react-native-experimenta

[2016-06-17 16:31] JosephkimOS commented on #833
I expect get size of routes or list of routes.

Do I have to stack or track by myself?

[2016-06-17 16:39] xvalentino commented on #803
To add onto what was said before, you probably want to use this.setTimeout, so you don't end up running into errors if the component unmounts before the function is called.

https://facebook.github.io/react-native/docs/timers.html

[2016-06-17 17:20] esutton commented on #803
@xvalentino thank you.

I was using the syntax @Swordsman-Inaction kindly suggested.  However, I was getting crashes on cheap Samsung Galaxy S4 tablets on Android that I suspect *could* be related.  I do not know for sure.  Anyway, I went back to single-pops temporarily.

I understand a new RFRF API is coming for multiple pops.  I will wait until this API is documented in the README.ms and  a new

[2016-06-17 17:45] xvalentino commented on #803
No problem. Let me know how it goes @esutton !

[2016-06-17 18:31] robotomeister commented on #833
I have a tangentially related question, is there a way to get the size of the stack before we do an Actions.pop()?

[2016-06-18 06:43] joenoon commented on #815
I'm in the process of getting my app working again with 0.27 (just about to have it working now) so I'm a ways behind still.

As part of this I started using MobX with wrapBy which is really great ( thanks @aksonov ).

I'm curious to see what will happen as I move past 0.27 to 0.28/0.29 since it sounds like managing the navigationState will now be left to the user.  I'm not sure if that means ever

[2016-06-18 08:40] mickeyinfoshan opened #836 "The nav bar and the tab bar block my scene"
### Version

Tell us which versions you are using:
- react-native-router-flux v3.30.0
- react-native v0.25.1
### Expected behaviour

My scene shouldn't be blocked by the `navbar` and the `tabbar` when no `sceneStyle` is specified.
### Actual behaviour

My scene is blocked so I have to specify the `sceneStyle`.
### Steps to reproduce
1. Just use the example and change the style a little

[2016-06-18 11:04] rowellx68 opened #837 "leftButtonImage does not render"
### Version
Tell us which versions you are using:

- react-native-router-flux v3.30.0
- react-native v0.27.2

### Expected behaviour
NavBar should render the `leftButtonImage` if it is provided.

### Actual behaviour
`leftButtonImage` is not rendered

### Steps to reproduce

1. Create a scene that has a `leftButtonImage`

[2016-06-18 19:37] KishPatel1996 commented on #836
A cheap hack I use is to pad the view by `Navigator.NavigationBar.Styles.General.TotalNavHeight`.

[2016-06-18 20:17] KishPatel1996 commented on #580
Do you know how?  Really new to all this, so I currently have no clue.

[2016-06-19 07:53] bestofsong commented on #837
+1

I could use

[code]

to render a left button, but I then must put onLeft function into my render function for it to work.

By the way, I think is better for onLeft to be  implemented each visible scene, because maybe a scene have to interact with user before calling Actions.pop()?

Also, in iOS, if a left button is provided for the navigation bar, the back button is not rendered then, but here

[2016-06-19 09:23] rowellx68 commented on #837
The idea was to render the `leftButtonImage` when we are presented with the initial Scene. With the modification I did for https://github.com/aksonov/react-native-router-flux/pull/838, I get the results below.

![img_1610](https://cloud.githubusercontent.com/assets/10155704/16176433/40f58d44-3607-11e6-926e-c3f632a219a3.jpg)

Tapping the gear button takes us to another scene. The navbar keep the de

[2016-06-19 23:57] AkaOne commented on #781
@Beingbook are you going to submit a PR to fix this ?

[2016-06-20 02:55] Beingbook commented on #781
@AkaOne Oh, I can submit PR but I don't know it's general problem.

[2016-06-20 04:31] kgritesh commented on #787
I am facing the same issue in my project, i see that both scene and focus actions are emitted but the scene doesn't change. I understand that it might be a bug somewhere in my code, but any suggestion on debugging it?

[2016-06-20 05:34] aksonov commented on #787
What RN and RNRF version do you use?

[2016-06-20 09:29] AkaOne commented on #781
I've just check with react-native-router-flux v3.30.0 and it's not fixed
This not a bug though, if you take a look at NavBar.js you'll see that the styling isn't quite done to get the android's style, so platform checking and tunning the style should do

[2016-06-20 13:00] cgreening commented on #419
In a connected component you should be able to do:

[code]

[2016-06-20 13:28] 281330 commented on #836
There is a small snippet in the example app that handles this.

[2016-06-20 13:30] 281330 commented on #836
[code]

[2016-06-20 14:42] Shakarang opened #840 "Back button color"
### Version
Tell us which versions you are using:

- react-native-router-flux v3.30.0
- react-native v0.27.2

### Expected behaviour

I'm trying to change the arrow color like the screenshot below. However, I can't set a color on each scene. I can only do it on the root Scene. Am I missing something or it is a bug ?

![Img](http://i.imgur.com/VIfuSRO.png)

It works with this code when I'm setting

[2016-06-20 21:43] 281330 commented on #840
In each Scene, you can give `backButtonTextStyle={{ ... }}`

[2016-06-21 01:54] rturk commented on #836
Hi @mickeyinfoshan please be more specific. Ideally share a screenshot. Overall please explain what do you mean by `block`?

[2016-06-21 03:53] shaxbee commented on #776
@sammkj You need to specify icon property (it must be a component which defines look of a tab) for each sub-scene which has to show as a tab.