[2016-02-11 19:49] MITDelian commented on #186
I have to agree w/ @aksonov.

I've actually been spending some time this last week trying to integrate the best of both APIs. Simple transitions, routes defined in a single place, with a more direct connection to redux similar to react-router-redux.

My goal is to publish it by the end of this weekend and I'd love to get the community's feedback on it. I basically started from @aksonov's library a

[2016-02-11 19:52] aksonov commented on #186
@MITDelian it would be great if you could make it as 'plugin' for this component, like ExRouter.

[2016-02-11 19:54] MITDelian commented on #186
The only real issue with that @aksonov is that I think the stack of the Router class needs to be stored in redux rather than in the state. I'll send you an early version this weekend so you can take a look over it and let me know what you think

[2016-02-11 19:55] MITDelian commented on #186
So there are some slight tweaks I have to make in Actions.js and Router.js in order for it to be more properly "redux" and have all the data stored in the store rather than on a particular component or class state

[2016-02-11 19:55] aksonov commented on #186
We could really make Router (now it is BaseRouter) immutable and its Route, so it could be stored in state...

[2016-02-11 19:56] danielweinmann commented on #186
+1!

[2016-02-11 19:57] MITDelian commented on #186
Yes! That is what I'm working on @aksonov

[2016-02-11 19:58] MITDelian commented on #186
I have all of the adjustments made to the rest of the codebase as if BaseRouter was immutable, and now I need to actually move the stack to the store and make it so the logic for pop, jump etc are in the reducers rather than in the class

[2016-02-11 20:05] kadosh1000 commented on #143
still wondering what would be the right style for it

[2016-02-11 20:13] aksonov commented on #143
Could you do it without this component? If so, just split it to header and content (i.e. component) and pass header and component to Route, it must work, check sources, there is no magic.

[2016-02-11 20:14] aksonov commented on #199
The problem I don't have android. Maybe community could help. Have you tried to debug? This component is just wrapper around exNavigator. Does ExNavigator work well on android?

[2016-02-11 20:16] aksonov commented on #186
Hm, why? Just modify pop/jump within BaseRouter so it will return new BaseRouter instance. This way all logic still will be within BaseRouter.

[2016-02-11 20:17] aksonov commented on #186
This way also it the component still could be backward compatible with ExRouter (sure, some modification of ExRouter will be necessary)

[2016-02-11 20:18] MITDelian commented on #186
Ahhh smart idea. Hehe this is what I wanted to discuss on gitter the other day

[2016-02-11 20:33] #183 closed

[2016-02-11 21:22] amrnt commented on #180
`route={this.props.route}` in the inner params solves the issue.

[2016-02-11 22:18] atn4z7 opened #203 "Adding buttons to Nav Bar"
Hi,

Thank you for this awesome library. I am trying to add right buttons (search, filter, settings,...) to the nav bar but I couldn't find anything about this in your examples as well as documentation. Is adding buttons not currently supported?

Thanks!

Edited:
Nvm, figured out how to do it by looking at router class.

[2016-02-11 22:36] lynndylanhurley commented on #176
I just created a Product Pains post for this. Please upvote:
https://productpains.com/post/react-native/override-swipe-back-behavior/

[2016-02-11 22:36] lynndylanhurley commented on #197
I just created a Product Pains post for this:
https://productpains.com/post/react-native/override-swipe-back-behavior/

[2016-02-11 22:42] #203 closed

[2016-02-11 22:50] paulbao commented on #52
Thanks @aksonov , the example works well, but if I add hideTab={true}
`<Route name="tab2_2" component={TabView} title="Tab #2_2 hideTabBar={true}" />`. It still doesn't work.

[2016-02-11 23:42] lynndylanhurley commented on #197
I just pushed a fix.

[2016-02-12 00:54] lynndylanhurley commented on #158
Thanks @aksonov  - this works really well in all cases except for swipe navigation. I just submitted a PR to address this (see #204).

[2016-02-12 00:57] lynndylanhurley commented on #69
Hi @aksonov - I'm sure you've seen it already, but I just pushed a fix for #176.

[2016-02-12 00:57] miknonny commented on #198
Realised i had to wrap all in Router. Issue solved.

[2016-02-12 00:57] #198 closed

[2016-02-12 02:13] xanderlu commented on #197
Awesome! Thanks @lynndylanhurley. I might be missing something dumb&mdash;still kinda new to Redux and React Native, but after trying your PR, it looks like it's properly dispatching the actions when swiped. But, I still bump into the `No current router is set` issue.

[2016-02-12 04:33] danielweinmann commented on #199
@timsuchanek, did you test it without live reloading and chrome debugging? For me it's only (extremely) slow when I have live reloading or chrome debugging on ;)

[2016-02-12 08:05] #176 closed

[2016-02-12 11:11] timsuchanek commented on #199
Hey, yes I tried it without debugger enabled. But what I found:
If it has already been opened once, it's a lot faster.
Only the first 1-2 times it's slow.
I'll check ExNavigator standalone

[2016-02-12 15:14] micksabox commented on #199
Hey @timsuchanek thanks for reporting this. Is it slow **without** animations (i.e. a `<Scheme>` with no animation config)? I am willing to compromise animations for performance if worse comes to worse.

[2016-02-12 16:24] lynndylanhurley commented on #158
Thanks @aksonov!

[2016-02-12 16:24] #158 closed

[2016-02-12 19:28] graywolf336 opened #205 "Image Background"
Is it possible to have an image background which gets shared by different views? Basically I want one background per router and each route in that router to share a background. What I've tried is creating a component which renders the children with a route (like the Drawer example) but the background only shows up in the very background when the children transition. Basically the Routes aren't get

[2016-02-13 01:47] xanderlu opened #206 "Swipe broken in example"
This commit seemed like it was supposed to fix the swipe issue: https://github.com/aksonov/react-native-router-flux/commit/a34fe3777a5e218cfb445867daa66caa576d79a6. However, in the example, swiping is still broken. It has the same exact issue reported in https://github.com/aksonov/react-native-router-flux/issues/197 and https://github.com/aksonov/react-native-router-flux/issues/176

The only way I

[2016-02-13 12:41] sbycrosz commented on #199
I can confirm the example app slowed down on Android 4.4 (It takes ~2s from clicking a button to any route changes).

[2016-02-13 15:02] kadosh1000 opened #207 "calling same route with different data"
My side menu is calling the same action each time with different data inside,
the first time works great and after that it stops calling the route, and therefore the route wont reload with the new data.

How can I make it work?

## Edit 1:
After few more tests, it seems that after the route was loaded once it won't reload again, event after moving to a different route and trying to go back to the

[2016-02-13 16:07] joshbedo commented on #76
Having same issue and with ExNavigator i can't even use this library.

[2016-02-13 16:10] joshbedo opened #208 "Build breaking due to ExNavigator"
Can't get my project to build when i install this library. Using v3.0.0 react-native-router-flux, v0.15 react-native, v0.14 react.

![](http://i.imgur.com/6e3uqWm.jpg)

[2016-02-13 18:25] amrnt opened #209 "How to push routes into tab from outside the tab router"
I found that the guys here: https://github.com/Qwikly/react-native-router-redux implemented a way to push routes from out side tab router into the current tab. So no need to repeat all routes that are going to be used inside the tab across all tabs. I hope I'm not wrong and I didn't miss anything.

Look here (in action): https://github.com/Qwikly/react-native-router-redux/blob/master/example/Redux

[2016-02-13 19:32] lynndylanhurley commented on #206
Hi @xanderlu - #204 was meant only to dispatch the `BEFORE_FOCUS` and `AFTER_FOCUS` events. It doesn't fix the `No current route is set` bug, or any other bugs.

I haven't experienced the swiping issue - what are the steps to reproduce?

[2016-02-13 20:16] aksonov commented on #209
These guys 'copied' my component, added redux support and called it 'inspiration'...
Ok, I don't know why you wrote about this "component" here and why you can't use the same here - define come component in root and push it from inner route?

[2016-02-13 20:44] amrnt commented on #209
Com'on mate! It's obvious that they copied your code and called it 'inspiration'! And no one should their "component" since -at least- its not a "fork" of this project... and mentioning this here means how good is `react-native-router-flux` comparing to other `react-native-router` out there.

What I mean In my question: calling "an action from outside tabs router" doesn't render the component insi

[2016-02-13 21:15] sbycrosz commented on #187
Hey,
I'm interested in helping out. So far I could think of 3 possible ways of implementing this:

1.  Implement the animation in the modal view itself (example: ExNavigatorModal example, or https://github.com/sbycrosz/react-native-router-flux/commit/1a386d16b273e42f838e805fbee0e3a63cc9158f)
2.  Integrate the animation into the ```Router``` object (or maybe create a ModalRoute specific for modal c

[2016-02-13 22:42] aksonov commented on #209
Oh, could you give use case? Currently it renders 'root' route outside tab bar...

[2016-02-13 22:43] aksonov commented on #187
https://github.com/sbycrosz/react-native-router-flux/commit/1a386d16b273e42f838e805fbee0e3a63cc9158f Looks interesting, have you tried it?

[2016-02-13 23:03] sbycrosz commented on #187
It's working pretty well..
![modal-animation](https://cloud.githubusercontent.com/assets/4867178/13030493/1bed07d4-d2e8-11e5-9fe1-96a16de973ee.gif)
The timing function need some fine tuning though..

[2016-02-13 23:59] grin commented on #186
Storing router's transitions stack as redux state is the only feature I'm missing from this great library

:+1:

[2016-02-14 00:22] amrnt commented on #209
`feed tab -> single item -> user profile`
`feed tab -> single item -> comments list -> user profile -> user posts -> comments -> other user`
`notification tab -> single item -> user/comments ->  ...`

Each view above represents a route...

[code]

[2016-02-14 12:52] sbycrosz commented on #187
After some thought, I think it's better to let the user animate their own modals since It's quite simple and they could have more control over it (i.e. modal size/ animation/ backdrop/ gestures etc.) and we could use https://github.com/maxs15/react-native-modalbox for a nice swipe-able modal

Example: https://github.com/sbycrosz/react-native-router-flux/commit/a5dac2e0e1a231fcb4df6f1befdcdc9bd2484

[2016-02-14 14:04] Predjo opened #210 "Navigation doesn't work when using Chrome debugging"
react-native-router-flux: 2.1.4
react-native: 0.19.0
Using it on android with Genymotion emulator.

It works perfectly fine without the debugging. But once its on it fails on first navigation attempt. And just freezes the current screen.

[2016-02-14 21:30] xanderlu commented on #206
Ah, my bad. I thought it was supposed to fix that bug since the issue that I field for it was duped to the bug that #204 closed. More details can be found on #197, but here are the general repro steps:

1. Clone the repository

1. Change entry for react-native-router-flux for package.json to point to current version. I just set it to `file:../`

1. run `npm install`

1. launch the project in the i

[2016-02-14 21:31] xanderlu commented on #206
I think the fix is to set Actions.currentRouter, and it does seem to work (see https://github.com/xanderlu/react-native-router-flux/commit/dd660e8090d09b2bbcd5d2857c535c1cda44f01d), but I'm not sure if I'm putting it in the optimal spot or if doing so will cause other issues..

[2016-02-14 22:23] bodhi commented on #182
No I haven't. Is this the correct/preferred way to deal with this? Maybe I missed it in the docs.

[2016-02-15 09:28] aksonov commented on #210
Have you tried pure ExNavigator?

[2016-02-15 18:11] fionita opened #213 "renderRightButton with save button."
How to pass data from component form, to the Route.

[2016-02-15 21:36] Predjo commented on #210
I have now and same problem is present :/

[2016-02-15 21:45] #210 closed

[2016-02-15 22:16] Elyx0 opened #214 "Swipe actions getting caught by react-native-router-flux"
Hey, I've tried the example from https://github.com/leecade/react-native-swiper as my initial route but I can't swipe more than once, then it breaks the whole plugin.
Is there any way to "let the swipe event be free".

Also, how do you prevent a page from beeing able to go back using the swipe. Like I don't want the user to be able to swipe from Page2 back to the Login Page.

[2016-02-15 23:52] Elyx0 commented on #214
Actually. Kind of my bad from having `  <Schema name="swipe" sceneConfig={Navigator.SceneConfigs.HorizontalSwipeJump}/>` as a schema... *runs in shame*

[2016-02-16 06:36] InnerPeace080 opened #215 "rerender navigator bar"
hello every body.

i want to update content on navigator bar (right button) when some event happen, example click a button in screen.

anyone know how to do this.?

thank you verymuch

[2016-02-16 10:54] oureta commented on #215
Use `renderRightButton` to use an element that is subscribed to the store.

[2016-02-16 15:39] joshblour commented on #167
I'm having the same problem. In my root `App.js` where I have my Router and Routes, I listen for changes to my state holder (also using freezer.js like @arqex). It looks something like this:
[code]
Since `...this.state` is now available as properties in each of the Routes, I would expect them to update whenever the freezer triggers an update to the `App.js` state

[2016-02-16 15:51] joshblour commented on #167
For anyone else who comes upon this issue, it seems it's been fixed in `master` but not yet pushed to npm. Cloning from `master` and requiring locally, prop changes to the Router now propagate to its Routes

[2016-02-16 16:08] aksonov commented on #208
Seems not related to this component, check latest versions for React native.

[2016-02-16 16:08] #208 closed

[2016-02-16 16:08] aksonov commented on #205
Does exNavigator support common background? This component is just wrapper around it.

[2016-02-16 17:18] ljhender commented on #187
Yeah @sbycrosz @aksonov thats actually how we solved this problem. Animating the actual modal itself was the best solution to this. We could update the documentation for people curious as to how to do this however.

[2016-02-16 17:20] aksonov commented on #187
@sbycrosz Well done! Could you submit PR with Example update?

[2016-02-16 20:26] graywolf336 commented on #205
@aksonov I opened https://github.com/exponentjs/ex-navigator/issues/94 and with the answer provided there, this does indeed work! Just needed to change `<Router style={styles.transparentBg}>` to `<Router sceneStyle={styles.transparentBg}>`.

[2016-02-16 20:26] #205 closed

[2016-02-16 20:51] graywolf336 commented on #122
A better way to handle it:

[code]

[2016-02-17 01:32] Elyx0 commented on #209
Came around the same issue where you can't call a nested tab route from outside the tab have to repeat the routes that are going to be used inside the tab across all tabs. I thought it was build in and I was doing something wrong.

[2016-02-17 03:25] Elyx0 opened #216 "Dismiss not removing modal"
` <Route name="builder" component={BuilderView} title="Modal" schema="modal" />`
with in it:
`<View><Text onPress={() => Actions.dismiss()}>BYE</Text></View>`

Redux actions are dispatched but the modal stays on screen.

[2016-02-17 03:36] #216 closed

[2016-02-17 03:37] #214 closed

[2016-02-17 03:39] Elyx0 commented on #197
Still bumping into the same error after a swipe

[2016-02-17 03:40] Elyx0 commented on #206
Experienced this today too. Had to change schema to the Android version even on ios so gestures pop would not be present in the FloatFromBottom

[2016-02-17 05:07] sriraman opened #217 "Module AppRegistry is not a registered callable module"
I'm getting the following error

`React-Native: Module AppRegistry is not a registered callable module`

when I'm trying to run the example code. I installed all the dependencies. I have searched in google and tried the available fixes like `./gradlew clean` and build etc., But, those fixes didn't help.

This might be a silly mistake. Since I'm new to react native, I couldn't fix it. Can anyone he

[2016-02-17 05:14] paulbao commented on #121
@aksonov onSwitch is not fired either, I've tested it on Example project.
`
                 <Route name="tabbar" onSwitch={()=>{
                  console.log('onSwitch')
                }}>
`

[2016-02-17 08:22] andreasbhansen commented on #76
Sorry, I'm not able to say what actually fixed it. As previously posted, I spent a day updating and reinstalling everything from OS to Node. For some reason, it worked.

[2016-02-17 09:31] #213 closed

[2016-02-17 11:40] avjpl opened #219 "internal server error: @exponent/react-native-action-sheet"
Hi Pavlo,

I wasn't able to install this module due to an internal error.

I ran the following command:

npm i -S react-native-router-flux

Here is my npm-debug.log gist link: https://gist.github.com/avjpl/db7b90f4935c664f756a

I have also submitted an issue to npm

Thanks in advance.

[2016-02-17 11:48] #219 closed

[2016-02-17 12:33] KBLNY commented on #159
I found it, due to a stupid mistake:
[code]
I named the tab and its 1st component with the same `name`.
I now add a suffix "Tab" to the tab `name`.
Done.

[2016-02-17 15:37] ChaitanyaBudapaneti commented on #209
When I come out of the **Login** modal view using the back button calling the ``` Actions.pop()``` method everything works fine. But when using the slide down gesture to close the Login modal, the router doesn't return to the **TabBar** router. This gives me an error when I press on Tabs.

[code]

[2016-02-17 21:46] jonlong commented on #56
@Everhusk did you end up connecting a nested route structure like the one you referenced [here](https://github.com/aksonov/react-native-router-flux/issues/56#issuecomment-173820238)?

I'm trying to do exactly the same thing, but having a tough time figuring out how the props would get from `container2` to `component2a` in your example.

[2016-02-18 00:59] sbycrosz opened #220 "Redux Integration"
TLDR; `Redux` state should reflects on the current state of the UI

The `Redux Integration` in the Readme only mentions about **adding router callback** into the `Redux Reducer`, adding a copy of current route (which won't get used for deciding which 'Route' to render), And **Router has it's own `Store`** (which'll get used for deciding which 'Route' to render) separate from the `Redux Store`. Thi

[2016-02-18 01:31] lrettig opened #221 "Bug when Router appears, disappears, then appears again"
If I switch displaying of the top level router on or off inside my `render()` method--so that it first appears, then disappears, then appears again--then when it comes back, I get this error when calling any route actions: "Cannot read property 'push' of undefined" (see stack trace below).

The use case here is that I currently have a few components, e.g. full screen modals that cover the nav bar,

[2016-02-18 08:08] aksonov commented on #220
You are right, you may add own 'plugin' instead of ExRouter, ReduxRouter that will use some redux state to manage UI. Current BaseRouter/Route could easily be converted to be fully immutable, so you could use it in your state. As I know @MITDelian worked on such approach, but i don't know when he plans to finish.

Anyway, PR is welcome.

[2016-02-18 08:09] aksonov commented on #220
Also you may want to check #186

[2016-02-18 08:10] aksonov commented on #186
@grin Any problems to make BaseRouter/Route immutable and store it within your state?

[2016-02-18 08:11] aksonov commented on #221
You should pass 'route' prop to children Router.

[2016-02-18 12:11] grin commented on #186
@aksonov No problem at all. That was just meant as encouragement to @MITDelian and his idea that he mentioned he is working on. From a library user perspective this sort of functionality would be really nice to have out-of-the-box and I believe it would make this lib even more attractive.

[2016-02-18 12:16] aksonov commented on #186
The problem I don't want this component to depend from redux or any other flux library - many users don't want it at all. Many react native components has own inner state (for example TextInput) and you don't add all their state to redux (for example, in most cases you need to add completed text, but not 'in-progress' text). So you may consider navigation component state as TextInput state or any

[2016-02-18 12:18] yuilsang opened #223 "`No current Router is set` issue"
Problem.
1. Use `sceneConfig={Navigator.SceneConfigs.FloatFromBottom}` (Redux)
2. If you pop through a gesture, when the following acts 'No current Router is set' error
3. The same problem occurs in the demo

How do you solve?

[2016-02-18 15:22] tomkur opened #224 "How to render screen-specific navbar buttons?"
I have a screen implemented as modal for filtering data with given criteria.
I'd like to render navbar's left and right button as "Cancel" / "Apply filters":
![menu](https://cloud.githubusercontent.com/assets/2394102/13147587/ccd98ad0-d659-11e5-8e65-c631344da731.png)

The logic done when pressing apply is to start fetching data and to pop the modal. I'd like to implement it inside my filtering scr

[2016-02-18 15:36] lrettig commented on #221
Thanks for the tip! But I only have one `Router`. What do you mean?

[2016-02-18 15:37] aksonov commented on #221
Have you tried latest npm version?

[2016-02-18 15:55] lrettig commented on #221
The simple example I put together appears to work with the latest npm version--sorry for not trying that before. But upgrading my code is producing a new warning, and I'm still getting an error in the same place. I will keep debugging, but in case either of this ring a bell for you or you have any tips.

Here's the warning (I haven't changed my code; this is new with the latest npm version, I didn

[2016-02-18 15:58] lrettig commented on #221
My code uses tab bars and does have a hierarchy of `Routers`. What do I pass in the `route` prop to the child Router?

[2016-02-18 16:29] lrettig commented on #221
I was able to work around this by moving the component in question _inside_ the top-level `Router`. I still think there are reasons you might sometimes want things to live outside the Router, and control their presentation via state, e.g., to easily present a modal that covers the entire screen (and leaves the view below in place), or if you want to swap a screen without any animation/transition,

[2016-02-18 17:11] #220 closed

[2016-02-18 17:13] sbycrosz commented on #220
I guess this'll continue on that thread :]

[2016-02-18 19:35] MITDelian commented on #221
I've been running into this issue as well

[2016-02-18 19:35] MITDelian commented on #221
Somehow the router is unmounted which I don't understand how it is possible

[2016-02-18 19:39] MITDelian commented on #186
I mean I understand that TextInput has its own internal state however the navigation state of an application is far more important and I think exposing that to the user and letting them store it in redux is quite important.

It also allows you to start from scratch, load in the store, and then be popped deep into a navigation hierarchy rather than starting from the main page each time you reload

[2016-02-18 19:41] MITDelian commented on #220
Hey @sbycrosz definitely something I am working on. I'm hoping to have an initial version out in the next two weeks that just acts as a separate plugin that is backwards compatible with this library by making the Router class immutable and storing it in the redux store and making a reducer as you mentioned above

[2016-02-18 20:05] danielweinmann commented on #186
Why not make BaseRouter immutable/stateless and implement state management in an optional decorator?

[2016-02-18 20:27] Elyx0 commented on #223
Same issue, no idea.

[2016-02-18 22:16] mmazzarolo commented on #221
Maybe this can be useful:
Take a look at [this comment](https://github.com/aksonov/react-native-router-flux/issues/92#issuecomment-182322505). I had the same problem in nested routers and fixed it following the hints of the issue #172.

[2016-02-19 00:23] Mokto opened #225 "Cannot read property "onWillFocus" of undefined"
Hi guys,

I trigger this error when doing Actions.pop() and Actions.mapdirection(); if the pop if not finished.

Here is my router :

[code]

If I click on the direction icon :

[code]

![img_0063](https://cloud.githubusercontent.com/assets/5103928/13162763/12366f2e-d675-11e5-990a-298ebb91b06b.PNG)
![img_0064](https://cloud.githubusercontent.com/assets/5103928/13162764/123ad500-d675-11e5-8078-d0db

[2016-02-19 08:00] aksonov commented on #223
It looks the same as #197 - currently React Native doesn't allow to override actions for SceneConfigs. So you could implement your own animations and own gestures but don't use Navigator's gestures (you could disable them easily).

[2016-02-19 08:02] aksonov commented on #223
You may vote for product pain: https://productpains.com/post/react-native/override-swipe-back-behavior/

[2016-02-19 08:06] aksonov commented on #223
it is duplicate of #197, closing this ticket

[2016-02-19 08:06] #223 closed

[2016-02-19 08:07] aksonov commented on #206
Duplicate of #197, is there any PR to fix it?

[2016-02-19 08:07] #206 closed

[2016-02-19 08:09] aksonov commented on #215
It maybe related to #207 . You could try to use 'jump' action type.

[2016-02-19 08:09] #188 closed

[2016-02-19 08:10] aksonov commented on #199
@sbycrosz Is it slow for tab bar or for all pages?

[2016-02-19 08:11] aksonov commented on #191
Maybe we could do it later, when we have more plugins :)

[2016-02-19 08:11] #191 closed

[2016-02-19 08:11] #92 closed

[2016-02-19 08:12] aksonov commented on #182
Closing it for now.

[2016-02-19 08:12] #182 closed

[2016-02-19 08:12] aksonov commented on #52
Your title doesn't have quote closed...

[2016-02-19 10:17] paulbao commented on #52
Have you tried `<Route name="tab2_2" component={TabView} title="Tab #2_2" hideTabBar={true} />` ?
To be honest, It's just a typo that I am trying to explain this issue by your provided example. hideTabBar is still not working for both my own project and your Example.

[2016-02-19 10:20] aksonov commented on #52
I will do when will have time, so it doesn't work only for tab#2? looks very strange.

[2016-02-19 10:24] paulbao commented on #52
Thanks for your time. I think it's not working for nested Route. In another word, it works for tab1 and tab2, but not work for tab1_2 and tab2_2

[2016-02-19 11:50] KBLNY commented on #52
I confirmed that even the latest master release (2.2.6) doesn't fix this.
@aksonov Btw, a big thank for your initiative, :+1: for the way you designed the route and router management.

[2016-02-19 17:47] qasimalbaqali commented on #136
Thanks for this! :+1:

[2016-02-19 21:34] Elyx0 commented on #209
Made a bit of digging:
Let's say we're in a context like 1root route, 1 tabbar with nested routers:
[code]
From the Tutorial route, after the user finishes the tutorial I **can't**:
`Actions.friends()`
`Actions.m1()`
Otherwise triggering `_reactNativeRouterFlux.Actions.friends is not a function`

I only can:
`Actions.tabbar()` that will then mount the `browse` route that will then mount the `br_ro

[2016-02-19 21:44] digitalhobo opened #226 "Dynamic Title"
Hello,
Thanks for the great module - Is their any way to dynamically change the sate of a title and navbar.

For example.
`<Route key="UserCredentials" name="UserCredentials" hideNavBar={this.state.UserCredentialsNavBar} component={UserCredentials} initial={ false } title={this.state.title} schema="withoutAnimation" />`

And then I would have a listener which would change the state this.state.User

[2016-02-19 22:38] chetstone opened #227 "Can't run example -- npm start fails with a Naming Collision"
Running npm start gives the following error:
[code]
This has to do with react-redux having a peer dependency on react as I comment [here](https://github.com/facebook/react-native/issues/5412#issuecomment-186432187).

I get the same result with npm2 or npm3.

[2016-02-19 22:53] chetstone commented on #227
I've worked around this by removing the redux-related stuff from the Example. The comments in the Example state the redux stuff is optional, but it's not totally obvious how to remove it for someone not familiar with redux.

IMHO the Example is getting a bit too complicated. It seems like the redux features could be demonstrated in a separate, much simpler example.

[2016-02-20 09:59] babbarankit opened #228 "Redirect to Home Screen if already logged in"
I want to redirect user directly to home screen.
How do one call action without onPress

[2016-02-20 14:39] axelander opened #229 "Get route title when using renderTitle"
How do I get the title of a route when using the `renderTitle` property? I tried using below code but it doesn't work.

[code]
When using the default title functionality it works as expected, I can pass the title property in the action to the next route.
[code]

[2016-02-20 15:15] tristangodfrey opened #230 "Setting initial route on router?"
My RN app determines what the initial route should be before anything is rendered, is there a way of passing this initial route to the `Router` and letting it handle everything from there?

My only other option would be to do something like this for all routes

[code]

[2016-02-20 23:41] xanderlu commented on #206
#231 should fix it.

[2016-02-21 00:47] Iliyass opened #232 "How to use react-native-custom-navigation module in this router ?"
Hi guys,
I really like this router, but react native transitions are not that good, I found a another module that have really cool transitions, but I couldn't figure out how it's been done in the source code, so, is there anyway I can use the other module or just transitions into this router ?

[2016-02-21 07:41] alexmngn opened #233 "BEFORE_ROUTE action doesn't return the right route."
Hello,
When I activated the following to see what I get from the action, it looks like the action returned by BEFORE_ROUTE is not correct.

[code]

Navigating from `login` to `register`, then from `register` to `login`, I get this:

As you can see, the `BEFORE_ROUTE` says `register` while it should return `login`, because before I was on the login page.

My router looks like this:

[code]

[2016-02-21 11:36] kacperpotega commented on #230
I had a similar issue. Solved this by setting the initial route to a loading screen and dispatching a navigate action (Action.NewRouteName), navigating to the route that the application calculated.

[2016-02-21 11:39] kacperpotega commented on #227
When I had the same issue, removing the node_modules folder, updating node and npm and then doing a new npm install resolved the issue.

[2016-02-21 11:52] kacperpotega opened #235 "How to remove border from default navigation bar?"
I'm using a router that looks like this:

[code]

The background color is set just fine, however the navigation bar gets a thin white border at the bottom on iOS and a rather thick grey border on Android.
Any idea how to remove this? I already tried setting borderBottomWidth to 0 and tried changing borderBottomColor, but neither seems to affect this additional border I am getting.

[2016-02-21 12:19] kacperpotega commented on #235
This seems to be a ExNavigator issue.
When you do the following:
`    borderBottomColor: 'transparent',
    borderBottomWidth: 65, `
the bottom border disappears on both iOS and Android.

I traced this back to ./node-modules/@exponent/react-native-navigator/ExNavigatorStyles.js, where changing the bar{} styles to the above would have the same effect.

If anyone has a better solution than this rath

[2016-02-21 15:14] marcelglaeser commented on #203
Hello atn4z7,

can you give me a example for that?

Regards,
Marcel

[2016-02-21 15:23] marcelglaeser opened #236 "Right Button call function from Component"
Hello,
I need a route with a right button, but I don't understand how it works.
If I set a function for the right button, then the library search the function in the parent component, not in the route component.

I hope everyone can understand my English and my question.

Thanks for support,
Marcel

[2016-02-21 18:23] alexmngn opened #237 "Is there any way to define a Router in a sub-component?"
Hi there,

I'm trying to have independent modules with their own router, but so far I can't make it work.

Basically, I have the following defined in `index.ios.js`

[code]

And I have a router in my component `Start`

[code]

The navigation bar is properly rendered, but when I click the Register button, I get an error:

<img width="487" alt="screen shot 2016-02-21 at 13 22 35" src="https://cloud.

[2016-02-21 22:44] ippy04 opened #238 "Unable to set selected default tab"
Hi - I'm trying to set the default tab to be the middle tab rather than the first tab on a 3 tab screen. My Route / Router:

[code]

Trying to set the selected prop on the react-native-tabs component copied from https://github.com/aksonov/react-native-router-flux/blob/master/TabBar.js

[code]

Results in a "cannot find router for route=foo2 current router=undefined" error

I'm assuming this is rel

[2016-02-22 02:21] ws3li opened #239 "Any example on how to modify navbar to add custom button?"

[2016-02-22 02:40] ws3li commented on #239
nvm I figure it out.

[2016-02-22 02:40] #239 closed

[2016-02-22 04:09] chetstone commented on #62
I finally had some time to look at this again. @aksonov, the good news is that it looks like the structure of your code has improved a lot with the refactor. The bad news is I haven't gotten any smarter, and I still can't figure it out.

It looks like the error is caused by Tabbar:getChildrenState() being called with a null selectedRoute parameter on initial render. I've figured out a couple of wa

[2016-02-22 06:32] uyson commented on #238
+1

[2016-02-22 07:30] tugh commented on #238
+1

[2016-02-22 08:58] uyson opened #240 "how can I select default tab in tabbar?"
how can I  select default tab in tabbar?

[2016-02-22 10:34] tugh opened #241 "Unable to set selected default tab"
Hi,

We've tried to make a default tab using "selected" props of Router like this: (this is part of your example"

<Route  name="tabbar" initial={true}>

    <Router selected={"tab5"} footer={TabBar} showNavigationBar={false}>
        <Route name="tab1" schema="tab" title="Tab #1" >
            <Router onPop={()=>{console.log("onPop is called!"); return true} }>
                <Route name="tab1_1

[2016-02-22 17:59] efkan opened #242 "I cannot use together with 'react-native-drawer'"
Hello,

Although there is an example regarding my issue, I cannot implement `react-native-router-flux` by using `react-native-drawer`.

https://github.com/aksonov/react-native-router-flux/issues/92#issuecomment-182322505

The initial screen appears. However the side menu never show by sliding. I'm sure that I did wrong something. Somehow I couldn't find out.

Is there any chance to find out what i

[2016-02-22 19:24] tristangodfrey commented on #230
@kacperpotega Yeah that was my old solution but it's far less than ideal, I guess it's time to finally read the source code and see if I can submit a PR at some point.

@aksonov Do you think it's a good idea to be able to set an initial route prop on a Router component to allow dynamic initialisation? Or am I missing an easier solution?

[2016-02-22 19:27] aksonov commented on #230
@tristangodfrey Yes, it is good idea, old version supported it in the past, feel free to submit PR to support it for latest version...

[2016-02-22 20:58] cdimascio opened #243 "Ability to set background color"
I would like to set the background color on the Router.
Currently, this is not possible and background is assumed to be transparent (app defaults to white) which makes for some unappealing looking transitions in darkly styled apps

Perhaps, it would be useful to enable the user to apply a custom style to the ActionSheet's child view. This could be done on line `300` in `ExRouter.js`. Something lik

[2016-02-22 21:16] marcelglaeser commented on #236
No one an idea or is my English to bad? I can try to explain it again ;-)
It's very very important for me!!

Thanks Marcel

[2016-02-23 01:25] MITDelian commented on #199
I've been testing this library on Android today and it appears to be working fine as long as I don't use the chrome debugging.

There does seem to be a delay in 'switch' animations between tabs. I'm looking into it.

[2016-02-23 04:28] ws3li commented on #242
I had the same problem and then I finally figure it out.
I am not sure if it is same the as yours.

In SideDrawer.js add this line at the end:
modules.exports = SideDrawer;

[2016-02-23 04:56] ws3li commented on #242
I ran into another problem, I wonder if someone could help me out:

Looking at the same scenario above: in **Router.js**
How can I add another `<Route>` that is not part of the `<SideDrawer>`.

If I add a Route say,
`<Route name='NoDrawerPage' component={Page2}  title='Page2' />` outside of `<Route name='main' ...>`, shown below:

[code]

When I navigate from {Page 1} to {Page 2}, for some reason

[2016-02-23 06:06] soliury commented on #199
I have test the 'switch' on tab, it's too slow, about 1.5s to change the tab. I have turn off the chrome debug and live reload, it's the same.

[2016-02-23 06:59] efkan commented on #242
You're right! I didn't `export` anything. (`module.exports = SideDrawer` or `export default class SideDrawer...` so I had to have a break)

Thanks to you, I could overcome the first issue.

If I have Router.js run, I'll review your issue too...

[2016-02-23 09:01] aksonov commented on #221
Closing for now. Some fixes was made, please check latest version

[2016-02-23 09:01] #221 closed

[2016-02-23 09:02] aksonov commented on #241
Duplicate of #240

[2016-02-23 09:02] #241 closed

[2016-02-23 09:02] #242 closed

[2016-02-23 09:02] aksonov commented on #240
duplicate of #238

[2016-02-23 09:02] #240 closed

[2016-02-23 09:03] aksonov commented on #238
Please check latest version, 2.3.0, setting initial for Route will set initial route.

[2016-02-23 09:05] aksonov commented on #243
Feel free to submit PR, name style as routerStyle or something like that

[2016-02-23 09:06] aksonov commented on #237
Just pass route attribute to children route, route={this.props.route} or just {...this.props} to child Router

[2016-02-23 09:08] aksonov commented on #229
route is passed as first argument, so you need to use route.title

[2016-02-23 09:09] aksonov commented on #228
Just call action, like Actions.home().
Possibly it should be done within setTimeout(..)

[2016-02-23 09:11] aksonov commented on #227
Cannot reproduce with clean npm install, possibly it was upgrade problems.

[2016-02-23 09:11] #227 closed

[2016-02-23 09:54] axelander commented on #229
Hm, still doesn't work.
The part of my router that I'm having trouble with looks like this:
[code]
So, when switching to the tab `tab_menu` the menu route is default.
When dispatching an action from MenuView to go to the page route like this:
`Actions.page({ title: 'Sports' })`
I get "Sections" as the route.props.title in my custom title.
If I remove the renderTitle prop from my scheme (also tried

[2016-02-23 11:31] efkan commented on #242
@ws3li ,

Probably as you know, in the code above, `schema` attribute of the route tags define `<schema>` tag names that are container for the common attributes. <br>
`<Route schema="main"... />` is related with `<Schema name="main"...` <br>

If you might write your code I can review it.

[2016-02-23 12:18] aksonov commented on #236
I don't understand, sorry.

[2016-02-23 12:21] aksonov commented on #232
Currently this component just uses standard react native transitions (sceneConfig property).
react-native-custom-navigation looks very nice, all components are open source, feel free to submit PR with improved transitions.

[2016-02-23 12:24] aksonov commented on #226
I've just added support to set properties without navigator transition using Actions.refresh(props), please try it (version 2.3.1)

[2016-02-23 12:27] aksonov commented on #224
Please try new Actions.refresh(props) added to latest 2.3.1 version.

[2016-02-23 12:28] aksonov commented on #215
Please try latest 2.3.1 version with new Actions.refresh(props)

[2016-02-23 12:34] tomkur commented on #224
I'm confused, please describe how I can achieve my goal with Actions.refresh

[2016-02-23 12:40] aksonov commented on #224
You may set needed props and check them within renderRightButton(route) function. It should be accessible via route.props.

[2016-02-23 12:41] aksonov commented on #229
Could you debug? It maybe bug.

[2016-02-23 12:42] aksonov commented on #199
Could you check latest version? Also please uncomment console logging within debug.js and check.

[2016-02-23 13:43] thngdude opened #244 "Screens move when swiping or dragging left and right"
When swiping left or right, the current screen drags and reveals the adjacent screens (routes). Is this the intended behaviour? Is there a way to disable this?

[2016-02-23 14:15] aksonov commented on #244
Probably it is default React Native Navigator behaviour. You may disable gestures within your sceneconfig to disable it.

[2016-02-23 14:42] thngdude commented on #244
You were absolutely right. Thanks! Is there any official documentation regarding sceneConfigs? I tried searching but only found referrals to the source code.

[2016-02-23 14:42] #244 closed

[2016-02-23 14:42] tomkur commented on #224
All right, I'll check that soon, thanks

[2016-02-23 14:51] tristangodfrey commented on #230
@aksonov I'll be able to look at it at some point next week I think, should I leave this issue open until then?

[2016-02-23 15:10] aksonov commented on #244
I don't know any docs... Maybe you could ask React Native team about that.

[2016-02-23 16:27] marcelglaeser commented on #236
No problem :) I try to explain it better!

I have two classes. In the first class I define the router and the route.

<Route name="cam" schema="modal">
<Router name="camRouter">
<Route name="camModal" component={Cammodal} wrapRouter={true} title="TITLE" type="modal" renderLeftButton={Icons.CloseIcon} leftButtonPress={()=>{Actions.pop();}} renderRightButton={Icons.TorchIcon} rightButtonPress={this.

[2016-02-23 16:29] aksonov commented on #236
params starting from 'render' should be functions returned React component, not react component itself.
also the component doesn't have rightButtonPress param, check docs

[2016-02-23 17:10] axelander commented on #229
Seems like route is not passed to renderTitle callback. I created a PR for ex-navigator to fix this.
https://github.com/exponentjs/ex-navigator/pull/97

[2016-02-23 17:23] ippy04 commented on #238
just upgraded and confirmed that setting initial={true} works. Thanks!

[2016-02-23 17:23] #238 closed

[2016-02-23 17:24] aksonov commented on #229
Hm, why PR to ex-navigator? ex-navigator is not connected with routing from this component.
As far as i see renderTitle is binded to route within ExRouter:
[code]

[2016-02-23 18:11] axelander commented on #229
When passing in the route like in my PR you get an `ExRouteAdapter` as the first argument in `renderTitle`. When removing it, you get a `ExNavigator`. So I guess the `.bind` part is not working as expected? Do you have any ideas how this could be fixed within RNRF?

[2016-02-23 18:23] marcelglaeser commented on #236
Thanks for your answer. Are there examples?

[2016-02-23 19:30] axelander commented on #229
So, I found the problem with the `.bind` and created a [PR](https://github.com/aksonov/react-native-router-flux/pull/245).

[2016-02-23 20:17] arthurvi commented on #224
Hi @tomkur, when you upgraded to 2.3.1 you can use the new Action.refresh like this:

First import `Actions` in the component from where you want to change/control the navbar button:
[code]

Then when you want to change the navbar button, refresh like this:
[code]

And then in your root file where all the routes are defined:renderRightButton:
[code]
You can define everything in object you pass wit

[2016-02-23 21:08] tomkur commented on #224
Thanks for thorough example, @arthurvi, much appretiated! I'll test that first thing tomorrow

[2016-02-23 21:19] arthurvi commented on #224
No problem, happy to help. Had some issues with it today as well.

[2016-02-23 22:54] digitalhobo commented on #226
Thanks aksonov.
I may not be understanding you properly.
So, for instance if I wanted to change the state of the title. I would call
`Actions.refresh({title: 'Some other title'})`
Many thanks for getting back to me.
:0)

[2016-02-23 23:26] digitalhobo commented on #226
My bad, its all working great. Thanks very much for your help aksonov. Much appreciated. :0)

[2016-02-23 23:26] #226 closed

[2016-02-24 00:47] ws3li opened #247 "Drawer Support in Router. How to pass this.openDrawer to a component"
I have a  SideDrawer.js which looks like this:

[code]
**note:** I have added a reference to my drawer (ref)
and here is how my router Router.js looks like this:
[code]
**note:** in my route ('with-drawer') I render the left navigationbar button to have a custom `<MenuButton \>`

**Question:** How can I pass in the Drawer reference to `<MenuButton />` so that I can do a 'openDrawer()' (this.drawer

[2016-02-24 10:07] tristola commented on #149
I have similar situation.

There is no scheneConfig called "FloatFromUp", so If i navigate Actions.page1({params}),
so I cannot have the "correct animation". Of course I can implement such a animation. But being able to pop the history would make this nicer: Actions.pop(2)

[2016-02-24 10:44] aksonov commented on #247
I'm doing following in my project - using not ref, but context and pass contextTypes for all chain:
[code]

Then, in my screen component:
[code]

[2016-02-24 10:49] aksonov commented on #236
There is documentation. You may add example PR if you want.

[2016-02-24 10:49] #236 closed

[2016-02-24 10:49] #187 closed

[2016-02-24 11:00] aksonov commented on #207
Yes, looks like it is limitation of React Native navigator.jumpTo method, which doesn't allow to pass new properties to existing routes. Could you try new Actions.refresh(props) method? If it works fine you may want to submit PR to add this call at the end of ExRouter.onJump method after jumpTo to update route with new props...

[2016-02-24 11:00] aksonov commented on #62
Should be fixed with latest version, please check.

[2016-02-24 11:04] aksonov commented on #174
Could you check with latest version? I've done some changes into TabBar recently

[2016-02-24 13:46] aksonov commented on #186
@MITDelian  any ETA for your changes?
@danielweinmann It looks very good idea, looks like @MITDelian  works on it. I think it even could be not connected with Experimental Navigator API at all. Anyway, PR is welcome.

[2016-02-24 17:36] dan-lee commented on #243
:+1:  I'm also in need of this, so I proposed a PR.

[2016-02-24 17:38] tomkur commented on #224
I did as you suggested, but in my case ```route.props.applyButton``` returned ```undefined```. However, I was able to find the button via ```route.props.router.delegate.state.applyButton```.
What am I doing wrong?

[2016-02-24 20:18] doomsower commented on #199
I've tried to debug Example app from version 2.3.1 on Android tablet. Animations were extremely slow.
[Here](https://gist.github.com/anonymous/31edcb85d9557d02865cac) is console output with debug.js uncommented
I also made a release build of simple app (using version 2.3.1) and ran it on Samsung Galaxy S3. Again everything was very slow.
Maybe updating "@exponent/react-native-navigator": "^0.3.5"

[2016-02-24 20:23] aksonov commented on #199
Please check core exnavigator code

Pavel.

[2016-02-24 23:27] ws3li commented on #247
Hmm, it didn't work for me. I get drawer is undefined.
But I manage to do it using redux action. Thanks

[2016-02-25 06:30] #247 closed

[2016-02-25 06:54] ws3li opened #250 "Accessing Route outside of Router looses Navigation bar (with Drawer)"
**Question:** How to properly route between component (with drawer) and another component (without drawer) without loosing navigationbar

I have the following code in my **Router.js**
[code]

When the app lauches it navigates to **main** and then to another router -> route **main_main**.
In the **maincomponent** I have shown a navigation bar with a **left** and **right** button.

When the right bu

[2016-02-25 08:21] MITDelian commented on #186
@aksonov I got a preliminary version working for my fork that I use internally, but it's not really quite ready to be integrated into this library.

Apologies but this (https://github.com/facebook/react-native/issues/5404#issuecomment-188571340) is my priority right now, but I'll dedicate some time to this once it is resolvde

[2016-02-25 11:49] sibeliusseraphini opened #251 "Cannot read property 'dispatch' of undefined on componentDidMount"
I am trying to create a Login screen that will go directly to another screen if the user is already authenticated.

[code]

I am getting the user from `AsyncStorage`, is there any work around to do the same behavior?

[2016-02-25 12:35] Cryszon opened #252 "Router overrides component's default name prop"
Is there a specific reason why the router overrides a component's name prop or is it simply so you can use `this.props.name` instead of `this.props.route.name`? The current behaviour seems to make it impossible to use `defaultProps.name`, because the router sets it to the name of the route if no value is passed.

[2016-02-25 14:26] stevefox opened #253 "Session to Login Screen Redirect"
I am building a session screen and found I haven't been able to get the redirect to work before the first render. If I put `Actions.RouteLogin()` in `componentDidMount`, it also does not redirect. If I do anything that triggers the view to re-render, or if I put it in an `onPress` handler, then it works fine. Is that why you suggest within `setTimeout` in #228? The route type currently is `replace

[2016-02-25 14:57] ahmetabdi opened #254 "npm install fails"
[code]

[2016-02-25 15:17] ahmetabdi commented on #254
Just update npm if you get this
```sudo npm install npm -g```

[2016-02-25 15:17] #254 closed

[2016-02-25 16:28] aksonov commented on #253
Yes, you need to run action in next cycle, even with standalone navigator you have to do it. Duplicate of #228.

[2016-02-25 16:28] #253 closed

[2016-02-25 18:11] paulxtiseo opened #255 "Navigation bar disappeared"
I recently upgraded my modules on an app I am building, and I can't display a navbar on one container where I was able to before. Here's the routes:

[code]

The activity feed scene is not displaying the navbar at all. Before the upgrade, it did. (I upgrade today from v2.2.4 to current.)

Any ideas on where to start looking?

[2016-02-25 22:59] braco opened #256 "Putting buttons in renderTitle?"
Are there any issues with rendering buttons via renderTitle?

Just curious if anyone has had experience here. Thanks.

[2016-02-26 02:10] doddys commented on #199
Hi,

I am also experiencing slowness. However, when chrome debugging is enabled, it is faster .
Behaviour in simulator (android and iOS) and physical device is the same as when chrome debugging is disabled.

Is there anyway to disabled "@exponent/react-native-navigator" completely to isolate the problem?

Doddy

[2016-02-26 07:42] TonyCois commented on #199
Hi,

I had this problem too, but I solved it by disabling the dev mode.

Here the issue on react-native github :
https://github.com/facebook/react-native/issues/3049

I tried another router and it was exactly the same on android. The demo was
very slow. So, I'm not sure that it comes to react-native-router-flux :)

Tony

Le ven. 26 févr. 2016 à 03:10, doddys <notifications@github.com> a écrit :

[2016-02-26 14:24] dan-lee commented on #197
I don't think this issue should be closed, as it still occurs to me and apparently others.
Is there any way to resolve/work around this?

[2016-02-26 14:26] aksonov commented on #197
Have you voted https://productpains.com/post/react-native/override-swipe-back-behavior/ ?

[2016-02-26 14:33] dan-lee commented on #197
I just did so!

[2016-02-26 14:34] aksonov commented on #197
As you can see only 6 persons were affected...

[2016-02-26 15:20] faceyspacey opened #257 "How to implement react-native-scrollable-tab-view?"
I'm looking to idiomatically support:

https://github.com/brentvatne/react-native-scrollable-tab-view

Is that something natural to do and what are some tips for how to go about it?

[2016-02-26 19:16] kadosh1000 commented on #122
@graywolf336  your solution is good but not perfect, with your solution the app will still close as the 'hardwareBackPress' event expects to get a boolean back saying if it should live the app open or not.
for our luck, the great developers here are returning that boolean in the Actions.pop method. So the entire solution should be:

`componentWillMount = () => {
  BackAndroid.addEventListener('har

[2016-02-26 19:20] graywolf336 commented on #122
Your code does the same as mine. ;) one line inline arrow functions return the value without needing the return keyword. https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions

[2016-02-26 19:21] kadosh1000 commented on #122
You're right, didn't notice that

[2016-02-26 19:37] chetstone commented on #255
I saw something similar, when I was trying to use the example from @nyura123's [PR](https://github.com/aksonov/react-native-tableview/pull/76)  for [react-native-tableview](https://github.com/nyura123/react-native-tableview/tree/2b39e7a1bd6fe7eef6880a3575d782d93ffe700e/examples/TableViewDemo). `hideNavBar={true}` was not working in the editing routes "Example with editing mode" and "Custom Editing

[2016-02-26 19:57] aksonov commented on #255
@chetstone You are right, latest changes broke 'back' button functionality, didn't found the reason yet, reverted to old solution...

[2016-02-26 20:00] paulxtiseo commented on #255
Well, good to know I am maybe not the only one. :)

Another thing I noticed in trying to superficially debug, the repo's readme.md example shows a nested router (`<Router footer={TabBar} showNavigationBar={false}...`) with a `showNavigationBar` attribute? How does it differ from the `hideNavBar` one? The configuration table above it does not document it.

[2016-02-26 20:02] aksonov commented on #255
It should be the same as hideNavBar, i believe

[2016-02-26 20:04] paulxtiseo commented on #255
But, probably inversed? Meaning (showNavigationBar = true) === (hideNavBar = false)?

If so, that did not seem to alter the fact the the navbar is absent from my ActivityFeed screen.

[2016-02-26 20:11] aksonov commented on #255
Check latest version (2.3.6), if it doesn't work, please check demo, it hides/show navbar within tabbar.

[2016-02-26 20:38] matiascba commented on #203
Hello atn4z7, do you have the example?

Thanks

[2016-02-26 20:56] atn4z7 commented on #203
@marcelglaeser @matiascba
Sure. Here is an example from https://github.com/aksonov/react-native-router-flux/issues/100. You can do the same with renderLeftButton
[code]

[2016-02-26 21:07] paulxtiseo commented on #255
Yes, it works now.

[2016-02-26 22:35] ws3li opened #258 "Doing 'reset' as route type produces error"
When I add the 'reset' type to route I get this error:
_this3._navBar.immediatelyRefresh is not a function.

I recently updated to react-native 0.20+ and got the latest react-native-router-flux 2.3.6

[2016-02-26 23:07] ws3li commented on #255
Is the back button fixed yet? I still see the back button not being rendered properly. Thanks

[2016-02-26 23:35] alexmngn commented on #237
I tried this but it still doesn't want to work, I get the same error:

[code]

[2016-02-26 23:41] lrettig commented on #207
I ran into this too. refresh did not, but manually setting the props on the existing route did. Not sure if this is the safest/right way to do it, but it works. Just submitted #259.

[2016-02-27 00:22] lrettig commented on #255
same!

[2016-02-27 00:27] lrettig commented on #255
just tested, the back button issue first appeared in 2.3.4

[2016-02-27 00:30] dan-lee commented on #237
You should pass the props to the router: `<Router name="startRouter" {...this.props}>`

[2016-02-27 00:55] lrettig commented on #174
I just tried to recreate this, using both the older (2.1.8) and latest version of the library, and I couldn't recreate it on either of two devices. No idea what happened. I'll close this.

[2016-02-27 00:55] #174 closed

[2016-02-27 01:28] smikulenas commented on #258
I can confirm - it's the new issue that does not exist in 2.3.0

[2016-02-27 01:49] lrettig commented on #207
This is more complicated than I thought. The component continues to receive the props from the router every time push or pop is called, i.e., when another component is added on the nav stack on top of it, or popped back off. @aksonov do you know why this happens?

In my use case, I want to act on the props only when they're received _explicitly_ (i.e. via an Action) and not _implicitly_ (the push/

[2016-02-27 03:03] lrettig commented on #207
It's even stranger than I thought. I'm seeing nondeterministic behavior, where my component sometimes receives the props, sometimes doesn't (i.e., `componentWillReceiveProps` is called sometimes when the route is loaded, but not always). Maybe this has something to do with RN's internal mechanism for deciding when updates need to happen?

I worked around this for now by defining multiple routes so

[2016-02-27 04:29] tinygipxy commented on #258
I have same issue

[2016-02-27 08:37] adamski opened #260 "Clear example with top-level Redux `connect`"
I'm struggling to work out how to access redux state from a connected component's props, using the top level method connecting it to the Router.
I'd like to avoid using multiple `connect`s, as the Redux docs state:

I'm refactoring some code using NavigatorIOS and was previously passing the necessary props using `passProps`. I can't see an equivalent - I guess that happens behind the scenes with `

[2016-02-27 08:55] adamski commented on #260
Think I found some good advice on #56
Still would be good to have clearer example I think.

[2016-02-27 09:22] sulinixl commented on #255
In the same case, NavigationBar disappeared in 2.2.7, and after upgrade RNRF to 2.3.6, NavigationBar appeared, but the back button disappeared again.

[code]
Above is an example, I hope it can help some.

[2016-02-27 10:02] sulinixl commented on #255
Maybe during routes switch, the NavBar doesn't change at all.
Check the code below, when route switch to search, **NavBar title is still 'Home Page', not 'Search **Page'.
[code]

[2016-02-27 10:24] doddys commented on #199
Hi,

I finally found why it was slow on my device/simulator. I was due to my own mistake.
I was doing a console.log(action) in the reducers. That turns out slow things a lot. Especially when executed on the device. It was ok when chrome debugging was turned on because it is executed using the chrome javascript engine which is much more powerful (laptop vs device).

 After removing all the log(acti

[2016-02-27 16:54] zxcpoiu commented on #258
this issue occurs from version 2.3.4

[2016-02-27 16:58] tigershen23 opened #261 "NavBar is behind by one view in nested Router"
I discovered in my personal project that the NavBar was lagging behind by one route push, and have reproduced this in the Example project after adding a third route to the nested Login router:
[code]

This is easier explained visually:

https://gyazo.com/4aa937820f6ac03172aa856d47dbcfb4

As you can see, after navigating to the `Login 2` route, the NavBar still remains on `Login 1`. It then updates

[2016-02-27 18:51] zxcpoiu opened #262 "priority about showNavigationBar={false} and hideNavBar={true}"
Those two props should be the same.

https://github.com/aksonov/react-native-router-flux/issues/255#issuecomment-189457811
https://github.com/aksonov/react-native-router-flux/issues/255#issuecomment-189458270

But even though I have always set `hideNavBar={true}`, I still encounter issue #258 which can avoid by set `showNavigationBar={false}` as a workaround if you don't need the nav bar.

I guess

[2016-02-27 19:01] zxcpoiu commented on #258
Current workaround:

* You can downgrade to stable 2.3.1 or master 2.3.3.
* if you don't need to render NavBar, you can try setting up prop `showNavigationBar={false}` instead of `hideNavBar={true}` to tell `ExNavigator` do not render NavBar specifically. see: #262

[2016-02-27 19:12] rturk commented on #261
Thanks for sharing this. I'm also experiencing this.. It was quite tricky to debug..

[2016-02-27 19:18] rturk commented on #258
@zxcpoiu tks

[2016-02-28 01:55] iZaL opened #263 "V2.3.6 "Current Router = undefined" when navigating from a child tab route to a parent tab route"
after updating to the latest version i.e 2.3.6, I cannot navigate to routes outside of the parent router.
that is, in the below example, If i try to navigate to **favorites** tab or **appointments** tab from any child routes within the **main** route, it throws an error saying "**cannot find router for route={routName} current Router = undefined**".
also the navigation bar title are missing when p

[2016-02-28 01:58] iZaL commented on #263
ok, for some reason, the code is not indenting properly, sorry for that

[2016-02-28 02:02] tigershen23 commented on #261
Did you get anywhere @rturk

[2016-02-28 02:59] MofeLee commented on #199
@doddys works for me 👍

[2016-02-28 03:13] MofeLee commented on #199
@doddys I'm using console.log in my logger middleware😂😂

[2016-02-28 11:48] behl1 commented on #257
+1

[2016-02-28 13:28] JeremDsgn opened #264 "componentDidMount not trigger on Actions.pop"
Hi !

I would like to understand how works the `Actions.pop` function a little.

I have a simple app with two views. On the first one, I just display data than user have to edit by himself. And on the second screen, the edit view to add data.

By default user didn't have data display and is invited to edit data. I use a `onPress={ Actions.add }` to redirect him to the edit screen. After user save

[2016-02-28 13:52] joshuarotenberg commented on #255
:+1: my navbar is gone with the latest update also

[2016-02-28 16:18] tonygriv opened #265 "Navigation bar overlaps the content below"
Hello.

How can I make navigation bar to not overlaps the content?

[2016-02-28 19:17] blocka commented on #92
@mmazzarolo
I've tried setting up your example. When I call `Actions.main` (the route with the drawer) I get `undefined is not a function this._navBar.immediatelyRefresh()`

[2016-02-28 20:27] behl1 commented on #261
+1. Just upgraded to 2.3.6 and am experiencing the same issue.

[2016-02-28 21:14] welbornio commented on #167
Thanks for the update. Glad I'm no the only person who got stuck on this.

[2016-02-29 01:31] lrettig commented on #262
Agree that this is terribly confusing, I'd love to see this cleaned up! Thanks for pointing it out

[2016-02-29 02:11] skatpgusskat commented on #265
+1

[2016-02-29 03:54] chetstone commented on #265
Try adding
[code]
to your `Router`.

See issue #103.

[2016-02-29 03:54] #265 closed

[2016-02-29 03:59] chetstone commented on #62
Seems to be fixed in 2.3.6. Thank you!

[2016-02-29 03:59] #62 closed

[2016-02-29 07:14] ralphpina opened #266 "How to change scene outside of onPress()"
I am brand new to React Native and Javascript, so this may be a dump question. But... How do you kick off a scene change outside of the ```onPress()``` callbacks shown in your samples and docs?

This works fine:
[code]

However this does nothing. The console statement prints fine.
[code]

I know that `Actions.LoginScreen` is not a method, so it does nothing there. But I can't seem to figure out ho

[2016-02-29 09:09] ajoshdee opened #267 "Back button"
Is there a way to remove text from back button?

[2016-02-29 11:19] aksonov commented on #258
Please check 2.3.7

[2016-02-29 11:19] aksonov commented on #261
Please check 2.3.7, should be fixed.

[2016-02-29 11:21] aksonov commented on #260
Feel free to submit PR for improving documentation. Btw, there is quite large discussion at redux github about having only one connect for top-level component, and i don't agree with this sentence.

[2016-02-29 11:21] #260 closed

[2016-02-29 11:22] aksonov commented on #266
It is not question about this component but about Javascript, please post them at Stackoverflow. Actions.LoginScreen is function, why you don't call Actions.LoginScreen() ? Also it may not exist on this stage, so you could use `setTimeout(()=>Actions.LoginScreen())`

[2016-02-29 11:22] #266 closed

[2016-02-29 11:25] aksonov commented on #257
You might implement something like TabBar, which iterates for children and passes them to react-native-tabs. Your ScrollableTabView  will iterate over inner Routes, create components and pass them to scrollable-tab-view.  Let me know if you will have any problems with it.

Feel free to submit it as PR for this component.

[2016-02-29 11:26] aksonov commented on #255
Please check 2.3.7

[2016-02-29 11:28] aksonov commented on #252
Nobody complained about this before, it was done for easier 'naming' of Routes. It is used by TabBar for example to do unique tabs as well for Actions

[2016-02-29 11:29] aksonov commented on #251
Have you tried setTimeout(()=>Actions.tabbar()) ?

[2016-02-29 11:30] #243 closed

[2016-02-29 12:14] sibeliusseraphini commented on #251
I've just removed this from componentDidMount, because I think it is not a good ideia anyway

thanks

[2016-02-29 12:14] #251 closed

[2016-02-29 13:27] joshuarotenberg commented on #255
@aksonov This appears to be fixed. THank You!

[2016-02-29 14:00] oureta commented on #267
Try to set the current route's `leftTitle` to space i.e. `leftTitle=" "`

[2016-02-29 14:07] oureta commented on #264
`Actions.pop` should be the way to go. The List View is not being unmounted when you go to Edit Screen that's why `componentDidMount` is not being called. When you call `Actions.list`, a new List Screen is being created, mounted and pushed to the stacks.

[2016-02-29 14:08] oureta commented on #263
I am also having issues with Back Button on v2.3.6. I think v2.3.1 is more stable.

[2016-02-29 14:09] aksonov commented on #263
Please check 2.3.7

[2016-02-29 14:21] JeremDsgn commented on #264
How can I `unmounted` this view ? What kind of action should I do, to make it works ?

[2016-02-29 14:23] oureta commented on #264
It needs to be on a separate Router. Or you can call `Actions.pop` to unmount the List Screen before `Actions.add`

[2016-02-29 14:34] JeremDsgn commented on #264
My router look like this :

[code]

There is separated route for each view.

[2016-02-29 14:40] sulinixl commented on #255
Fixed, tks~

[2016-02-29 14:42] oureta commented on #264
You could try something like this.
[code]
I'm not sure though why you want it to be unmounted.

[2016-02-29 15:42] zxcpoiu commented on #258
confirmed.

2.3.7 fixed this issue.
tested under react-native@0.20

thanks!

[2016-02-29 16:42] JeremDsgn commented on #264
On the `Add view`, I edited field that I push on `AsyncStorage`. After getting back to List View, I would like to update my view with the new data retrieve with a `await AsyncStorage.getItem`. I use at the moment `componentWillReceiveProps ` to render the view. But it rendre twice my view and create a glitch during 1sec with the old data before updating with new data.

[2016-02-29 16:43] ralphpina commented on #266
Yeah... see this:

So clearly I'm still learning the difference. But yeah, it was a lifecycle issue.

Thanks for the quick response!

[2016-02-29 18:04] aksonov commented on #255
Added customization of nav bar again (2.3.7 is like 'reverted' version), please check 2.3.8, hope i didn't break it again ;)

[2016-02-29 18:36] kesha-antonov commented on #267
Nice! Thanks @oureta

[2016-02-29 19:01] kesha-antonov opened #268 "TabBar: inst.render is not a function"
Hello!

When do not include `footer={TabBar}` in code below all works. But when do - this error will appear. Can you help to deal with it?

[code]

<img width="321" alt="screen shot 2016-02-29 at 21 57 13" src="https://cloud.githubusercontent.com/assets/11584712/13405457/86cb2a6a-df2f-11e5-87c8-a5044ec81e0d.png">

[2016-02-29 19:30] wkirby opened #269 "Example has no Navigation Bar Buttons"
The demo gif shows the navigation component with Back buttons and has several properties that indicate  customization of left and right navbar buttons. I was unable to get these to work locally, and after pulling the example code, it is not working there either.

![screenshot 2016-02-29 11 26 47](https://cloud.githubusercontent.com/assets/579688/13406305/93fbf884-ded7-11e5-94a4-14e4a41888be.png)

[2016-02-29 19:47] JeremDsgn commented on #264
Even with a new route level, the `componentDidMount` is not fired after clicking on the back button `= Actions.pop`

[2016-02-29 23:45] iZaL commented on #263
V2.3.7 doesn't fix the bug

[2016-03-01 01:01] MITDelian commented on #199
I'm going to close this. For future reference make sure to not have console.log anywhere in the code, whether it is your redux middleware or in the debug for this library

[2016-03-01 01:01] #199 closed

[2016-03-01 01:13] paulxtiseo commented on #255
Updated. Works for me.

[2016-03-01 02:08] willmcclellan commented on #121
FYI the handler is actually called `onJump` and should be attached to the parent router. I think the documentation is either out of date or mis-referencing `onJump` with `onSwitch`

[2016-03-01 04:07] sulinixl commented on #255
2.3.8 works fine.

[2016-03-01 09:15] aksonov commented on #268
Could you reproduce it on our Example?

[2016-03-01 09:16] aksonov commented on #263
Then it means different issue. Ok, please modify Example to reproduce this bug in sample repo.

[2016-03-01 09:16] aksonov commented on #262
What is problem to use hideNavBar only?

[2016-03-01 09:18] aksonov commented on #264
componentDidMount should not be fired for pop. You need to check onFocus handler for this.

[2016-03-01 09:18] #255 closed

[2016-03-01 09:18] #261 closed

[2016-03-01 09:18] #258 closed

[2016-03-01 10:24] andreasbhansen commented on #224
@tomkur @arthurvi Where would you put Actions.refresh()? I tried putting it in both componentWillMount and componentDidMount, but neither of those rendered successful. Didn't find the button/function, neither through route.props.* nor route.props.router.delegate.state.*.

[2016-03-01 10:27] tomkur commented on #224
In my case this was in handler of button press

[2016-03-01 11:01] andreasbhansen commented on #224
Hm. Maybe I misunderstand something here.

In my route:
```<Route name="detailView" schema="default"  component={DetailView} renderRightButton={(route) => { console.log(route); }} title="Detail View" />```

in my ```DetailView``` component (trying both life cycle methods just to check):

[code]

Shouldn't this enable me to see the ```editButtonRight``` component/function in the console.log within

[2016-03-01 11:28] zxcpoiu commented on #262
At first, there are no problems at all.

#### first reason:
When I tried to find a workaround for #258 ( fixed by 2.3.7 ), which can be avoided if you set not to render NavBar at all.

At that time, I noticed that even though I use `hideNavBar={true}`, the app was still trying to reder NavBar, so error occurs.
Only if I use `showNavigationBar={false}` specifically that I can prevent the error.

I

[2016-03-01 11:30] #262 closed

[2016-03-01 11:33] aksonov commented on #269
Feel free to improve it by sending PR.

[2016-03-01 11:33] #267 closed

[2016-03-01 11:34] aksonov commented on #256
What problem with it? Anyway the question seems not related to this component (renderTitle is just passed to exNavigator)

[2016-03-01 11:34] #256 closed

[2016-03-01 11:36] andreasbhansen commented on #224
Ah, sorry, I didn't see your edit, @tomkur.

So let me get this straight. The component that calls ```Actions.filters()``` handles the ```_renderApplyButton()```, even though that button belongs to your ```filters``` route, not to the overarching component (the one that calls ```Actions.filter()```)?

[2016-03-01 11:43] aksonov commented on #250
You hidden root nav bar and then switched to 'root' route then sure, it will not have navbar. Have you tried to put renderLeftButton, renderRightButton to root router and show it?

[2016-03-01 11:45] aksonov commented on #225
Have you tried to debug? Stack trace error?

[2016-03-01 12:51] kesha-antonov commented on #268
Oh my!
It was my issue: in TabIcon I returned function - not a React class.

Was:
[code]
Become:
[code]

Thank you for the lib!

[2016-03-01 12:51] #268 closed

[2016-03-01 13:05] kesha-antonov commented on #52
Need this too: hide tab bar for nested route.

[2016-03-01 13:31] behl1 commented on #261
Thanks  @aksonov

[2016-03-01 15:14] JeremDsgn commented on #264
**4. Update your component on focus** of this section : https://github.com/aksonov/react-native-router-flux#reduxflux-support ?

[2016-03-01 20:46] jopecko opened #272 "Any recommendations for rendering badges on tabbar icons?"
We recently switched a project to use this component where we were previously using exNavigator and [react-native-tab-navigator](https://github.com/exponentjs/react-native-tab-navigator). With the previous components we were able to use properties in redux to apply badges to the tabs in the tab navigator. (Something along the lines of unread message counts in chat apps.) I'm unable to figure out h

[2016-03-01 20:50] jopecko commented on #272
I'm going to look into creating my own tab bar component. will reopen if I need to.

[2016-03-01 20:50] #272 closed

[2016-03-01 22:41] wkirby commented on #269
The issue is not with the example itself, it's that I believe the underlying code isn't working as intended. In neither the example nor my own use can I actually get navbar buttons to display — back or otherwise — using any of the exposed functions.

[2016-03-02 02:05] MITDelian commented on #235
haha this worked for me. thanks for the dirty hack @kacperpotega

[2016-03-02 06:02] keeth commented on #174
Seeing this issue.  It happens on my iPad but not in Simulator.

[2016-03-02 09:24] oureta commented on #235
I'm developing on iOS and `borderBottomWidth: 0` works for me. In my structure, the main router's `hideNavBar` equals true and every module has their own nested `Router`. So the `borderBottomWidth: 0` are applied on the nested `Router`'s

[2016-03-02 12:04] kacperpotega commented on #235
Seems like @oureta's solution only works if every module has its own Router. As soon as my main router is responsible for displaying the navbar `borderBottomWidth: 0` doesn't have any effect.

[2016-03-02 13:50] vtambourine opened #274 "navigationBarStyle in Route doesn't work"
For some reason I am unable to override scene NavBar style with `navigationBarStyle` option, as it stated in docs.

My component structure is following:
[code]

I expect the Onboarding page will have custom NavBar color, but it doesn't.

[2016-03-03 02:53] xinranw commented on #253
Sorry, wanted to follow up on this question. I tried the above implementation but seems the redirect function, in this case `Actions.RouteLogin()` gets called twice, with the result being the `RouteLogin` view being displayed twice. Any idea why that's happening/

[2016-03-03 06:50] ajoshdee opened #276 "Left Back button color"
How do you change the color of the back button?  leftButtonStyle={{color:'white'}} is not working either in router and route.

[2016-03-03 08:04] tugh commented on #238
@aksonov
It sure worked as initial route, but the tab we rendered in the footer doesn't highlight properly.

I've found that there is a "selected" property for the Router, and it throws an error when we use it with initial={true}.

Could you please look into that too.

Thanks.

[2016-03-03 08:08] tugh commented on #241
Hi Aksnov,

you've labeled this as duplicate of #240 and which you referred a duplicate of #238 .

As I mentioned in #238 , My problem is slightly different and will appreciate if you can look into it.

Thanks.

[2016-03-03 23:58] BigPun86 commented on #274
+1

[2016-03-04 00:00] seantempesta opened #277 "TypeError: Cannot read property 'delegate' of null at ExRouter.componentWillUnmount"
I'm hitting an exception if I rapidly switch between routes in the iOS Simulator.  Looks like it's in [ExRouter.js](https://github.com/aksonov/react-native-router-flux/blob/master/ExRouter.js) (lines 197-201):

[code]

The component is checking currentRouter for this delegate property, but it's already null.  Has anyone else hit this issue?  I guess the problem could be fixed by checking if it's a

[2016-03-04 05:12] jeduan commented on #269
@wkirby Did you try adding `onRight` to the props in `<Route>`?

[2016-03-04 06:35] virtoolswebplayer opened #279 "ExRouter Add onTransitionToTop method, have a best idear?"
## after readed , if you have a best idear?

## my case is  login=>tabbar=>tab1=>login , there is something  i want to do

1. when hardwareBackPress pressed  don't pop to login route,  only allow  logout  `<Button> `do it.
2.  when logout  `<Button>`  pressed , i use  `Actions.login`  so it's ok and with animation, but the `root` Router stack like this `[launch, login, tabbar, tab1Router, login]`,

[2016-03-04 06:50] ajoshdee commented on #274
hide the router navbar

[2016-03-04 07:31] vtambourine commented on #274
@ajoshdee, yes, I can figure out some workaround, but I think more solid API might be more suitable for my and similar situation.

[2016-03-04 09:28] RealOrangeOne commented on #269
I am having a problem like this aswell. I can only seem to get the buttons to render using `renderRightButton` if they are on a `<Route... />` that is a direct child of the main `<Router .../>` component. Any ideas?

[2016-03-04 11:52] BigPun86 opened #281 "Different navBars"
Hey there!

I am trying to style a navbar in a nested router/route. Here is the code:

    ......
    <Route name="dashboard" type='reset'>
        <SideDrawer>
		<Router hideNavBar={false} sceneStyle={styles.routerScene} navigationBarStyle={styles.navBar} titleStyle={styles.navTitle}>
            <Route name='home' component={ Routes.Dashboard } title={translate('home')} renderTitle={renderTitle}

[2016-03-04 22:51] DVassilev commented on #274
The navbar is also not changing for me despite using navigationBarStyle.

[2016-03-04 22:52] DVassilev opened #283 "Changing background colour that appears during animation"
When you slide 'back' to return to the previous route there is a white background behind the screen as it gets bigger to fill the screen. This clashes with my UI, is there a way to change the colour or somehow make it match the background colour of the app?

[2016-03-04 23:40] marcelglaeser commented on #276
+1

[2016-03-05 15:43] farwayer opened #285 "Title after pop with (custom title)"
How can I get title of route in reducer of AFTER_POP?
`action.title` and `action.route.title` is empty. Look like custom title saved only in `ExRouteAdapter` and we can't get access to it.

[2016-03-05 19:30] jayesbe commented on #274
ditto.  Trying to center the title in the navigation bar.. not working.

[2016-03-05 20:31] tomkur commented on #224
Exactly, @andreasbhansen and it's good enough for me, although it's not a clean solution. It would be indeed better if it could be delegated to the "Filters" component (as I suggested in my first comment)  and I don't know if it can be achieved.

[2016-03-05 20:36] tomkur commented on #224
I do have one problem though - I'd like to disable the 'Apply' button under certain circumstances while the 'Filters' view is opened (not during opening). @aksonov is that possible?

[2016-03-05 23:19] JeremDsgn commented on #264
@aksonov How the onFocus handler works ? Can you provide a link with the documentation about it ?

[2016-03-06 18:40] ramneekhanda opened #286 "Custom styling of Back Button"
I have tried almost everything but i cant do something simple - Change style of default "< Back" text.

I have tried leftButtonTextStyle, backButtonTextStyle and everything possibly other than that. i screened the code as well but saw that no property was being used to render this text (defaults are being applied from ExNavigator and Navigator).

Please confirm what shall i do for this?

Note that

[2016-03-07 00:46] alduro opened #287 "Title not being shown on Tab selection"
Title is not shown for either Chats or Contacts tabs for instance. But yes for a route outside tabbar. What am I doing wrong ?
[code]

[2016-03-07 04:10] ralphpina commented on #224
I also had issues getting the button to change. Below is what I did. In the router, I had to check to nullability. Otherwise, on first load, it would throw:

[code]

Then, in my component, I called `Actions.refresh()` in `componentDidMount()`. I also called it again inside the button click so that I could update the text. The button would only render the first time if I used a timeout in `componen

[2016-03-07 06:33] ajoshdee opened #288 "Segmented Control"
Is segmented control available?

[2016-03-07 09:33] iugo opened #289 "[Closed] hideTabBar do not work"
The tab3 `hideTabBar` has be set as `{true}`, but TabBar in footer is not be hidden.

React Native 0.21.0
Test code: https://github.com/aksonov/react-native-router-flux/tree/adb8e076e583b119854cababe05fa7d3144c6af6/Example

<img width="663" alt="2016-03-07 17 29 29" src="https://cloud.githubusercontent.com/assets/499364/13565307/4c36f9b4-e48a-11e5-813b-3985aadf3b43.png">

I see the file https://gi

[2016-03-07 10:26] aksonov commented on #289
Thanks for the feedback! Please check latest 2.3.11

[2016-03-07 10:36] aksonov commented on #287
It is difficult to say from the your code, could you check Example? Tab#1, Tab#2, etc are displayed correctly as titles for tabs.

[2016-03-07 10:40] aksonov commented on #281
Check demo for hideNavBar, Tab#2 has this property and navbar is hidden.

[2016-03-07 10:41] #279 closed

[2016-03-07 10:42] aksonov commented on #274
It is NOTE supported now  - customisation of nav bar for each route. PR will be welcome.

[2016-03-07 10:43] aksonov commented on #225
Closing it because no answer.

[2016-03-07 10:43] #225 closed

[2016-03-07 10:45] aksonov commented on #277
Should be ok with latest version.

[2016-03-07 10:45] #277 closed

[2016-03-07 10:45] aksonov commented on #263
Closing it for now. Feel free to re-open when sample repo will be ready.

[2016-03-07 10:45] #263 closed

[2016-03-07 14:09] alduro commented on #287
ChatContainer code:

[code]

However, it works ok for ChatMessagesContainer component. Looks like nested Route in tabbar Router is missing title. Or it is a matter of styling.

[2016-03-07 14:19] aksonov commented on #287
Again, please modify this component Example project to show the problem.

[2016-03-07 14:29] alduro commented on #287
It works on Example but all tabs Route are using the same component TabView and without Redux ( dispatch, connect ).

[2016-03-07 14:33] aksonov commented on #287
What problem to set another component for some tab? Sorry, if it works without redux, but doesn't work with redux, then it is not the problem of this component...

[2016-03-07 14:41] aksonov commented on #288
For what? It is not related to this component.

[2016-03-07 14:41] #288 closed

[2016-03-07 15:04] uyson commented on #209
+1 same problem

[2016-03-07 16:52] aksonov commented on #209
I could suggest to implement some kind of Route 'ref' which will 'clone' some 'root' Route during Router initialization. Maybe someone could implement it, it should be quite easy. Will it solve this problem?

[2016-03-07 17:48] lrettig opened #291 "Actions.pop() on mounted but not visible component"
Hello,

I'm using a TabBar-based navigation scheme, which means that there are multiple navigation stacks. Sometimes I need to pop an element off one of these stacks while it isn't the currently visible stack (concrete example: user was viewing a data element in tab A, then proceeds to delete that element in tab B). I noticed that calling `Actions.pop()` inside an element on a different stack actu

[2016-03-07 17:50] aksonov commented on #291
Sounds good.

[2016-03-07 17:51] lrettig commented on #291
Okay I'll take a crack at this and let you know if I get stuck. Not sure yet how to tell which stack the component should be popped from, if e.g. it's on multiple stacks!

[2016-03-07 17:52] aksonov commented on #291
What about setting  Actions.currentRouter to that 'hidden' stack, doing pop and then restore currentRouter?

[2016-03-07 17:56] lrettig commented on #291
Makes sense. But what if the component in question is actually mounted on multiple stacks?

[2016-03-07 17:59] rgoldiez opened #292 "DeviceEventEmitters getting lost on Action.pop()"
I have a route who's component (lets call it the `ChatComponent`) includes `keyboardWillShow` event listeners to add a spacer below a text input field so that the `TextInput` sits right above the keyboard.

This works fine, except this scenario:
`Actions.ChatComponent()` --> keyboard shows, event listeners working as expected --> user taps on a buddy's avatar, so `Actions.UserProfile()` --> user v

[2016-03-07 18:03] aksonov commented on #291
Hm, give him different properties then to distinguish stacks. Or i don't understand the question

[2016-03-07 18:04] aksonov commented on #292
The component doesn't do anything with event emitters. It is just wrapper around React native navigator.

[2016-03-07 20:50] braco commented on #220
@MITDelian - you still working on this?

[2016-03-07 21:26] lrettig commented on #291
This is working for me, what do you think? https://github.com/lrettig/react-native-router-flux/commit/e0db8f1f664c50b9619adbef890cf43c305b74c7

The view-to-be-popped must call Actions.pop with `this.props.route.parent`.

Another option is to modify the `Route` class to add a `pop()` method, so that, instead, the view could call `this.props.route.pop()`.

[2016-03-07 22:06] rgoldiez commented on #292
Confirmed.  I narrowed down the issue.  Thanks.

[2016-03-07 22:06] #292 closed

[2016-03-08 00:46] MITDelian commented on #220
@braco  I have something that works for me that I use on an internal project. It's not super easy to rip out so I've stalled on this project until I can find some time to contribute it back.

So no, I'm not actively working on it but once I get both iOS and Android out on the app store I can spend some time on it again. Let's continue the conversation on #186 though.

[2016-03-08 00:53] ws3li commented on #250
When you say 'root' which route are you indicating?
in my main router I do hideNavBar={true} already.
Can you show me an example? Thanks

[2016-03-08 10:55] ksarna commented on #286
I Have exactly the same issue.

[2016-03-08 13:36] aksonov commented on #291
Doing this.props.route.pop() looks better option..

[2016-03-08 14:43] #289 closed

[2016-03-08 14:48] aksonov commented on #186
Ok, looks like now this integration is priority No.1 for this component because
"Facebook is dropping support for Navigator and will focus on NavigationExperimental from now on" according to  https://github.com/ericvicenti/navigation-rfc/blob/master/Docs/NavigationOverview.md

[2016-03-08 16:54] lrettig commented on #291
Sure. Thanks for the feedback. Will submit a PR asap!

[2016-03-08 17:01] thngdude opened #294 "How to get props from Actions.pop()"
When you pop a Route, there is the option to pass a props parameter. How would you obtain this after the pop?

[2016-03-08 17:12] aksonov commented on #294
use onPop handler (for Router) or redux events (check docs)

[2016-03-08 17:13] thngdude commented on #294
Ah, I see. When you refer to docs, are you talking about the readme or is there something I'm missing? I've been trying to undersatnd how this awesome project works by looking at the code. Thanks

[2016-03-08 17:13] #294 closed

[2016-03-08 18:49] skizzo opened #295 "TabBar styling / overlays content"
Hi,
is there any way to style the tab bar except defining text styles for the tab bar buttons' content? I'm even having troubles finding out its height, so thanks for any hints.

[2016-03-08 19:30] thngdude opened #296 "Pop nested Router off main Router"
I'm trying to achieve a Navigator.popToRoute effect as follows:
[code]

The flow would be as follows:
1) Actions.route('router1') from launch to push aRoute
2) Actions.route('bRoute') from aRoute to push bRoute
3) Actions.route('router2') from bRoute to push router2, which defaults to cRoute
4) Actions.route('dRoute') from cRoute to push dRoute
5) call Actions.currentRouter.parentRoute.parent.pop(

[2016-03-08 19:32] aksonov commented on #296
popToRoute is ‘switch’ type, please try to use it

[2016-03-08 19:37] thngdude commented on #296
ok, I feel like an idiot.

I had tried the switch type on router 1 before, and after your comment un-nested everything in router1 and set bRoute's type="switch". And... yes, I got my effect. Thank you!

[2016-03-08 19:37] #296 closed

[2016-03-08 22:39] thessem opened #297 "header option doesn't work"
In the example project (8b9bd12) changing line 86 from
[code]
to
[code]
doesn't show a tabbar on the top as expected and instead hides the tabbar completely.

[2016-03-08 23:08] thessem commented on #297
Turns out this is a problem with the TabBar class... however is it possible to render something beneath the NavBar instead of on top of it?

[2016-03-08 23:52] crockpotveggies opened #298 "Calling the same modal component twice throws error on .dismiss()"
Here's what my routing tree looks at its simplest:

[code]

Whenever an error happens within the app, I usually call `Actions.errorModal({message: 'bad'})`. However, during testing I noticed if I call that modal, then `Actions.dismiss()` and immediately afterwards call the error modal again then `Actions.dismiss()` a second time, the modal will not dismiss. Then, if I try to navigate to another pa

[2016-03-09 00:16] #297 closed

[2016-03-09 00:17] thessem opened #299 "Feature request - A method for printing header beneath navigation bar"
Currently the header option prints the header above any navigation bar, I would like an additional field so that I can print something beneath the navigation bar but above the Component. I would be using this for a top TabBar

[2016-03-09 02:04] iugo opened #300 "[help wanted] How to auto jump new route."
[code]

In ./Example :
When `Actions.register()` in `./Example.js`, it can work. But it can not work when `Actions.register()` in `./components/Launch.js`.

<img width="361" alt="2016-03-09 15 38 57" src="https://cloud.githubusercontent.com/assets/499364/13628450/193f2b1a-e60d-11e5-92a8-695ccf6b76ac.png">

[2016-03-09 02:50] Mokto commented on #225
I'm sorry for the delay. Can you please reopen ? I will be more reactive.

Here is my stack trace :

![img_0080](https://cloud.githubusercontent.com/assets/5103928/13623881/c4249830-e577-11e5-8092-317dc74e7a45.PNG)

Please let me know if you need anything else.

[2016-03-09 08:16] plrthink commented on #286
Same issue here. After searching through the code, I find line (https://github.com/aksonov/react-native-router-flux/blob/8b9bd122974785dc8e37ac1d4c9925b3bb2dd9e3/ExRouter.js#L102), so if we don't provide `onLeft` and `leftTitle` this two props to `route` component,  it wouldn't apply the custom styles to the left button text. I don't think this make sense since we only want alter some styles.

[2016-03-09 09:06] plrthink commented on #286
Just open a PR to try to solve this issue.

[2016-03-09 10:15] #286 closed

[2016-03-09 10:32] aksonov commented on #300
Please use search before posting. Duplicate of #253.

[2016-03-09 10:32] #300 closed

[2016-03-09 10:32] aksonov commented on #299
I don't understand the problem - it is all about css styling. did you try to use paddingTop or top ?

[2016-03-09 10:34] aksonov commented on #298
It is wrong use case - modal should not be called twice, prevent it from your code.

[2016-03-09 10:34] aksonov commented on #295
It is all about css styling. Feel free to create your own TabBar. You may use own 'buttons' or react-native-tabs

[2016-03-09 10:37] aksonov commented on #225
Sorry, but error stack is from exNavigator, not from this component. Try to check behaviour without this component, if you will see the same - report bug to exNavigator team

[2016-03-09 11:36] aksonov commented on #186
Also seems we can't make it fully backward compatible (because of reducers & state), i'm going to work on this for next 3.0 release

[2016-03-09 15:20] philipshurpik commented on #186
Ok, if you need some help - please mention me in issue :)
Also it would be great if you create new issue for 3.0 release with planned subtasks

[2016-03-09 15:25] aksonov commented on #186
@philipshurpik Looks like 0.21 or even 0.22-rc doesn't contain latest experimental Navigator API changes... Maybe it is too early to work on it because of unstable API - for example latest Navigator example  cannot be run with 0.21.0

[2016-03-09 15:55] crockpotveggies commented on #298
@aksonov can you elaborate a little more? What if there are two errors in a row (for instance, we start having API troubles and multiple requests fail?)

[2016-03-09 21:26] codebreach commented on #276
+1

[2016-03-09 21:39] marcelglaeser commented on #276
I'm created a custom button. it solved that.

[2016-03-09 22:30] thessem commented on #299
Thanks for your response, I'll try to be a little more specific

I want to be able to have a list of tabs in a view which is accessed by a list of tabs. For example:
[code]
So that I can select between Tab_A/Tab_B using the built in TabBar component, but when I am in Tab_A I have a second TabBar at the top and can select between TabA1 and TabA2 within it. Right now as written if I use `footer` for

[2016-03-10 06:20] 5amfung opened #302 "Would this work with TabBarIOS?"
I know that the example uses react-native-tabs.  But if I wanted to use TabBarIOS that comes with React Native, do I have to customize anything?  I assume I just have to set ```footer``` to ```{MyTabBarIOS}```, correct?

[2016-03-10 09:36] dan-lee commented on #197
@lynndylanhurley How did you work around the error `No current router is set` with the reducer in your PR https://github.com/aksonov/react-native-router-flux/issues/204?

[2016-03-10 12:30] adamski opened #303 "Calling a child route from ListView"
I'm trying to call a child route from a ListView `onPress` method.

My Router layout:
[code]

I have the following in the renderRow function of the ListView:
[code]

And the ListView is declared as:
[code]

This results in `Actions.tuner is not a function`

I've tried calling it as `Actions._tuner` and also as `Actions.route('tuner')` which results in an error `Cannot find router for route=tuner c

[2016-03-10 13:45] adamski commented on #303
What I'm trying to achieve is to have a back button when I click on an item in the ListView. I'm now trying it without nested Routers...

[2016-03-10 14:42] adamski opened #304 "Navbar not updating"
I had an issue which seemed to be about getting the Back button to appear. On closer inspection it is actually about the Navbar not updating.

My Router layout:
[code]

I have a ListView who's on onPress method brings up the TunerView:
[code]

However the Navbar is not updating when the route is changed. I've tried adding custom left and right buttons and these stay the same after the route has ch

[2016-03-10 15:02] adamski commented on #269
I wonder if this is at all related to my issue #304?

I've just downloaded and run the demo, and feel its quite misleading - I've spent the last couple of hours trying to understand why my navbar does not show back buttons etc and now I see the example app does not do that either. The animation shows back buttons etc so the example code should be updated or the example animation changed.

[2016-03-10 15:14] #303 closed

[2016-03-10 16:08] adamski commented on #304
Fixed up updating to latest version.... doh

[2016-03-10 16:08] #304 closed

[2016-03-10 16:12] aksonov commented on #302
No, it will not work.

[2016-03-10 16:12] #302 closed

[2016-03-10 16:22] adbl commented on #291
@lrettig I'm also interested in this 👍

[2016-03-10 21:10] wkirby commented on #269
@jeduan Yes. So far, nothing I've been able to do with this library adds navigation buttons to the navbar. It sounds like @RealOrangeOne  is having the same problem.

I haven't had time to debug this, but for now we've decided to switch away from this library in favor of the native navbar.

[2016-03-10 21:34] AndrewKovalenko commented on #237
I have similar problem.
I'm trying to build "parent-child" view like on mockup below
[mockup](http://i.imgur.com/cG7vxa5.png)

to do this I defined top-level routing:
[code]
*parent* component:
[code]

*parent* component get rendered with no problem, but it doesn't show any child content.
also when I click on *child* link - nothing happens.

[screenshot](http://i.imgur.com/HINvozj.png)

Could you

[2016-03-11 02:35] adamski commented on #269
Are you guys on the latest version? I had a similar problem and updating to latest (2.3.12) sorted it all out for me.

[2016-03-11 04:20] lrettig commented on #291
Will submit PR by this weekend

[2016-03-11 13:53] eladcandroid opened #305 "Problem with running the Example"
I'm getting this error:

[3:52:36 PM] <START> Building in-memory fs for JavaScript
[3:52:40 PM] <END>   Building in-memory fs for JavaScript (3818ms)
[3:52:40 PM] <START> Building in-memory fs for Assets
[3:52:44 PM] <END>   Building in-memory fs for Assets (3672ms)
[3:52:44 PM] <START> Building Haste Map
[3:52:47 PM] <START> Building (deprecated) Asset Map
[3:52:49 PM] <END>   Building (deprecate

[2016-03-11 19:06] aksonov commented on #186
@philipshurpik , all Okey, i've submitted very early alpha, branch 3.0.0alpha, check Example project there. API & syntax is changed. Nested containers (Login, TabBar within Example) don't work yet (you may fix it if you can), but go to Register/Register2/Home works with good animation, thanks @ericvicenti for great library, it is really amazing!

[2016-03-11 20:12] rlau1115 opened #306 "Issues with unit testing components that import RNRF"
I've been wrestling with setting up a unit test for a component that uses react-native-router-flux: [here](https://github.com/lelandrichardson/react-native-mock/issues/23)

Has anyone been able to get tests running in their own projects that use this routing module?

Any thoughts would be greatly appreciated!

[code]
[code]

[code]

[code]

[code]

This is the error that I get when running the tes

[2016-03-12 13:35] jandom commented on #305
It seems that `rm -rf node_modules` and reinstall helps some people. Since you haven't provided instructions to reproduce, I can't try to replicate what you've done – also googling for 'DependencyGraph: Naming collision detected' gives a number of helpful pointers

[2016-03-12 18:36] aksonov commented on #306
Okey, i'm working now on 3.0 release, that release will not have any problems with unit tests, so you need to wait. Or community could suggest something.

[2016-03-12 18:37] aksonov opened #307 "Schema support for release 3.0"
If someone could help and implement it in 1-2 days, drop line here and prepare PR for branch 3.0alpha.

[2016-03-12 18:39] aksonov commented on #307
3.0 release doesn't have any docs, please check Example and unit test, it is quite self-explanatory. Now it has everything as Scene element and unique key is required for each (not name).
All routing data (scenes) could (and maybe should) be defined during compile time so this release will not have problem "action is not defined" when some component tries to call action within componentDidMount.

[2016-03-12 18:40] aksonov commented on #69
Who want to help and have time, please check https://github.com/aksonov/react-native-router-flux/issues/307

[2016-03-12 18:42] aksonov commented on #307
Also unit tests (for Schema) would be very helpful. Note, 3.0alpha still have a lot of missed functionality, but basic routing works. Swipe back works! :)

[2016-03-12 18:43] aksonov commented on #176
This issue should be fixed in upcoming 3.0 release of this component #186

[2016-03-12 18:44] #295 closed

[2016-03-12 18:45] #287 closed

[2016-03-12 18:45] #281 closed

[2016-03-12 18:46] aksonov commented on #276
Please check latest release, it should be fixed

[2016-03-12 18:46] #276 closed

[2016-03-12 18:46] #274 closed

[2016-03-14 05:17] plrthink opened #308 "navigation bar apperas when swipe back to a non-navigation-bar scene"
I have a scene in my project which has been configed to remove navigation bar. But when I swipe back from a scene which has a navigation bar, the navigation bar still appears on the scene which should have that.

![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/2429369/13735354/57e8aa7e-e9e3-11e5-8104-3a72c5b39e92.gif)

Here's the config:

[code]

Any ideas?

[2016-03-14 06:04] FrankSalad opened #309 "Event when route changed?"
Is there a way to subscribe to these?

[2016-03-14 07:29] liangmicha commented on #217
@sriraman  were you able to figure this out? I'm running into the same issue.

[2016-03-14 09:48] joshbedo opened #310 "Getting "props should be defined for stack""
Trying to install `react-native-router-flux` but i can't seem to get past this error, does anyone have any ideas on how i can fix it?

![](http://imgur.com/HqwLhPL.jpg)

[2016-03-14 10:21] aksonov commented on #310
Don't use 3.0alpha, it is not ready yet

Pavel.

[2016-03-14 10:43] joshbedo commented on #310
Awesome, downgrading to 2.3.1 solved my problem! By default npm downloads the alpha version.

[2016-03-14 10:43] #310 closed

[2016-03-14 10:58] sreejithr opened #311 "NPM Installation installs v3.0.2-alpha which doesn't have "Route""
In `index.js`, the export line is,
[code]
instead of,
[code]
This gives an error,
[code]
![props_errors](https://cloud.githubusercontent.com/assets/1938876/13742444/d60c34f2-ea01-11e5-9638-85bc8095f980.png)

[2016-03-14 11:02] sreejithr commented on #311
Solved by installing `v2.3.1`.

[2016-03-14 12:51] TeodorKolev commented on #217
same here

[2016-03-14 13:43] kristianmandrup commented on #269
I see the `NavBar.js` in the `Examples` but can't find it used anywhere. How do I hook it up. I thought this could be done by setting `header={NavBar}` in the main `Router`?
Anyone has a working example I can look at?

Thanks :)

[2016-03-14 13:44] kristianmandrup commented on #308
Do you have a copy of your project so I can have a look :) I'm having trouble figuring out how to show a `Navbar` in the header at all. The `/Example` doesn't really show how this works...

[2016-03-14 16:53] yuilsang opened #312 "Navigation Titile on Android is in additional View instead of just being Text"
https://github.com/aksonov/react-native-router-flux/issues/98
https://github.com/exponentjs/ex-navigator/issues/24

- I have the same problem with the link.
- The solution is https://github.com/delta1/react-native-router-flux/commit/fd9812c06b6339e0844f5f9795276ebff83d85dd (ExRouter.js)
- Please add features. ^^

thank you.

[2016-03-14 16:54] lrettig commented on #291
Changes are done, tested (briefly), and working. Closing in favor of PR https://github.com/aksonov/react-native-router-flux/pull/313.

[2016-03-14 16:54] #291 closed

[2016-03-14 18:13] kristianmandrup opened #314 "improve docs for right navbar item, including onRight"
Tried to render a hamburger menu item in the navbar of my initial route:

[code]

The docs for displaying the right nav button are a little unclear. With this setup, nothing is displayed, however changing to this works:

`onRight={() => {Actions.drawer() }}`

[2016-03-14 20:48] CreepGin commented on #103
@navels Thanks! I got it working for my scenario using `Navigator.NavigationBar.Styles.General.TotalNavHeight`

[2016-03-14 20:55] adrienthiery commented on #217
I don't know if it helps, but this happened on my project and the only thing that fixed it is to delete the whole folder, reclone and reinstall all npm packages...

[2016-03-14 21:52] dan-lee commented on #230
@tristangodfrey Good issue, I also need this :+1: ! Did you have some time working on this?

[2016-03-14 22:13] crockpotveggies commented on #309
Not an author but chiming in. I think this is clearly described in the documentation, and is very easy to use if you're using Redux.

When using Redux, you can subscribe to the event in your reducer (via README):
[code]

And if you want to simply make a traditional subscribe (via README):
[code]

[2016-03-14 23:03] rlau1115 commented on #306
Thanks for letting me know. Do you have an ETA on when you're releasing 3.0?

Also open to hear the community's thoughts.

[2016-03-15 01:23] kaifaust opened #315 "Multiple navigationBar buttons with renderRightButton"
I want two buttons on the right side of the navigationBar.

I want to be able to pass an array of my buttons like this:
`renderRightButton={[this.searchButton, this.newButton]}`
but it gives me this error:
`this.route.props.renderRightButton.bind is not a function`.

Note: padding a single button here that isn't an array works...

[2016-03-15 03:35] plrthink commented on #308
@kristianmandrup Just like what described in docs, provide `hideNavBar` prop to `Route` or `Router` component will toggle the navbar.

[2016-03-15 07:43] ajoshdee opened #316 "Container offsets"
Hi, I'm having trouble with my layout. Every time I push a view, I need to have a marginTop attribute so it won't get blocked by the navbar. Is there anyway to solve this issue?

[2016-03-15 08:19] aksonov commented on #316
It is not issue but feature and standard behaviour of built-in React Native Navigator (as well as native iOS navigator).

[2016-03-15 08:34] ajoshdee commented on #316
In native iOS you can just push a view controller but the view won't be covered up by the nav bar

[2016-03-15 08:38] aksonov commented on #316
It is not true. It will be not covered only if you set translucent property:
http://stackoverflow.com/questions/18953509/how-to-prevent-uinavigationbar-from-covering-top-of-view-in-ios-7

Ok, anyway React native doesn't have 'translucent', so you have to set padding. Otherwise transparent nav bars are not possible.

[2016-03-15 09:17] ajoshdee opened #317 "NavBar Title"
How can I prevent the title from truncating when its too long? Can you suggest a workaround if this is not possible? I already tried maximizing the navbar width using styles

[2016-03-15 14:54] PeterKow opened #318 "Check auth onEnter"
Hi,

I try to implement check authorization with a router. I can see that before there was support for `onEnter` method which we can add to route

`<Route name="main" onEnter={(route) => {console.log('check Auth - isLogin?')}}>`

The current version doesn't support this, any ideas how I can implement autch check on Router level?

Thanks!

[2016-03-15 17:23] kristianmandrup commented on #308
Thanks, I resolved it now. Wasn't aware from docs that the navbar would autodisplay given the routing stack by default. I thought I actively had to hook it up somehow.
The `NavBar` file in the Example tricked me into thinking I had to use it. Not used I think?

[2016-03-15 19:57] kesha-antonov commented on #197
Hello guys! Is it possible now to disable swipe back gesture for some route or for all of them?

[2016-03-15 20:45] eneskaya commented on #318
I was thinking about that too. Here's my idea (I'm new to react-native and to native programming, btw.)
How about setting up a view, let's call it "launch", which calls a log in view. On this view, there is a check if the token is in the storage. If true, the user is redirected to the "home" route, or whatever. On the log in view you could also, e.g., show a loading spinner before rendering the em

[2016-03-15 20:57] eneskaya opened #319 "No animation when switching between routes"
Hello, I have a small problem here.

When I press on a button to switch to another Route, the animation is really fast and seems strange. I can't help it but no matter what I try it doesn't look better.

![animationless](https://cloud.githubusercontent.com/assets/964419/13793719/8e5ffa9c-eaf8-11e5-954a-b7ec0d71f975.gif)

I have a very simple setup

[code]

What could be the problem here?
Thanks!

[2016-03-15 22:49] bartonhammond opened #320 "Cannot read property 'dispatch' of undefined"
I am not using either Flux or Redux.

[code]
Error line in Actions.js
[code]

My route definitions:

[code]

<img width="308" alt="screen shot 2016-03-15 at 5 46 54 pm" src="https://cloud.githubusercontent.com/assets/1282364/13796645/f4eb5068-ead5-11e5-84e8-49c666133ff5.png">

[2016-03-16 01:57] jcsmesquita opened #321 "Dynamic navigationBarStyle / sceneStyle"
Hi,

First off, great work on this library :+1:

My issue is that I want to update the navigationBarStyle and sceneStyle properties dynamically. Is there any way to trigger the whole navigation bar to rerender and catch those prop changes? I've looked into Actions.refresh(props) but it doesn't seem like it will help me in this case...

[2016-03-16 03:53] plrthink commented on #308
@kristianmandrup I think it's used for customizing the navbar, something like you want a button on the right.

[2016-03-16 13:00] jayesbe opened #322 "Example on how to use actionSheet"
a quick google search of

"react-native-router-flux" "actionSheet" brings back practically nothing on use.

Can someone provide an example on how to use actionSheet ?

Cheers

[2016-03-16 13:26] peterlazar1993 commented on #320
Experiencing the same error, using redux

Route defenitions:
[code]

Component:
[code]

![screenshot mar 16 2016 6-54-09 pm](https://cloud.githubusercontent.com/assets/4848554/13813641/a6b2b20a-eba8-11e5-9330-c7055e006c62.png)

[2016-03-16 13:36] PeterKow commented on #318
This might work if your app requires login in for all your components, a problem is when you have routes which can be accessed without login in.

Generic solution is when:
- you have `onEntry` method which you can add to your route
- be able to create nested routes and root will check auth for you

[2016-03-16 14:46] dan-lee commented on #197
@kesha-antonov  don't have a solution for this, but we use this workaround to disable the swipe gestures for the scene configs: `Navigator.SceneConfigs.FloatFromBottom.gestures = null`

[2016-03-16 15:02] kesha-antonov commented on #197
Cool. Thanks! @dan-lee

[2016-03-16 15:07] jayesbe commented on #322
Found the example in the source.

[2016-03-16 15:07] #322 closed

[2016-03-16 17:04] aksonov opened #324 "New 3.0 version is released with breaking API changes, check README.md"
2.x version is not supported now (except critical bug fixes).

[2016-03-16 18:41] #305 closed

[2016-03-16 18:41] aksonov commented on #298
Should be fixed for 3.0 release

[2016-03-16 18:51] crockpotveggies commented on #298
Thanks for the update. Anything I can do to help with the release?

[2016-03-16 18:59] aksonov commented on #298
You may check how it works. I didn't test it with several popups yet.

[2016-03-16 18:59] aksonov commented on #298
And 3.0 is not backward compatible...

[2016-03-16 19:02] crockpotveggies commented on #298
Yep just saw the breaking changes. Let me put together a fork of our mobile repo later tonight and I'll start testing it out :)

[2016-03-16 19:05] aksonov commented on #321
3.0 release should solve this problem. However it has a little bit different API. Anyway I'm closing this ticket because 2.x release will not be supported except critical bugs.

[2016-03-16 19:05] #321 closed

[2016-03-16 19:06] aksonov commented on #320
3.0 release should solve this problem (no dispatch is called). However it has a little bit different API. Anyway I'm closing this ticket because 2.x release will not be supported except critical bugs.

[2016-03-16 19:06] #320 closed

[2016-03-16 19:07] aksonov commented on #318
3.0 release should solve this problem using Switch renderer, check README.
However it has a little bit different API comparing with 2.x release. Anyway I'm closing this ticket because 2.x release will not be supported except critical bugs.

[2016-03-16 19:07] #318 closed

[2016-03-16 19:07] #316 closed

[2016-03-16 19:08] aksonov commented on #315
Check docs carefully. renderRightButton is _closure_ (function) not array.

[2016-03-16 19:08] #315 closed

[2016-03-16 19:08] aksonov commented on #317
3.0 release should solve this problem. However it has a little bit different API comparing with 2.x release. Anyway I'm closing this ticket because 2.x release will not be supported except critical bugs.

[2016-03-16 19:08] #317 closed

[2016-03-16 19:08] aksonov commented on #314
3.0 release should solve this problem. However it has a little bit different API comparing with 2.x release. Anyway I'm closing this ticket because 2.x release will not be supported except critical bugs.

[2016-03-16 19:08] #314 closed

[2016-03-16 19:09] aksonov commented on #312
Check 3.0 release, now the component uses new React Native Navigation API. However it has a little bit different API comparing with 2.x release. Anyway I'm closing this ticket because 2.x release will not be supported except critical bugs.

[2016-03-16 19:09] #312 closed

[2016-03-16 19:10] aksonov commented on #319
Why you wrapRouter here?
Check 3.0 release, now the component uses new React Native Navigation API. However it has a little bit different API comparing with 2.x release. Anyway I'm closing this ticket because 2.x release will not be supported except critical bugs.

[2016-03-16 19:10] #319 closed

[2016-03-16 19:11] #308 closed

[2016-03-16 19:11] aksonov commented on #309
Check 3.0 release, now the component uses new React Native Navigation API and you may pass own reducer without subscription to 'event's. However it has a little bit different API comparing with 2.x release. Anyway I'm closing this ticket because 2.x release will not be supported except critical bugs.

[2016-03-16 19:11] #309 closed

[2016-03-16 19:12] aksonov commented on #306
Check 3.0 release, now the component uses new React Native Navigation API and it should be easier to test. However it has a little bit different API comparing with 2.x release. Anyway I'm closing this ticket because 2.x release will not be supported except critical bugs.

[2016-03-16 19:12] #306 closed

[2016-03-16 19:12] aksonov commented on #285
Check 3.0 release, now the component uses new React Native Navigation API. However it has a little bit different API comparing with 2.x release. Anyway I'm closing this ticket because 2.x release will not be supported except critical bugs.

[2016-03-16 19:12] #285 closed

[2016-03-16 19:12] #311 closed

[2016-03-16 19:12] aksonov commented on #298
I'm closing it for now

[2016-03-16 19:12] #298 closed

[2016-03-16 19:13] aksonov commented on #269
Check 3.0 release, now the component uses new React Native Navigation API and I've added nav bar buttons to Example. However it has a little bit different API comparing with 2.x release. Anyway I'm closing this ticket because 2.x release will not be supported except critical bugs.

[2016-03-16 19:13] #269 closed

[2016-03-16 19:13] aksonov commented on #283
Check 3.0 release, now the component uses new React Native Navigation API. However it has a little bit different API comparing with 2.x release. Anyway I'm closing this ticket because 2.x release will not be supported except critical bugs.

[2016-03-16 19:13] #283 closed

[2016-03-16 19:13] kristianmandrup commented on #324
Awesome! I can already see the docs are getting much better :) Cheers!

[2016-03-16 19:14] aksonov commented on #264
Check 3.0 release, now the component uses new React Native Navigation API. However it has a little bit different API comparing with 2.x release. Anyway I'm closing this ticket because 2.x release will not be supported except critical bugs.

[2016-03-16 19:14] #264 closed

[2016-03-16 19:50] Ksantor opened #325 "v3.0.7 - action should be defined"
Looks like I'm doing something wrong.

index.android.js
[code]

`<Router scenes={ scenes }/>`  gives me `action should be defined` error pointing to `Reducer.js:123`

Using RN 0.21.0

[2016-03-16 20:36] aksonov commented on #325
Try 0.22-rc

Pavel.

[2016-03-16 21:18] jcsmesquita commented on #321
Thanks for letting me know.

[2016-03-16 21:42] aksonov commented on #299
Sorry, but it is not the component issue.

[2016-03-16 21:42] #299 closed

[2016-03-16 21:43] aksonov commented on #257
It is quite easy now with 3.0 release (custom renderer, check TabBar sources), closing this ticket, feel free to submit PR

[2016-03-16 21:43] #257 closed

[2016-03-16 21:45] aksonov commented on #250
You may check 3.0 release now with approach of 'custom' renderer. Closing this ticket for now.

[2016-03-16 21:45] #250 closed

[2016-03-16 21:46] aksonov commented on #237
3.0 version just released, please check it. 2.x release will not be supported except very critical issues.

[2016-03-16 21:46] #237 closed

[2016-03-16 21:47] aksonov commented on #232
3.0 version is release. It uses new RN Navigation API with better transitions.

[2016-03-16 21:47] #232 closed

[2016-03-16 21:48] Rmannn commented on #325
After updating, i got
Unknown plugin "transform-class-properties" specified in "***/node_modules/react-native-router-flux/.babelrc"

[2016-03-16 21:48] aksonov commented on #230
Switch custom renderer for newly release 3.0 version could be used for this, check README. 2.x version is not supported from now.

[2016-03-16 21:48] #230 closed

[2016-03-16 21:49] aksonov commented on #229
Please check issue for new 3.0 release. Closing this ticket (because it is for outdated 2.x release)

[2016-03-16 21:49] #229 closed

[2016-03-16 21:50] aksonov commented on #233
3.0 version is released. Closing this ticket (because it is for outdated 2.x release)

[2016-03-16 21:50] #233 closed

[2016-03-16 21:52] aksonov commented on #325
Try 3.0.9, removed that file.

[2016-03-16 21:53] aksonov commented on #224
Should be possible with 3.0 release, closing this ticket for now

[2016-03-16 21:53] #224 closed

[2016-03-16 21:53] aksonov commented on #235
Should be possible with 3.0 release, closing this ticket for now (feel free to reopen if 3.0 release has this problem)

[2016-03-16 21:53] #235 closed

[2016-03-16 21:54] #215 closed

[2016-03-16 21:54] aksonov commented on #228
Should be possible with 3.0 release (using Switch renderer), closing this ticket for now.

[2016-03-16 21:54] #228 closed

[2016-03-16 21:55] aksonov commented on #217
Cannot reproduce it, please check latest 3.0 release, closing it for now (because ticket was for 2.x)

[2016-03-16 21:55] #217 closed

[2016-03-16 21:56] aksonov commented on #197
Version 3.0 is released, but disabling swipe is not implemented but in the progress:
https://github.com/ericvicenti/navigation-rfc/issues/49

[2016-03-16 21:56] aksonov commented on #197
Btw, 3.0 should not have problems with gesture, so feel free to create another ticket with correct title.

[2016-03-16 21:56] #197 closed

[2016-03-16 21:57] aksonov commented on #207
Please check latest 3.0 release. I'm closing this ticket because it for 2.x

[2016-03-16 21:57] #207 closed

[2016-03-16 22:00] aksonov commented on #209
Please check latest 3.0 release. Closing this ticket for now (because it is for outdated 2.x)

[2016-03-16 22:00] aksonov commented on #186
3.0 version is released, too pity that nobody was able to help, i thought open source community could be more active...

[2016-03-16 22:00] #186 closed

[2016-03-16 22:01] aksonov commented on #170
Please check 3.0 version. Closing it for now (because it is for outdated 2.x)

[2016-03-16 22:01] #170 closed

[2016-03-16 22:02] #160 closed

[2016-03-16 22:02] aksonov commented on #160
3.0 is released with improved docs. Closing it for now, because it is for outdated version (2.x)

[2016-03-16 22:04] aksonov commented on #149
Closing it for now, because it is for outdated version (2.x). pop(n) is not supported for 3.0, feel free to submit PR for it.

[2016-03-16 22:04] #149 closed

[2016-03-16 22:04] #131 closed

[2016-03-16 22:05] #125 closed

[2016-03-16 22:06] aksonov commented on #56
3.0 is released with improved docs. Closing it for now, because it is for outdated version (2.x)

[2016-03-16 22:06] #56 closed

[2016-03-16 22:06] aksonov commented on #52
3.0 is released, please check it there. Closing it for now, because it is for outdated version (2.x)

[2016-03-16 22:06] #52 closed

[2016-03-16 22:07] aksonov commented on #78
3.0 is released. Closing it for now, because it is for outdated version (2.x)

[2016-03-16 22:07] #78 closed

[2016-03-16 22:14] aksonov commented on #69
FYI. Collaborators are still wanted (who could regularly answer/resolve issues, propose PRs, review my changes, etc.).

[2016-03-16 22:27] aksonov commented on #325
Closing it for now, feel free to create issues if any.

[2016-03-16 22:27] #325 closed

[2016-03-16 22:28] Rmannn commented on #325
Thanks it's working now.

[2016-03-16 22:28] aksonov opened #326 "Unit testing"
It is quite easy now to write unit tests for 3.0 release, so feel free to submit PR.

[2016-03-16 23:10] adrienthiery commented on #225
Hi @Mokto,

I had this error today, it seems my problem was that I was going to fast between 2 views with an TextInput with an `autofocus={true}` so the router was basically trying to close the keyboard and open it again before the closing was finished.

To verify if that is your problem, you can put a setTimeout on your `Actions.**` and see if it helps, or if you have a route rendered very quickl

[2016-03-16 23:45] Rmannn opened #327 "How to call nested scenes multiple times (Child keys must be unique)"
When I use nested scenes as following
profile (currentUser) => View => profile (OtherUser)
I get an error
Warning: flattenChildren(...): Encountered two children with the same key, `.0:$card_profile`. Child keys must be unique; when two children share a key, only the first child will be used.

Is there a way to push a view that already exists ? When the user is different in my case.

[2016-03-17 02:56] ajoshdee opened #328 "Action should be defined"
`2016-03-17 10:55:19.464 [info][tid:com.facebook.React.JavaScript] 'ACTION:', null
2016-03-17 10:55:19.465 [error][tid:com.facebook.React.JavaScript] action should be defined
2016-03-17 10:55:19.467 [fatal][tid:com.facebook.React.RCTExceptionsManagerQueue] Unhandled JS Exception: action should be defined`

I used your sample code
any solutions?

[2016-03-17 04:11] plrthink commented on #308
@aksonov Is it fixed already?

[2016-03-17 05:56] ajoshdee opened #329 "Defined styles"
Hi how can I use my styles var in const scene? ex: style={styles.title}

[2016-03-17 06:24] Rmannn commented on #328
You must use 3.0.9 (Latest)

"react": "^0.14.7",
"react-native": "0.22.0-rc4",
"react-native-router-flux": "^3.0.9",

[2016-03-17 06:48] aksonov commented on #308
Please check latest 3.0 release

Pavel.

[2016-03-17 07:47] aksonov commented on #329
Just define styles above scenes. It is javascript.

[2016-03-17 07:47] #329 closed

[2016-03-17 08:05] 5amfung opened #330 "RCTRootView.h file not found"
As soon as I open the project file in xcode, there's an error.

![image](https://cloud.githubusercontent.com/assets/371691/13839926/48d251fc-ebdc-11e5-9f71-123f619629c9.png)

[2016-03-17 08:15] ylquankai opened #331 "this.props.data is undefine"
this.props.data is undefine in render() in Example project Login.js.

[2016-03-17 09:07] ajoshdee opened #332 "Navigation Bar"
HI, I'm having trouble with the navBar. When I set the navbar hidden = true, The bar will be hidden when pushed but not so in tab bar scene.

[2016-03-17 09:11] aksonov commented on #330
Have you run npm install ?

[2016-03-17 09:11] #330 closed

[2016-03-17 09:12] aksonov commented on #332
have you set hideNavBar for that scene?

[2016-03-17 09:25] ajoshdee commented on #332
I have a tab scene as my initial scene. but the navbar is not visible when the container scene's navbar is not set to hidden=true. But when I set it to false, the navbar will appear. but when i press a button on my launch page, the pushed page doesn't show the navbar.

[2016-03-17 09:28] ajoshdee commented on #332
`<Scene key="main">
    <Scene key="tab" component={TabBar} tabs={true} initial={true}>
        <Scene key="board" component={ExamBoard} title="Exam Board" initial={true} icon={TabIcon}/>
        <Scene key="profile" component={ProfileView} title="Profile" icon={TabIcon}/>
        <Scene key="setting" component={TabView} title="Settings"  icon={TabIcon}/>
        <Scene key="more" component={TabVi

[2016-03-17 09:48] aksonov commented on #332
Could you modify Example to show the problem?

[2016-03-17 10:00] 5amfung commented on #330
Yes.  I ran ```npm install``` in the example directory as well as the project directory.

[2016-03-17 10:08] KBLNY opened #333 "Why could only React Native 0.22-rc is supported?"
Hi,
Quick question, why does the doc for 3.0.10 states "React Native 0.22-rc is supported, it could not work with earlier or later versions"?
What could break react-native-router-flux with other versions than RN 0.22-rc?
Thanks for spotting out the parts of RN 0.22-rc you use that early or late versions could not support.
Best

[2016-03-17 10:10] peterlazar1993 commented on #327
@aksonov Facing the same issue, not sure what I'm doing wrong
[code]
It works if I change the scene type to ```replace``` though.

[2016-03-17 10:14] peterlazar1993 commented on #333
@KBLNY  It is using NavigationExperimental which is available from 0.22 only I guess

[2016-03-17 10:22] dan-lee commented on #333
Yes, this is the reason. But React 0.22 should be released Mar 21, if you want to use a stable RN version

[2016-03-17 10:24] aksonov commented on #327
@Rmannn could you create separate 'action' with separate key for  profile (OtherUser)  ?

[2016-03-17 10:54] DeToxer opened #334 "Actions.{destination-component} not working when located inside a method"
Instead of having Actions.Help directly inside the onPress of the button, im calling a method like so : onPress={this.handleOnPress}. The method looks like this:

`_handleOnPress(){
    Actions.Help;
}`

This does not work, but if i have the Actions.Help directly inside the onPress it works just fine.
Is this a knows bug or am i doing something wrong?

I have this problem several places in my app.

[2016-03-17 11:33] aksonov commented on #334
Actions.Help is Function!

[2016-03-17 11:33] #334 closed

[2016-03-17 11:57] Rmannn commented on #327
This is what i did. but,
The navigation stack should allow us to push same scene (different instance) to the stack.
The solution works only if we plan to navigate throught those scenes only once.

if I do
profile (currentUser) => View => user_profile (OtherUser1) => View => user_profile (OtherUser2)
This will fail with the same error.

[2016-03-17 12:04] erikdung commented on #328
I got same error, how to fix it?

[2016-03-17 12:18] Rmannn commented on #328
Update to the latest version using npm and packages versions

[2016-03-17 13:02] liangmicha opened #335 "componentWillMount called more than once, componentWillUnmount not called on scene change"
Hi all, I am running into an issue with react-native-router-flux where componentWillMount for one of my components is being called more than once.

I am using  react-native-router-flux: "^2.3.12"

so if I switch from Component1 (Groceries) to Component 2 (Detail) and switch back to Component1, componentWillMount for Component1 is called again for that first component.

I have some important listen

[2016-03-17 13:06] chenxiaohu commented on #327
I think need dynamic scene to face this type problem, but I can't find any example..
Use case：
User_1 page open User_2, there are many different users(1,2,3....999...) , and in navigator stack more than one

[2016-03-17 13:46] plrthink commented on #308
@aksonov Awesome!

[2016-03-17 13:48] aksonov commented on #335
Are you sure that all route have 'switch' type, check Example project for details? Anyway 2.x is not supported anymore, you need to use 3.0 release

[2016-03-17 13:48] #335 closed

[2016-03-17 15:18] aksonov commented on #331
please check 3.0.11

[2016-03-17 15:19] aksonov commented on #327
please check 3.0.11

[2016-03-17 15:26] Rmannn commented on #327
Thank you, this is working now.
I was trying to do it over a PR.

Something we should do is when we Jump to the tabs (root), do not animate each children.
If the stack is really huge, we will have an animation like the end of a solitaire game. Cards are moving until Jump is done.

if I do
user_profile (User) => user_profile (OtherUser1) => View => user_profile (OtherUser2) => JUMP to user_profile

[2016-03-17 15:30] aksonov commented on #327
Check Example and set duration to {1} for Scene to avoid animations. Maybe you could propose PR for that. For example you could wrote own custom renderer based on TabBar without animation.

I'm closing this ticket.

[2016-03-17 15:30] #327 closed

[2016-03-17 15:32] Rmannn commented on #327
Thanks, I will try to propose some PR if I modify the renderer.

[2016-03-17 15:50] emrosenf commented on #324
@aksonov Incredible work ... this is the declarative API everyone always wanted. Any thoughts on using Redux to store state instead of NavigationRootContainer so that all of the application state can be in one store?

[2016-03-17 15:55] aksonov commented on #324
@emrosenf Check original navigation API github:
https://github.com/ericvicenti/navigation-rfc/issues/52
Also nice discussion here:
https://github.com/ericvicenti/navigation-rfc/issues/29

So author doesn't want to unite redux/navigation states and i'm ok with it.

[2016-03-17 16:08] stolinski opened #336 "Back Button Styling"
Love the package so far. I'm currently re-writing my code for v3 and wondering how to change the style, (more importantly the color) of the back button. Thanks!

[2016-03-17 16:32] emrosenf commented on #324
I assume you've seen https://github.com/jlyman/RN-NavigationExperimental-Redux-Example ? It stores state with redux and calls the NavigationStateUtils functions directly. Seems to me like it would be better to have one store for everything, right?

[2016-03-17 16:58] Rmannn commented on #327
For those who are searching how to override the TabView default behavior,
You have to override the TabView Component and override the NavigationCardStack _setTiming Default function.
Because when you have scene inside tabs, we use a NavigationCardStack instead of the default NavigationAnimatedView. Changing the duration for cards inside tabs has no effect. (using duration={1}) on tab scenes.

[2016-03-17 17:36] aksonov commented on #336
Does backButtonStyle work?

[2016-03-17 18:02] stolinski commented on #336
Did not work, or at least `backButtonStyle={{color:'white'}}` didn't work.

[2016-03-17 22:40] shaharz commented on #226
I'm running into an issue that seems like a bug here with setting the title dynamically. It seems like Actions.refresh sets it for all routes, overriding their static titles.

In my case, I have a master-detail setup where the master route has a title prop and the detail route title is only set dynamically. When I'm in the detail route and the title changes what happens is that both the title and

[2016-03-17 23:18] alexmngn commented on #237
Okay so now that we are version 3, how can I nest my `Scene`?
It looks like Actions create everything, but in my case I don't want to create everything in one place :pensive:

[2016-03-17 23:53] rlau1115 opened #337 "Post working example of Switch?"
I've tried implementing this example based on the docs:
[code]

but I get a red screen with the error:
[code]

Any advice?

Any advice?

[2016-03-18 00:04] tehong opened #338 "Unable to refresh badge count on tab icon"
Hi,  Thanks for the excellent router, so far I preferred yours than the RN one.  I've been trying to do a badge count on one of my tab icon.  I'm passing the badgeCount in the following way:

`<Schema name="tab" type="switch" icon={TabIcon} />`

`<Route  name="feed" schema="tab" title="My Feed" initial={!global.isPerfTabOn} defaultRoute="feedScreen" selectedImageSrc={feedImageSrc_selected} unselec

[2016-03-18 00:34] ajoshdee commented on #332
To put it simply, it acts just like a switch, if i turn the container scene off I can see the navbar of the tab scenes, but can't see the navbar of the other scenes . If I turn it on, I can't see the navbar of the tab scenes, but can see the navbar of the other scenes.

[2016-03-18 00:44] tehong commented on #338
It looks like 3.0 just out.  Not sure if there is any new way to do pass my app state to the TabBar.js props and down to the TabIcon class prpos this way.  It doesn't appear so.

[2016-03-18 00:59] ajoshdee commented on #332
oh I solved it, I just needed to set my tab scene's nav bar to false.

[2016-03-18 00:59] #332 closed

[2016-03-18 01:05] alexmngn opened #340 "How to have a transparent background?"
On the v2, I was able to have a transparent background on my scene, but now with the v3 I'm not able to do this anymore.
How can I set my Router/Scene to have a transparent background?
Thanks

[2016-03-18 01:31] ajoshdee opened #341 "Custom back button"
Hi, I'm creating a custom back button function. How do you make it go back to the root view? i used the onLeft closure but it doesn't pop the view to root.

[2016-03-18 01:48] ajoshdee opened #342 "Left back button not showing"
Hi, I used the onLeft()=> closure. But the button disappears.

[2016-03-18 02:23] ajoshdee opened #343 "Pop listener"
Hi, is there a way to add my custom methods when I pop the scene?

[2016-03-18 02:33] ylquankai commented on #331
It's fine! thank you~

[2016-03-18 02:33] #331 closed

[2016-03-18 03:01] ylquankai opened #344 "renderNavigationBar"
Hi~How to use renderNavigationBar(props) method? I implement it in my class,but it does not work. Can you give a example for it? thank you.

[2016-03-18 03:03] ajoshdee opened #345 "Component will Unmount"
Hi, i'm getting this warning and its slowing my app whenever i put something in ComponentWillUnmount. This does not occur in previous versions.
 `Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the undefined component.`

[2016-03-18 05:47] shishircc commented on #328
I have same issue and I have the latest (^3.0.11) package form npm. The sample code does not work.

[2016-03-18 06:03] liangmicha commented on #328
I am having the same issue
"react-native": "^0.21.0",
  "react-native-router-flux": "^3.0.10",

[2016-03-18 06:19] Tarkzeng commented on #345
I have this problem too. Is there any api to know if the component is already not exist in this window?

[2016-03-18 06:54] ylquankai commented on #344
I found

childrenState.component.renderNavigationBar

is undefine

in NavBar.js

[2016-03-18 08:45] ylquankai commented on #338
if  react-native-tabs can show badge count, it will be greet!

[2016-03-18 12:10] robclouth opened #347 "Changing transition animations in v3"
Hi, how do you change the transition animations in v3?

[2016-03-18 12:35] aksonov commented on #328
@liangmicha check above and README about required react-native version (0.22-rc) before posting. Hope that will upgrade to 0.22 on Monday...Closing this.

[2016-03-18 12:35] #328 closed

[2016-03-18 12:37] aksonov commented on #345
This component is just wrapper around NavigationExperimental API. Just reproduce it with UIExplorer examples (without this component) and post your issues there:
https://github.com/ericvicenti/navigation-rfc

[2016-03-18 12:37] #345 closed

[2016-03-18 12:38] aksonov commented on #347
You have to implement it by yourself using React Native Animated API. Check AnimatedNavigationView. I've already posted request to add bottom to top animation there:
https://github.com/ericvicenti/navigation-rfc/issues/47

[2016-03-18 12:38] #347 closed

[2016-03-18 12:39] aksonov commented on #342
Have you set leftTitle? Check Example, one tab has Left button there.

[2016-03-18 12:39] #342 closed

[2016-03-18 12:44] aksonov commented on #336
@stolinski It will not work because default back button is just image with blue arrow. Just render your own button, using renderBackButton method

[2016-03-18 13:09] aksonov commented on #344
Have you provided static renderNavigationBar method for your component? Then it cannot be undefined...

[2016-03-18 13:10] aksonov commented on #343
Define your reducer and pass it to Router -  you will see all actions there.

[2016-03-18 13:10] #343 closed

[2016-03-18 13:33] aksonov commented on #341
Have you called Actions.pop() and it doesn't work? Check final state from reducer after pop action.

[2016-03-18 14:10] xushuwei202 opened #348 "tab don't work"
when I click tabs of Example, i find that only tab 2 is red. other tab can't become red when selected!

[2016-03-18 14:19] aksonov commented on #340
The problem in NavigationCard of React Native package:
[code]

So the component can't pass own style to NavigationCard and it is weird. Please create issue there if you want it to be fixed:
https://github.com/ericvicenti/navigation-rfc

[2016-03-18 14:20] aksonov commented on #348
Should be fixed in 3.0.12

[2016-03-18 14:20] #348 closed

[2016-03-18 14:21] #344 closed

[2016-03-18 14:21] aksonov commented on #338
Please check 3.0.12, should be fixed there
@ylquankai  Sorry, it is out of scope of the component, but you may submit PR for this.

[2016-03-18 14:21] #338 closed

[2016-03-18 14:22] #336 closed

[2016-03-18 14:26] aksonov commented on #337
I can't reproduce it. I've just replaced TabBar within Demo to Switch:
[code]

And it works well - it selects 'default' tab.

[2016-03-18 14:26] #337 closed

[2016-03-18 14:30] aksonov commented on #347
Looks like documentation about custom animation is here:
https://github.com/ericvicenti/navigation-rfc/pull/53

[2016-03-18 15:06] xushuwei202 opened #349 "scenes transitions' animation about 3.0.11 is slower then 2.x"
scenes transitions' animation  about 3.0.11 is slower then 2.x

[2016-03-18 15:07] aksonov commented on #349
It is fully configurable by using duration property.

[2016-03-18 15:08] aksonov commented on #349
I'm fine to change 'default' duration if you can say exact value for native iOS animation duration. Now it is equal to 500ms.

[2016-03-18 15:15] iZaL opened #350 "Navigating to tab's child routes"
currently its not possible to navigate to a tab's child routes from another tab. to make this behavior, if we insert this code
`<Button onPress={Actions.tab1_2}>Switch to tab1_2</Button>`
to **TabView** class  from the Example folder  and try to navigate to that route from any tabs except **tab1**, the router fails to navigate to the tab1_2 scene

[2016-03-18 16:19] stolinski commented on #336
Weird. I would have thought it to be an SVG that could be styled rather
than an actual blue image. Bummer.

SCOTT TOLINSKI
www.scotttolinski.com

On Fri, Mar 18, 2016 at 8:22 AM, Pavlo Aksonov <notifications@github.com>
wrote:

[2016-03-18 16:22] aksonov commented on #336
It is what used now in React Native NavigationHeader component. Feel free to submit PR with  better solution

[2016-03-18 16:25] aksonov commented on #350
It looks like enhancement. "JUMP" action within new Navigation API just switches tab. As I see you want to do PUSH + JUMP in the same action... Have you tried to jump to tab1 and then push to tab1_2 ?

[2016-03-18 16:26] stolinski commented on #336
Will do.

SCOTT TOLINSKI
www.scotttolinski.com

On Fri, Mar 18, 2016 at 10:23 AM, Pavlo Aksonov <notifications@github.com>
wrote:

[2016-03-18 18:00] naji247 opened #351 "Custom NavBar has no ability to pass props"
Hey guys, I really like your work on this repo.

I'm trying to pass a titleview as my navbar into my router.
[code]

But what I need is to pass props in.
[code]

Do you have any recommendations? Also, what is the specific purpose of the root scene? Is it necessary?

[2016-03-18 18:02] aksonov commented on #351
just use
[code]
title should be passed to Title automatically.

[2016-03-18 18:29] naji247 commented on #351
Using:

[code]

I still get:

<img width="330" alt="screen shot 2016-03-18 at 11 28 21 am" src="https://cloud.githubusercontent.com/assets/1920483/13888076/91d110f2-ecfc-11e5-81ee-b2b238c5b085.png">

When I want:

<img width="358" alt="screen shot 2016-03-18 at 11 29 18 am" src="https://cloud.githubusercontent.com/assets/1920483/13888093/adc2d390-ecfc-11e5-9ced-3072e02f6b64.png">

[2016-03-18 19:12] subtirelumihail commented on #328
You should keep this open until the react native gets upgraded :)

[2016-03-18 21:23] alexmngn commented on #340
The NavigationCard in the last React Native 0.22rc-4 has the following:
[code]

`style` is a prop and I'm not sure how to access it via Scene/Router @aksonov ?

[2016-03-19 00:04] ylquankai commented on #351
You can try to use this.props.scene.navigationState.data to get props.

[2016-03-19 01:17] xushuwei202 commented on #349
after test,  I think 300ms is ok

[2016-03-19 03:25] iZaL commented on #350
Yes, Jump + Push works. would be cool to have in the one action though ..

[2016-03-19 03:25] #350 closed

[2016-03-19 07:10] #349 closed

[2016-03-19 07:11] aksonov commented on #341
Closing it for now.

[2016-03-19 07:11] #341 closed

[2016-03-19 07:12] aksonov commented on #350
Feel free to submit PR.

[2016-03-19 07:37] aksonov commented on #340
Looks like rc4 doesn't have this code, only latest master branch, and i was not able to run our Example with latest branch (it just shows white screen), so you have to wait. Maybe this component needs some changes like passing style to NavigationCard or AnimatedNavigationView but i can't test it now.

[2016-03-19 08:18] aksonov commented on #340
Looks like rc4 doesn't have this change, but master does. Anyway i've added this feature to the component (once NavigationCard will have style support, it should work), release 3.0.14

[2016-03-19 08:18] #340 closed

[2016-03-19 08:18] aksonov commented on #347
I've added support of direction, check Example for 3.0.14, Login page

[2016-03-19 08:25] aksonov commented on #351
@naji247 I can't reproduce it. Please change Example accordingly to show the problem.

[2016-03-19 18:59] alexmngn opened #353 "Create scenes within a scene"
My application is divided in multiple sub applications that has its own route.
For example, the Login page is a part of the app that work completely independently of the rest of the app. So I am trying to do the following:

*index.js*
[code]

The Landing component calls Login to open a new modal with the login scene.
Login should have its own route, the parent shouldn't be aware of what the Login

[2016-03-19 19:38] tonygriv commented on #324
I have android 4.4 genymotion emulator and after switching to 3.0 version this router my app crushes and works very slow. Any Ideas?

[2016-03-19 19:53] aksonov commented on #324
v3.0 release is just wrapper around new Experimental Navigation API. So try that API without my component (React Native UIExplorer project) and check behaviour and report if it is slow.

[2016-03-19 19:58] tonygriv commented on #324
I have just try Example app in this repository. The same behaviour.

[2016-03-19 19:59] aksonov commented on #324
Please read my answer again.

[2016-03-20 00:10] alanzanattadev opened #354 "renderRightButton doesn't work"
Hi,

How am i supposed to use the prop renderRightButton on a Scene ?
I've tried with a closure : renderRightButton={() => (<Switch/>)}
And without : renderRightButton={<Switch/>}
Even with adding onRight or rightTitle (this prop overrides mine) it doesn't work, nothing appears.

I've looked source code but I don't see any mention of this.props.renderRightButton, is it normal ?
I'm using 3.x

Than

[2016-03-20 08:03] #351 closed

[2016-03-20 10:16] aksonov commented on #354
from NavBar:
[code]
Please debug and feel free to submit PR if it doesn't work properly.

[2016-03-20 10:26] Jickelsen opened #355 "Very poor performance during transitions on Android (3.0.9)"
I version 3 I am still getting so low performance during transitions that my app locks up and is eventually killed. I found a console.log in Reducers.js on line 119, regardless if dev mode is on or not. It seems it isn't great for Android performance, see https://github.com/aksonov/react-native-router-flux/issues/199. However, commenting this out does not seem to affect performance, and neither do

[2016-03-20 11:21] zelphir commented on #243
@aksonov How to set custom background in the new version?

[2016-03-20 11:37] aksonov commented on #355
It is just wrapper around new Navigation API. Check performance within React Native UIExplorer example for that API

[2016-03-20 11:39] aksonov commented on #243
Duplicate of #340

[2016-03-20 11:41] zelphir commented on #340
How to override this value here: https://github.com/aksonov/react-native-router-flux/blob/master/src/DefaultRenderer.js#L88

[2016-03-20 12:00] aksonov commented on #340
Check code above:
[code]

[2016-03-20 12:02] aksonov commented on #353
Sorry, it is not supported behaviour.

[2016-03-20 12:02] #353 closed

[2016-03-20 12:02] zelphir commented on #340
@aksonov saw that, but where and how should I pass the style? in the Router? In each `Scene`? What if I want to set it globally? could you give me an example?

Thanks

[2016-03-20 12:05] aksonov commented on #340
For each scene.  If you want to set globally you can wrap View around Router, but current Navigation API doesn't support it, you have to wait until current master  will be published as i said above.

[2016-03-20 12:06] zelphir commented on #340
ok, which parameter should I use for each scene?

[2016-03-20 12:23] aksonov commented on #340
Read my answer again. i said 'master', not rc-4...

[2016-03-20 14:35] alexmngn commented on #353
@aksonov That is really something I think you should support, that is the main philosophy behind React, to be able to have component within a component, without the parent having the need of being aware what the child does exactly, as long as it does it.
For this reason I will stop using your component for sure, as it doesn't support this very-important feature that most well-developed large mobil

[2016-03-20 14:44] aksonov commented on #353
Scene setup is analog of iOS storyboards. You could split it to many smaller 'storyboards' by including own components that contains Scenes. But config should be static like iOS storyboards.

Pavel.

[2016-03-20 18:45] rgovindji opened #356 "pass Router props to all Scenes"
I am using Relay with my project but when I try render a scene that contains my News Feed I get an undefined error saying the property hasn't been set. I define the Scene's and then I wrap the Router in a relay container which has a fragment for the NewsFeed page. If I don't use the Navigator then the newsfeed renders fine. Here's what I am trying below:

[code]

[2016-03-20 19:42] aksonov commented on #356
Any screenshot? Looks like it is about Relay but not about this component

Pavel.

[2016-03-20 20:17] rgovindji commented on #356
I managed to get it to work by doing adding the "viewer" property manually to the NewsFeed scene.

[code]
Is this the proper way to do this?

I also have an issue now with the NewsFeed scrolling performance is bad. It is a ListView and when I scroll it will lose a lot of frames. This didn't happen when I was rendering the NewsFeed as a standalone component.

[2016-03-20 20:19] aksonov commented on #356
It is definitely not about this component. The current component is just wrapper around new nav api

Pavel.

[2016-03-20 20:20] rgovindji commented on #356
Okay so it should work without the additional line? I must have done something wrong. Thanks

[2016-03-20 20:28] aksonov commented on #356
Yes, if viewer is required property that set by Relay, you have to pass it manually because Router doesn’t know about it.
Maybe the component could pass all their props to all children automatically to solve this (except scenes and probably style), feel free to submit PR or i could do it when i have time…

Maybe you could rename this ticket accordingly (like "pass Router props to all Scenes") To p

[2016-03-20 23:07] Jickelsen commented on #355
You're right, the animated nav example in UIExplorer is rather slow too, though it doesn't freeze up completely. The other examples in that same app run fine however. I'll see if it helps turning off animations, and hope things improve to the official release.

[2016-03-21 00:47] ajoshdee commented on #343
Can I have a sample implementation?

[2016-03-21 01:21] ajoshdee opened #357 "GetState"
How do i get the state of the navigation like when it's pushed or poped? Need to implement Additional functions. Instead of just printing the log to the console. Sample Implementation would be much appreciated.

[2016-03-21 02:19] ylquankai commented on #344
class Login extends React.Component {
    renderNavigationBar(props){
      return <View/>
    }

    render(){
        return (
            <View style={[styles.container, this.props.style]}>
                <Text>Login page: {this.props.data}</Text>
                <Button onPress={Actions.loginModal}>Login 2</Button>
                <Button onPress={Actions.pop}>Back</Button>
            </View

[2016-03-21 07:13] aksonov commented on #344
Ugh, method is not static....

[2016-03-21 07:17] ylquankai commented on #344
I see~ thank you very much.

[2016-03-21 08:17] ylquankai opened #359 "Forbid swiping back"
How to forbid swiping back for a scene ?

[2016-03-21 08:25] aksonov commented on #359
Check https://github.com/ericvicenti/navigation-rfc/issues/49

[2016-03-21 08:26] aksonov commented on #357
Pass your function as reducer as reducer param. If may call 'default' reducer from your reducer (check how to create it from Router sources)

[2016-03-21 13:30] rgovindji commented on #356
Okay I have re-opened the ticket and renamed it. I like the idea that would be very helpful!

[2016-03-21 13:39] Elyx0 commented on #350
Digging this, but it's really been a feature that people have asked since early days of v2. @iZaL how did you articulate the logic of jump + push ? Ho does tab1 knows he has to do the push to tab1_2 ? Is it something the switch component could handle ?

[2016-03-21 14:16] aksonov commented on #356
Should be done for 3.1.0

[2016-03-21 14:18] aksonov commented on #340
@zelphir You may use new feature #356 with 3.1.0 - you can pass some property to all scenes from Route. So you could pass sceneStyle, for example, and then use props.sceneStyle within your Scene...

[2016-03-21 14:20] rgovindji commented on #356
Thanks! I will give it a shot now :)

[2016-03-21 14:56] jarredwitt commented on #354
I was running into the same issue as well. Did some debugging and was able to get it working by changing up NavBar.js. Here is my complete NavBar.js.
`/**
 * Copyright (c) 2015, Facebook, Inc.  All rights reserved.
 *
 * Facebook, Inc. ("Facebook") owns all right, title and interest, including
 * all intellectual property and other proprietary rights, in and to the React
 * Native CustomComponents

[2016-03-21 14:57] aksonov commented on #354
@jarredwitt No need to post sources here (it is for issues not for source code), just submit PR and i will review.

[2016-03-21 14:58] jarredwitt commented on #354
Sounds good. I'll get it cleaned up and do some more testing then submit.

[2016-03-21 15:38] Elyx0 commented on #350
Oh okay manually with
[code]
Great work :) !

[2016-03-21 16:10] xushuwei202 opened #361 "this.props.sceneStyle of Example can't passed"
I test Example about 3.1.0,  pass Router props to all Scenes don't work.

export default class Example extends React.Component {
    render() {
        return <Router scenes={scenes} sceneStyle={{backgroundColor:'#F7F7F7'}}/>;
    }
}

[2016-03-21 16:12] aksonov commented on #361
What is your empty example about? I've added passing of style to Example project and Launch page gets it normally.

[2016-03-21 16:15] aksonov commented on #354
Okey, i've found that props were not passed for nested scenes, please check 3.1.1

[2016-03-21 16:24] xushuwei202 commented on #361
Sorry, it's my bad.  after update,  i forget to npm install package

[2016-03-21 17:10] #361 closed

[2016-03-21 17:11] #356 closed

[2016-03-21 17:24] aksonov commented on #333
0.22 is supported now.

[2016-03-21 17:24] #333 closed

[2016-03-21 18:31] megazoid84 opened #362 "Props should be defined for stack"
Hi. Thanks for your work. I have a small trouble shortly described in subject. When I add

[code]

Inserting source code above give me the next error
![Error screen](https://dl.dropboxusercontent.com/u/63830953/%D0%97%D0%BD%D1%96%D0%BC%D0%BE%D0%BA%20%D0%B5%D0%BA%D1%80%D0%B0%D0%BD%D0%B0%202016-03-21%2019.21.17.png)

What did I do wrong?

[2016-03-21 19:51] jarredwitt commented on #354
It's still not working for me in 3.1.3. When I make the NavBar.js changes to what I posted earlier it begins working correctly. I'll do some more debugging.

[2016-03-21 20:06] zelphir commented on #340
@aksonov thanks!

[2016-03-21 22:10] rgovindji commented on #356
@aksonov How do I get switching between tabs to work. The initial tab will load correctly but if I switch to another tab and switch back I get an error saying "viewer" is undefined.

[2016-03-21 23:00] thessem opened #363 "Issue with assert in Actions.js"
Currently my program will not load due to line 53 in `Actions.js`
[code]
Due to `Unhandled JS Exception: Converting circular structure to JSON`

Removing the assert gives me expected behaviour (everything works fine), I was wondering if there was a different way to log this without relying on `JSON.stringify()`, or is my problem indicative of a deeper issue?

Thanks for the great library, btw!

[2016-03-21 23:31] amrnt commented on #209
@aksonov May you add this to the example? I'm having terrible time trying to understand/implement it :(

[2016-03-22 00:36] rgovindji opened #364 "props not passed when switching tabs"
When load the initial tab the "viewer" prop is populated correctly but if I switch to another tab I get a "viewer is undefined" error.

[code]

[2016-03-22 01:04] ajoshdee commented on #357
How can create a switch case for the action.type?

[2016-03-22 01:57] ajoshdee commented on #357
I just need a listener that will return the state of the navigator. Cause i needed to do additional methods using a switch case depending on the state of the navigator.

[2016-03-22 04:07] evollu opened #365 "Access component method in <Scene>"
I want to have a right button in navigation bar that calls a function in scene component.
Is it possible?

[2016-03-22 05:10] Froelund commented on #362
I have the same issue:
- react-native-router-flux: 3.1.3
- react-native: 0.22.2

[2016-03-22 05:35] Froelund commented on #362
It looks like that the input for Router -> handleProps has changed.
The first element of props.children is an array. Previously I believe those were React components.

[2016-03-22 05:39] thessem commented on #355
I am getting this too, eventually the app freezes completely and dies. I am having trouble working out what's causing it (I upgraded RNRF 3 with RN 0.22 so it's hard to tell)

@Jickelsen if you figure out a way around this please let me know!

[2016-03-22 05:51] delta-9 commented on #355
I'm experiencing the same behaviour, Also when I fill a form the form refuse to loose focus, then the state freeze and the app crash. Tested with 3.1 and tcomb-form-native (also with react-native-stateless-form)

[2016-03-22 05:52] xushuwei202 opened #366 "Only launch scene has sceneStyle of props"
Only launch scene has  sceneStyle prop about Example, other scene can't find this prop.

[2016-03-22 06:21] Froelund commented on #362
In my case it was because I still used Route instead of Scenes.
https://github.com/aksonov/react-native-router-flux#important-breaking-changes-comparing-with-2x-version

[2016-03-22 06:24] thessem commented on #355
@delta-9 I am experiencing exactly the form focus issue too. Weird

[2016-03-22 06:44] ajoshdee commented on #357
I want to handle callbacks instead of just receiving `'ACTION:', { key: 'result', type: 'push' }` in the console

[2016-03-22 07:10] megazoid84 commented on #362
@Froelund can you describe your case in details? What did you do wrong?

[2016-03-22 07:11] timzaak opened #367 "How to config StatusBar?"
I want add code (<StatusBar
          backgroundColor="white"
          barStyle="light-content"
        />)
But how?
Thanks for ans.

[2016-03-22 07:36] timzaak commented on #362
Do you  have  write  '<Router scenes={scenes} />' ?

[2016-03-22 08:00] megazoid84 commented on #362
@timzaak yes, of course
[code]

This code generate the error given above.

[2016-03-22 08:02] aksonov commented on #362
Where are Actions, Scene imports?

Pavel.

[2016-03-22 08:09] aksonov commented on #363
You must define key for each Actions.

[2016-03-22 08:09] #363 closed

[2016-03-22 08:18] aksonov commented on #367
Sorry, it is not responsibility of this component.

[2016-03-22 08:18] #367 closed

[2016-03-22 08:19] aksonov commented on #357
Have you tried to pass own reducer as i said?

[2016-03-22 08:21] ajoshdee commented on #357
How do you pass reducer? I did Reducer({this.State.getInitialState(), scene})
But i always get cannot evaluate undefined object error

[2016-03-22 08:22] aksonov commented on #366
Duplicate of #364

[2016-03-22 08:22] #366 closed

[2016-03-22 08:24] ajoshdee commented on #357
can you just show me an example of how to implement it in my view?

[2016-03-22 08:24] aksonov commented on #357
what means this.State?? State is module of the component. Sorry, i'm not tutor and it is not resource to support javascript beginners.

[2016-03-22 08:25] ajoshdee commented on #357
Oh sorry, I used State.getInitialState()

[2016-03-22 08:26] aksonov commented on #357
Sorry, syntax is still wrong, please study javascript, check sources, i don't see any problem with it. It is not the problem of the component.

[2016-03-22 08:26] #357 closed

[2016-03-22 08:43] sylvainbaronnet commented on #355
@delta-9 Exactly same issue

[2016-03-22 08:47] aksonov commented on #355
Guys, I don't understand why you are posting it here. The component is just WRAPPER and use new Navigation API, so please complain it here : https://github.com/ericvicenti/navigation-rfc or at react native github.

[2016-03-22 08:47] #355 closed

[2016-03-22 08:48] megazoid84 commented on #362
@aksonov it's a full source code of App.js that gives the error:

[code]

And source code of Home.js

[code]

[2016-03-22 08:50] sylvainbaronnet commented on #355
Sorry. I think we should report it to the official RN repo since :

[2016-03-22 08:56] aksonov commented on #362
Sorry, i can't reproduce and see Launch screen normally (after fixing missed styles where is not declared in your example). Try to add console.log(Router, Scene), something wrong with your dependencies.

[2016-03-22 09:03] delta-9 commented on #355
Sorry, I see that issue here so I reported here, I'll report it back to the RN repository

[2016-03-22 09:03] aksonov commented on #365
No. They are different components. Read React Native docs how to communicate between different components.

[2016-03-22 09:03] #365 closed

[2016-03-22 09:23] aksonov commented on #364
Please check 3.1.4

[2016-03-22 10:10] linyize commented on #354
renderTitle also don't work for me.

[2016-03-22 12:18] AntonPuko opened #368 "backButtonTitle doesn't appear"
Hello. I don't see back button title not in my project, and even not in example.
![lefttitle](https://cloud.githubusercontent.com/assets/8849922/13951321/d8cedb76-f038-11e5-8d0b-e2eed2333b6e.png)
Is there something i'm missing?

[2016-03-22 12:28] aksonov commented on #368
No, it is default behaviour of React Native NavigationHeader (NavBar is improved copy of it) component - looks like many developers prefer it without displaying of title of prev. route.

Anyway you could use renderBackButton to render text or something or submit PR to improve the component.

[2016-03-22 12:28] brettpappas commented on #357
@aksonov I think you would have more people willing to contribute if you included a little commenting in your code. I looked at the Router sources and a few others (State, Reducer) and am hesitant to make improvements to it when I don't know what you expect the functions to do. Code comments also help when people don't find what they are looking for in the docs.

[2016-03-22 12:36] aksonov commented on #357
I've put comments where it is necessary. Please check React Native sources do you see any comments there? You may also compare v2 and v3, i've fully rewritten v3 to make it as simple as possible.

[2016-03-22 13:04] rgovindji commented on #364
@aksonov I am getting a syntax error saying unexpected character react-native-router-flux/src/back_chevron.png
<img width="371" alt="screen shot 2016-03-22 at 9 02 06 am" src="https://cloud.githubusercontent.com/assets/251495/13952491/05b502c2-f00d-11e5-9d5e-758420b9caa9.png">

[2016-03-22 13:24] aksonov commented on #354
@linyize Sorry, renderTitle is not supported (because of animation of titles), i've removed it from docs.

[2016-03-22 13:24] aksonov commented on #354
@jarredwitt I've just added renderRightButton to Example for tab #5, i see it without any problem

[2016-03-22 13:26] aksonov commented on #357
@ajoshdee Okey, i've added custom reducer to example, hope it will help.

[2016-03-22 13:26] #368 closed

[2016-03-22 13:27] #362 closed

[2016-03-22 13:27] aksonov commented on #364
I can't reproduce it

[2016-03-22 13:36] AntonPuko commented on #368
Thanks, i've got it!

[2016-03-22 15:06] alanzanattadev commented on #354
I've tried with the same component and renderTo attribut of your example, copied pasted, but it doesn't work on 3.1.5, nothing is displayed

[2016-03-22 15:49] jeroenbourgois opened #370 "Cannot find element for parent=SCENE_NAME within current state"
Hi

I have the following Router setup

[code]

When calling `Actions.welcome()` on another page, I get something like:

`Cannot find element for parent=sidemenu within current state`

I think I am doing something wrong with the nesting (`SideMenu` is a `Drawer` component) but cannot figure out what I am missing.

Thank you for this wonderful component!

[2016-03-22 16:52] aksonov commented on #370
SideMenu should have single child, Scene container. Please try to reproduce the issue on component Example. Also you could try to debug by printing state within Reducer - reducer cannot find parent of 'welcome' action for some reason.

[2016-03-22 16:53] aksonov commented on #354
Example, tab#5 contains custom right button (just unclickable text)

[2016-03-22 17:22] ponty96 opened #371 "Pass previous route details like title as props"
I don't know if version 3.x passes the previous route details to the new route as props but 2.x doesn't.
When using NavigatorIOS the back button shows the title of the previous Screen | Route and it will be more efficient to programmatically get few details of the previous route passed as props to the current Screen | Route. Minimal details like the title should be passed with the route props pass

[2016-03-22 17:25] aksonov commented on #371
Have you tried with v3 ? Why you created issue even without checking of latest supported version??

[2016-03-22 17:29] ponty96 commented on #371
because I'm still using version 2.x and I dont know if v2 has been discontinued.... and i'm not ready to upgrade to v3 yet....

[2016-03-22 17:33] joenoon commented on #209
@aksonov great library!  I think I'm running into this same issues here.  Can you tell me if there is a way to do this?

[code]

What I'd like to happen is when I call `Actions.apples()`, I want it to push inside tab2 (the currently active scene).

Right now, it renders over the entire tabbar, which is true to how its defined above, but not how I'm hoping to use it.

One option is to redefine appl

[2016-03-22 19:10] rgovindji commented on #364
Thank you this fix worked :)

[2016-03-22 19:10] #364 closed

[2016-03-22 20:05] aksonov commented on #371
v2 is not supported. NavigatorIOS is not supported by React Native and this component as well.

[2016-03-22 20:05] #371 closed

[2016-03-22 20:05] #354 closed

[2016-03-22 20:07] rgovindji opened #372 "Each tab component is rendered even when not selected"
On application start, each tab component is rendered even if it's not visible. Is this by default? Do I need to use the Switch component to stop this?

[2016-03-22 21:35] rgovindji opened #373 "Tab scenes are set to type="push" even tho type="jump" was initially declared"
I set in my code for the tab to be type="jump" but when debugging it shows type="push"

` <Scene key="NewsFeed" component={NewsFeedPage} icon={TabIcon} initial={true} type="jump" iconLabel="ios-home" title="News Feed" />`

<img width="938" alt="screen shot 2016-03-22 at 5 34 25 pm" src="https://cloud.githubusercontent.com/assets/251495/13968670/6665ec84-f054-11e5-8b5c-d508f06cfd92.png">

[2016-03-23 00:47] joenoon commented on #209
I found a partially working solution: `Actions.apples({parent:'tab2'})`

That gets the scene rendered in the current tab, but still has some downsides:

- The back button doesn't work, probably because...
- `Actions.pop()` doesn't work.  But this works: `Actions.pop({parent:'tab2'})`

If I were to keep going down this road my plan would be to write a wrapper taking in the navigationState.  Somethi

[2016-03-23 05:25] matt-d-rat commented on #56
@aksonov I am also getting the ```console.error: "selector should be defined"``` error:

__scenes.js__
[code]

__main.js__
[code]

My project has the following dependencies at these versions:

[code]

[2016-03-23 05:28] matt-d-rat commented on #337
@aksonov I am also getting the ```console.error: "selector should be defined"``` error:

__scenes.js__
[code]

__main.js__
[code]

My project has the following dependencies at these versions:

[code]

[2016-03-23 05:34] bawn opened #374 "Jammed page can not respond"
Operating push and pop a few times on Android, the page will be stuck unable to respond. When this situation is more serious show navbar.

[2016-03-23 07:27] aksonov commented on #374
Seems duplicate of #355

[2016-03-23 07:27] #374 closed

[2016-03-23 07:33] aksonov commented on #373
As you see sceneKey ends with '_'. It means that it is _inner_ scene. Each tab scene should contain inner scene with navbar, so navbar could be displayed:
[code]

[2016-03-23 07:33] #373 closed

[2016-03-23 07:37] aksonov commented on #372
It is how NavigationView works. This component is just wrapper around Navigation API:
[code]

You always could implement your custom renderer instead of TabBar to avoid this. Feel free to do it and PR would be very appreciated.

[2016-03-23 07:41] aksonov commented on #209
I propose to implement pushToCurrent type which will add scene to current parent - like pop removes _current_ scene, pushToCurrent will push to current scene. So Reducer will replace parent to current one so pop() should work.

PR is welcome.

[2016-03-23 10:19] PeterKow opened #376 "Key login is already defined - HMR 0.22"
I am on `react-native 0.22` and `react-native-router-flux 3.1.3` with hot reloding [HMR], after first HMR reload I got following error

![image](https://cloud.githubusercontent.com/assets/10186048/13956908/730928a0-f042-11e5-8c2a-988066f2b0f9.png)

Problem is caused by `Actions.create`

This is my current setup:
[code]

I tired this also, but doesn't work at all - nothing renders
[code]

Temporary

[2016-03-23 11:04] aksonov commented on #376
Check latest version

[2016-03-23 11:22] zxcpoiu commented on #376
same issue using 3.1.5

[2016-03-23 11:26] aksonov commented on #376
It is not true. 3.1.5 doesn't throw exception for existing keys anymore
[code]

[2016-03-23 11:33] zxcpoiu commented on #376
oh sorry, I mean, I didn't got a red screen but same issue which is "key xxx is already defined."

[2016-03-23 11:34] aksonov commented on #376
It is not issue but logging. It still could be usable if user really defines several scenes with the same key. For hot reload you could ignore it.

[2016-03-23 11:34] #376 closed

[2016-03-23 12:00] #372 closed

[2016-03-23 13:55] jeroenbourgois commented on #370
Hi, I updated my code so that the SideMenu has a single child and I added the reducer. Still the same error, this is the output:
[code]

This is my current router:
[code]

For now I can bypass the issue by letting the action call `sidemenu` but then the animation let's the sidemenu slide out real fast :) bit weird.

Thanks for your efforts

[2016-03-23 14:01] aksonov commented on #370
Could you modify Example project to reproduce the issue?

[2016-03-23 14:03] jeroenbourgois commented on #370
Ok, I will do it asap. Meanwhile I dropped two minor PR's ;) I am not super technical so it are two documentation updates, but hey, my way of helping out, appreciate your feedback on my issues so I need to give something back :)

[2016-03-23 14:06] aksonov commented on #370
You may also print state returned from defaultReducer to understand why it cannot find parent...

[2016-03-23 15:57] AlexDM0 opened #380 "Back icon does not show title"
Hi,

I've cloned your project, ran npm install and ran the example. In the gifs you see Login next to the back arrow when the login2 page is accessed but it does not seem to work in the example. Is something broken or is it a configuration thing?

Regards

[2016-03-23 15:58] aksonov commented on #380
Duplicate of #368

[2016-03-23 15:58] #380 closed

[2016-03-23 17:11] AlexDM0 opened #381 "Transitions between scenes in tabs scenes are slow regardless of duration"
Hi,

I've updated your Example.js like so:

[code]

So all scenes have a duration property set to 1. If you click on "Go to TabBar page" then "next screen for tab2_1" you expect no animations. I've put a debug print in the defaultRenderer and the duration of 1 is successfully propagated (the selected is always tab2 by the way?).

The animations are also much slower than the normal 250 ms compared

[2016-03-23 17:27] zxcpoiu commented on #324
Hi @aksonov

When using redux, and wrap `Router` under `Provider` like
[code]

the router will render several times if store changed, thus causing `key xxx is already defined` due to invoke `Actions.Create(props.children)` in `Router.js` several times. described at #376 ( probably NOT caused by HMR is on )

my structure like this:

[code]

The problem with this structure is I can NOT use:

[code]

[2016-03-23 17:42] zxcpoiu commented on #381
I don't know neither.

But I've noticed slow transitions even crashed. ( Use genymotion 2.6.0 )
When I encounter this problem, one of my CPU core became 100%.
If lucky, it continued after few seconds, otherwise it crashed.

maybe it related to RN new API.

**steps:**

click and back items from top to bottom,
it occurs usually after leave `error prompt scene` and click tap item.

[2016-03-23 17:52] zxcpoiu commented on #376
@PeterKow

I think it is caused by wrap `<Router>` into `<Provider>` and maybe it is redux triggers `<Router>` to re-render.
you can try Example and print some log in `render()` and `onComponentDidMount`, you will find that `<Router>` only render at the initial stage.

is your `<Router>` render several times also?
I'm still trying to find a better way to wrap `<Provider>`

[2016-03-23 19:29] gaykov opened #382 "Open Drawer from the navigation bar"
Hey, thank you for the amazing library!

I'm trying to implement navigation with drawer by root-two and I faced the problem. Is it possible to open drawer by clicking at the left button on the navigation bar? Here's my current code:

Inside `index.ios.js` I have

[code]

Or maybe I'm doing something wrong?

[2016-03-23 20:10] jeroenbourgois commented on #382
I struggled a bit with this myself.... But what I already see missing is the binding of the context types?

I think you will need to create your own `NavBar` component and set the contexType with the drawer there... What I did was copying the NavBar in the source of this repo and build there...

Then, inside that `NavBar` be sure to include the context type. So in short, create a `NavBar`

[code]

[2016-03-23 20:52] jeroenbourgois commented on #370
Ok, I can reproduce with the Example project. Modification is very easy:

Change line 14 that says
[code]

To (the change is the actions, where I want to trigger a nested view like 'loginModal', which is similar what I was doing:

[code]

Then the same error is thrown.

[2016-03-23 23:29] thessem commented on #381
If you're on Android the 0.22 release of React Native's experimental navigator seems to not work very well (Unusably slow transitions, eventually crashes). This gets a little better if you pull in the git version.

I think the relevant issue on RN is facebook/react-native#6474 or similar

[2016-03-24 00:35] brien-crean commented on #131
@Mokto, @rgoldiez  did you manage to find a workaround for your situation? I would like to trigger something on unmount also when the type of route is "push"

[2016-03-24 04:12] iamzifei opened #383 "Converting circular structure to JSON warning"
I'm just trying v3 with the basic example provided on README, my index.ios.js looks like bellowing:

[code]
And I have basic Test and Home component like bellowing:
[code]

I'm having the following error `Converting circular structure to JSON` in line 53 in Actions.js.

Also would like to see an example using the new `Switch` for authentication.

[2016-03-24 06:19] gaykov commented on #382
@jeroenbourgois thank you for the nice idea!

I solved it this way. First, I implemented my custom nav bar this way:
[code]

but I started to see 'Maximum call stack exceeded' because of this line inside the render: https://github.com/aksonov/react-native-router-flux/blob/master/src/NavBar.js#L60 (it returns itself in the loop). So I have to rewrite `render` function also. And the final class is
[

[2016-03-24 06:19] #382 closed

[2016-03-24 06:29] spaceoi commented on #370
Got the same error.

[2016-03-24 07:46] AlexDM0 commented on #381
Hi,

I'm using iOS at the moment. I'll give it a shot though!

Regards

[2016-03-24 10:12] JamesWatling commented on #383
Hi @iamzifei, I also had this problem, and was fixed by adding a `key="root"` to the parent scene.

ie.

[code]

[2016-03-24 10:44] AlexDM0 opened #384 "Double tapping on link creates a double view"
Hi,

When using the example, if you click on a link twice quickly (so before the new view has finished the animation) it will trigger a duplicate of the required view to slide in. Is this something we need to check in our reducer implementation or is it a bug?

Very ugly workaround:
[code]

I have a few big buttons that the user can click on and if they accidentally tap twice, I dont want to load

[2016-03-24 11:25] Nikamura opened #385 "v3 After connecting Switch to Scene gettings infinite loops"
After clicking login or signup links from Launch page it throws stack exceeded error, can be seen at the bottom picture.

Trying to debug my self, but help would be awesome.

[code]

![image](https://cloud.githubusercontent.com/assets/3459367/14015707/b5a226c6-f1c3-11e5-94d6-b99f681b8fab.png)

[2016-03-24 11:43] iamzifei commented on #383
Hi @JamesWatling , thanks for the reply. as you can see in my code, I have key='app' in parent scene. but still get this error. However when I clear everything (including node_modules) and re-run it again it works. Not sure why though.

[2016-03-24 11:44] aksonov commented on #385
Why Switch doesn't have 'tabs' property?

[2016-03-24 11:49] Nikamura commented on #385
Hmm, I see that it requires Tabs now, but I think that should be the case.

Let's say I have pages where tabs are not used (launch,login, register)

And when authenticated tabs are used there. So I can't use Switch unless I am using it with Tabs, is that correct?

[2016-03-24 11:50] aksonov commented on #385
Switch is analog of 'switch' operator. Tabs are 'case' conditions.

[2016-03-24 11:53] Nikamura commented on #385
Okay, I see. Thanks

Also there seems to be a bug:
[code]

[2016-03-24 12:33] aksonov commented on #385
You should hideNavBar also for launch too, because all tabs are wrapped by NavBar.

[2016-03-24 14:00] AlexDM0 opened #386 "Persisting the state of a tab"
Hi,

When using tabs, I'd like to store the state for each tab when switching between them.

In the Example.js:
go to the tab example,
click the "next screen for tab2_1"
click tab#1 in the bottom,
click tab#2 in the bottom,
We now see a transition from 2.2 to 2.1.

I want it to stay at 2.2 unless I'm already at tab#2 and then press tab#2. This is the behaviour of the apple App store for instance,

[2016-03-24 15:33] PeterKow commented on #376
Works after updating to 3.1.5

@zxcpoiu I tried without Provider and that wasn't a problem

Thanks!

[2016-03-24 16:47] Mokto opened #387 "Animation when nesting in a DefaultRenderer"
Hi,

My push animations are not taken into account when I set a component in my "loggedIn" Scene.
My Layout component contains a DefaultRenderer.

[code]

[code]

Thanks !

[2016-03-24 17:14] joenoon commented on #209
PR here: https://github.com/aksonov/react-native-router-flux/pull/389

[2016-03-24 18:53] 5amfung commented on #359
@aksonov How do I pass ```null``` to ```panHandlers```?

Per https://github.com/ericvicenti/navigation-rfc/issues/49#issuecomment-200945651 the gesture can be disabled by setting panHandlers to ```null```.  When I have a scene that pushed from bottom to top using ```direction='vertical'```, I don't want users to swipe down to ```pop``` the scene.

[code]

[2016-03-24 20:38] Elyx0 opened #392 "navigationState props breaks pure shouldComponentUpdate"
When components are connected, given that `navigationState` is not an Immutable
the `shallowEquals` or plain equals to determine if a component should update always fails. (Thus forcing the rerendering of the component)

![screenshot 2016-03-24 16 28 34](https://cloud.githubusercontent.com/assets/706218/14030330/7813c28c-f1dd-11e5-8101-3b4e1645061d.png)

Problem is that `shallowEquals` don't deal

[2016-03-24 22:43] sashafklein commented on #310
@aksonov -- I'm getting this with 3.1.3 -- which as of 3 days ago is [an official release](https://github.com/aksonov/react-native-router-flux/releases). Should I also downgrade to a 2.0 version? Or am I potentially doing something wrong?

[2016-03-24 23:44] evollu commented on #387
+1
I can't change the duration of the animation. Looks like it is taking the default one in NavigationCardStack.js

[2016-03-24 23:45] evollu commented on #384
UIExplorer example has the same issue. I'm doing the same workaround

[2016-03-25 00:50] sashafklein commented on #383
Already had the ` key="root" ` set, and deleting node_modules didn't do anything for me, unfortunately. Looks like this:

[code]

The root page is just a hello world example at the moment.

[2016-03-25 06:30] aksonov commented on #310
Check Example project. v3 has different API.

[2016-03-25 06:34] #385 closed

[2016-03-25 07:12] aksonov commented on #392
I believe it happens because currently the component copies full state using Immutable.fromJs().toJS() I know it is not effective, if you know better alternative to modify some substate only quickly, please submit PR.

[2016-03-25 07:24] aksonov commented on #359
Looks like it is not in 0.22 release. Anyway i will post version that pass panHandlers to NavigationCard.

[2016-03-25 07:43] aksonov commented on #386
@joenoon Thanks for PR!
Please check 3.1.6

[2016-03-25 07:43] aksonov commented on #381
Please check 3.1.6

[2016-03-25 07:43] aksonov commented on #383
Should be fixed with 3.1.6

[2016-03-25 07:43] #383 closed

[2016-03-25 07:45] aksonov commented on #387
@Mokto You have to include inner composite stack into your 'Layout', check docs.
@evollu Should be fixed within 3.1.6

[2016-03-25 07:45] #387 closed

[2016-03-25 07:45] #381 closed

[2016-03-25 07:46] #386 closed

[2016-03-25 08:11] 231907786 opened #393 "New method `static renderNavigationBar` can`t keep front in transition animation"
Hi,
  I define the static method `renderNavigationBar` in my `Scene component` and it works well, but during  transition animation the default NavigationBar appear again, replacing my custom NavigationBar

[2016-03-25 08:35] aksonov commented on #393
Because other scene doesn’t have your navbar. You need to define your navbar for parent scene

[2016-03-25 09:18] slamus commented on #370
I've got the same error.
I've got around it by setting `initial={true}` to my equivalent of my 'welcome' route.
Then I just need to call the parent route to go to this this route.

[code]

[2016-03-25 09:21] slamus commented on #384
You should use the reducer to store the currentRoute somewhere in your app.
Then you check if the currentRoute is already set and prevent the route to be triggered twice.

[2016-03-25 09:27] AlexDM0 commented on #384
I had that before but then the example didn't work as it is calling a reference to itself. In production that wouldn't be the case so there your solution would indeed be better.

[2016-03-25 12:05] aksonov commented on #392
Another possible reason is 'current' key for scene is always changing, so root router will always re-render because it will thought that his property is changed. I'm going to remove it and use getCurrent() function instead

[2016-03-25 12:20] aksonov commented on #370
So you want to go inside tabs container (i.e jump + push) ? Is it duplicate of #350 ?

[2016-03-25 14:01] slamus opened #395 "Calling Same Route with different props mounts it idefinitely"
Hi,

Just upgraded to v3, and everything is working as expected even if the breaking changes were breaking a lot of things ;)
However I have one remaining issue, and I cannot find a solution to it:

I'm calling a single modal route from different places in my code, and with different props.
I change the content of the modal according to the props sent.

#### BEFORE
The modal was updating perfectly

[2016-03-25 14:25] Mokto commented on #387
I'm sorry but what docs ?

There is no mention of inner composite stack neither in your plugin, neither in https://github.com/ericvicenti/navigation-rfc

[2016-03-25 14:26] aksonov commented on #387
README. There is sample for Drawer.

[2016-03-25 14:31] Mokto commented on #387
Ok thanks !

For those with same issue, this is wrong

[code]

You have to do this

[code]

[2016-03-25 15:05] SudoPlz opened #396 "Navigating to a Schene if you know the schenes key as a string."
I want to know how to navigate to a Schene , when I already have its key on a string.

    import {Actions} from 'react-native-router-flux';
    var scheneKey = "LoginSchene";

Apparently I can't do:

    Actions[scheneKey]();

nor do I want to do:

    Actions.LoginSchene();

I would like something like:

    Actions.navigateTo(scheneKey);

but I can't find such a method.

Thank you.

[2016-03-25 15:06] aksonov commented on #396
Why you can't do Actions[scheneKey](); ?

[2016-03-25 15:07] SudoPlz commented on #396
Because `_reactNativeRouterFlux.Actions[schene] is not a function` is the error I get.

[2016-03-25 15:09] aksonov commented on #392
Okey, I've done major refactoring to improve state management within reducer, now it is not fully cloned, but only partially, please check carefully 3.2.0, some bugs may occur...

[2016-03-25 15:10] #393 closed

[2016-03-25 15:11] SudoPlz commented on #396
Omg it was totally my bad. `Actions[scheneKey]();` is working after all, I had a typo in the scheneKey... Sorry for wasting your time.

[2016-03-25 15:11] #396 closed

[2016-03-25 15:11] aksonov commented on #395
Hm... I'm not sure that you are using modals correctly... Could you check Example and how 'error' popup modal works there?

[2016-03-25 15:14] aksonov commented on #209
@joenoon Pleas check 3.2.0 version. I did huge refactoring to optimize state management, hope you could implement your change easier now.

[2016-03-25 15:15] slamus commented on #395
Yes,
I will try to change my logic to match the example one.
Keep you updated

[2016-03-25 15:17] rgovindji opened #397 "Add "tabBarStyle" to documentation"
Noticed that tabBarStyle is not mentioned in the readme, thought it might help newcomers if it was added.

[2016-03-25 15:19] slamus commented on #395
Well,
After thinking about it a bit: **I just want to pass new props to the current view !**
How do I do that ?

[2016-03-25 15:20] aksonov commented on #395
Hm, Actions.refresh(props)? I've added it to Example, to login screen (it changes title)

[2016-03-25 15:21] slamus commented on #395
Yes, but if I want to do that from outside the current mounted component ? Can I do that ?

[2016-03-25 15:25] aksonov commented on #395
Hm, you said "pass new props the current route". Anyway you may try Actions.refresh({key:KEY, ...props}) where KEY is that component...

[2016-03-25 15:26] slamus commented on #395
Perfect, will try that.

[2016-03-25 15:31] aksonov commented on #395
3.2.1 should allow setting key for refresh action.

[2016-03-25 15:32] aksonov commented on #397
Feel free to submit PR

[2016-03-25 15:37] aksonov commented on #384
Check 3.2.2, reducer doesn't change state for push the same route again.

[2016-03-25 15:38] slamus commented on #395
thanks for notifying

[2016-03-25 15:51] #395 closed

[2016-03-25 19:13] SudoPlz commented on #354
I've got trouble seeing the right button in `3.2.2`. I use the code from your example but nothing appears. I'll keep on looking in case I'm missing something.

[2016-03-25 19:15] SudoPlz commented on #213
Did you solve this? How ? Could you please share? Thank you.

[2016-03-25 19:17] aksonov commented on #354
Are you joking? Have you ever read answer above? tab n5 contains right button from Example project.

[2016-03-25 19:19] SudoPlz commented on #354
Yes I understand that, I'm using that exact code but I don't see any Right button on my nav bar.. Am I missing something?

[2016-03-25 20:06] SudoPlz commented on #354
Ok I kept researching and I found out that the button WAS indeed render but it was rendered BEHIND the nav bar.. Like so:
![screen shot 2016-03-25 at 22 04 11](https://cloud.githubusercontent.com/assets/3070948/14052817/a0559fba-f2d5-11e5-9eb7-e77ccb0dc362.png)

Thats my code:

      class ARightBtn extends React.Component {
          render(){
              return <Text style={{
                w

[2016-03-25 21:07] SudoPlz opened #398 "renderRightButton gets hidden by the nav bar on 3.2.2"
Ok I kept researching and I found out that the button WAS indeed rendered but it it is rendered BEHIND the nav bar.. Like so:
![screen shot 2016-03-25 at 22 04 11](https://cloud.githubusercontent.com/assets/3070948/14052817/a0559fba-f2d5-11e5-9eb7-e77ccb0dc362.png)

Thats my code:

      class ARightBtn extends React.Component {
          render(){
              return <Text style={{

[2016-03-25 21:15] SudoPlz commented on #276
How did you guys manage to change the color of the leftButton? `leftButtonStyle={{color:'white'}}` is still not working for me.

[2016-03-26 00:20] rgoldiez commented on #131
In my case, I was able to use the a 'reset' type route, which unmounts and clears the stack.  This may or may not be what you're looking for.  If you have code that needs to know when something new is push onto the stock (over top of your current view), you can always add an onPush handler and in that handler, broadcast an event that any concerned components listen for and take action when somethi

[2016-03-26 06:25] fionita commented on #213
I've hided the router flux navbar and used toolbarAndroid instead.

On Fri, Mar 25, 2016, 21:15 Ioannis Kokkinidis <notifications@github.com>
wrote:

[2016-03-26 07:21] aksonov commented on #398
Please modify Example accordingly to show the bug. From your sources is it not clear - it could be parent navbar that hides children one.

[2016-03-26 08:27] bosung90 opened #401 "JS frame rate goes to -2.0 on Android deployed from Windows"
Running Example project on Android deployed from Windows 10 x64
after navigating through a bit JS frame rate always goes to -2.0 and the app becomes unresponsive.
It will eventually crash (my phone possibly going out of memory)

[2016-03-26 08:28] aksonov commented on #401
Seems duplicate of #355

[2016-03-26 08:28] #401 closed

[2016-03-26 08:53] aksonov commented on #209
@joenoon please check latest 3.2.3, i've simplified your PR, maybe too much?

[2016-03-26 08:59] joenoon commented on #209
@aksonov Ya thats exactly what I was just trying here.  It almost works, but one of my actions is getting parent 'root' for some reason, so I'm trying to track that down.  That is one from a navbar where I do refresh in the componentDidMount (which is amazing!).  But otherwise clicking around seems to work like this.  I'll track down the problem I'm having and see if I run into any other issues! T

[2016-03-26 09:52] SudoPlz commented on #213
@fionita didn't that result in messy code? If I understand correctly you no longer use the ExperimentalNavigator that comes with the navbar, but you're using `ToolbarAndroid` with Android and `NavigatoriOS` with iOS ?
So you actually manage the `ToolbarAndroid` and `NavigatoriOS` on each schene seperately?

[2016-03-26 10:41] spaceoi opened #403 "Render all tabbar sub-scenes on any tab's click"
I am wondering it's a feature or a bug.

If you click any tab, like Tab#5 in the example, all of the tabviews(5 tabs in the example) will be rendered. It will be better if only render one tab instead of all of them, since the user only cares about the selected tab.

[2016-03-26 11:48] DThink opened #404 "router bar crash and no show title"
hi, the react-native-router-flux is very helpful easy plugin. thanks for this. unfortunately encountered some problems, I do not know if because of me or because of a malfunction of the plugin. the problem is this
1)in the router bar if i see a title, this is to bottom of bar and the bar is too big respect you example.

![router-1](https://cloud.githubusercontent.com/assets/18085313/14059853/874c5

[2016-03-26 11:59] lwhiteley opened #405 "getting an error from the chevron, any ideas to resolve?"
Error while persisting cache: SyntaxError /Users/layton/Documents/dev/app/node_modules/react-native-router-flux/src/back_chevron.png: Unexpected character '�' (1:0)

![https://i.imgur.com/Du9gotJ.png](https://i.imgur.com/Du9gotJ.png)

[2016-03-26 12:09] lwhiteley commented on #405
may have been resolved by clearing watchman cache

[2016-03-26 12:26] aksonov commented on #403
Could you check UIExplorer ExperimentalNavigator tab demo (from React Native 0.22 package)?

[2016-03-26 12:26] #405 closed

[2016-03-26 12:27] aksonov commented on #404
Kind of duplication #355. Sorry, ask React Native team to support ExperimentalNavigation properly for Android/Windows! This component is just wrapper around it.

[2016-03-26 12:27] #404 closed

[2016-03-26 13:14] DThink commented on #404
how do I contact their team?

[2016-03-26 15:37] DThink commented on #355
my problem

hi, the react-native-router-flux is very helpful easy plugin. thanks for this. unfortunately encountered some problems, I do not know if because of me or because of a malfunction of the plugin. the problem is this
1)in the router bar if i see a title, this is to bottom of bar and the bar is too big respect you example.

![router-1](https://cloud.githubusercontent.com/assets/18085313/14

[2016-03-26 16:11] fforres commented on #359
Awesome @aksonov  :+1: !

[2016-03-26 17:05] rulatir commented on #404
Weirdly enough, this doesn't seem to even be caused by navigating. Basically [any component updating inside a scene](https://github.com/facebook/react-native/issues/6666#issuecomment-201891922) results in memory being leaked and **exponentially so**, except when the scene is the very root scene - the problem does not show in that case.

[2016-03-26 17:07] rulatir commented on #355
Weirdly enough, this doesn't seem to even be caused by navigating. Basically [any component updating inside a scene](https://github.com/facebook/react-native/issues/6666#issuecomment-201891922) results in memory being leaked and **exponentially so**, except when the scene is the very root scene - the problem does not manifest in that case.

[2016-03-26 19:10] bosung90 commented on #401
This bug seems to be 50% fixed in 0.23.0rc-1.
However, react-native-router-flux has a peer dependency of 0.22.
How can I use 0.23 with react-native-router-flux?

[2016-03-26 21:30] emrosenf commented on #403
They are aware of the issue and will refactor it soon. See https://github.com/facebook/react-native/issues/6579

[2016-03-26 22:52] agrass commented on #376
I'm still having this issue. Any idea how to solve it? I have the camera in one scene and is rendering multiples times and finally the app crash due low memory

[2016-03-26 22:54] agrass commented on #324
I'm still having this issue of  ```Key is already defined```. Any idea how to solve it?  before upgrading react-native to 0.22 it was ok, but now is crashing due low memory

[2016-03-27 02:41] spaceoi commented on #403
Yes I have checked the code and @emrosenf figured it out! thank you @aksonov and @emrosenf !

[2016-03-27 02:41] #403 closed

[2016-03-27 07:31] #384 closed

[2016-03-27 07:32] aksonov commented on #398
Closing it until you give me Example modification.

[2016-03-27 07:32] #398 closed

[2016-03-27 07:32] #209 closed

[2016-03-27 12:38] JamesWatling opened #408 "Upgrading to V3.1.3 has broken replace type"
Since upgrading to the latest `v3.1.3` version the replace functionality is not working correctly.

I have updated my previous code to account for the new updates in V3, but the replace type acts as a normal push state. Have I simply overlooked something, or is this a new bug.

[code]

On another note, love what you're doing here, but due to the speed of releases do you think it would be wise to h

[2016-03-27 15:29] falconx commented on #337
I too has this issue but resolved it by updating my `react-native-router-flux` dependency from `3.0.9` to `^3.2.3`.

[2016-03-27 16:01] kesha-antonov opened #409 "All TabBar views mounted on initial render"
Hello!

In v2. TabBar scenes called componentDidMount only when the tab was focused. Now all of them gets mounted in the same time.

For example:
[code]
When I go to Tab1 - Tab2 and Tab3 will mount so we have 3 calls to api at the same time.

Maybe I'm missing something? Please advise.

[2016-03-27 17:26] jayesbe commented on #205
@graywolf336 I am trying to use your technique to do something similar however I am getting stuck with the initial route not loading. I end up with just a background image and no child elements.

Have you come across something similar? is there something I might be missing ?

[2016-03-27 18:12] graywolf336 commented on #205
@jayesbe I have not, been a while since I tried it. Sorry

[2016-03-27 21:24] amrnt commented on #180
@aksonov This not working as the new version 3.x. Here's my new code:

[code]

[code]

[2016-03-27 21:40] jeroenbourgois commented on #370
Not not that I know. I just want to navigate directly to a route inside my sidemenu (drawer). It also has a key but I cannot access keys inside. This does not really seem like push jump? When using the example I get the same error

[2016-03-27 21:49] RWOverdijk commented on #276
@aksonov I tried applying this, it doesn't work. I used both `leftButtonTextStyle` and `leftButtonStyle`, the arrow is still some sort of blue.

<img width="145" alt="screenshot 2016-03-27 23 47 55" src="https://cloud.githubusercontent.com/assets/781745/14068012/5d13847c-f476-11e5-8550-9a38ea72303e.png">

Any direction in which I can look for a solution? Or do you perhaps already know what I', doi

[2016-03-28 01:20] ajoshdee commented on #357
Thank you very much for the example

[2016-03-28 01:56] marcosbeirigo commented on #408
Don't uses this terrible shit

[2016-03-28 04:16] texas697 opened #412 "Help with nested routing"
Can you please take a look
 http://stackoverflow.com/questions/36156876/how-to-use-nested-routing-with-react-native

[2016-03-28 05:29] kesha-antonov commented on #276
@RWOverdijk Try this on your scene/scenes: `barButtonIconStyle={{tintColor: 'black'}}`

[2016-03-28 05:58] Froelund commented on #412
Which version of react-native-router-flux are you using?

[2016-03-28 07:54] rlau1115 opened #415 "Programmatically unmount previous components?"
Is there any way to remove / unmount components from the navigation stack?

I'm using Redux in my app, and there are several instances where I modify or remove certain objects in my state after navigating to a new component. However, the app crashes because components that are no longer being displayed are still depending on the non-existent state objects.

I've tried having multiple calls of Acti

[2016-03-28 08:03] rlau1115 commented on #415
Actually, Actions.pop() does do the intended job of unmounting a component, but it doesn't happen immediately. I was able to test this by adding a timeout.

[code]

[code]

The timeout isn't ideal, so is there anyway to force an immediate unmount?

[2016-03-28 08:08] ajoshdee opened #416 "Unable to resolve module AssetRegistry"
Hi, I'm getting this error:
Unable to resolve module AssetRegistry from /Users/.../React-native.../.../node_modules/react-native-router-flux/src/back_chevron.png: Unable to find this module in its module map or any of the node_modules directories under /Users/node_modules/AssetRegistry and its parent directories

[2016-03-28 08:47] ajoshdee opened #417 "NavBar Title"
Hi, after update to 3.2.3, i'm having trouble displaying the navbar title. My initial scene is a tab view. But the title is not showing. Inside the view is a button that will push another scene, In this scene I can see the title. I already tried hiding the root scene navbar. It will make the tab view's nav title visible but will make the pushed scene's navbar invisible. Any solutions?

[2016-03-28 09:04] aksonov commented on #180
Sorry, it is not supported in v3. Scenes are similar to iOS storyboards. They could be splitted but to sub-storyboards, not classes or something

[2016-03-28 09:41] philipshurpik commented on #417
I also faced with this problem and created pull request to fix it

[2016-03-28 10:46] cgreening opened #419 "Pop back to specific scene"
Anyone know how to pop back several scenes to a particular scene?

e.g.

[code]

If I'm on `Test4` how can I pop back to `Test2`?

[2016-03-28 10:54] aksonov commented on #409
Please always search existing issues first. Duplicate of #372

[2016-03-28 10:54] #409 closed

[2016-03-28 11:11] kesha-antonov commented on #409
Thanks! @aksonov

[2016-03-28 11:37] philipshurpik commented on #417
as I understand now it's fixed, please check

[2016-03-28 12:26] texas697 commented on #412
"react-native-router-flux": "^2.3.1"