[2017-07-10 07:54] aksonov commented on #2002
Just use `hideNavBar`, `hideTabBar` to hide navbar/tabbar

[2017-07-10 08:05] astulip commented on #1994
OK

[2017-07-10 08:53] AlmogRnD commented on #2002
That does not solve the issue if I have hideNavBar={true} it hides the login and home. On the home scene/view, I should just see the home header without the back button.

[2017-07-10 09:05] aksonov commented on #2002
No, it should not. Please check Example, TabBar.

[2017-07-10 09:07] AlmogRnD commented on #2002
To clarify by example TapBar you mean - https://github.com/aksonov/react-native-router-flux/blob/master/Example/Example.js

[2017-07-10 09:08] aksonov commented on #2002
yes

[2017-07-10 09:14] aksonov commented on #1994
Please check latest branch

[2017-07-10 09:14] aksonov commented on #1987
Please check latest master

[2017-07-10 09:31] AlmogRnD commented on #2002
Thanks, I got it I had the hideNavBar={true} on the tabs but on the main component but I can still use gesture to gesture back the login back is there a way to disable that?

[2017-07-10 09:37] aksonov commented on #2002
Will implement for next version, please rename ticket or create new one.

[2017-07-10 09:38] #2000 closed

[2017-07-10 09:53] #2002 closed

[2017-07-10 10:01] #1994 closed

[2017-07-10 10:11] aksonov commented on #1996
Looks like react-navigation doesn't support something similar to tabBarSelectedItemStyle. Have you tried activeBackgroundColor, inactiveBackgroundColor, etc. ?

[2017-07-10 10:12] bragur commented on #1974
Beautiful! How about further drawer attributes, like drawerPosition, initialRoutename etc.? Where or how would they be declared?

[2017-07-10 11:39] code-by commented on #1345
is there now simple way to determine current scene name?

[2017-07-10 11:40] aksonov commented on #1345
Yes. Actions.currentScene

[2017-07-10 12:35] omprakash1989 opened #2003 "undefined is not a function (evaluating '_reactNativeRouterFlux.Actions.create')"
Hey...I am getting the above error while I am trying to create scenes and use it in Router.
I have added the code below.

My scenes.js

[code]

index.js

[code]

Can anyone help me here?

[2017-07-10 12:37] aksonov commented on #2003
Please check 'breaking changes' first and search before create new issues  #1992

[2017-07-10 12:37] #2003 closed

[2017-07-10 12:43] omprakash1989 commented on #2003
@aksonov: Sorry...my bad.

[2017-07-10 13:31] aksonov commented on #1974
@bragur Check beta.7, you could define it as Scene props for drawer now

[2017-07-10 14:23] shiqian123 opened #2004 "v4 Actions.popTo() is not function when I run Example"
when I in login3 page click go Root  is error
<img width="355" alt="fe734203-f588-4ec7-9dab-898814941ee2" src="https://user-images.githubusercontent.com/9497069/28022680-6f8b0cbe-65be-11e7-94f0-cd6d59b4df47.png">

[2017-07-10 14:32] aksonov commented on #2004
Please check your version, it should be fixed within 4.0.0-beta.7

[2017-07-10 14:52] aksonov commented on #2001
My talk proposal
https://gist.github.com/aksonov/e2d7454421e44b1c4c72214d14053410

[2017-07-10 14:53] aksonov commented on #1974
My lighting talk proposal about RNRF v4 version:
https://gist.github.com/aksonov/e2d7454421e44b1c4c72214d14053410

[2017-07-10 16:49] alexchia commented on #1987
@aksonov thanks for so quickly pushing a fix!

could you deploy it to npm so I can test it with the complex Scene hierarchy I have in my app right now?

[2017-07-10 16:51] alexchia opened #2005 "disabling panHandlers"
Can you provide some guidance on how to disable panHandlers in this new version of react-native-router-flux?

The current swipe right to dismiss feature is very disruptive to my app flow.

If you could provide some guidance on how to implement a CustomNavigator etc, I would be glad to submit a PR to show this could be done in Example.

[2017-07-10 16:51] aksonov commented on #1987
It should be deployed already

[2017-07-10 16:53] aksonov commented on #2005
panHandlers set to null should work for beta.7

[2017-07-10 16:55] alexchia commented on #1987
works great in beta7. amazing work!
thanks @aksonov

[2017-07-10 16:55] #1987 closed

[2017-07-10 16:58] alexchia commented on #2005
okay i can confirm that works.
please include in future documentation.

[2017-07-10 16:58] #2005 closed

[2017-07-10 17:21] aksonov commented on #1991
Please check latest beta.7

[2017-07-10 19:41] warrenronsiek commented on #1999
@aksonov, thank you, you are a hero. Problem resolved by:

1. Wrapping all scenes with a 'root' scene.
2. Replacing `ActionConst.REPLACE` with `ActionConst.replace`, 'RESET' with 'reset' etc.

Correct router config:
[code]

Note that at the time of writing, the API_CONFIGURATION.md file indicates that ActionConst actions should be all upper case.

[2017-07-10 19:41] #1999 closed

[2017-07-10 23:33] jaumebosch commented on #1991
tested on beta7

navigationBarStyle={[STYLES.navBar]} -> working
navigationBarTitleImage={require('../img/logo.png')} -> working!!
navigationBarTitleImageStyle={[STYLES.navBarLogo]} -> working!!
drawerImage={require('../img/burger.png')} -> not working

I've notice on beta6 that the drawerImage import on navBar.js isn't used anywhere

[2017-07-10 23:44] jaumebosch commented on #1996
activeBackgroundColor works, but with tabBarSelectedItemStyle you could also set the active text color.
Another thing we've lost is the that the property "title" now is rendered as a subtitle in small font size at the bottom of the tab. If we don't set an icon, the title must be rendered at the middle of the tab in normal font size

[2017-07-11 00:18] shiqian123 commented on #2004
@aksonov  when I used 4.0.0-beta.7 it is can login3 to login ,but  login3 to Root ,it is still error,it is died,
<img width="774" alt="3b39d4b2-aacb-4b45-8f41-ab16026dc123" src="https://user-images.githubusercontent.com/9497069/28045718-61295380-6611-11e7-9c22-9471231a81e3.png">
   "react-native": "0.44.0",
    "react-native-router-flux": "^4.0.0-beta.7",
    "react-navigation": "^1.0.0-beta.11"

[2017-07-11 01:05] AlmogRnD opened #2006 "Disable gesture back action"
In V4 it would be good there was an option to disable the gesture back button for a specific scene. For example, I have my user login scene and then my home scene once a user login he is taken to the home scene but then he can gesture back to the login.

[2017-07-11 01:08] AlmogRnD opened #2007 "_reactNativeRouterFlux.Actions.Teams is not a function"
I have my tabs and within tabs, I have a home scene and within that, I have a team scene

Here is my code

[code]

But I can't navigate to the team's view/scene

I have  Actions.Teams(); which is throws that error.

I need to have the team view part of the home stack and not a sperate tab.

[2017-07-11 01:11] AlmogRnD commented on #2004
+1 but I'm on beta 6, couldn't update for some reason

[2017-07-11 01:14] AlmogRnD commented on #2001
I started with React Navigation and had lot's of issues getting it up and running mostly due to lack of good documentation for complex examples and use cases. I also had different bugs. With all that I also got the very little support I even sent feedback about and question why FB made React Navigation the official router lib, I don't think it should be.

I see React Native Router as a wrapper ove

[2017-07-11 01:18] AlmogRnD commented on #1996
I'm having issues setting icons per tab, does anyone have an example of this with V4?

[2017-07-11 01:34] AlmogRnD opened #2008 "Failed at the react-native-router-flux@4.0.0-beta.7 postinstall script 'opencollective postinstall'."
Can't install the package

~/Full-Time-Employment/Construction-Cloud/RnD/CCMobileApp(branch:development*) » npm i react-native-router-flux --save                            Almog@Almogs-MacBook-Pro

sh: opencollective: command not found
npm WARN enoent ENOENT: no such file or directory, open '/Users/Almog/Full-Time-Employment/Construction-Cloud/RnD/CCMobileApp/node_modules/react-native-drawer-layo

[2017-07-11 01:35] AlmogRnD commented on #2008
beta v6 works - npm i react-native-router-flux@4.0.0-beta.6 --save

[2017-07-11 02:32] igorarkhipenko commented on #1996
Seems like `leftButtonTextStyle` and `backButtonTextStyle` don't work either as for me. Can someone approve that?

[2017-07-11 04:35] igorarkhipenko commented on #1991
Seems like `leftButtonTextStyle` and `backButtonTextStyle` props don't work either. Can someone approve that?

[2017-07-11 04:57] MiLeung opened #2009 "undefined is not an ovject (evaluating '_react.PropTypes.string')"
I get this error and it points to this node module in src/Scene.js

I looked at the file and it's still using React.PropTypes and not import PropTypes from prop-types.  That might be part of the problem.

[2017-07-11 06:30] alexchia commented on #2006
you can put panHandlers={null} in a parent/root Scene to disable this behavior.

[2017-07-11 06:32] aksonov commented on #2009
Please check 4.0.0-beta.7, I don't see usage of React.PropTypes

[2017-07-11 06:32] #2009 closed

[2017-07-11 06:32] aksonov commented on #2008
@xdamman Could you look at it?

[2017-07-11 06:37] aksonov commented on #2004
@shiqian123 Please update Example too, there was error - popToRoot should use `popTo('launch`)` not `popTo('root')`

[2017-07-11 06:40] aksonov commented on #1991
@jaumebosch `drawerImage` should work, I've just checked:
` <Scene key="drawer" drawer contentComponent={TabView} drawerImage={require('./images/back_chevron.png')} >`
I see 'chevron' instead of 'burger'
Maybe you didn't set it for drawer Scene but for inner tabs?

[2017-07-11 06:43] AlmogRnD commented on #2006
I just tested panHandlers={null} and it does not work, @aksonov can you reopen this.

[2017-07-11 06:45] aksonov commented on #2007
Duplicate of #1988. You have to use custom `navigator` for container Scenes. It is not difficult, just check LightboxNavigator.js as part of RNRF.

Within V4 if you Scene has `component`, then it is CHILD.

[2017-07-11 06:50] aksonov commented on #1996
@AlmogRnD Check Example - you could pass your React element as `icon` for tabs.

[2017-07-11 06:50] AlmogRnD commented on #2007
Were is LightboxNavigator.js?

[2017-07-11 06:52] aksonov commented on #2007
https://github.com/aksonov/react-native-router-flux/blob/master/src/LightboxNavigator.js

[2017-07-11 07:03] AlmogRnD commented on #2007
I'm not sure I fully understand what would be the content of doing this in react-native-router-flux? Is there any docs around this?

[2017-07-11 07:23] aksonov commented on #2007
Docs will come later, but for this case I could document it here - LightingboxNavigator is clear example of custom container - it displays main view and other 'active' view as overlay - useful for popups. You may copy code and modify how you need - display all children at once, for example, etc. Then pass it as `navigator` prop for container Scene.

[2017-07-11 08:09] aksonov commented on #2008
@AlmogRnD Please try yarn `yarn add react-native-router-flux@4.0.0-beta.7`
@xdamman may fix it for npm, for next beta, I guess...

[2017-07-11 08:10] #2004 closed

[2017-07-11 08:45] AlmogRnD commented on #2007
Well, it works the same with redux and also I still want the tab for home to show up for teams IE teams is under home?

This seems a bit overkill and over complex, it would be nice to have a much easier way to call child views maybe something like Actions.Child(Teams); and just register it under home just a suggestion.

Right now I don't fully understand LightingboxNavigator? Also If I understand

[2017-07-11 08:47] AlmogRnD commented on #2007
I guess I need to see an example or code for "Then pass it as navigator prop for container Scene."

The example code you have don't show this, are there complex examples showing nested scenes

[2017-07-11 08:52] aksonov commented on #2007
[code]

or you may just try lightbox already:

[code]

This way it will display Home and after Actions.Teams it will display Home & Teams as overlay.

[2017-07-11 09:10] AlmogRnD commented on #2008
@aksonov thanks, Yarn works

[2017-07-11 09:13] jaumebosch commented on #1996
But if you don't set an icon, the text must be centered and bigger, mustn't it?

[2017-07-11 09:13] AlmogRnD commented on #2007
MainNavigator is the same code as LightboxNavigator? If I think I'm starting to understand.
I'm also glad to help with documentation or examples especial on things that I'm doing

[2017-07-11 09:16] jaumebosch commented on #1991
yep! I was setting once per scene, instead in the drawer scene.
Almost perfect!, but the icon is too low, is there any way to pass a "drawerImageStyle" ??

[2017-07-11 09:17] aksonov commented on #2007
Yes, feel free to submit PR. Have you tried second way (Lightbox) ?

[2017-07-11 09:19] aksonov commented on #1996
I don't know what is the must, it is default ReactNavigation behaviour. As I see it allows to pass your own tabbar component, just check. Maybe you could help with docs about Tabbar customization with v4.

[2017-07-11 09:25] AlmogRnD commented on #2007
I have tried the following

[code]

When I click any one of the tabs i.e. like photos I get the following error
<img width="386" alt="screen shot 2017-07-11 at 2 24 40 am" src="https://user-images.githubusercontent.com/169507/28061636-23e52b60-65e0-11e7-919f-4cf8c4c88642.png">

[2017-07-11 09:27] aksonov commented on #2007
It is strange, could you fork and reproduce it with Example?

[2017-07-11 09:28] AlmogRnD commented on #2007
I also tried this

[code]

Which works fine, so I would say it's not working inside tabs

[2017-07-11 09:30] aksonov commented on #2007
Could you check Example, put Error popup link inside Tabs. If it doesn't work, please create issue and I will try to fix

[2017-07-11 09:32] AlmogRnD commented on #2007
I also tried it this way and it did not work

[code]

[2017-07-11 09:32] AlmogRnD commented on #2007
Does lightbox load a model? or it loads a page/view just like home?

[2017-07-11 09:38] AlmogRnD commented on #2007
I can't even run example not sure what's going on first time seeing this error

<img width="393" alt="screen shot 2017-07-11 at 2 37 21 am" src="https://user-images.githubusercontent.com/169507/28062199-017ad172-65e2-11e7-9aef-893f2812566f.png">

[2017-07-11 09:42] aksonov commented on #1991
Was it supported within v3? Maybe you could list other missed nav bar properties too there.

[2017-07-11 09:43] aksonov commented on #2007
Cancel your packager, probably it is already run for other app…

[2017-07-11 09:52] AlmogRnD commented on #2007
Yea fixed it deleted the comment, it's 3am here :)

What I don't understand is in the example you have this working and when I do the same thing it's not.

[2017-07-11 09:52] AlmogRnD commented on #2007
The only difference is I'm using Redux can that be causing the issue?

[2017-07-11 09:59] AlmogRnD commented on #2007
@aksonov I was able to recreate the issue in the example code this is the example code

[code]

I removed
<Scene key="modal" modal hideNavBar>
<Scene key="drawer" drawer contentComponent={TabView} >

[2017-07-11 10:07] aksonov commented on #2007
Have you tried to popup Error from tab and got error?

[2017-07-11 10:09] AlmogRnD commented on #2007
Here is the gist of the example file - https://gist.github.com/AlmogRnD/a395e6212d702d151d23e4661b68e5fa

and same error
<img width="403" alt="screen shot 2017-07-11 at 3 08 13 am" src="https://user-images.githubusercontent.com/169507/28063560-532f2d48-65e6-11e7-8dbb-d0faa65a7ffa.png">

[2017-07-11 10:24] jaumebosch commented on #1991
you're right
I've check again on V3 documentation and I can use "leftButtonIconStyle", which also applies to drawerImage

[2017-07-11 10:29] jaumebosch commented on #1991
I think we can close it, everything resolved!

[2017-07-11 10:29] #1991 closed

[2017-07-11 10:30] zhan1128 opened #2010 "when i created a WiFi hotspot, and my tabBar was pushed down"
![Uploading WX20170710-193720@2x.png…]()
when i  create a WiFi hotspot,  and my tabBar  was pushed down！  like the photo。
can u give some advice. thanks
dependencies:
"react": "16.0.0-alpha.3",
"react-native": "0.43.4",
 "react-native-router-flux": "3.37.0",

[2017-07-11 10:31] aksonov commented on #2010
v3 is not supported anymore, sorry.

[2017-07-11 10:31] #2010 closed

[2017-07-11 12:31] aksonov commented on #2007
And where is tab2_2 within your gist?

[2017-07-11 12:31] #2007 closed

[2017-07-11 12:49] AlmogRnD commented on #2007
Yes that is my mistake but it still does not with within my code only difference is I'm using redux

I have it wrapped up in

[code]

[2017-07-11 12:51] AlmogRnD commented on #2007
My code is the same as the example code expect the provider and connect router

here it is

[code]

[2017-07-11 12:52] aksonov commented on #2007
See my message above:

[2017-07-11 12:56] astulip commented on #1994
Hard work, it is already possible.

[2017-07-11 13:11] AlmogRnD commented on #2007
So the only way is to use Custom Navigators but then why doesn't the lightbox work, if I wrap it inside that it should work?

Also If I create Custom Navigators how do I define "static router = MyRouter;"?

Also, I copied LightboxNavigator.js and I get the following error
<img width="371" alt="screen shot 2017-07-11 at 6 10 16 am" src="https://user-images.githubusercontent.com/169507/28069821-ae08

[2017-07-11 13:41] Venumteam opened #2011 "Drawer children is not defined"
Hey, guys, I was faced with the troubles with Drawer on v4 beta 7, Drawer children don't exist anymore like it was in v3 with state.children. For now this.props don't contain react children.
Here is my scenes structure:
https://pastebin.com/szy2bBHp

[2017-07-11 14:55] aksonov commented on #2011
@Venumteam Please check 'Breaking changes' section.

[2017-07-11 15:08] quarryman commented on #2011
@aksonov Are you referencing this change?

[2017-07-11 15:10] aksonov commented on #2011
Yes

[2017-07-11 15:38] compojoom opened #2012 "Crash when hiding the tabbar"
I'm thinking of migrating my v3 project to v4 and I was looking at the demo.
I discovered that if I hid the tabbar then using the "switch to tab" causes a crash.

undefined is not a an object (evaluating component.setNativeProps

Here is a branch with the change I did.
https://github.com/compojoom/react-native-router-flux/tree/crash-undefined

In my case I want to hide the tabbar and render one my

[2017-07-11 15:44] aksonov commented on #2012
Is it similar to https://github.com/react-community/react-navigation/issues/1584 ?

[2017-07-11 16:48] compojoom commented on #2012
Ah ok. Seems to be the same issue.

[2017-07-11 16:56] xdamman commented on #2008
Thanks for bringing my attention to this. What node version are you using? On a Mac?
I cannot reproduce it yet.
This is what I see ![](https://cl.ly/0t3p2S3y3s1z/Screen%20Shot%202017-07-11%20at%206.19.07%20PM.png)

[2017-07-11 16:56] aksonov commented on #2008
Mac, npm 4.2.0

[2017-07-11 16:59] xdamman commented on #2008
and actually all the answers to my questions where in the log above ¯\_(ツ)_/¯
node v6.9.5
npm v3.10.10

Still digging into this.

[2017-07-11 17:03] xdamman commented on #2008
works for me with node v6.95 and npm v.3.10.10 🤔
and `opencollective` is not in my PATH. Not sure what else I can try...

[2017-07-11 17:08] xdamman commented on #2008
So basically, this means that somehow it didn't link `./node_modules/.bin/opencollective` to `./node_modules/opencollective/dist/bin/opencollective.js` OR that it doesn't add automatically `./node_modules/.bin/` to the PATH when running npm install.

[2017-07-11 18:16] quarryman commented on #2011
@aksonov Is there a chance you guys will give an example of usage?

Given we have a structure
<Scene key='drawer' type={} component={NavigationDrawer} open={false}>
  <Scene />
  <Scene />
</Scene>

NavigationDrawer component was rendering children.
What must it render since new version?

[2017-07-11 19:03] quadsurf commented on #2001
@Maxwell2022 this should help when comparing the two of them...

1. react native router flux (RNRF) is more mature and less buggy (only 7 out of ~1600 issues are open, versus reactNavigation that has 75% of their ~1000 issues that are still open (not production worthy, and unacceptable in my opinion))

2. if you're just a programmer, reactNavigation is a great choice, but if you're a programmer an

[2017-07-11 22:28] quadsurf commented on #1033
@boghbogh you get that error when you attempt to install deps and run the app from the root dir...

just cd into the /Example/ dir, install deps, then run it, and you will see the app run without that error

[2017-07-12 03:40] colorfulberry opened #2013 "TabBarIcon can not call class as a funtion"
![image](https://user-images.githubusercontent.com/8124046/28100788-da35be40-66f6-11e7-8d1c-0e271e8173a2.png)
code
[code]
And if we will not support an class with TabIcon?

[2017-07-12 04:13] Maxwell2022 commented on #2001
it was not just for me but for everyone. Maybe this should be added in the README

[2017-07-12 06:17] aksonov commented on #2013
Use stateless function instead. It seems requirement from ReactNavigation and I agree - icon should not maintain any state.

[2017-07-12 06:17] #2013 closed

[2017-07-12 06:20] aksonov commented on #2011
v4 uses built-in react navigation Drawer navigator. Please use `contentComponent` for SideMenu component, remove `component` attribute. Please check docs about DrawerNavigator from ReactNavigation.

[2017-07-12 06:30] aksonov commented on #2001
@Maxwell2022 Improving react-navigation instead?? Maybe you are joking, really. Just for experiment I submitted really useful PR https://github.com/react-community/react-navigation/pull/1999, it took 2 weeks (!) to complete review, I fixed all (!) suggestions from reviewers and after that one from authors said that my PR is not needed because he worked on 'refactoring' of navbar API! Huh, probably

[2017-07-12 06:32] aksonov commented on #2001
And yes, docs are harder part to maintain, especially for open source projects. The problem that most community prefer just to use open source without any contribution.

[2017-07-12 06:44] igorarkhipenko opened #2014 "Navbar props don't affect on back button style"
Neither `leftButtonTextStyle` nor `backButtonTextStyle` do make any changes for me, but titleStyle does. Can someone approve that behavior?
[code]

[2017-07-12 07:01] aksonov commented on #2014
@igorarkhipenko Just try 'color', not 'tintColor' because it is usual style applied to Text element.

[2017-07-12 07:08] igorarkhipenko commented on #2014
@aksonov I forgot to mention that I've tried 'color' before as well as the same prop assigned to `rightButtonTextStyle` with component `rightButton={<Text>right</Text>}`.
<img width="313" alt="screen shot 2017-07-12 at 10 07 08 am" src="https://user-images.githubusercontent.com/24496348/28105821-ebbf3748-66e9-11e7-933b-6eabdf4403e2.png">
Am I doing something completely wrong?

[2017-07-12 08:03] aksonov commented on #2014
1. I've just set `leftButtonTextStyle={{ color: 'red' }} backButtonTextStyle={{ color:'red' }}` to Example 'root' element and definitely see red colours for Login 'Cancel' button.

2. Sure it will not work because rightButton is complete component for right Button. Try `rightTitle` instead.

[2017-07-12 08:22] #2014 closed

[2017-07-12 08:24] aksonov commented on #2007
I don't see your code. Please give me link to fork of Example to reproduce.

[2017-07-12 08:25] aksonov commented on #2007
I added Redux wrapper and Example works without any problem

[2017-07-12 10:27] AlmogRnD commented on #2002
@aksonov I just tested gestureEnabled={false} and it's not working

[2017-07-12 10:28] AlmogRnD commented on #2007
@aksonov can you send me the example you have with redux would be glad to look at and see why it's not working for me

[2017-07-12 11:17] aksonov commented on #2002
Check Example tabs

[2017-07-12 11:19] aksonov commented on #2007
Sorry, I didn't store it - it was empty reducer (store), Provider and connected Router, nothing special. Please send me link to your Example fork and will try to run.

[2017-07-12 12:12] Venumteam commented on #2011
this helps https://github.com/aksonov/react-native-router-flux/blob/v4/Example/Example.js
thanks for your feedback

[2017-07-12 12:24] compojoom opened #2016 "Moving to a new scene pushesh navbar to the previous scene"
The title might be confusing but stay with me :)

I have this v3 project that I'm migrating to v4.

In most of my views I've opted for custom navbar that I render myself in the component. This navbar display more information than just text. I needed to have several nested components. Anyway.

with v4 I'm noticing the following behavior.

Whenever I have a transition from a scene A that has a custo

[2017-07-12 12:26] aksonov commented on #2016
Could you reproduce it with Example project? I need gif and link to fork of Example

[2017-07-12 12:41] compojoom opened #2017 "actions[type] is not a function"
I have this code with v3:
[code]

and I have a scene that calls Actions.companies({refresh: { goBack: true }})

that was working fine on v3, but on v4 I get actions[type] is not a function.

If I remove type={ActionConst.BACK}, then I no longer get the error, but the scene transitions from the wrong side. It seems like it's being added on the stack, but it should behave like pop() - removing the c

[2017-07-12 12:49] AlmogRnD commented on #2007
I can't send the current project, but it's not working you see the error message and you see my code its exactly like the example

[2017-07-12 12:51] aksonov commented on #2007
So just fork Example add Redux there and send me the link. I don't have time to create new projects and experiment, sorry.

[2017-07-12 12:59] quarryman commented on #2017
try using type={'back'} instead.

[2017-07-12 13:02] aksonov commented on #2017
Not 'back', but 'pop'. I'm not sure about support of 'refresh' inside pop. Could you just raise two actions?

[2017-07-12 13:04] compojoom opened #2018 "Constant rerendering of scenes in the stack."
I just noticed that if you a transitioning to a new scene the re-render method of your component will be called for each component in the navigation stack.

This can easily be reproduced. Just add
console.log('rerender: launch');
to the launch.js file in the example and
console.log('rerender: login');
to the login.js

then navigate around. You'll notice that with each navigation the rererender: lo

[2017-07-12 13:17] compojoom commented on #2017
yep, it's pop and not back. But if I do use type={'pop'} navigating to this scene behaves like pop -> it just pops the last scene from the stack.

And since on the scene I am I have a tabbar -> when you navigate between the tabs and then hit the actions.companies() buttons you first switch between the tabs and once they are off the stack you navigate back to hte companies page. And I just want to

[2017-07-12 13:19] aksonov commented on #2017
You should pass child scene to pop to, not container one.

[2017-07-12 13:19] compojoom commented on #2017
okaay, so adding type={'popTo'} to the scene seems to work fine.

Using Actions.popTo({scene: 'companies'}) seems to cause the endless loop

[2017-07-12 13:29] AlmogRnD commented on #2007
Ok I was able to recreate the issue within the example project attached code base - https://www.dropbox.com/s/f7cfrvsllaqd054/Example.zip?dl=0

Here is the issue
<img width="390" alt="screen shot 2017-07-12 at 6 27 13 am" src="https://user-images.githubusercontent.com/169507/28119941-675ed06c-66cb-11e7-9cd2-dce75d9721a3.png">

[2017-07-12 13:37] AlmogRnD commented on #2007
I think in your example that is working, the reason that it's working is because you're loading the same component TabView

In the code I sent I'm loading different components

[code]

[2017-07-12 13:38] aksonov commented on #2007
Why you can't just fork github project?
Anyway I don't see any Redux there.
And I told several times "Within V4 if you Scene has component, then it is CHILD.", Home here is CHILD, so Login inside is not processed. Why are you doing that?

[code]

[2017-07-12 13:53] AlmogRnD commented on #2007
@aksonov hi you have great and I really appreciate you taking the time and helping. And I plan on helping with docs or tutorials. I have to say your explanation just wasn't clear maybe it's because I'm working late or we were both thinking of different things when referring to something.

Also, I'm not sure why you couldn't have to sent a something like this
[code]
The issue was that I did not hav

[2017-07-12 14:22] aksonov commented on #2018
Could you please check that PR:
https://github.com/aksonov/react-native-router-flux/pull/2015 ?

[2017-07-12 14:23] aksonov commented on #2017
Because 'companies' is not child.

[2017-07-12 14:23] #2017 closed

[2017-07-12 14:23] #2011 closed

[2017-07-12 15:17] cadudragon opened #2019 "rightTitle / leftTitle"
rightTitle and leftTitle  doesnt show in (Android Emulator)

I've tried in my project than in the repository example:

[code]

[2017-07-12 15:43] aksonov commented on #2019
Where is onRight? I don't see any leftTitle

[2017-07-12 15:58] cadudragon commented on #2019
rightTitle only works with onRight?
I've changed my project and still don wokrs.

Let me show my cenario.
This is my Router Component:

[code]

I'm trying to use rightTitle in the  key Scene and doesnt show:
![image](https://user-images.githubusercontent.com/10310408/28126852-1dcc3008-6701-11e7-944f-bf3656a9b3ba.png)

Am I doing somenthing wrong?

For now I'm using renderRightButton instead of rig

[2017-07-12 16:01] aksonov commented on #2019
Could you try PR #2015 ?

[2017-07-12 16:52] cadudragon commented on #2019
I'm still newbie with git and npm, but I think I've done right:

npm install aksonov/react-native-router-flux#pull/2015/head
My dependencies look like this:
![image](https://user-images.githubusercontent.com/10310408/28129243-02305902-6709-11e7-9b8f-2abca787d2ae.png)

After rerun the rightTitle still not appearing

[2017-07-12 16:58] aksonov commented on #2019
I can't reproduce. Please check Example from that PR, I've just committed rightTitle for Login Page and see it normally.

If you see it but don't see within your project, fork Example and try to reproduce it with Example.

[2017-07-12 17:01] luco opened #2020 "Using modal properly"
Hey guys, great work you've done on router flux. It's amazing and handy.
I have a simple question based on the new `v4` release.

I'm trying to use the new modal flow. When I set my `root` scene as `modal` and the child as a card, it duplicates the `navbar`. So I tried to hide the navBar and display it on card, but it still hidden on my modal view.

My router:

[code]
I already tried to set `hideN

[2017-07-12 17:06] aksonov commented on #2020
Please check Example project. There is modal Login with own navbar.

[2017-07-12 17:09] aksonov commented on #2008
@xdamman Could we just run ./node_modules/.bin/opencollective instead to avoid that?

[2017-07-12 17:30] luco commented on #2020
Oh, sorry. Thank you.
Now it's working as expected.

[2017-07-12 17:32] xdamman commented on #2008
Does it work for you locally when you change the postinstall script to that command? (I couldn't reproduce the issue so cannot test)

[2017-07-12 17:43] #2020 closed

[2017-07-12 17:44] aksonov commented on #2008
@xdamman Yes, it works. I've just submitted it to PR #2015

[2017-07-12 18:16] xdamman commented on #2008
Good to know that it solved the issue. That's weird that somehow npm is not considering ./node_modules/.bin as a source of executable files in your setup (but it does in mine). Curious if others have the same issue.

Thanks for spending the time to figure this out 👍

[2017-07-12 18:52] compojoom commented on #2018
wow! my app seems fast again! Thanks, it seems that the re-rendering issue is gone.

[2017-07-12 18:52] #2018 closed

[2017-07-12 20:24] safurabahrami opened #2021 "How can we show component in the TabView?"
I want to show my component by selecting a tab, How can I have this? It was easy to implement in v3 but not clear in v4! I want to fetch data in my componenetDidMount but it is not fired when I am switching between tabs.

[2017-07-12 21:06] abdulmalik97 commented on #1458
You can render the Component by using redux and its reducers, change the state of one of the parameters and it automatically renders the component after we pop out of the child screen.

[2017-07-13 05:58] mswokk opened #2022 "Cannot close Modal and Scene at once from inside of the Modal"
I'm using react-native-router-flux : 3.40.1

**Scenario and expected result.**
I have a stacked scene and before pop this scene (using Actions.pop()),
I show a confirm Dialog using Modal from react-native-router-flux.
On OK press in the Dialog, I want to close Dialog (Modal) and pop the Scene at once.

**Actual result**
Actions.pop() dismisses the Dialog but not Scene.

**My code structure**
Same

[2017-07-13 06:00] aksonov commented on #2019
Should work with v4 beta.8

[2017-07-13 06:00] aksonov commented on #2008
Should be fixed with v4 beta.8

[2017-07-13 06:00] #2008 closed

[2017-07-13 06:01] aksonov commented on #2022
Sorry, v3 is not supported.

[2017-07-13 06:01] #2022 closed

[2017-07-13 06:02] aksonov commented on #2021
You may add `lazy` attribute to tabs Scene for lazy creation of tabs.

[2017-07-13 06:04] timwzou commented on #1539
any solution without updating to V4? I can not update to the new version at present.
btw, does anyone know the cause of the issue?

[2017-07-13 06:11] safurabahrami commented on #2021
Thank u for your response, The other question is with this lazy attribute the componentsDidMount is fired just once on the first load, what if my data changes and I need to fire componentDidMount again?

[2017-07-13 06:28] compojoom commented on #2016
I'm closing this for now as I can't reproduce it in an example project. Once I figure out what's going on and if it is reproducible I'll open a new issue.

Thanks for your help!

[2017-07-13 06:28] #2016 closed

[2017-07-13 06:39] compojoom commented on #2016
Actually just found what's going on. For other having the same issue check out the headerMode for your scenes. More info here: https://reactnavigation.org/docs/navigators/stack
headerMode - Specifies how the header should be rendered:

It seems that for my project the default was float and that's why when you render your own header the reactnativation pushes it down, because it doesn't know that y

[2017-07-13 07:25] compojoom commented on #2017
Why does companies need to be a child? It's a parent in this case and I would like to navigate back to the parent?

And what's with refresh now? Can we use it in v4 or not?
[code]
This doesn't seem to pass goBack as property to the previous scene. No matter if I use type={'popTo'} or not. It just doesn't seem to pass the property back to the previous scene. ComponentWillReceiveProps is never fired

[2017-07-13 07:41] aksonov commented on #2017
'Companies' is stack. Stack cannot be presented, you always see some child within the stack.
'refresh' inside pop looks a little bit strange, have you tried just two calls - popTo & refresh?

[2017-07-13 07:42] aksonov commented on #2021
`componenetDidMount` is not good place.
Use `on` (or `onEnter`) function for `Scene`. It will be run every time when scene is active.

[2017-07-13 07:52] compojoom commented on #2017
Sorry, I'm lost. I don't understand what you mean with " Stack cannot be presented, you always see some child within the stack."

companies is the first scene in the stack.
I discovered that I can remove the type={'popTo'} from the scene definition. The way then to popTo this scene is by using
Actions.popTo('companies')
instead of v3 syntax
Actions.popTo({scene: 'companies'})

unfortunatly passing

[2017-07-13 07:56] aksonov commented on #2017
Have you tried `Actions.popTo('companies');Actions.refresh({data});` ?

[2017-07-13 07:59] compojoom commented on #2017
Yep,that also seems to work.
Are those 2 the same in behavior? Calling refresh on actions is somehow strange for me as I don't know on which scene the refresh is going to be called.

[code]

[code]

[2017-07-13 08:03] aksonov commented on #2017
On current scene. After `popTo` currentScene is changed.

[2017-07-13 08:32] quarryman opened #2023 "Navigation 'back' button won't render on Android for scenes with 'back' attribute."
Issue can be reproduced on Example project.

Given we have scene with 'back' attribute passed
`<Scene key="echo" back clone component={EchoView} getTitle={({navigation}) => navigation.state.key}/>`

Router renders 'back' button for iOS (top left corner)

<img width="316" alt="screen shot 2017-07-13 at 11 07 43 am" src="https://user-images.githubusercontent.com/1093040/28156958-7bdf5e2e-67bd-11e7-8

[2017-07-13 08:38] safurabahrami commented on #2021
Is it possible to give me an example of that?
I was looking at source code (NavigationStore.js) and saw that we have just
params in onEnter. So How can I set state or props for my component from
scene within onEnter?

On Thu, Jul 13, 2017 at 12:42 AM Pavel Aksonov <notifications@github.com>
wrote:

--
Sent from My iPhone :D

[2017-07-13 10:39] AlmogRnD opened #2024 "Component renders twice / showing up in nav bar twice"
This is a wired issue, not sure why it's happing but it looks like the my home component is getting rendered twice attached gif as you can see the nav bar has home twice and you can go back to home even though
![nav-bar-issue](https://user-images.githubusercontent.com/169507/28162675-c81e5e20-677c-11e7-96ee-84cb1f9a0052.gif)
 home is the first view.

My code
[code]

[2017-07-13 11:05] aksonov commented on #2024
Please always mention version

[2017-07-13 11:15] AlmogRnD commented on #2024
No problem "react-native-router-flux": "4.0.0-beta.7",

[2017-07-13 11:29] MehranJanfeshan commented on #50
any update on this? even if hide the nav still takes some space there

[2017-07-13 11:41] aksonov commented on #2024
Always try latest one before creating of issue ;) Please check with beta.8

[2017-07-13 11:42] aksonov commented on #50
@MehranJanfeshan Are you talking about v4 version?

[2017-07-13 12:08] AlmogRnD commented on #2024
Same issue with 8

[2017-07-13 12:11] aksonov commented on #2024
Could you reproduce it with Example? Have you added console logs and see re-rendering several times?

[2017-07-13 12:17] AlmogRnD commented on #2024
I did that was the first thing I check as you can see it renders twice
<img width="1164" alt="screen shot 2017-07-13 at 5 17 15 am" src="https://user-images.githubusercontent.com/169507/28165889-991cda58-678a-11e7-81a4-eb34991a44a1.png">

[2017-07-13 12:18] aksonov commented on #2024
Ok, please reproduce with Example and latest beta.8

[2017-07-13 12:24] AlmogRnD commented on #2024
Isn't the example code outdated for version 4?

[2017-07-13 12:26] aksonov commented on #2024
Why? I've just increased dep to beta.8 if it is what you are saying.

[2017-07-13 12:45] AlmogRnD commented on #2024
My code is different than the example code more, I'm not going to rewrite the entire example to like mine and just because the example is not showing this issue does not mean it's not a bug.

And this is a bug

[2017-07-13 12:47] aksonov commented on #2024
Sorry, I can't guess the problem, I need to see the code. All I see from screenshot is some weird navbar transition and it could happen because of hidden navbar for tabbar. For such cases look at `headerMode` setting for RN StackNavigator - 'screen' maybe better ('float' is used by default)

[2017-07-13 12:52] AlmogRnD commented on #2024
I debugged the issue, I don't think we need to create examples for each issue if you look at the code that should help, this is how StackOverflow works when you ask for help.

This is definitely a bug

If I'm for example a login screen and have
`Actions.Home();`

Which is a component inside a tab bar, the first one you get that issue because the lib loads the tab bar and the home component.

 If y

[2017-07-13 12:57] aksonov commented on #2024
Then try to fix it my yourself - RNRF is just wrapper around react-navigation and build all screens for you. As far as I can see when you are calling Actions.Home - you are telling react-navigation to PUSH Home - but Home is already exist as start screen, so you will have two screens as the result

[2017-07-13 13:01] AlmogRnD commented on #2024
I already fixed it, just did Actions.tabBar();

[2017-07-13 13:03] aksonov commented on #2024
That is why I said. So it is not bug, but incorrect usage.

[2017-07-13 13:09] AlmogRnD commented on #2024
No, I still think it's a bug, but you can explain.

I have a 3 tabs each have 1 view component

How do I navigate between tabs because if I do

`Actions.Photos();`

The second tab it loads the photos component tab twice

[2017-07-13 13:11] AlmogRnD commented on #2024
To follow up it seems that if your component is inside a tabs scene and you use Actions.xx to call it for some reason it loads that component twice

[2017-07-13 13:39] AlmogRnD opened #2026 "Tabbar Navigation always goes back to the last screen"
I'm version 8 beta
I have a tabbar
Tab 1
 - Home
 - Teams
Tab 2
  - Photos

If I'm on the teams view and move onto the photos view and then click on the tab 1 I'm taken to the teams view the last view I was on, but I should be taken to the home view which is the first view for tab 1.

![bug](https://user-images.githubusercontent.com/169507/28169040-f3d35cfa-6795-11e7-8ed7-265b187a3034.gif)

[2017-07-13 13:40] AlmogRnD commented on #2024
Can you reopen this, it's definitely an issue. Did you understand how it's happing

[2017-07-13 13:41] aksonov commented on #2024
As I said RNRF is just wrapper.
Is it similar to https://github.com/react-community/react-navigation/issues/476 ?

[2017-07-13 13:54] AlmogRnD commented on #2024
@aksonov I understood that I was saying we should keep it open until 476 is fixed

[2017-07-13 14:44] aksonov commented on #2024
Please try PR #2025, I did some workaround

[2017-07-13 14:55] justuseapen commented on #704
@aksonov Does V4 address this issue?

[2017-07-13 15:14] aksonov commented on #704
It is not difficult to add for v4, but nobody requested. If you need it, create new issue.

[2017-07-13 15:24] aksonov commented on #2026
It seem ReactNavigation behaviour, but maybe I didn't understand issue.  I want to repeat, screenshots only are not helpful for me, I need runnable project also.

[2017-07-13 15:26] aksonov commented on #2023
@quarryman Sorry, I'm currently working with iOS app only. Could you debug and find where is the problem (probably within NavBar.js)? Maybe because of upper tabbar and absolute positioning?

[2017-07-13 15:49] aksonov commented on #2021
I don't know your use case. You may run `Actions.refresh` action from `onEnter` handler to change some properties

[2017-07-13 15:49] #2021 closed

[2017-07-13 16:10] AlmogRnD commented on #2024
Tried testing it, PR has an issue

[2017-07-13 16:22] MehranJanfeshan commented on #50
@aksonov Thanks for the reply, I got the version 4 but I am getting this error:

`[react-native-router-flux] props should be defined`

[2017-07-13 16:41] aksonov commented on #50
Check breaking changes first

[2017-07-13 16:45] MehranJanfeshan commented on #50
@aksonov I found that in the old version I was able to do this:
`<Router sceneStyle={{margin:0}} hideNavBar={true}>
      <Scene key="auth">
        <Scene key="login" component={AuthScreen}/>
      </Scene>
      <Scene key="main">
        <Scene
          onRight={() => Actions.auth()}
          rightTitle="Log out"
          key="newOrderList"
          component={EmployeeList}
          title=

[2017-07-13 16:48] aksonov commented on #50
I don't understand the problem. Please check Example and try to reproduce your issue there.

[2017-07-13 16:54] MehranJanfeshan commented on #50
here is my code that works perfectly in version 3 but when I upgraded to version 4 I got this error:
`[react-native-router-flux] props should be defined`
so I removed the part that is surrounded by the blue line and it works fine.
![image](https://user-images.githubusercontent.com/13583839/28177844-be5ef810-682e-11e7-8b70-cbe6528fd071.png)

[2017-07-13 17:02] aksonov commented on #50
Wrap it with one root scene.

[2017-07-13 17:05] MehranJanfeshan commented on #50
if I wrap it with one root scene then how I can control the back button? I do not want the user to be able to back to the login page, that' why I used to Scene.

[2017-07-13 17:07] aksonov commented on #50
It is not question about RNRF but more about your application structure. I guess you need to use `tabs` or disable back button (mark it with 'init' attribute) or use 'replace' type. Check Example.

[2017-07-13 17:07] aksonov commented on #50
Actually v3 just wrapped multiple scenes into one, so you will not see any back button (because you hide parent navbar)

[2017-07-13 17:09] MehranJanfeshan commented on #50
@aksonov Thanks for the help and thanks for the great job :)

[2017-07-13 17:43] AlmogRnD commented on #2026
Possible it's a ReactNavigation behavior but I didn't have this issue when I using React Navigation.
Let me explain
I have the home tab which has to two internal pages home and teams if I navigate to teams and then to the photos tabs and then click the home tab at the bottom the app goes or loads the teams component i.e. the last I was on it should load the home view.

[2017-07-13 17:50] quarryman commented on #2023
@aksonov I will take a look and tell if i can narrow it down.

[2017-07-13 17:53] luco opened #2027 "How to update TabBar icon on V4?"
I have a AsyncStorage which gives me info that I want to update on my Scene TabBar Icon.
How can I do it? Currently I set my TabBar item this way:

[code]

Let's suppose I want to change the value, or yet, render an Image. How can I update?
Thanks

[2017-07-13 18:47] luco opened #2028 "Color of Back Button Arrow"
I'm trying to change the color of back button arrow, but still not getting it.

[code]
The color of back button label I had success, but not on arrow.

Tips?

[2017-07-13 19:13] safurabahrami commented on #2021
​
I want to manage my drawer by going to drawerMng Scene but I get "FAILURE
NULL RES" as a result of my OnEnter function. How can I manage my drawer
from this tab?

On Thu, Jul 13, 2017 at 8:49 AM, Pavel Aksonov <notifications@github.com>
wrote:

[2017-07-13 20:15] d7laungani opened #2029 "null is not an object AppNavigator.router"
I was able to run the example app just fine but I am running to issues integrating with my own app.

The issue I get is 'null is not an object (evaluating 'AppNavigator.router)'. I saw in another issue some created regarding this problem that they solved it with something I am not using/defining as yet, which is the action for the route. I am using the TabView from the example app.

I inserted a s

[2017-07-13 20:39] aksonov commented on #2027
connect it to redux or mobx observer and change it when do you need. It is not about RNRF, even not about React Navigation...

[2017-07-13 20:39] #2027 closed

[2017-07-13 20:40] aksonov commented on #2029
You have to include Scene directly into Router, check Example.

[2017-07-13 20:40] #2029 closed

[2017-07-13 20:45] aksonov commented on #2026
It is about 'backBehavior' for TabNavigator. It is set to 'none' by RNRF:
https://reactnavigation.org/docs/navigators/tab
Maybe I will remove 'none' and use default value instead ('initialRoute') for beta.9

[2017-07-13 21:41] d7laungani commented on #2029
The <Routes/> line does import everything including this code, which has the scene like this.

[2017-07-13 22:14] AlmogRnD commented on #2026
I would suggest using initialRoute I believe that is more of the expected behavior

[2017-07-13 23:15] quadsurf commented on #1814
@niklas-palm this actually does work as expected... one caveat though, it only works if you have auth status predetermined (like on a prior screen)... if you are asynchronously determining auth status, it will not work since <Router> instantly needs children

[2017-07-14 03:14] luco opened #2030 "Scene onPress doesn't work anymore?"
I used to have an onPress on one of my Scenes, but is not working anymore.
[code]

Tips?

[2017-07-14 04:27] tikkichan4 opened #2031 "Swipe back with Vertical threshold"
For the swipe back function, i changed the pan handler as below to make the respond area bigger.
const RESPOND_POSITION_MAX_HORIZONTAL = Dimensions.get('window').width / 2;

However it still has a problem which is the swipe back gesture can only detect the swipe right gesture. When the user swipe with top-right, no any action will be taken.
![123](https://user-images.githubusercontent.com/18086245

[2017-07-14 04:35] ajilantang commented on #69
@aksonov  I'd be interested in helping you as contributors even I don't know how much time I have, but I would dedicate my time for fix some issue that I can fix. I'm using react-native-router-flux in production and I would like to help when possible.

[2017-07-14 06:09] aksonov commented on #2031
Sorry, v4 is just wrapper around ReactNavigation (v4), so probably you have to ask there.

[2017-07-14 06:09] #2031 closed

[2017-07-14 08:21] marcoj commented on #2001
@aksonov if ReactNavigation is hard to improve (because of slow PR merge and all) isn't that going to be a problem for v4?

[2017-07-14 08:25] aksonov commented on #2001
Many problems like navbar customization (like setting right/left navbar images), action processing (like added missed popTo) could be solved by RNRF.
But for some problems like #2012, yes, we have to wait fix. We could fork ReactNavigation and apply suggested PRs at the future (right, many PR solve problems but still not merged).

Anyway, v3 is based on obsolete react-native-experimental-navigatio

[2017-07-14 08:34] marcoj commented on #2001
Well I'm implementing the react-native-router-flux on a project right now and I'm keeping v3 for now. I tried V4 and it broke the whole thing.
I think I'll wait a bit for v4 to be a bit more mature and then I'll give it another go.
Meanwhile I'll create a side project to play around with v4 and see if I can be helpful in any way.

[2017-07-14 11:41] Rewieer commented on #2001
Here are my 2 cents.
I've been using RNRF in one of my project for quite a long time, and these are what I faced :
* transition were painful, I had many transition that would take quite a moment (until many seconds) before starting after pressing a button. And i've for sure used Interaction Manager.
* Routing hierarchy was hard to use. I often took hours before setting things right and be able to

[2017-07-14 15:01] aksonov commented on #2028
Please check beta.9

[2017-07-14 15:28] aksonov commented on #2030
Sorry, it was quite unclear syntax and it will not be supported by v4. v4 uses ReactNavigation TabNavigator as tabbar. You may pass own tabbar, please check TabNavigator docs.

[2017-07-14 15:29] aksonov commented on #2026
I've removed 'none' as back behaviour but don't see any changes. Maybe you could check ReactNavigation itself for desired behaviour.

[2017-07-14 15:37] AlmogRnD opened #2032 "Transform error with beta 9"
Just updated to  "react-native-router-flux": "4.0.0-beta.9",
getting the following error
<img width="393" alt="screen shot 2017-07-14 at 8 37 18 am" src="https://user-images.githubusercontent.com/169507/28219128-b6ae8374-686f-11e7-9668-98f05ff6aa78.png">

[2017-07-14 15:50] aksonov commented on #2032
Cannot reproduce on fresh install of Example

[2017-07-14 15:53] luco commented on #2028
@aksonov Thanks a lot!

[2017-07-14 15:54] luco commented on #2030
Ok, thanks for the feedback!

[2017-07-14 16:02] AlmogRnD commented on #2032
I just did yarn add react-native-router-flux@4.0.0-beta.9

maybe it only happens when you update but there is an issue

[2017-07-14 16:03] AlmogRnD commented on #2032
Same thing with npm install react-native-router-flux@4.0.0-beta.9 --save

[2017-07-14 16:11] aksonov commented on #2032
Try clean clone and run Example

[2017-07-14 16:13] AlmogRnD commented on #2032
I did yarn remove and then yarn add works now

[2017-07-14 16:13] #2032 closed

[2017-07-14 16:16] AlmogRnD commented on #2024
I can confirm this still happens with beta 9 and I'm on  "react-navigation": "^1.0.0-beta.11", I'm calling
 Actions.Photos(); which is inside a tab bar

[2017-07-14 16:22] aksonov commented on #2024
You should call direct tabs child

[2017-07-14 16:39] AlmogRnD commented on #2024
How do I do that? What is the code?

[2017-07-14 17:31] aksonov commented on #2024
Actions.tab2()

[2017-07-14 18:02] #2030 closed

[2017-07-14 18:20] luco commented on #2028
@aksonov Just updated. Tried all the options, but still not getting it:

[code]

[2017-07-14 18:42] aksonov commented on #2028
Sorry, did it only for right button.
Check now beta.10

[2017-07-14 19:29] d7laungani commented on #2029
Thanks. Issue Fixed !

[2017-07-14 19:57] d7laungani opened #2033 "Unable to change default background color of gray"
I added a margin to the tabview page from the example and the color behind is gray I inspected the element and it is part of the Animated component of the card in the stack navigator.  I have been unable to modify the background to white. I have tried changing the style using the getSceneStyle property of the router but it still does not work. The code I have implemented is shown below.

[code]

!

[2017-07-14 20:02] AlmogRnD opened #2034 "Tabs mounting all components on start"
So I don't think this is a bug but I'm not sure this is correct behavior also this might be caused be React Navigation.

If you have a tabs component on app start once tabs are loaded it also loads all the view components for each tab.

So if you have the following
[code]
As soon as home loads it also loads photos and site diary.

For the most part, this is fine but if you need to make API calls i

[2017-07-14 20:05] aksonov commented on #2034
Have you tried lazy prop for tabs?

[2017-07-14 20:09] AlmogRnD commented on #2034
No, I have not how do I set that? or is there an example or docs?

[2017-07-14 20:22] aksonov commented on #2034
Sorry, docs are not ready (PR is welcome). As I said before all tabs/stack configs are passed directly to StackNavigation/TabNavigator. So you can check 'lazy' attribute within TabNavigator docs.

[2017-07-14 20:32] luco commented on #2028
@aksonov Getting this error:

![image](https://user-images.githubusercontent.com/246373/28229745-5df22d6c-68ba-11e7-8994-f4114fbfbdca.png)

[2017-07-14 20:41] aksonov commented on #2028
Oops, did typo again. Try beta.11

[2017-07-14 21:16] luco commented on #2028
@aksonov Tried all the options and didn't get it. What's the correct param?

[2017-07-14 21:53] AlmogRnD commented on #2034
Thanks lazy does it

[2017-07-14 21:53] #2034 closed

[2017-07-15 01:37] luco commented on #2033
You can use this:

[code]

On your scenes config.

[2017-07-15 03:31] thngdude opened #2036 "Custom TabBar Component in v4"
Hi, I'm trying to implement a custom tabbar. As a control, I tried the following, which did not work:

[code]
I also tried substituting TabNavigator with TabBarBottom and it still didn't work.

Resulting errors:
1) with TabNavigator --> "Cannot read property 'screen' of undefined"
2) with TabBarBottom --> "Cannot read property 'map' of undefined"

[2017-07-15 05:50] aksonov commented on #2028
Check Example. I used tintColor

[2017-07-15 05:51] aksonov commented on #2036
You have to use `navigator` param, `component` is used only by children to display screens

[2017-07-15 06:40] aksonov commented on #2033
I will add support of getSceneStyle for upcoming release. Try cardStyle as @luco suggested

[2017-07-15 06:40] #2026 closed

[2017-07-15 06:47] imWildCat opened #2037 "The vertical position of navigation bar does changes while popping or pushing"
[code]

### Expected Behaviour:

1. The vertical position of navigation bar does not change while popping or pushing.

2. Tabbar displays well without any extra *shadow*

### Actual Behaviours:
![2017-07-15 14_34_13](https://user-images.githubusercontent.com/2396817/28237172-bc125be0-696b-11e7-927e-850c713a173f.gif)
![snipaste_20170715_143427](https://user-images.githubusercontent.com/2396817/2823

[2017-07-15 06:51] aksonov commented on #2037
RNRF is just wrapper around ReactNavigation. It is how default 'headerMode' (float) works.
As I can see you completely hide navbar for first scene and then show it for second. You could change headerMode to 'screen' (check RN docs) OR don't hide navbar on first page.

You may want to try pure ReactNavigation also.

[2017-07-15 10:33] thngdude commented on #2036
Thanks, @aksonov. Is this currently documented somewhere? Perhaps there's a README I missed.

Btw, this library is really awesome. Thanks for your work.

[2017-07-15 10:33] #2036 closed

[2017-07-15 11:14] Clowning opened #2038 "Icon not show on Android"
Hi,

I have create an app with a tabbbar, on IOS everything works, icon are  print but on Android only texts are print !

Do you have any idea ? And do you know how can i hide text on tabs ?

Thanks

[2017-07-15 11:34] mcmatan commented on #1237
NavigationExperimental is deprecated on RN0.44 +, any idea how to use it on later versions?

[2017-07-15 11:55] thngdude commented on #2036
Ok, I got it working. This would be a first for me, but I would be willing to contribute to add a section about this to the documentation for v4.
[code]
You must add the `tabs` and `tabBarComponent` props, where the CustomTabBarComponent may extend a component such as `TabBarBottom` from the React Navigation library.

[2017-07-15 12:27] aksonov commented on #2036
Great! Could you submit PR for docs?

[2017-07-15 13:13] aksonov commented on #2038
RNRF is just wrapper around ReactNavigation. Please check ReactNavigation first and make sure that your icons are displayed there.

[2017-07-15 13:34] Clowning commented on #2038
Yes i know it, i've tried with pure ReactNavigation and it's working ! With RNRF it's not working ! , It's working on IOS but not on ANDROID.

IOS :

<img width="422" alt="capture d ecran 2017-07-15 a 15 32 49" src="https://user-images.githubusercontent.com/2753799/28239723-e12287be-6972-11e7-80b6-e68632989f23.png">

ANDROID :

<img width="459" alt="capture d ecran 2017-07-15 a 15 33 01" src="http

[2017-07-15 14:41] Amin52J opened #2039 "Can't change backgroundColor of the app."
I'm using **react-native-router-flux** version **4.0.0-beta.11** and been trying to change the backgroundColor of the app in a variety of methods suggested over the internet but unfortunately none worked and the background is always the default gray color. The things I tried are listed below:

- passing a function that returns a style to `getSceneStyle` prop of the Router component
- passing a sty

[2017-07-15 14:43] aksonov commented on #2038
Please try to reproduce issue with this project Example fork.

[2017-07-15 14:43] aksonov commented on #2039
Looks like duplicate of #2033

[2017-07-15 14:43] #2039 closed

[2017-07-15 14:44] #2037 closed

[2017-07-15 14:44] aksonov commented on #69
Who could help with Android support?

[2017-07-15 14:45] Amin52J commented on #2033
@aksonov The cardStyle solution that @luco suggested doesn't solve the issue, any other suggestions?

[2017-07-15 21:05] luco commented on #2033
How are you setting your scenes configs?

[2017-07-15 21:08] Amin52J commented on #2033
you can check it out in the issue I opened before: #2039

[2017-07-15 21:36] Amin52J commented on #2033
I also noticed that `barButtonTextStyle`, `barButtonIconStyle` and `leftButtonIconStyle` don't work either.

[2017-07-16 00:29] diegocouto opened #2040 "Back navigation won't work on Android"
I've noticed that, on Android:

- When moving from a screen to another, not only the back button won't be shown (as reported on #2023), but also the physical back button will put the app in background instead of leading to the previous screen.
- When the app is put in foreground again, the initial screen is rendered, instead of previously opened screen.

All of these issues can be reproduced using

[2017-07-16 08:23] aksonov commented on #2040
Sorry, I'm actively looking for Android contributor right now because I'm working on iOS app only.

[2017-07-16 08:23] aksonov commented on #2038
Sorry, I'm actively looking for Android contributor right now because I'm working on iOS app only.

[2017-07-16 09:57] oeddyo opened #2041 "Confusion to new comer: what version shall I use?"
Thanks for the great work of putting up this amazing tool together.

As a new comer to this tool, I'm overwhelmed by the version changes and on going doc improvements. My question is, since V4 is in beta, and a lot of APIs are changing (correct me if I'm wrong), what version shall we use in production?

Thanks!

[2017-07-16 10:33] oeddyo commented on #2041
To be more specific, in V3's doc page, the API page is giving 404. And in V4's doc page, seems the author is still working on it :|

[2017-07-16 12:37] hofuchi commented on #2040
A workaround for the Android hardware back button closing the app is to use react-native's BackHandler. Would be something like this:

Docs are here: https://facebook.github.io/react-native/releases/0.45/docs/backhandler.html

[code]

[2017-07-16 13:29] diegocouto commented on #2041
Hi, @oeddyo I think that it depends on what you're building. If it's an iOS only app, I'd definitely go with v4 (React Navigation transitions are a delight). On the other hand, if you need Android compatibility, v4 can't be used without workarounds.

[2017-07-16 13:45] diegocouto commented on #2040
Thanks for the fast reply, @aksonov and @hofuchi! I'm going to take the day to investigate this issue a bit further.

Considering the current scenario, my initial hypothesis is that the scenes aren't being stacked correctly on Android. It would explain why it can't identify where to go when the app is put back in foreground and also won't pop when expected (or show the back button on header).

Do

[2017-07-16 14:17] oeddyo commented on #2041
Thanks a lot @diegocouto for commenting!

We are actually building for both android & ios. Thus I guess the option for us is to go with v3 then...

Thank you!

[2017-07-16 14:25] hofuchi commented on #2040
Yea that might help explain some things, `console.log(JSON.stringify(Actions.state))` should help determine which scenes are stacked where

[2017-07-16 15:06] aksonov commented on #2041
@oeddyo I see your confusion - v4-beta or unsupported-v3. This problem is going from quite strange React Native team behaviour - stop to support existing navigation and ask community for migration to _beta_ ReactNavigation package. So I v4-beta is the same quality as _beta_ React Navigation. If it works differently for Android compare to React Navigation then it is VERY strange because RNRF is jus

[2017-07-16 15:11] diegocouto commented on #2040
Again, thanks for you help, @hofuchi! I'm already working on it. It seems that the initial issue displaying the back button is related to its positioning, as aksonov initially suggested on #2023.

The scenes are being correctly stacked, so the physical back button problem on android is something else. I hope to submit a pull request soon. 😄

[2017-07-16 15:30] ywongweb opened #2042 "Custom animations for scenes (disabling transition animation)"
In v3 we can use `duration={0}` to diable the transition aimation. V4 no longer has the `duration` prop and the doc suggest we should **implement custom navigator now instead and pass it as ‘navigator’ prop**. Being not familiar with React Navigation, I was wondering if anyone have an example on how to do this?

Thanks 👍

[2017-07-16 17:11] aksonov commented on #2042
Very good question. Probably we will implement some workaround soon if ReactNavigation doesn't allow it. What is your use case? You could try to use 'tabs' with tabbar hidden for 'disabled' animations or you could try type 'reset' (check Example/Register UI, or it doesn't allow animation too?)

Check related issue:
https://github.com/react-community/react-navigation/issues/175

[2017-07-16 17:55] diegocouto commented on #2040
Hey guys, I've just submitted a pull request with a fix for the issue #2023. It seems that, even though different from v3, it's expected that the back button action on android is going to be implemented by the user when using react-navigation (at least, this is what I could take out of [this thread](https://github.com/react-community/react-navigation/issues/117)).

Following what was suggested by

[2017-07-16 18:03] aksonov commented on #2040
@diegocouto We could also add it to v4 ('App' component within src/Router.js), could do you submit PR?

[2017-07-16 18:14] diegocouto commented on #2040
@aksonov Sure, I'm glad to help!

[2017-07-16 19:57] SpadarShut opened #2045 "Actions.{route} not defined for nested scenes"
Triggering actions for the most nested screens produce such an error:

[code]

[code]

I tried not wrapping all the screen in a drawer but still get this error.
Using "react-native-router-flux": "^4.0.0-beta.11"
Calling e.g. Actions.hometimer() works good though.

[2017-07-16 20:12] luco commented on #2028
I tried everything, specially using `tintColor` as you used on the example, but it didn't work.
`
<Router createReducer={reducerCreate} tintColor='yellow'>`

[2017-07-16 20:39] aksonov commented on #2028
Do you see red color for arrow within Example?

[2017-07-16 20:47] luco commented on #2028
Yes, I do. But when I try to apply on my Router, it doesn't work. In fact, it works on my modals, but not on my card stack.

[2017-07-16 20:49] aksonov commented on #2028
Could you reproduce it on Example?

[2017-07-16 20:51] aksonov commented on #2045
It depends when you try to call it. Maybe you are calling it before router creates actions

[2017-07-16 20:53] SpadarShut commented on #2045
I call it by tapping a button when everything is rendered long ago

[2017-07-16 20:55] luco commented on #2028
On example, it works. But not on my project. I'm setting this way:

[code]

As you can see, I tried on every element.
![image](https://user-images.githubusercontent.com/246373/28251265-015c1fee-6a50-11e7-87db-558baab20526.png)

[2017-07-16 20:58] aksonov commented on #2028
Have you tried to set backTitle?

[2017-07-16 20:59] aksonov commented on #2045
Strange. Could you try to reproduce it on Example project?

[2017-07-16 21:01] luco commented on #2028
But backTitle sets the text, right?

[2017-07-16 21:04] aksonov commented on #2028
Yes, I'm just trying to debug :) maybe you see built in reactnavigation bar but not rnrf one

[2017-07-16 21:15] luco commented on #2028
I thought as well, so I removed react-navigation from my project and it still not working. It's annoying me.

[2017-07-16 21:20] luco commented on #2028
I can get the color on inspector:

![image](https://user-images.githubusercontent.com/246373/28251438-63f4af42-6a53-11e7-81a4-be960a0d49ff.png)

[2017-07-16 22:38] parachute-dev commented on #2019
Still seem to have the same issue - no text appearing - tried rightTitle & leftTitle (using onLeft & onRight too). Currently using ^4.0.0-beta.11

This is with the android emulator on Windows.

  "dependencies": {
    "firebase": "^4.1.3",
    "mobx": "^3.2.1",
    "mobx-react": "^4.2.2",
    "prop-types": "^15.5.10",
    "react": "16.0.0-alpha.12",
    "react-native": "0.46.3",
    "react-native-

[2017-07-16 23:36] mtt87 opened #2047 "scene 1 -> scene 2 -> scene 1 (refresh with new params) how?"
Hi, what I'm trying to do is:
navigate from scene 1 to scene 2 (push) -> then  do some stuff on scene 2 -> then navigate back to scene 1 (pop scene 2 and refresh params of scene1)
[code]
Inside `RestaurantPage` `Actions.verifyNumber()` is pushed
Then I do some stuff and I want to go back to the previous scene with new params
This doesn't seem to work, I go back to the scene 1 but there is no new p

[2017-07-16 23:59] luco commented on #2033
Try this way:

[code]

[code]

It should work.

[2017-07-17 00:02] diegocouto opened #2048 "Question: How to integrate with Redux on v4?"
That's a pretty silly question, but I'm having some trouble to connect with redux using react-native-router-flux v4. We have something like this:

[code]

On v4, the actions aren't being dispatched to our reducers anymore. I noticed that, on the README, this is mentioned:

Does it mean that it isn't possible to subscribe to events using Redux anymore?

[2017-07-17 00:14] luco commented on #2028
I managed to work. Digging into your code I found that setting `navBarButtonColor` works for setting the tint color for the back arrow.

Thanks for your attention.

[2017-07-17 00:14] #2028 closed

[2017-07-17 04:00] ywongweb commented on #2042
@aksonov Thanks for the link, I will check it out.

My use case is that my app has a static background image that doesn't change or move when you navigate between screens.

In V3 this was achieved by wrapping the Router component with an Image and setting a transpararent background for every scene. Because the default visual effect for transition is to slide in the new scene while fading out the o

[2017-07-17 04:36] xilibro opened #2049 "Can't read property 'router' of null"
"react": "16.0.0-alpha.12",
"react-native": "0.46.1",
"react-native-router-flux": "^4.0.0-beta.11",

` <Router>
        <Scene
            key='login'
            component={LoginForm}
            title='Login'
        />
    </Router>`

when i run my code,give me following error message:
'Can't read property 'router' of null'
in Router.js 279:46

[2017-07-17 05:35] buncismamen commented on #2001
@AlmogRnD I agree why facebook/react-native official guide directing to react-navigation it sucks really with that 7xx issues.

[2017-07-17 06:49] aksonov commented on #2019
Could you reproduce it with Example?

[2017-07-17 06:52] aksonov commented on #2048
Check Example project. You have to use createReducer param like with v3

[2017-07-17 08:03] parachute-dev commented on #2019
Hi there - yes of course, thanks for the response - as below.

   <Router>
            <Scene key="modal" modal hideNavBar>
                <Scene key="root" hideNavBar hideTabBar>
                    <Scene key="auth">
                        <Scene
                            key="login"
                            component={LoginForm}
                            leftTitle="show"

[2017-07-17 08:11] aksonov commented on #2019
I mean Example project included into this github. Please clone and modify to reproduce the issue.

[2017-07-17 08:13] aksonov commented on #2049
You must have container scene as root. Otherwise this component doesn't make any sense.

[2017-07-17 08:13] #2049 closed

[2017-07-17 08:29] parachute-dev commented on #2019
Hey - sorry - have done so now. Still not seeing what I expect on tab1_1 It should show a right title?

renderRightButton does work however on tab2_1

![desktop screenshot](https://user-images.githubusercontent.com/7774740/28260290-3eabf2fc-6ad2-11e7-9e40-ecf4c9f68ffe.png)

[2017-07-17 08:31] aksonov commented on #2019
Could you check iOS? Looks like different behaviour for iOS/Android again...

[2017-07-17 08:33] aksonov commented on #2019
@diegocouto Do you have the same missed rightTitle on Android for Tab#1_1 ?

[2017-07-17 08:41] aksonov commented on #2023
@quarryman Could you check latest master now?

[2017-07-17 08:47] aksonov commented on #2047
`Actions.pop();Actions.refresh({...})` should work. Please check Example from latest master, I've just added pop & refresh for Login 2 page.

[2017-07-17 09:18] yatessss opened #2050 "hideNavBar not working on android"
I use two ways to try to hide navbar, on iOS these both working, but on Android not working.
Do I have any problem with the method?

1. in scene file
[code]
2.or  in router file
[code]

[2017-07-17 09:20] aksonov commented on #2050
Check Example project within this repository.

[2017-07-17 09:25] yatessss commented on #2050
@aksonov  thx i will check this

[2017-07-17 09:25] aksonov commented on #2045
Oh, parent scenes cannot have `component` (it is breaking change from v3, please check docs).

[2017-07-17 09:25] #2045 closed

[2017-07-17 09:35] SpadarShut commented on #2045
I'm not migrating from v3, just strted new project from 4.b11. Would be
cool to have docs for v4 where it's written what's allowed and what's not.

17.7.2017 12.25 пасля паўдня карыстальнік "Pavel Aksonov" <
notifications@github.com> напісаў:

Closed #2045
<https://github.com/aksonov/react-native-router-flux/issues/2045>.

—
You are receiving this because you authored the thread.
Reply to this ema

[2017-07-17 09:44] aksonov commented on #2045
for v4 I didn't write anywhere that Scene could have both element and component. I will add check for it to throw exception for next version.

[2017-07-17 10:24] quarryman commented on #2023
@aksonov I can not confirm this has been fixed for Android on master.
Looking into PR now

[2017-07-17 10:26] quarryman commented on #2040
@diegocouto did you check it with Example app?

[2017-07-17 10:43] diegocouto commented on #2040
@quarryman Yep! It should look like this:

![Register screen](https://user-images.githubusercontent.com/1069623/28264901-80bc574a-6ac3-11e7-8cea-edf26d3b7f67.png)

[2017-07-17 10:56] diegocouto commented on #2019
@aksonov I do! On Tab#2_1 the right text is displayed, but not the Tab#1_1 button. It's the same issue with positioning that we faced with the back button. I'm already working on a PR.

[2017-07-17 11:08] quarryman commented on #2040
@diegocouto  are you on master?

[2017-07-17 11:13] parachute-dev commented on #2019
@diegocouto Thanks - also noticed that the alignment isn't in the centre for the header - not sure if there's another flag to change this in the API?

[2017-07-17 11:25] diegocouto commented on #2019
@parachute-dev The title is center aligned on iOS only, probably to comply to the [material design guidelines](https://material.io/guidelines/layout/structure.html#structure-app-bar).

When defining your scene, you can use `titleStyle` attribute to define new styles to the scene title. 😃

[2017-07-17 11:30] quarryman commented on #2040
Just did clean install on master and buck button is still not there

[2017-07-17 11:30] yatessss commented on #2050
@aksonov  when i run `react-native run-android`

console this :

Scanning 589 folders for symlinks in /Users/yatesmiao/project/react-native-router-flux/Example/node_modules (7ms)
JS server already running.
Building and installing the app on the device (cd android && ./gradlew installDebug)...
Incremental java compilation is an incubating feature.
:app:preBuild UP-TO-DATE
:app:preDebugBuild UP-TO-D

[2017-07-17 11:36] aksonov commented on #2040
@quarryman Example doesn't use master branch but latest beta, are you sure that you are using master?

[2017-07-17 11:37] parachute-dev commented on #2019
Thanks!

[image: Parachute] <http://www.thisisparachute.com/> *David R. Bova *-
*Technical
Director at Parachute*

*Address:* 4 Lansdowne Crescent, Glasgow G20 6NQ
*Tel:* 0141 357 4556 | *Mobile:* 07514 645179
david@thisisparachute.com | http://www.thisisparachute.com
<http://thisisparachute.com/>

[image: Twitter] <http://twitter.com/thisisparachute>[image: Facebook]
<http://www.facebook.com/this

[2017-07-17 11:46] yatessss commented on #2050
@aksonov
According to this error i try to chang build.gradle like this

[code]
now console this :

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:installDebug'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

BUILD FAILED

Total time: 22.802 secs
Could not install the app on the de

[2017-07-17 12:12] quarryman commented on #2040
@aksonov that was the issue.
It works after switching example router dependency to master
Do you think it makes sense to merge this fix into beta branch not to confuse new users trying example app.
It will at least prevent this issue reports from being submitted by those who try example.

@diegocouto thanx for a fix

[2017-07-17 12:13] quarryman commented on #2023
PR merged fixed the issue.
Still it was merged to master and Example rely on beta.xxx currently.

[2017-07-17 12:36] cadudragon commented on #2019
v4 beta.8 also not showing the output of right/leftTitle.

[2017-07-17 12:58] hofuchi commented on #2050
Uninstall the app on your device and rebuild. Or `adb uninstall 'com.yourapp.packagename'`

[2017-07-17 13:23] yatessss commented on #2050
@hofuchi  i can't install the app now, so i can't uninstall.

i try to run `adb install ./react-native-router-flux/Example/android/app/build/outputs/apk/app-debug.apk` console this

[code]
but i `run adb install` can install other apk

[2017-07-17 14:02] hofuchi commented on #2050
See here: https://stackoverflow.com/questions/31489567/manually-installing-an-updated-apk-fails-with-signatures-do-not-match-the-previ

It's possible that a remnant of the failed build is hindering the new install

Try either:
`adb uninstall ./react-native-router-flux/Example/android/app/build/outputs/apk/app-debug.apk`

Or / And :

[2017-07-17 17:19] #2047 closed

[2017-07-17 17:20] aksonov commented on #2019
@cadudragon Please try latest master

[2017-07-17 17:21] #2048 closed

[2017-07-17 17:22] aksonov commented on #2042
@ywongweb Maybe you could implement own custom navigator for your use case - probably you could just copy & past StackNavigator and remove transitions from there. I will also investigate how to solve this problem...

[2017-07-17 17:37] aksonov commented on #2042
Looks like we could add this functionality using `transitionConfig`:

[2017-07-17 17:38] aksonov commented on #2042
Here is helpful post:
https://stackoverflow.com/questions/43974979/react-native-react-navigation-transitions/43981835#43981835

[2017-07-17 18:58] diegocouto commented on #2048
Thanks again for your fast reply, aksonov! Well, this is a bit embarrassing but, to be honest, I'm still not sure about what is the proper way to do this. On v3, I had a route reducer which would only track the `ActionConst.FOCUS`.

This is my current reducer:
[code]

On the example project, this is how the reducer is created:
[code]

I have unsuccessfully tried something like:
[code]

I may be co

[2017-07-17 22:49] heartgamer opened #2054 "How to position tab bar on bottom. v4"
I'm using V4 and react-native 0.46.

I tried to run an example code for a bottom tab bar,
but the tab bar is on the top at Android Emulator.

How to position the tab bar on the bottom?

[2017-07-17 23:08] luco commented on #2054
Try `tabBarPosition={'bottom'}` on your `Scene` component.

[2017-07-18 02:57] yatessss commented on #2050
@hofuchi  well i fix this

first, i try to run `adb uninstall com.example` but not working console this  `Failure [DELETE_FAILED_INTERNAL_ERROR]`

then i change build.gradle like this

[code]
now  can install 😀

[2017-07-18 03:42] marlti7 opened #2056 "How do reset keep the initial page routing?"

[2017-07-18 06:27] soulwu opened #2057 "a reference error?"
[src/Router.js#L241](https://github.com/aksonov/react-native-router-flux/blob/master/src/Router.js#L241)
I think `transition[props]` may be `props[transition]`?

[2017-07-18 06:30] aksonov commented on #2057
Good catch, will fix! Thanks!

[2017-07-18 06:32] aksonov commented on #2056
I don't understand the question

[2017-07-18 06:43] mtt87 commented on #2047
@aksonov sorry I forgot to mention that I'm still using v3 and your suggestion doesn't seem to work.
Is it supposed to work with v3 as well?
If so, any suggestion on where I could start debugging?

Many thanks 😄

[2017-07-18 07:03] mtt87 commented on #2047
With a bit more testing I found that this works:
[code]

Any reason why it doesn't work without the `setTimeout` ?
It's a bit ugly but if it works I'm happy tbh

Thank you

[2017-07-18 07:18] heartgamer commented on #2054
@luco It works! Thank you.

[2017-07-18 07:19] #2054 closed

[2017-07-18 09:38] soulwu opened #2058 "Strange behavior for drawerOpen"
I put a scene with drawer under scene with tabs. But after drag open the drawer and close it, a new screen of the drawer's children was pushed in by mistake.

my Router and Scene config like below
[code]

![drawer](https://user-images.githubusercontent.com/1633638/28310682-d3f5bfd8-6bdf-11e7-9350-0ff6f228040c.gif)

[2017-07-18 09:41] soulwu commented on #2058
I print the state diff in reducer, I think the problem could be the second DrawerOpen action, also maybe a bug for react-navigation?
![image](https://user-images.githubusercontent.com/1633638/28310808-3070ad2c-6be0-11e7-96e0-224a0746b457.png)

[2017-07-18 10:19] itinance commented on #2045
Any drawbacks available? Running into the same issue after upgrade from v3.39 to v4.0.0.
If i understand it correctly:

Something like:

[code]

will not work anymore when it comes to force a scene to appear like

`RouterActions.main()` ?

Thanks for clarifing!

[2017-07-18 10:42] itinance commented on #1974
Can you explain pls the following statement:

In the API-documentation i've found nothing about it.

Is the new drawer-Attribute simply a boolean setting to true when a scene is managed by a drawer? I understood, that contentCOmponent is the attribute where to pass the final Drawer-Component is it was with "drawer" in v3

[2017-07-18 10:58] aksonov commented on #2058
Drawer should be parent for tabs, check Example project.

[2017-07-18 11:04] #2057 closed

[2017-07-18 12:33] #2040 closed

[2017-07-18 12:50] soulwu commented on #2058
@aksonov Drawer must be parent for tabs? But how can I make Drawer only enabled while user switch to Home tab?

[2017-07-18 13:10] luco commented on #2022
@aksonov How can we achieve this on v4?

[2017-07-18 13:33] luco opened #2059 "popTo freezes and throw no Error"
I'm trying to use `popTo`, but everytime I try to use it, it freezes my app. To any `Scene`. `ScollViews` still working, but navigation stops working and it throws no error.

I'm using `beta11`.

[2017-07-18 13:40] itinance opened #2060 "[Question] How to *really* upgrade from V3 to V4?"
We ran into issues with our previous setup based on V3 after upgrading to V4. Since V3 is not working any more [on RN 0.45.1 due to missing dependencies](https://github.com/facebook/react-native/issues/13339#issuecomment-316032992) based in react-native-navigator-experimental, we need a way to keep on running with V4.

These are our scenes:

[code]

In some scenes we push to another scenes with:

[2017-07-18 14:26] diegocouto commented on #2048
For future reference, I built a custom router component, which is going to be used in place of my last `RouterWithRedux`.

[code]

On my root component, I just integrate it like this:
[code]

This approach is completely based on what's described [here](https://github.com/lynndylanhurley/react-native-router-flux#reduxflux). I found it on [this very interesting thread](https://github.com/aksonov/rea

[2017-07-18 17:01] alexwasner opened #2061 "Lightbox not transparent"
Hey aksonov,
We are having difficulty getting a transparent modal to pop up over our home screen. Perhaps this is related to #2033, or we may just be doing something wrong. Here is our router stack:

[code]
We've moved around ```sceneConfigs``` to a few different spots to see if we can get it to do something different to no avail. Thanks in advanced!

[2017-07-18 18:27] aksonov commented on #2061
Could you check Example project? It has Error lightbox and it is transparent.
Btw, you may pass sceneConfig just once, within Router.

[2017-07-18 18:30] aksonov commented on #1974
@itinance Please check Example project to see new drawer syntax.

[2017-07-18 18:31] alexwasner commented on #2042
@aksonov I created a simple PR for adding `transitionConfig` to the Navigator. #2062

[2017-07-18 18:31] aksonov commented on #2060
1. Use 'replace' instead of `ActionConst.REPLACE` within Scene declaration (will add it to breaking change)
2. Scenes cannot have both 'component' and 'children' (will add assert for the next version)
3. Drawer syntax was changed (boolean `drawer` attribute + `contentComponent` for side menu component + `Actions.drawerOpen`/`Actions.drawerClose` to open/close drawer)

[2017-07-18 18:34] aksonov commented on #2058
Maybe it is issue of ReactNavigation. Please create pure React Navigation project and check. Also you may try to reproduce the issue with Example project from this component.

[2017-07-18 18:35] aksonov commented on #2056
Please fill all steps if you want to report something. Closing this 'ticket'

[2017-07-18 18:35] #2056 closed

[2017-07-18 18:36] #2050 closed

[2017-07-18 18:47] alexwasner commented on #2061
@aksonov Oops. I thought I had copied exactly, but I had it at the modal level. Thanks

[2017-07-18 18:47] #2061 closed

[2017-07-18 18:48] necsoft opened #2063 "Cannot update during an existing state transition"
I'm sorry for this newbie question but I can't understand what's happening.

This is my code:

[code]

And I am getting this message when I save with Hot Reloading:

<img width="382" alt="screen shot 2017-07-18 at 3 43 32 pm" src="https://user-images.githubusercontent.com/1678333/28334084-6961b44c-6bd0-11e7-8a18-add0f525287a.png">

Thanks in advance!

[2017-07-18 19:01] luco commented on #2059
@aksonov So, how should I dismiss a modal with card stack?

[2017-07-18 19:35] aksonov commented on #2059
What scene do you expect to see after popTo (it will be child, not container, right?) ? Use its name within popTo.

[2017-07-18 19:39] aksonov commented on #2063
It could be React Navigation issue. Could you please rework your example with ReactNavigation only and check.

[2017-07-18 19:40] aksonov commented on #1974
I've just updated 'migration' docs about drawer.

[2017-07-18 19:50] luco commented on #2059
Oh, got it. I was struggling because I call a modal from my TabBar, so I gotta find which scene it's being rendered on my tabbar. Any tips?

[2017-07-18 20:35] necsoft commented on #2063
I've tried with this similar code and React Navigation and it doesn't happen:

[code]

[2017-07-18 20:38] itinance commented on #2060
Thank you very much. WIll give it a new try tomorrow

[2017-07-19 01:37] 1335382915 opened #2064 "How can i"

[2017-07-19 01:38] #2064 closed

[2017-07-19 01:50] 1335382915 opened #2065 "How can I pass parameters to a tabbar's child?"
Here is my scenes
[code]
I want to jump  from error scene to personal scene and pass something,but I can't get these parameters at personal scene.
On the contrary,I jump from personal scene to error scene and pass parameters,I can get them at error scene.

[2017-07-19 01:50] UlfR commented on #2063
In case of me it this warning have next stacktrace:

reactConsoleErrorHandler    ExceptionsManager.js:71
   console.error    YellowBox.js:67
   printWarning    warning.js:36
   warning    warning.js:60
   getInternalInstanceReadyForUpdate    ReactNativeStack-dev.js:1535
   enqueueForceUpdate    ReactNativeStack-dev.js:1552
   ReactComponent.forceUpdate    react.development.js:185
   (anonymous)

[2017-07-19 02:38] luco commented on #2065
Where's your code?

[2017-07-19 03:11] 1335382915 commented on #2065
@luco Now you can see the demo

[2017-07-19 03:14] tywoodpav opened #2066 "Nested scenes not working in 4.0.0"
I have the following structure

    <Router>
      <Scene key="root">
        <Scene key="unauthenticated" type="reset">
           <Scene key="intro" component={IntroScene} initial={true} />
        </Scene>
        <Scene key="authenticated" type="reset">
          <Scene key="profile" component={ProfileScene} initial={true} />
        </Scene>
      </Scene>
    </Router>

I have `unauthenticat

[2017-07-19 03:17] tywoodpav commented on #2066
In the migration guide it says

No component support for scene containers (that contains children `Scene`) - you have to use custom navigator.

What does that mean?

[2017-07-19 07:42] Curtaing opened #2068 "How can I get the routing stack"
Such as access to current routing array

[2017-07-19 08:28] aksonov commented on #2068
`Actions.state`

[2017-07-19 08:28] #2068 closed

[2017-07-19 09:02] aksonov commented on #2066
It is not for the problem you mentioned. Probably React Navigation doesn't support such scenario - as workaround you could remove 'reset' and use 'tabs' for 'root' navigator (with hideTabBar).

To see your case could you fork this component and modify Example so I can run it?

[2017-07-19 09:34] sylvainbaronnet opened #2069 "V4 : How to pass props to custom navBar using Action ?"
Hello,

[code]

In my custom navBar I don't get `pseudo` or `viewMode` as props. If I set a props to the scene I got it in the navBar.
How to get props set with Action parameters in custom navBar ?

[2017-07-19 09:43] pengyanb opened #2070 "actions[type] is not a function"
I am having issue with version 4.0.0-beta.11 (I used Version 3.38.0 with my previous project, things were all working fine).

Anyway, here is the basic structure:
[code]

The initial scene looks like this:
[code]

Clicking on the TouchableOpacity gives me an "actions[type] is not a function" error.

![screen shot 2017-07-19 at 21 37 57](https://user-images.githubusercontent.com/6076799/28360785-9e

[2017-07-19 09:45] igorarkhipenko commented on #2070
`type="reset"` should help

[2017-07-19 09:50] sylvainbaronnet commented on #2069
I found that I access them with `Actions.currentParams`

[2017-07-19 10:38] aksonov commented on #2069
@sylvainbaronnet Please check latest master

[2017-07-19 10:40] aksonov commented on #2065
@1335382915 ReactNavigation doesn't pass params for some reason. I've just committed fix to use 'refresh' after 'navigate'. Please check latest master. Example also contains demo when Tab5 could be switched with data param (but you have to switch Example to latest master as well)

[2017-07-19 10:42] buncismamen commented on #2023
how to use master in my project?

I've tried with yarn add https://github.com/aksonov/react-native-router-flux.git#master but it keep using the latest release

[2017-07-19 10:42] aksonov commented on #2023
It is because of yarn cache. Pass latest commit ID instead of 'master'

[2017-07-19 10:47] buncismamen commented on #2023
I put the commit ID
`yarn add https://github.com/aksonov/react-native-router-flux.git#d4fff5036653e723a697f8ab28d0ce9ee387ffb8`

and got this
[code]

[2017-07-19 10:48] sylvainbaronnet commented on #2069
Yes it now works as expected, thanks a lot !

[2017-07-19 10:48] #2069 closed

[2017-07-19 11:22] quarryman commented on #2070
might be duplicate of closed one
https://github.com/aksonov/react-native-router-flux/issues/2017

[2017-07-19 12:51] aksonov commented on #2063
It is strange why I can't reproduce it with Example project, can you? Anyway error is gone when you make top-level App as stateless component, please check

[2017-07-19 12:57] aksonov commented on #2070
Please check master now, I've added backward compatibility to use constants.

[2017-07-19 13:34] #2033 closed

[2017-07-19 14:12] UlfR commented on #2063
Confirm. There are no warns, if top-level component with <Router> in render is stateless and rendered only once.

[2017-07-19 14:13] #2063 closed

[2017-07-19 17:56] tywoodpav commented on #2066
As you suggested switching to tabs works (the problem is with `reset`). However, the original (unauthenticated) component never unmounts.

https://github.com/tywoodpav/react-native-router-flux

[2017-07-19 18:16] itinance commented on #2060
@aksonov One more question please.

How can i exchange the Menu-Icon, that is used in the NavBar with drawer?

I looked around in NavBar.js and tried to pass a property "backButtonImage". But it won't work.
I also tried to pass some console.log into the function "renderBackButton", but it gots never called.

Buy the way, how did you worked/debugged the example application?
Even if i completely res

[2017-07-19 18:45] necsoft commented on #2063
I'm sorry but I don't understand what do you mean with stateless render. How can I avoid that message in my example?

[2017-07-19 19:09] danieljvdm commented on #2029
For any others who get this error, I solved it by wrapping my scenes in a root scene `<Scene key="root">`. I can't find this mentioned anywhere in the documentation, but there has to be a root Scene wrapping everything.

[2017-07-19 19:49] aksonov commented on #2060
1. Try drawerImage
2. It is because transpiled code. Change dist/index.js to src/index.js within node_modules/rnrf first

[2017-07-19 20:02] #2070 closed

[2017-07-19 20:03] aksonov commented on #2066
Could you please clone & modify Example project to demonstrate issue?

[2017-07-19 20:04] aksonov commented on #2038
Closing because I didn't received forked Example to reproduce issue.

[2017-07-19 20:04] #2038 closed

[2017-07-19 20:04] #2019 closed

[2017-07-19 20:05] #2023 closed

[2017-07-19 20:05] aksonov commented on #2065
Try beta.12 now

[2017-07-19 20:05] #2065 closed

[2017-07-19 20:06] #2041 closed

[2017-07-19 20:47] luco opened #2072 "Actions stopped working"
I don't know why, but the Actions stopped working. When I console log to see if the function is correct, it seems so. It throws no error. Already tried to remove node_modules and install again.

![image](https://user-images.githubusercontent.com/246373/28388327-c6fa0c5c-6ca8-11e7-96f5-2ff05e74b8da.png)

Any tips what might be?

[2017-07-19 21:33] pengyanb commented on #2070
@aksonov It worked after I use 'reset' as parameter last night. I Will pull from master tonight. Thanks for the help.

[2017-07-19 21:40] tywoodpav commented on #2066
I did. Check link on previous comment. Running will throw the same error.

[2017-07-19 21:47] itinance commented on #2060
Thank you very much!

There is one special detail: on the most outer Scene with drawer={true} the attribute `drawerImage={}` needs to be placed.
I think you should add this to the documentation :)

[2017-07-20 00:30] luco commented on #2072
It's a conflict issue. I'm gonna dig into it and let you know which is.

[2017-07-20 00:30] #2072 closed

[2017-07-20 00:37] luco commented on #2072
@aksonov Realized that react-native-mobx is conflicting somehow with v4.

[2017-07-20 01:15] 1335382915 commented on #2065
@aksonov  Thank you

[2017-07-20 07:05] daisydon commented on #69
Do we currently support image as navigation title? If not, I am thinking to contribute on that enhancement.

[2017-07-20 07:23] aksonov commented on #69
@daisydon No, it is not supported yet, PR is welcome (as `titleImage` prop)

[2017-07-20 08:24] AlexDM0 commented on #69
Wouldn't it make more sense to just allow a custom element instead of differentiating between images or text? I can imagine svg, small styled views etc.

[2017-07-20 08:25] aksonov commented on #69
@AlexDM0 It is supported already - renderTitle

[2017-07-20 08:35] enguerranws commented on #158
@lynndylanhurley I'm facing the same use case that you described and ended up with a solution like you mentioned in the first place:

[code]

This works but it doesn't seem clean IMO (code repeating everywhere).

So I saw you suggest an improvement:

[code]

I tried to implement that but I can't make it work: it seems onEnter is never fired. Can you give me a working example of this? Which version

[2017-07-20 08:39] aksonov commented on #158
For v4 you access currentRoute as `Actons.currentScene`

[2017-07-20 08:41] enguerranws commented on #158
@aksonov I saw that, but I read that v4 is still in beta. Is it safe to use it right now?

[2017-07-20 08:45] aksonov commented on #158
Yes, it has the same quality as ReactNavigation (that is still in beta too) - recommended way for Navigation from Facebook

[2017-07-20 08:46] aksonov commented on #158
Even more we fixed some ReactNavigation issues already (like popTo, pass props to tabs, etc.)

[2017-07-20 08:46] enguerranws commented on #158
Nice to hear that. Thanks for your quick answer!

[2017-07-20 10:01] enguerranws opened #2074 "v3 to v4 : Route 'myRoute' should declare a screen."
Hi,

following your advice on #158, I migrated from v3 to v4, I had some issues I fixed, but I'm stuck on this one.

[code]

With my Router:

[code]

As far as I understand, this comes from StackNavigator, but I thought RNRF was handling this?

[2017-07-20 12:23] rajsuvariya opened #2075 "Actions.pop() with data is not working"
Action.Actionname(data) is working but Actions.pop(data) is not working.

Here is my code
[code]

I have added lot of life cycles methods in parent screen and added log inside them but non of them are getting called.
[code]

I am not even getting undefined. There is no reflection in debug console.

Please check might be the issue with React Native updates. I am using following dependencies.
[code]

[2017-07-20 12:25] aksonov commented on #2075
Thanks, I will add it to 'migration' section. Use `Actions.pop();Actions.refresh({..})`

[2017-07-20 12:25] #2075 closed

[2017-07-20 12:28] rajsuvariya commented on #2075
Actions.pop();Actions.refresh({..}) this is work around only right?

[2017-07-20 12:29] aksonov commented on #2075
Actually it is not workaround but much better syntax. v3 just was not able to support it.

[2017-07-20 12:30] aksonov commented on #2075
However it is not difficult to add old syntax for backward compatibility. Feel free to submit PR.

[2017-07-20 12:54] rajsuvariya commented on #2075
In navigationStore.js the pop is written like this

[code]
It is even not taking any params. Is it the cause of this problem?

[2017-07-20 13:11] marcellkiss commented on #2048
Hi @diegocouto, could you make the replay work?

[2017-07-20 13:13] marcellkiss commented on #517
I'd be also interested

[2017-07-20 14:27] luco opened #2076 "hideTabBar sometimes doesn't work"
Im having this issue. `hideTabBar` sometimes does and sometimes does not work.
On my app, for example, the messages inner view does hide the tabBar while the profile doesn't.

[code]

Tips?

[2017-07-20 14:30] aksonov commented on #2076
Duplicate of #2012 ? It seems ReactNavigation has issues with TabBar...

[2017-07-20 14:36] enguerranws commented on #2074
I guess I messed up with my Components declaration. MyScreen wasn't referencing to any MyScreen component found in this context.

[2017-07-20 14:36] #2074 closed

[2017-07-20 15:00] psycura opened #2077 "Double navBar on nested Scenes"
Hello, and thank you for great work.

My version 4.0.0-beta.12:

My router is:
[code]
and in emulator i see this issue:
![2017-07-20_1753](https://user-images.githubusercontent.com/22491732/28423757-97b71684-6d74-11e7-97e1-b260ff5efc7b.png)

as you can see i have 2 headers - i suppose - one for "auth" and one for "login".
How can i disable one of them?
if i put hideNavBar to the parent or to the c

[2017-07-20 15:01] luco commented on #2076
@aksonov Figured it out.

I was importing NavBar:
`import {Actions, NavBar} from 'react-native-router-flux';`

Removing fixed it. Should I submit a PR to Docs to specify that `hideTabBar` will only work if NavBar is not imported?

[2017-07-20 15:06] luco commented on #2077
Set `hideNavBar` on `root`.

[2017-07-20 15:08] psycura commented on #2077
Ohh, thanks ))
what about 2nd question?

[2017-07-20 15:08] aksonov commented on #2076
Hm, I can't find correlation between null NavBar - v4 doesn't export it anymore and `hideTabBar` option... Are you sure that you didn't use that empty NavBar anywhere (so it could broke things) ?

[2017-07-20 15:16] aksonov commented on #2066
Thanks for repo, I've just checked it. It works fine without 'reset', so as I guessed before ReactNavigation doesn't support such transitions for some reason. Could you build pure ReactNavigation example and ask there to help? If they could give some receipt we could change RNRF 'reset' behaviour accordingly...

[2017-07-20 15:17] psycura commented on #2077
Oh, sorry, now the back button is gone.
Issue closed

[2017-07-20 15:17] #2077 closed

[2017-07-20 16:32] xahon opened #2078 "Pop with props"
Is this possible to pop with props to previous screen?

[2017-07-20 16:37] igorarkhipenko opened #2079 "Call tab nested scene from outer scene"
My router looks like this:
[code]
And the problem is `About me` scene cannot be called from `Personal Info` as well as vise versa case when the call is going from nested scene to outer one because of an error `'There is no route defined for key routeName'`. How can I get rid of this error? Thank you.

[2017-07-20 17:07] abhaychitnis opened #2080 "Double Line in Navigation Bar for nested StackedNavigation and Title does not center in 4.0.0"
My Router.js code is as follows:

      import React from 'react';
      import { Scene, Router, Modal } from 'react-native-router-flux';
      import JobList from './components/JobList';
      import JobList2 from './components/JobList2';
      import EntryForm from './components/EntryForm';
      import TopDashboard from './components/TopDashboard';

      const RouterComponent = () => {

[2017-07-20 17:51] luco commented on #2076
Not that I remember. Just removing it fixed.

[2017-07-20 17:57] luco opened #2081 "Using onEnter/onExit from Component"
Is there a way from using `onEnter` and `onExit` from component itself?
I mean, I want to call a function from my component every time I enter on it.

I tried using on Scene component, but wasn't lucky.

[2017-07-20 19:14] tywoodpav commented on #2066
I figured it out.

According to https://github.com/react-community/react-navigation/issues/1127, you need to set `key: null` in the reset action.

Here's a demo I put together

https://github.com/tywoodpav/reset-nested-navigators-react-native-navigation

[2017-07-20 19:24] tywoodpav commented on #2081
I wanted to do something similar. Calling `Actions.refresh()` in the transitioning scene rerenders the new scene so you could put something in `componentWillReceiveProps`

[2017-07-20 20:35] #2076 closed

[2017-07-20 21:27] diegocouto opened #2082 "Actions.sceneKey({type: ActionsConst.REPLACE}) isn't working"
On v3, to redirect our users from a splash screen to our home screen, we're using something like:
[code]

### Expected Behavior
The user would be redirect to the home screen and wouldn't be able to pop to the splash screen.

### Current Behavior
Currently, the action type seems to be ignored and the scene isn't replaced, but pushed (I've tested on the example project).

**Versions**
* react-native

[2017-07-20 21:35] diegocouto commented on #2048
Hi, @marcellkiss! To be honest, I didn't try to. We decided to update to v4 due to the smoother transitions but it represented a lot more work than we estimated, so we're dedicated to basic things first. hahaha

[2017-07-20 22:09] diegocouto commented on #2080
Hi, @abhaychitnis! I've experienced something similar. Have you tried to add `hideNavBar` to your Scene with key `main`?

Regarding the title not being centered, I think that this is expected by Material design guidelines, but you can always change it with the `titleStyle` attribute.  What if you tried this:

[code]

[2017-07-20 22:14] diegocouto commented on #2078
Hi, @xahon! No, it is not. As [you can see here](https://github.com/aksonov/react-native-router-flux/blob/master/src/navigationStore.js#L208), pop doesn't expect params.

To achieve this behavior, you can refresh after a pop. Take a look on #2047 to get some ideas about how to implement this. 😉

[2017-07-21 00:44] paloman opened #2083 "Back button prop"
Hi I was wondering if there was any way for me to display the back button but hide the nav bar?

[2017-07-21 01:27] paloman opened #2084 "navTransparent Does not work"

[2017-07-21 03:51] abhaychitnis commented on #2080
@diegocouto

The alignSelf did work ! Thanks !

However if I add hideNavBar to 'main' screen, it will hide the top line in the navigation bar. Which means I do not get the back functionality. So the issue remains open......

[2017-07-21 03:53] abhaychitnis commented on #2083
Hi @paloman

I think this is similar to the issue #2080 that I have reported. I have the same problem.

[2017-07-21 04:05] paloman commented on #2080
I see the same thing, but what i noticed when messing with their example is that is you send the navTransparent prop it fixes the problem and you can have the back button show without the navebar... however, I cant get the navTransparent prop to work outside their example js file..... not sure why

[2017-07-21 04:10] diegocouto commented on #2080
That's good news, @abhaychitnis!

To show the back button, maybe you could [add the back prop](https://github.com/aksonov/react-native-router-flux/blob/master/Example/Example.js#L109) to the OpenJobs scene... but I've never tried it. 😂

[2017-07-21 04:16] abhaychitnis commented on #2080
Nope that did not work. Interesting though after adding the back prop, the title of the screen shifted to the right little bit. Now the screen looks like,

![image](https://user-images.githubusercontent.com/28629632/28448914-65a8d2f6-6df9-11e7-9dc3-ad82800730af.png)

[2017-07-21 04:23] abhaychitnis commented on #2080
@paloman If I add navTransparent instead of hideNavBar to 'main' screen, I do get both the title and back button on a single row. However now the screen looks like this !!!!

![image](https://user-images.githubusercontent.com/28629632/28449054-4fbe40ba-6dfa-11e7-8629-c15df08bfb26.png)

[2017-07-21 04:26] diegocouto commented on #2080
@abhaychitnis, well... that's odd. If you try to touch where there should be the back button, does anything happen?

Off the top of my head, I'd guess that:

1) The button is right there, but it has the same tint color than the background;
2) You're using a outdated version of the RNRF, where the button wouldn't show on android (try to update to beta12).

[2017-07-21 04:35] abhaychitnis commented on #2080
Yup ! That worked. The screen now looks like,

![image](https://user-images.githubusercontent.com/28629632/28449253-e196c358-6dfb-11e7-947e-278cb817426d.png)
 I will work on styling a little bit more...
@diegocouto  rocks ! Thanks you !

[2017-07-21 04:35] #2080 closed

[2017-07-21 04:36] diegocouto commented on #2084
Hey, @paloman! Are you able to reproduce this on the example project? The more details you share, the easier it gets to help you. 😄

[2017-07-21 04:44] paloman commented on #2080
@abhaychitnis jus out of curriosity what did you use for the bottom bar?

[2017-07-21 05:02] paloman commented on #2084
Hi @diegocouto it worked on the example, but throughs an error in my project...

[2017-07-21 05:20] paloman commented on #2084
import React from 'react';
import { Scene, Router, Actions, Reducer, ActionConst } from 'react-native-router-flux';
import LoginForm from './components/auth/LoginForm';
import NameSignup from './components/auth/signup/Name';
import UsernameSignup from './components/auth/signup/Username';
import BirthdaySignup from './components/auth/signup/Birthday';
import VerificationSignup from './components/au

[2017-07-21 05:20] paloman commented on #2084
how do I update to beta 12? @diegocouto

[2017-07-21 06:00] crazy9code commented on #840
This is not working in my project.
 <Scene ... leftButtonIconStyle = {{ tintColor:'red'}} />
Version
    "react": "16.0.0-alpha.12",
    "react-native": "^0.46.3",
    "react-native-router-flux": "^4.0.0-beta.12"

need to update back Icon color.

[2017-07-21 06:16] paloman commented on #2084
![screenshot_1500617729](https://user-images.githubusercontent.com/9502594/28451312-68ca75dc-6da1-11e7-9896-1fcac323c711.png)

[2017-07-21 06:16] paloman commented on #2084
<Router sceneStyle={{ paddingTop: 65 }}>
      <Scene key="auth">
        <Scene
        key="login"
        component={LoginForm}
        hideNavBar
        sceneStyle={{ paddingTop: 0 }}
        /*title="Please Login"*/
        />
      </Scene>
      <Scene
      key="signup"
      //hideNavBar
      navTransparent
      sceneStyle={{ paddingTop: 0, back: true }}
      leftButtonImage={backButt

[2017-07-21 06:58] igorarkhipenko commented on #2082
Did you try `Actions.loggedIn({type: 'replace'})`?

[2017-07-21 07:21] bernardakl commented on #1903
Many issues with react and few have solutions!

[2017-07-21 07:30] aksonov commented on #2083
Duplicated of #2080

[2017-07-21 07:30] #2083 closed

[2017-07-21 07:31] aksonov commented on #2079
Duplicate of #2066

[2017-07-21 07:31] #2079 closed

[2017-07-21 07:35] aksonov commented on #2084
Issue was created without details (version, etc.) As I see it could be even not v4 (Scene's doesn't contain root scene). Please use v4.

[2017-07-21 07:35] #2084 closed

[2017-07-21 07:37] aksonov commented on #2060
@itinance Thanks, docs were updated. Closing this ticket.

[2017-07-21 07:37] #2060 closed

[2017-07-21 07:45] shiqian123 opened #2085 "tabbar icon cannot class?"
in v3
`
class TabIcon extends Component {}
`
`
<Scene key="home" icon={TabIcon}>
   <Scene key="homePage" component={HomePage}/>
</Scene>
`
but in v4 this is error .I mast write that
`
const TabIcon = ()=>{}
`
`
<Scene key="home" icon={TabIcon}>
   <Scene key="homePage" component={HomePage}/>
</Scene>
`

[2017-07-21 07:47] aksonov commented on #2085
Yes, it is limitation of React Navigation and it makes sense. Please use pure functions for icons.

[2017-07-21 07:47] #2085 closed

[2017-07-21 07:58] abhaychitnis commented on #2080
Are you referring to the bottom Tab Bar ? Its a standard TabBar with
styling. Please check the code I have posted.

On Fri, Jul 21, 2017 at 10:14 AM, paloman <notifications@github.com> wrote:

[2017-07-21 08:10] compojoom commented on #1903
The above error is really strange and I'm starting to believe that it doesn't have anything to do with router flux or other components. I got this error and several other similar errors yesterday when I tried upgrading my project to 0.46.4

This thing costed me like 2h to resolve, but I have no idea what fixed it. I tried cleaning caches, updating packages and I was always presented with such an e

[2017-07-21 08:43] bernardakl commented on #1903
No it's probably a react-native-router-flux issue,
when i downgraded to version 3.38.0 problem was fixed.

[2017-07-21 08:50] aksonov commented on #2066
@tywoodpav Good job! Please check latest master now. And replace Actions.pop to Actions.unauthenticated within Home screen because 'reset' clears stack completely (so no pop is possible)

[2017-07-21 08:50] aksonov commented on #2082
@diegocouto Please check latest master

[2017-07-21 08:50] #2082 closed

[2017-07-21 08:52] aksonov commented on #2078
Please check latest master now, I've added support for refresh for backward compatibility

[2017-07-21 08:52] #2078 closed

[2017-07-21 09:43] #2081 closed

[2017-07-21 09:43] aksonov commented on #2081
@luco Have you tried to add onEnter/onExit on containers or on child? It works only for child. I've just added possibility to define them on component level (as static functions), please check.

[2017-07-21 10:17] compojoom commented on #1903
well, I'm running 0.46.4 with rnrf 4.0.alpha12...

[2017-07-21 11:37] diegocouto commented on #2082
@igorarkhipenko yes, I did! At the time, no luck, but it got fixed already. Thanks for your help! 😄

@aksonov, thanks for your work! Adding a `{type: ActionConst.REPLACE}` now won't perform a push anymore. Unfortunately, the issue with the whole navigation stack being cleaned up on replace remains.

This issue can actually be seen on the example project. Try:
`launch` -> `register page` -> `regist

[2017-07-21 11:40] aksonov commented on #2082
Yes, please create new one. Also it would be great if you will try to show me how to solve it with pure ReactNavigation (or just submit PR) - it is how I've fixed issue with 'reset' #2066

[2017-07-21 11:43] aksonov commented on #2082
As you can see from ReactNavigation docs there is no 'replace' action yet:
https://github.com/react-community/react-navigation/issues/802
Feel free to submit PR, probably we should do it by ourselves (i.e. don't use reactnavigation router) like I did for 'popTo'.

[2017-07-21 11:54] diegocouto commented on #2082
Sure! I don't know if you have a better idea, but I was thinking about rebuilding the stack using the current one (without the current scene, of course) with the new scene on top of it. This would allow us to keep the expected flow.

[2017-07-21 11:56] aksonov commented on #2082
Yes, something like this

[2017-07-21 13:23] compojoom commented on #2063
@aksonov would you mind commenting on this? What do you mean with top-level App as stateless component? I'm getting the same error as above and it is coming from mobx form the stacktrace.

[2017-07-21 13:24] aksonov commented on #2063
Check react docs about stateless components and check Example project:
`const App = () => <Router>...`

[2017-07-21 13:44] rochapablo commented on #2081
Shouldn't this be working?

[code]

[2017-07-21 13:48] aksonov commented on #2081
Depends from what is `this.doSomething`. Just put `onEnter={()=>console.log("onEnter!")}`  to see log

[2017-07-21 13:55] rochapablo commented on #2081
Yep, you're right! I may be doing something wrong. Thank you.

[2017-07-21 16:30] aksonov commented on #2066
Could you try latest master? Not beta.12

[2017-07-21 16:43] tywoodpav commented on #2066
Nice. My mistake. Thanks!

[2017-07-21 17:01] tywoodpav commented on #2066
Original bug was fixed, but a new one was created. When I try to transition between scenes in the same container (i.e. `authenticated`), the same error is thrown. I'm guessing this is because `key: null`

Here is a demo: https://github.com/tywoodpav/rnrf-4.0.0-nested-2066

[2017-07-21 19:04] AlmogRnD opened #2086 "Back button does not render"
Using the latest version 4.0.0-beta.12

I have two components/scenes that I load 'home' and 'photos' when I navigate from home too to photos everything loads and on mount runs but if I press the back button on the top header and go back to home and then from home again to photos on mount does not re run so I can't load new data.

It seems that the back button does not clear the loaded component th

[2017-07-21 19:13] aksonov commented on #2086
Could you reproduce it with Example project? Also it will be helpful to check if it is react-navigation issue (by implementing pure react navigation example).

[2017-07-21 19:14] aksonov commented on #2066
Again, I've just implement `key:null` for replace you suggested before. could you implement it with pure react navigation ? Or it is better to submit PR.

[2017-07-21 19:17] SpadarShut opened #2087 "Drawer with drawerPosition="right" has menu button on the left"
So the issue is in the subject: Drawer with drawerPosition="right" has menu button on the left.

[2017-07-21 19:19] aksonov commented on #2087
Good catch! PR would be great. As workaround just use rightButtonImage and set drawerImage to null.

[2017-07-21 19:49] AlmogRnD commented on #2086
I think it's a react-navigation issue, I can't reproduce it right now but I think this is the same issue - https://github.com/aksonov/react-native-router-flux/issues/723

[2017-07-21 21:02] aksonov commented on #2086
Just try mobx

[2017-07-21 21:02] aksonov commented on #2086
Or Actions.refresh

[2017-07-21 21:35] jasongaare opened #2088 "Rotation bug."
I'm working on migrating from v3 to v4 and have one thing I can't sort out. When I rotate my device, the view doesn't resize so I have a portrait screen sitting in a landscape view.

![simulator screen shot jul 21 2017 4 27 47 pm](https://user-images.githubusercontent.com/15896334/28483221-c5236cc2-6e31-11e7-9b5a-6ceabe6d0a97.png)

What I'm hoping to do is simply add the style `{ flex: 1 }` to the

[2017-07-22 01:01] hofuchi commented on #2088
React-native won't update a scene unless the state is changed. If the state doesn't change when the screen size does, react-native won't acknowledge the new screen size

You could implement a wrapper view which listens for a layout (orientation) change and adjusts accordingly (or just sets the state)
[code]
then
[code]

[2017-07-22 01:58] necsoft commented on #2063
This is working now:

[code]

[2017-07-22 11:05] compojoom commented on #2063
I don't understand what I'm doing wrong.

This is my original code:
[code]

And this is what I transformed it to:

[code]

Any idea what I'm doing wrong?

[2017-07-22 11:17] aksonov commented on #2063
See code above

[2017-07-22 13:48] compojoom opened #2089 "Question about Actions.refresh"
I'm not sure if this was working the same on 3.x, but on 4 I noticed the following thing.

I have 3 scenes
A -> B -> C

Scene A is a list view.
Scene B shows a single Item
Scene C is an edit scene.

on Scene B I have this code:
[code]

Basically when the component is mounted we set a new title and we specify what should happen when you click the right button. This works fine. ComponentWillReceiveP

[2017-07-22 15:53] compojoom opened #2090 "on reset complete?"
Is there a way to know when a reset action has completed?
I'm running in the following issue:
Following scenes
A -> B -> C -> D

A - list items
B -> expand on a list item + additional data
C -> display just the list item from the previous screen
D -> edit this list item.

On the edit screen I have a delete button. If I delete the item - my redux store updates and screen B, C and D will trigger an

[2017-07-22 16:50] fukuball opened #2091 "Action to the same route"
I have some question, when I trigger the same route action multiple times, will the app create the same view multiple times?

For example:

1. I have drawer navigation, and on the menu I have an action: Actions.home()
2. When press on the action, the app create home view and goes to the home view
3. Then I open the drawer menu again, and press Actions.home() again, and the app goes to the home vie

[2017-07-22 17:02] tywoodpav commented on #2066
Here's a link to the updated repo with `react-navigation` https://github.com/tywoodpav/reset-nested-navigators-react-native-navigation

I think the problem is when RNRF detects what type of action to dispatch, it defaults to the one highest up in the tree. This makes `reset` work but when you navigate to a scene within the stack it still thinks you want a `reset` action when you actually just want

[2017-07-22 17:07] aksonov commented on #2066
Have you tried to pass reset type as actions param and remove it from scene param?

[2017-07-22 17:11] aksonov commented on #2066
Ops, looks like type is the inherited property. I will fix it. For now just set type for children to push

[2017-07-22 17:11] tywoodpav commented on #2066
That works. Thanks!

[2017-07-22 22:29] itinance opened #2092 "Drawer-Image not shown on android"
What could be the reason, that the drawer-image not appear on Android while it is visible on iOS?

This is the code:

[code]

Working well on iOS. But not on Android. Any ideas?

[2017-07-23 13:05] rajsuvariya commented on #2075
Is this fix live now?

[2017-07-23 16:59] ysfkc opened #2093 "hideBackImage and renderBackButton not working"
hi,
i using flux v4.

renderBackButton does not work v4. I tried Actions.refresh but same problem not working.

Example:

<Scene ..... hideBackImage={true} renderBackButton={ () => {return (<Text>Hi</Text> } } ... />

what should I do?

[2017-07-23 17:15] aksonov commented on #2075
Yes, master branch. Will publish beta.13 soon.

[2017-07-23 18:46] diegocouto commented on #2093
Hi, @ysfkc! Yep, I don't think that they're part of [v4 API](https://github.com/aksonov/react-native-router-flux/blob/master/docs/API.md). To hide the back button, you could use `back={false}` instead. 😄

Hope it helps!

[2017-07-23 19:11] FredyC opened #2094 "Navigation actions and MobX based app"
First and foremost I want to thank you for this project. As a beginner with RN I've stumbled upon `react-navigation` and was awfully confused not even mentioning it doesn't work well in some scenarios.

Anyway, I want to ask what would be the best pattern for invoking navigation actions outside of components? Initially, we are rendering simple Loading component with a picture and preloading assets

[2017-07-23 19:30] ysfkc commented on #2093
Ok. but what should i do two button back and drawer menu icon?

[2017-07-23 19:37] diegocouto commented on #2093
Hum... I haven't worked with it myself but, based on the example project, I think you can get the drawer menu icon with the `drawer` prop.

You can see a [demo of the project](https://github.com/aksonov/react-native-router-flux), and [here is the line](https://github.com/aksonov/react-native-router-flux/blob/master/Example/Example.js#L59) I'm talking about.

[2017-07-23 20:10] ChristianTucker opened #2095 "tabBarComponent transparent background hides content"
When using a custom component for the tabBarComponent it takes up space the size of the component, in our case we have a tab in our application that is a big circular button as the tab, for example: ![https://s-media-cache-ak0.pinimg.com/736x/58/c5/7d/58c57dd6eb1c3a07f7d3c7b6bb10753e.jpg](https://s-media-cache-ak0.pinimg.com/736x/58/c5/7d/58c57dd6eb1c3a07f7d3c7b6bb10753e.jpg)

Because of this our

[2017-07-23 20:37] stefan0s opened #2096 "BackHandler remove on v3.39.1"
Hello,

We are using version 3.39.1 and we are having the following batch of scenes:
<Scene key="root">
            [Scene key="splashscreen" component={SplashPage} hideNavBar initial type={ActionConst.REPLACE} /]
            Scene key="loginScene" hideNavBar]
              [Scene key="login" component={Login} /]
              [Scene key="authenticate" component={Authenticate} /]
              [Sc

[2017-07-23 20:44] ysfkc commented on #2093
Solution:

My component: ContentDetail

[code]

[2017-07-23 20:45] AlmogRnD commented on #2086
I was able to find out what's going on. It has nothing to do with the back button but

`Actions.tab2(); `

So when you call Actions tabs it renders the component then if you click the back button and then run again

`Actions.tab2();  `

It does not re mount the component, for some reason its saved in memory so it pushes the component to the front of the view but does not re run any of the code.

I

[2017-07-23 21:02] AlmogRnD commented on #2086
You can also see this issue by just clicking the tabbar in the example, it mounts the first time but does not mount again. There should be a way to force it to remount

[2017-07-24 01:40] shiqian123 opened #2097 "about example Jump animation"
when i Actions.login() is from bottom to top, other is from right to left, I did not find where to set up， please help me。thanks

[2017-07-24 02:08] shiqian123 commented on #2097
other problem
![099210c5-a173-4da2-8595-8baa1a20cb72](https://user-images.githubusercontent.com/9497069/28505588-dcfad8bc-7057-11e7-8b1e-ee9d627074cc.png)
in the tableIcon  ,v3,console.log(props) is
![145d520e-7220-45b7-b904-d44f6b15652e](https://user-images.githubusercontent.com/9497069/28505599-ff188926-7057-11e7-9d64-750156b12cdd.png)
but in v4 console.log(props)
![87391abe-583d-42ee-8141-7dcc1

[2017-07-24 02:52] xaamin commented on #2082
Actions.replace('routeName') works. Thanks for your help @aksonov

[2017-07-24 03:20] fukuball commented on #2091
I write some code to prevent the issue I describe above:

[code]

Anyone have better way?

[2017-07-24 07:56] aksonov commented on #2091
App should re-use existing 'home'. If it doesn't give me steps to reproduce. Check Example project for this repo.

[2017-07-24 07:56] #2091 closed

[2017-07-24 07:57] aksonov commented on #2096
Please use v4, v3 is not supported

[2017-07-24 07:57] #2096 closed

[2017-07-24 08:15] rajsuvariya opened #2098 "How to reset back stack?"
In v3 to clear the back stack I was using Actions.Scene({ type: 'reset' }). But apparently it's not working in v4.

[2017-07-24 10:32] rajsuvariya commented on #2098
I was able to achieve it using Actions.reset("Scene") but the animation looks too bad. Actually, it shows every screen being closed.
Can I have the option to remove this animation while clearing back stack

[2017-07-24 12:08] GabrielePrestifilippo opened #2099 "Example with MobX on v4"
I thought it could be useful to everybody to have a simple example using MobX to manage the state.
Is anyone able to provide one example? or even an existing use case?

[2017-07-24 12:12] aksonov commented on #2098
Duplicate of https://github.com/react-community/react-navigation/issues/1493

[2017-07-24 12:12] #2098 closed

[2017-07-24 12:13] aksonov commented on #2097
It depends from your parent scene. If it is modal - it will be bottom to top.

[2017-07-24 12:13] #2097 closed

[2017-07-24 12:46] shukerullah opened #2100 "Example with Redux on v4"

[2017-07-24 12:47] aksonov commented on #2100
See Example project

[2017-07-24 12:47] #2100 closed

[2017-07-24 12:48] aksonov commented on #2095
Sorry, this component is just wrapper around ReactNavigation and uses TabBar provided by ReactNavigation. Could you check their github?

[2017-07-24 12:52] ChristianTucker commented on #2095
@aksonov  I come from react-navigation, and this problem doesn't exist when using a custom component for the TabBar over there. Here is an example of what the `transparent` background looks like in RNRF,

![https://gyazo.com/8a3bcdd38c0ba36ca1da019270e2979d](https://gyazo.com/8a3bcdd38c0ba36ca1da019270e2979d)

It's the gray that cuts off the content. In react-navigation you are able to give your c

[2017-07-24 12:54] aksonov commented on #2095
It is strange because RNRF just passes everything to react-navigation... I need to more concrete Example (modification of this repo Example?) and more react-navigation example that works - maybe some parameters were overriden. You may check Router.js and how it passes params to TabNavigator.

[2017-07-24 12:58] ChristianTucker commented on #2095
@aksonov This is actually a problem with an outdated dependency in the version of react-navigation that's being used, as I forced an update to `react-native-tabs-view` to 0.66 (Currently 0.65) and it fixed this issue.

[2017-07-24 12:58] #2095 closed

[2017-07-24 13:40] rajsuvariya opened #2101 "How to have back button on initial screen also?"
I am using react native in a Hybrid App so I need a back button on initial screen also to close the react app and continue with native android app. How can I add back button in navBar on initial screen also?

[2017-07-24 13:43] compojoom opened #2102 "v4 replace behaves different to v3?"
The normal navigation between my scenes is:
A->B->C

on scene B, you can press and add button and this would send you to scene D. When you click save, then you are sent to scene C. Now clicking the back button on scene C shouldn't send you back to scene D, but to B.
A->B->D->C
back is
C->B->A

I was able to achieve this with v3 by using type replace. Now on v4 if I use Actions.replace('D') -> then

[2017-07-24 15:07] aksonov commented on #2092
What version do you use? We had some issues before, but it should be fixed with beta.12 I believe

[2017-07-24 15:08] #2093 closed

[2017-07-24 15:18] itinance commented on #2092
This sounds great. I use 4.0.0-beta.11.
Will upgrade and test again and give feedback

[2017-07-24 15:19] aksonov commented on #2094
Good question, could you please give me a link to that project or even better, could you submit PR with this demo (with simple login/auth/loading screens and some fake auth), so I could include it as mobX example? We could name it as ExampleMobX project.

[2017-07-24 17:15] itinance commented on #2092
4.0.0-beta.12 fixes this. Thank you!

[2017-07-24 17:15] #2092 closed

[2017-07-24 18:29] itinance commented on #1903
i can confirm that this issue re-appears on iOS with 4.0.0-beta12 but has gone with all other 4.0.0_beta-versions before

On Android the beta12 is required for being able to draw the drawer-menuicon, but on iOS this "unresolved"-error occurs

[2017-07-24 20:29] chrissm79 opened #2103 "Drawer w/ Nested Nav and Header Issue"
I'm having an issue when I'm inside a nested nav stack and pushing from a Drawer page. During the transition the Drawer header gets pushed underneath the next scene's header. Even if I put `hideNavBar` on the Drawer and the internal drawer scene, it pushes the content down during the transition to the next scene.

The `drawer` and `external` scenes are separated into different stacks because I nee

[2017-07-24 20:45] luco opened #2104 "Reset stack on enter Scene?"
Is it possible to reset the stack when entering on a scene?
I mean, I want to push from a scene to tabbar, but when reach the tabbar, reset the stack.

Is that possible?

I already tried `Actions.homeMain({type: ActionConst.RESET})`

Didn't work.

[2017-07-24 21:19] alexwasner commented on #2104
One way to do it on a route is to just put `type='reset'` in the `Scene`, but that doesnt allow you to call a reset when you navigate. I too would like to know the new standard for doing this

[2017-07-24 22:13] mackenziemance commented on #1834
Did you find a way to accomplish this ?

[2017-07-25 00:40] luco commented on #2104
@alexwasner Tried that. Didn't work.

[2017-07-25 00:54] xiaoxiaoyongPersonal commented on #2024
The bottom navigation switch, the page is reloaded, resulting in slow switching and waste of traffic

[2017-07-25 01:38] AlmogRnD opened #2105 "How to have a global view component like a notification bar"
I'm using the latest version of the package and I would like to use the following package https://github.com/KBLNY/react-native-message-bar

and have a notification bar that is global to the entire app but I'm not sure the correct way to do this with scenes

I have tried the following but this does not render or load the rest of the routes

[code]

I have then tried the following way but this neve

[2017-07-25 03:43] AlmogRnD opened #2106 "Can't wrap Scene or ConnectedRouter in a View"
Using the latest version. I would like to wrap my entire scenes/routing in a view component so I can load other components like an error or alert message component but this can't be done once you I add the view routing is not loading correctly.

[code]

[2017-07-25 03:46] AlmogRnD commented on #2106
Closing this just need to make sure the view had a container style

[2017-07-25 03:46] #2106 closed

[2017-07-25 05:38] aksonov commented on #2103
It is how react-navigation works - you have to use Drawer on top level. Similar to https://github.com/react-community/react-navigation/issues/374 ?

[2017-07-25 05:38] #2103 closed

[2017-07-25 05:38] aksonov commented on #2101
Have you tried `back` attribute?

[2017-07-25 06:40] rajsuvariya commented on #2104
@luco Actions.homeMain({type: ActionConst.RESET}) this was working in v3 of react-native-router-flux. But the current version v4 is based on React Navigator so there are syntax changes. For resetting back stack you can try Actions.reset("homeMain")

[2017-07-25 06:48] rajsuvariya commented on #69
@aksonov I am interested. But as I don't have too much experience in this technology I would like to start with small tasks. Please let me know if there are any.
Thanks

[2017-07-25 06:53] aksonov commented on #2105
What do you think if we will add `overlay` attribute for new container OverlayNavigator that will just simply render all children - similar to current LightboxNavigator (but lightboxnavigator displays initial + active only)

[2017-07-25 06:59] aksonov commented on #2089
`refresh` within `componentDidMount` or `componentWillReceiveProps` is definitely anti-pattern. All you need is Redux or MobX and change state of your app accordingly and define static onRight, rightTitle, title functions within your component that will display that state. For MobX, RNRF allows wrapping all navbar by 'observer', so it will be fully dynamic - i.e. updated automatically.

[2017-07-25 07:06] aksonov commented on #69
@rajsuvariya Thanks! The most `wanted` task now is prepare some MobX demo with authentication, but you can start from smaller tasks like answering questions here and submit PR to solve the issues.

[2017-07-25 07:14] Shubham-Sinha opened #2107 "Drawer button and title alignment in Navbar v4"
I followed the example code and my Routes.js file looks like below:
[code]
Doing this I can use swipe gesture to open side menu drawer but 'Burger' image isn't available on the Navbar. Also the title of the Scene is left aligned.
I need help in :
1. Implementing burger menu.
2. Aligning the title to center

[2017-07-25 07:18] aksonov commented on #2086
Use `Action.refresh` to 'refresh' tabs (componentWillReceiveProps). Tabs should not be remounted.
Or use `onEnter` handler for tabs.

[2017-07-25 07:18] aksonov commented on #2107
Duplicate of #2092 ?

[2017-07-25 07:18] #2107 closed

[2017-07-25 07:20] aksonov commented on #2104
Looks like `{type: ActionConst.RESET}` calls 'replace' now. I've just fixed it for latest master

[2017-07-25 07:22] aksonov commented on #2104
@luco Have you tried `type='reset'` for tab bar?

[2017-07-25 07:23] aksonov commented on #2102
Looks like it is the problem of React Navigation:
https://github.com/react-community/react-navigation/issues/774

If you could find solution how to do 'replace'  correctly with react-navigation I could implement it with RNRF.

[2017-07-25 07:25] aksonov commented on #2102
I have one idea - do Actions.pop and Actions.push for 'replace'. I will try to implement this.

[2017-07-25 07:30] compojoom commented on #2102
I tried pop and then push, but I'm not sure if it was my components or what, but I was running in a "max execution callstack" error.

[2017-07-25 07:31] aksonov commented on #2102
OK, I will try for Example.

[2017-07-25 07:37] compojoom commented on #2089
ok, Do you have an example?
I remember trying the static onRight in the past, but the issue was that I didn't have access to my component save function as this was not pointing to the component within the static function

[2017-07-25 08:51] aksonov commented on #2102
@compojoom Could you check latest master?

[2017-07-25 09:15] itinance commented on #2102
Have you unpublished beta11 and beta12? We got an empty folder after "npm install" of an other library and while reinstalling neither beta11 nor beta12 can be found on npm.

[2017-07-25 09:16] aksonov commented on #2102
Have you tried `4.0.0-beta.12` ?

[2017-07-25 09:19] itinance commented on #2102
ooops.... thx! don't know how it could work without the dot yesterday (or the dev was on del-key)^^
However, can you tell pls the roadmap for 4.0.0 - non-beta?

[2017-07-25 09:22] aksonov commented on #2102
It would be a little bit strange to remove beta if react-navigation is still in beta, what do you think?
I would like to remove beta once we will have one week without bugs. But how to deal with react-navigation bugs (like bugs with tab bar)

[2017-07-25 09:35] aksonov commented on #2105
Please check Example project from latest master. I think now RNRF allows very powerful techniques with `overlay` stacks (i.e. scene decomposition)

[2017-07-25 09:42] #2101 closed

[2017-07-25 09:43] aksonov commented on #2090
It is kind of duplicate #2089 - you should use Redux/MobX to manage app state.

[2017-07-25 09:43] #2090 closed

[2017-07-25 09:44] aksonov commented on #2089
Yes, it is good question, it would be great to create separate issue for this - 'access to the component props from the navbar' I will think how to achieve that.

[2017-07-25 09:44] #2089 closed

[2017-07-25 09:45] #2066 closed

[2017-07-25 09:47] aksonov commented on #2086
I have just added BLUR/FOCUS passed to reducer (latest master, will be beta.13 soon). Closing this ticket

[2017-07-25 09:47] #2086 closed

[2017-07-25 09:49] sarahmarciano commented on #158
@PumpkinSeed did u solve that?
I'm getting the same error

[2017-07-25 11:00] itinance commented on #2102
yes, wouldn't think that. thats why i was asking :) with `git remote show origin` and` git branch` i could see a lot of release-branches but not these both. was a bit confusing.
Originally I ran into this [npm-issue that removes](https://github.com/npm/npm/issues/16839) other dependencies sometimes and lost RNRF and all this got followed up with lots of side-issues... It's clear now :)

[2017-07-25 11:01] tomexa opened #2108 "Cannot open screen in tab scene"
Hi,
I've encountered a problem and been banging my head against the walls to figure it out.
Initially I had this setup:
[code]

My splashscreen simply displays an animation and I call `NavigationActions.login()` and it works perfectly.

Once my login and signup logic implemented, I wanted to add the core of the app, which will have a tab navigation, so I modified my navigation to this:
[code]

In

[2017-07-25 11:13] PumpkinSeed commented on #158
@sarahmarciano No, I tried an other way, but it's not related to this issue.

[2017-07-25 11:20] sarahmarciano commented on #158
Which other way?
I'm searching a way to achieve that but didn't succeed

[2017-07-25 11:41] PumpkinSeed commented on #158
@sarahmarciano I had a problem, where the `Actions.currentRouter.currentRoute` was a small part, so I tried a totally other way to solve the whole problem, this is why I said _"but it's not related to this issue"_

[2017-07-25 11:42] sarahmarciano commented on #158
Ok thank you
I'll try to solve it

[2017-07-25 11:55] tomexa commented on #2108
Damn! It works if call `NavigatorActions.tabbar()` !
I thought it was kind of an 'abstract' scene that couldn't be navigated to...

[2017-07-25 12:34] aksonov commented on #2087
Should be fixed with 4.0.0.beta.13

[2017-07-25 12:34] #2087 closed

[2017-07-25 12:34] aksonov commented on #2102
Should be fixed with 4.0.0-beta.13

[2017-07-25 12:34] #2102 closed

[2017-07-25 12:35] aksonov commented on #2058
Closing it because didn't receive cloned and modified Example to reproduce.

[2017-07-25 12:35] #2058 closed

[2017-07-25 12:35] aksonov commented on #2105
Should be fixed with 4.0.0-beta.13, Example project contains alert on launch screen.

[2017-07-25 12:35] #2105 closed

[2017-07-25 12:35] #2108 closed

[2017-07-25 12:36] aksonov commented on #1996
Closing it because original issue was resolved.

[2017-07-25 12:36] #1996 closed

[2017-07-25 12:38] aksonov commented on #2099
Duplicate of #2094

[2017-07-25 12:38] #2099 closed

[2017-07-25 12:40] aksonov commented on #2094
I will try to prepare some MobX demo (it could be very simple at the beginning) to demonstrate best-practices with MobX

[2017-07-25 12:50] FredyC commented on #2094
@aksonov I am not sure what are you asking me for. I've already shown relevant code except for store itself, but that's just a couple of observable properties, nothing special about it.

You are saying that only way of using within MobX app is to be careful about disposing of autorun? :) That feels like a rather big source of problems to me.

[2017-07-25 12:53] aksonov commented on #2094
No, navigation actions should not be done within `autorun` - it is not intuitive and difficult to debug way. Correct way is to use `on`(`onEnter`) and `success`, `failure` properties (more correct analog of v3 `Switch` statement)

[2017-07-25 12:56] rajsuvariya commented on #47
@aksonov Is it possible to change the font in the nav bar title. I already tried
[code]
But it isn't working

[2017-07-25 13:03] aksonov commented on #47
`titleStyle` definitely works for me with v4. If it doesn't work please create separate issue for v4 version and give me link to cloned & modified Example so I can reproduce issue.

[2017-07-25 13:05] luco commented on #2104
@aksonov Still not working. Tried both `type='replace'` and `{type: ActionConst.RESET}`.
Should I remove the plugin and add again?

![untitled-1](https://user-images.githubusercontent.com/246373/28573347-c5db8aae-7120-11e7-8a5c-a21aa0d0f031.png)

[2017-07-25 13:14] rajsuvariya commented on #2104
@luco In my case Actions.reset("homeMain") is working. Try that.

[2017-07-25 13:23] rajsuvariya commented on #47
Looks like issue with React Native as mentioned here.
https://github.com/react-community/react-navigation/issues/542#issuecomment-283663786

[2017-07-25 13:27] aksonov commented on #47
No, it works well on my project. Probably you didn't import your fonts properly via XCode

[2017-07-25 13:34] EnriqueDev commented on #2081
I still don't really understand how onEnter works. Is it possible to call a function from the component from there? Is there a tutorial / doc on how to use it?

[2017-07-25 13:37] rajsuvariya commented on #47
I was able to fix it using fontWeight: "100" as mentioned in the comment.

[2017-07-25 13:39] aksonov commented on #2081
Demo is in progress... You may define it as static component function

[2017-07-25 13:49] EnriqueDev opened #2109 "Proper way of using onEnter / success?"
Hi! First of all congratulations for this awesome work you have done so far, it has been very useful. I would like to know what is the correct way to use the onEnter/success props of the scene and if can I call component methods from there.

Thanks.

PD: If someone explains it properly I could maybe write a doc/example and make a pull request.

[2017-07-25 13:51] aksonov commented on #2102
I've just added ActionConst.POP_AND_PUSH action for this (previous REPLACE could be useful to replace root scene)

[2017-07-25 13:53] aksonov commented on #2104
@luco Could you reproduce it with latest Example? I used Actions.tabbar({type:'replace'}) with 4.0.0-beta.14 and tabbar replaces launch screen normally.

[2017-07-25 13:55] aksonov commented on #2109
You can call static function onEnter of component or just pass it as prop to Scene. If it returns non-null value RNRF makes automatic transition to scene defined by `success` (`failure` otherwise)

[2017-07-25 13:56] aksonov commented on #2109
Sorry, no access to component methods - it just accesses to your navigation state, like navBar static methods.

[2017-07-25 13:58] EnriqueDev commented on #2109
So inside my component I should call:

[code]

?

[2017-07-25 14:00] aksonov commented on #2109
Current state params are passed to onEnter. So you could try to pass callback, like
`Actions.login({callback})` and then your `onEnter` will be executed with `{callback}` param.

[2017-07-25 14:02] jasongaare commented on #2088
This didn't fix my issue. I'm not sure where it lies, but manually setting the size of my view DOESN'T change the size of my Root Navigator provided via the navigation libraries.

I'll dig more, but still need help if anyone has any suggestions

[2017-07-25 14:03] luco commented on #2104
@aksonov It gives me this error:

![image](https://user-images.githubusercontent.com/246373/28575949-cbfe21dc-7128-11e7-9aa5-afdaea0295da.png)

My structure is like this:

[code]

[2017-07-25 14:05] aksonov commented on #2088
Could you reproduce it with Example project? I rotated it without any problem, all links were re-centered properly without any additional logic.

[2017-07-25 14:06] aksonov commented on #2104
Remove type='reset' from scenes. Use it as parameter. Again, please reproduce it with current Example project.

[2017-07-25 14:07] rajsuvariya commented on #2104
@aksonov is this incorrect Actions.reset("homeMain") ? I am able to reset the back stack using it.

[2017-07-25 14:09] luco commented on #2104
@rajsuvariya When I try this method, it only allows me to pick scenes outside my root.

[2017-07-25 14:10] luco commented on #2104
@aksonov Ok, you want to reproduce with example project, but this doesnt solve my problem. I want to understand what im doing wrong.

[2017-07-25 14:12] bartaveld opened #2110 "DrawerIcons disables DrawerImage"
Version:
 -  react-native-router-flux:  ^4.0.0-beta.14
 -  react-native-vector-icons:  ^4.2.0

So I used the DrawerImage property to change the hamburger Icon on the NavBar and it worked.

`
    <Router>
        <Scene key="root">

            {/*Login  */}
            <Scene key="login"
            component={LoginScreen}
            title="Login"
            type="reset"
            hideNavBar

[2017-07-25 14:12] EnriqueDev commented on #2109
My main problem here is that as ReactNavigation does not unmount tabs, all the component's lifecycle methods are not called and it's impossible to perform requests in the usual place. Using the current API v4 what would you recommend as an approach (not code, I just need some guidance).

Thanks for your time!

[2017-07-25 14:15] jasongaare commented on #2088
Thanks for your prompt response.

_**You can probably leave it closed for now**_, we've decided to stick with React Native 42 for now, because upgrading breaks all our navigation. Following the migration guide helps, but we've been using `router-flux` for over a year now so the new changes with moving to v4 are altering too many things for us to address currently.

I will circle back when (a) we m

[2017-07-25 14:23] luco commented on #2104
@aksonov Figured it out. It was the way my Scenes where nested. Had to do this way:
[code]

[2017-07-25 15:09] aksonov commented on #2104
Try type='replace'

[2017-07-25 15:10] aksonov commented on #2088
Ok, if you want this issue to be fixed, please reproduce it with Example project from this repo (i.e. fork and modify). Closing it for now.

[2017-07-25 15:10] #2088 closed

[2017-07-25 15:12] aksonov commented on #2110
Does it work with pure react-navigation? Is it similar to https://github.com/react-community/react-navigation/issues/374 ?

[2017-07-25 15:20] aksonov commented on #2109
I believe `onEnter` is way to go. Another way is to use `type=replace` instead of tabs, so your scenes will be unmounted.

[2017-07-25 15:40] PumpkinSeed opened #2111 "renderTitle image not shown on all device"
`"react-native-router-flux": "3.38.0"`

I rendered the title as an image:

[code]
But there is few phone where the image not shown. I tested on Sony Xperia XZ, OnPlus 3G and it was there, but on OnePlus 2 it isn't. The other images which is loaded on the same way to the application (like `const logo = require('../media/logo.png');`) working properly only the renderTitle have this error.

Do you ha

[2017-07-25 16:28] aksonov commented on #2111
v3 is not supported, sorry. Please try v4.

[2017-07-25 16:28] #2111 closed

[2017-07-25 16:47] bartaveld commented on #2110
In react-navigation it is possible to add a headerleft to get the effect

`export const HomeStack = StackNavigator ({
    Home: {
        screen: HomeScreen,
        navigationOptions : ({ navigation }) => ({
            title: 'Glasportaal',
            headerTintColor: 'white',
            headerStyle: {
                backgroundColor: '#C62828',
            },
            headerTitleStyle: {

[2017-07-25 16:59] luco commented on #2104
I'm getting a warning of maximum call stack when I perform a `Actions.root({type: ActionConst.RESET});`, but nothing with `Actions.root()`.

Do you have idea why?

[2017-07-25 16:59] JoshStaff opened #2112 "Unable to overlay the tabbed navigation view"
Hi all,

Having a nightmare with what should relatively simple. I'm attempting to overlay the Tabbed navigation with a View which animates via a button press – However I am unable to get the tabbed navigation to sit behind no matter what I do. I'm wondering if I am missing something and/or there is a major difference between the tabbed navigation and the ordinary navigation as it works fine with t

[2017-07-25 16:59] aksonov commented on #2110
RNRF uses headerLeft as well. Maybe the reason is in missed drawerIcon? Is it required to pass to drawer? Looks like RNRF doesn't use it...

[2017-07-25 17:11] bartaveld commented on #2110
So you are saying I should add a drawerIcon here aswell?

[code]

[2017-07-25 17:13] aksonov commented on #2112
Could you fork & modify Example project to show the problem? Are you able to achieve your goal via pure react-navigation?

[2017-07-25 17:19] aksonov commented on #2110
I'm just thinking. Yes, try that. Also try to remove icon from pure react nav solution

[2017-07-25 17:20] JoshStaff commented on #2112
I'll do the above when I get a mo. It's incredibly frustrating as it should be extremely simple. If it isn't immediately obvious to you I think it'll be something to do with react-navigation. I'll look further into this asap.

[2017-07-25 17:22] bartaveld commented on #2110
If I removed the icons from the pure react nav solution there just wouldn't be any icons in the drawer..

[2017-07-25 17:38] luco commented on #2104
Nervemind. Typo.
Thanks!

[2017-07-25 17:38] #2104 closed

[2017-07-25 18:59] rollymaduk opened #2113 "How to use wrapBy"
Thanks a lot for the great library, Its very helpful :), please how is wrapBy used with a store manager like mobx or redux. Thanks.

[2017-07-25 20:52] FredyC commented on #2094
Ok, I think I've got some partial solution.  This essentially works for the "load" scene where it can decide which way to go based on auth. However, I am struggling with redirecting to "menu" scene after the moment user gets authenticated. Apparently `onEnter` of the "auth" scene is not rerun when state changes.

[code]

There is also a small bummer that I cannot do directly `success={Actions.menu

[2017-07-25 20:57] aksonov commented on #2094
Use string, success='menu'

[2017-07-25 21:14] FredyC commented on #2094
Ok, that's nice feature, although undocumented ;)

The main problem still remains though. Where to do navigation when a user gets authenticated? I guess that only viable solution is `autorun` in `componentWillMount` of `AuthScene`. It's not very nice, but I am unable to come up with anything else.

[2017-07-25 23:06] AlmogRnD commented on #2105
I just tested it based on the example you provided with overlay it did not work for me I got the following error

There is no route defined for key messageBar.

I was able to get it to work by doing the following
[code]

[2017-07-25 23:25] AlmogRnD commented on #2086
@aksonov I have tested this and it's not working. on enter only first the first time the router is loaded.
` <Scene key='Photos' component={Photos} title='Photos' back backTitle='Back' initial={false} onEnter={alert('aaa')} />`

And I can't use componentWillReceiveProps as I'm not passing any props but just using redux state

Can you please example how to use BLUR/FOCUS

[2017-07-25 23:51] AlmogRnD commented on #2086
I did a workaround not really sure this is the correct way or best way but I just used
redux-subscriber

Which subs to the change and re runs my function

[2017-07-26 00:34] dittmarconsulting opened #2114 "[Question] Share a Scene"
I have been working with RNRF for over 6 months now and about to release the first Android/iOS app to the store. It's time for refactoring.

I'm wondering whether I can open a scene that is not a child scene? Here a simple example in pseudocode:

[code]
At the moment I have to have a copy of the `<Shared Scene 1/>` and `<Shared Scene 2/>` in each folder, which is against the reusability principle.

[2017-07-26 02:49] keith527 commented on #2113
I have the same problem.

[2017-07-26 05:34] aksonov commented on #2113
Just pass `wrapBy={observer}` for MobX. Not sure how to apply it to Redux, because Redux wrapper is different (`connect(...)`) for each component, so you have to wrap it within the component.

[2017-07-26 05:34] aksonov commented on #2114
Just use `clone` for shared scenes.

[2017-07-26 07:36] bartaveld commented on #2110
[code]

still makes the drawerimage disapear

[2017-07-26 07:41] bartaveld commented on #2110
[code]

And this just makes every icon 'email' and still removes drawerImage

![image](https://user-images.githubusercontent.com/22222143/28609840-8471f708-71e6-11e7-84b6-bcbcc75fb76e.png)

![image](https://user-images.githubusercontent.com/22222143/28609858-94f2e984-71e6-11e7-9887-8b7e0106bc95.png)

[2017-07-26 08:08] PumpkinSeed commented on #2111
I didn't found any stable version under v4. I got the BackHandler error like the #1894  and I think it is using newer React Native which is breaking some other dependency.

Thank you, but I think currently my application not supporting the v4.

[2017-07-26 08:10] rollymaduk commented on #2113
Thanks a lot, I appreciate your help, cheers. :)

On Wed, Jul 26, 2017 at 6:34 AM, Pavel Aksonov <notifications@github.com>
wrote:

--

*RegardsRonald Maduka*

[2017-07-26 10:00] EnriqueDev commented on #2109
good enough. Is there a way use lazy when using TabNavigator?

[2017-07-26 10:54] aksonov commented on #2109
Yes, just pass lazy prop

[2017-07-26 10:58] JoshStaff commented on #2042
Did this get resolved? Interested in contributing to this.

[2017-07-26 11:28] rasmniel opened #2115 "Support of external navigation state (full redux support)"
**Solved**: Integrating the router with Redux is now possible. Check out this repo for an example: [https://github.com/rasmniel/rnrfSample](https://github.com/rasmniel/rnrfSample)

I'm using the `react-native-router-flux` library and I want to store the current scene on state.
The problem is that the events in the reducer don't fire when navigating.

The app starts up like this:
[code]
My reducer

[2017-07-26 11:35] aksonov commented on #2115
Maybe you are using older version. Please check Example project from latest beta.14 - I definitely see FOCUS events:

[code]

[2017-07-26 12:12] rasmniel commented on #2115
I can get it to print out a FOCUS event using this code with the Router's createReducer prop:

[code]
... or by just putting my own reducer directly into a function and returning it to the createReducer prop.
[code]

But I don't know where to go from here, since I'm using Redux and it's not apparent to me how I utilize the data when I don't have access to them from my Redux reducers. At this point

[2017-07-26 13:45] impuulse opened #2116 "Не отображается хэдэр"
Приветствую, такая ситуация:
если ставлю initial тут :
[code]

То все ок, но если убрать initial и пройти до экрана pastingList там просто белое поле
http://joxi.ru/823zwJbc69bWYm
так если initial проставить экрану http://joxi.ru/GrqvqEziN4Eaam
перехожу на этот экран - так <TouchableOpacity onPress={() => Actions.pastingList()}>

Не знаете в чем может быть проблема?

[2017-07-26 13:49] aksonov commented on #2116
English please.

[2017-07-26 13:49] #2116 closed

[2017-07-26 14:01] impuulse opened #2117 "Header not not displayed"
Hello, if i set initial here:
[code]
Header is ok, http://joxi.ru/GrqvqEziN4Eaam , but when initial not set and go to pastingList via
<TouchableOpacity onPress={() => Actions.pastingList()}> it's white screen
http://joxi.ru/823zwJbc69bWYm
Can u help me?

[2017-07-26 14:04] aksonov commented on #2117
What version? v4 is only supported now and it requires to have one, root container Scene as child for Router.

[2017-07-26 14:04] #2114 closed

[2017-07-26 14:09] impuulse commented on #2117
Yes last version, like this?
[code]
also not work :(

[2017-07-26 14:10] aksonov commented on #2117
Please record animated gif. You may check also Example project that has hidden nav bar.

[2017-07-26 14:23] aksonov commented on #2115
@rasmniel Could you post link to sample repo with redux usage? I'm using MobX but will try to help if you provide the example. Probably I have to modify RNRF to work with external state provider.

[2017-07-26 14:30] impuulse commented on #2117
https://youtu.be/XQm78UnecGk

[2017-07-26 14:32] aksonov commented on #2117
I see, but it is difficult to understand the reason. Do you see any white screen on Example project? Please fork & modify Example accordingly so I could look at source code.

[2017-07-26 15:30] sds311 opened #2118 "How to get the Routing stack?"
I want register the <Router>'s backAndroidHandler event , like Following Code:

<Router backAndroidHandler={
(navProps)=>{ console.log(navProps.navigationState); }
} />,

but , this function Not a bit of navProps , why not injection this parameters, so, how I get the navigationState in backAndroidHandler function,  how use the backAndroidHandler function at the difference Scenes show  to run the d

[2017-07-26 20:58] OrianeInMoon commented on #1009
still appear in v4.0.0-beta.12

[2017-07-26 21:10] aaronhma commented on #1039
My code is like this:
'use strict';
import React, { Component } from 'react';
import { TextInput, View, Text, StyleSheet, Image, TouchableHighlight, ActivityIndicator } from 'react-native';
import buffer from 'buffer';
import authService from './AuthService';

const styles = StyleSheet.create({
  container: {
        backgroundColor: '#F5FCFF',
        paddingTop: 40,
        padding: 10,

[2017-07-26 23:04] txssseal opened #2119 "Getting a deadly spinner"
when on this scene `<Scene key="options" component={Options} hideNavBar={true}/>` I have a logout button.  That button resets cache, and then calls `Actions.Authentication({type: "reset"})`.  This works fine for the first login and logout, but the second time I login and try to logout I get a spinner of death that infinitely spins.
[code]

[2017-07-27 01:30] dittmarconsulting commented on #2114
Thanks Pavel for the quick reply.

Do you have an example code how to accomplish that? Do I leave the same scene structure as above and just assign the `clone` property to the `<Shared Scene 1/>` & `<Shared Scene 1/>` scenes?

[2017-07-27 01:45] hellsan631 commented on #2115
I am also having issues with this and am currently not able to persist the router state because of this. It just doesn't show up in redux at all. It doesn't seem like the connect function connects the state of the router with the store.

[2017-07-27 07:11] keith527 opened #2120 "Does any one have an example app using RNRF & Mobx?"
I am a react-native coder, recently,I want to use the new version RNRF and Mobx to my new App.But,I am not good at mobx, also, I do not know more about RNRF v4, I couldn't understand the documents clearly.
Any one have a example app use these(RNRF v4 & Mobx) or show me a link to learn these?
Thanks .

[2017-07-27 07:23] shiqian123 opened #2121 "onLeft() or onRight() use compoent function?"
If this method is inside the component, is there a way to call it? with onRight,

[2017-07-27 07:42] #2120 closed

[2017-07-27 07:49] bartaveld commented on #2110
Is this a bug or should I do something different?

[2017-07-27 07:52] aksonov commented on #2110
Probably it is a bug, but it is difficult for me to find the reason. Please fork & modify Example project to demonstrate the issue.

[2017-07-27 07:52] aksonov commented on #2121
Yes, just define them as `static`

[2017-07-27 07:54] aksonov commented on #2119
Router is expected to be top-level component - it should not depend from outer state. Anyway, please fork & modify Example project so I could see the problem

[2017-07-27 08:01] RZulfikri opened #2122 "Back props & Android back button ?"
Hi, i'd like to ask is there any way to handle back button in android like in V3 ? and i'm trying back prop in android but it didn't work. maybe someone can help me.

Thanks.

[2017-07-27 08:06] shiqian123 commented on #2121
like this?
login compoent have test11 function,I want used in onLeft
<img width="794" alt="875ed1a4-4a7e-4462-9fde-18cf0181a5f1" src="https://user-images.githubusercontent.com/9497069/28660387-50341980-72e5-11e7-9b6f-4893303d076d.png">

<img width="936" alt="95b7f533-1b29-4178-933f-154391336fd7" src="https://user-images.githubusercontent.com/9497069/28660392-53f9a60c-72e5-11e7-952f-2b843ba8f1c0.pn

[2017-07-27 08:10] adarshTS commented on #50
this worked for me :
<Scene key="homeScreen" component={mainScreen} hideNavBar={1} />

[2017-07-27 08:27] aksonov commented on #50
You could just use `<Scene key="homeScreen" component={mainScreen} hideNavBar` />

[2017-07-27 08:27] bartaveld commented on #2110
I fixed my issue by using the unicode for a menu icon

[code]

[2017-07-27 08:48] bishalshr commented on #1517
renderBackButton is not working on v4. Are there any changes?

[2017-07-27 09:12] EnriqueDev commented on #2109
Awesome. Thank you so much!

[2017-07-27 09:17] aksonov opened #2123 "Increase hitSlop (tappable area) for navbar"
We need to make navigation similar to native iOS one. Related: https://github.com/react-community/react-navigation/issues/287

[2017-07-27 09:17] scriptfans commented on #2094
Where is the ExampleMobX demo project? I want to learn how to combo RNRF v4 and Mobx work together, thanks very much.

[2017-07-27 09:22] aksonov commented on #2122
Could you please post your code for v3? For v4 you could pass custom reducer as shown in Example project and check events.

[2017-07-27 09:30] bishalshr opened #2124 "renderBackButton not working"
### Version

- react-native-router-flux v4.0.0 (v3 is not supported)
- react-native v0.44.0

Previously there was renderBackButton so that I can hide the back button using Actions.refresh({renderBackButton: () => null}). But it seems like this thing is not supported in v4. So, are there any ways to do this?

[2017-07-27 09:31] aksonov commented on #1517
@bishalshr It seems to be a bug, could you create an issue?

[2017-07-27 09:31] rasmniel commented on #2115
@aksonov I have constructed a little `react-native` project to [demonstrate the issue](https://github.com/rasmniel/rnrfSample)

You will find that the router behaves exactly as described above.
I hope this is sufficient to assist you in fixing the issue, otherwise let me know.

Thanks for your effort!

[2017-07-27 09:34] bishalshr commented on #1517
@aksonov is there any way to disable the action buttons? I want to disable the buttons when user saves the form.

[2017-07-27 09:35] aksonov commented on #2115
@hellsan63 RNRF v4 manages state by itself, like for v3 version. I will think how to work with external state, it could be good enhancement.

[2017-07-27 09:36] aksonov commented on #2115
@rasmniel Thanks, will take a look

[2017-07-27 09:37] aksonov commented on #1517
Maybe passing empty function ? `onBack={()=>{}}`

[2017-07-27 09:37] adarshTS commented on #634
this code worked for me `leftButtonImage={require('./components/Images/bg_inner.png')}`

[2017-07-27 09:42] bishalshr commented on #1517
Great. It worked. Thank you.
But there are not mentions of onBack in the doc.

[2017-07-27 10:09] aksonov commented on #1517
Thanks for the feedback. Feel free to submit PR or we will do it later.

[2017-07-27 11:10] adarshTS opened #2125 "how to add a custom navigation bar with a leftbutton and multiple right buttons"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.14 (v3 is not supported)
- react-native v0.46.4

[2017-07-27 11:21] aksonov commented on #2125
You may pass `navBar` property and render whatever you want for whole nav bar. Or you could pass `left` /`right` to render left/right Buttons

[2017-07-27 11:23] adarshTS commented on #2125
can we pass 2 images in navBar property for 2 right buttons

[2017-07-27 11:28] adarshTS commented on #2125
this is my code :
how can I add 2 right buttons to this or how can I use a custom navBar instead

`import React from 'react';
import { Scene, Router } from 'react-native-router-flux';
import mainScreen from './components/mainScreen';
import challengeScreen from './components/challengeScreen';

const RouterComponent = () => {
  return (
    <Router>
    <Scene key="root">
    <Scene key="homeScreen

[2017-07-27 11:30] aksonov commented on #2125
There is no such option. You may submit PR to support it, like passing `right` as array for buttons. But it is better just to put two button inside `right`

[2017-07-27 12:36] rajsuvariya commented on #69
I am trying to change some code for my application. I am trying to change it inside myproject's //node_modules/react-native-router-flux/src/Router.js. But the same is not being reflected in the app. Then I tried to add just log inside App component like following, but even that is not working.
[code]

Then I completely removed the code of Router.js then also the app is working fine. How can I chan

[2017-07-27 12:43] faost opened #2126 "How to wait until the scene is refreshed?"
- react-native-router-flux v4.0.0-beta.1
- react-native v0.42.0

I want to do something like this:

[code]
Similar to setState callback https://facebook.github.io/react/docs/react-component.html#setstate:

[code]

[2017-07-27 13:58] aksonov commented on #2126
Actually state is changed immediately, after that scene will be re-rendered according to the new state. So you could just to use `componentWilReceiveProps` for this.

[2017-07-27 14:02] #2126 closed

[2017-07-27 15:01] gmverdon opened #2127 "Clear history stack without route change?"
- react-native-router-flux v4.0.0

Is it possible clear the history stack and eliminate the navbar back button, without doing a route change.

Example:

When I open the app I am on the initial screen. I push a new screen on top of the initial screen. The new screen has a button which says 'Clear history stack'. When I click on the button I want to stay on the same page (so no route switch), but cl

[2017-07-27 18:34] priyank2005 opened #2128 "Support for custom component for NavBar"
### Version
- react-native-router-flux v4.0.0-beta.14
- react-native v0.46.4

### Expected behaviour
Support for custom component for NavBar

### Actual behaviour
Navbar custom component cannot be used, thus cannot have an ios 11 style heading.

[2017-07-27 18:44] aksonov commented on #2128
Could you clarify? Does react-navigation support it?

[2017-07-27 18:48] #2125 closed

[2017-07-27 18:49] aksonov commented on #2121
Just rename it to onLeft.

[2017-07-27 18:51] aksonov commented on #2124
Could you try to set `init` prop ?

[2017-07-27 18:52] aksonov commented on #2127
Try `Actions.ROUTE_NAME({type: 'replace'})` where ROUTE_NAME is name of current route.

[2017-07-27 18:54] aksonov commented on #2118
duplicate of #2122

[2017-07-27 18:54] #2118 closed

[2017-07-27 19:08] hellsan631 commented on #2115
@aksonov how do you persist the router state when your application closes? My Idea for a work-around was to keep track of a state change on the router and during rehydration (loading of an existing state) I could navigate the router to the desired component, but it throws errors about setting state during a router transition.

[2017-07-27 19:19] aksonov commented on #2115
@hellsan631 It will work after this enhancement will be done.

[2017-07-27 19:20] aksonov commented on #2115
@rasmniel Your example is very helpful. One difficult thing to implement is creation of initial state - reducer must know it at compile time, but Router is created later, runtime. Any ideas how to avoid it?

[2017-07-28 00:51] shiqian123 commented on #2121
oh ,thanks

[2017-07-28 03:03] sayhei opened #2129 "tabicon can't get more props"
the tabIcon only receive a few props,

i only receive {tintColor: "#3478f6", focused: true}

[2017-07-28 03:05] shiqian123 commented on #2129
me too

[2017-07-28 04:03] ChristianTucker opened #2130 "[Question] renderNavigationBar alternative in v4?"
I was going through the documentation for transitioning from v3 to v4 and I was trying to figure out how to render a custom navigation bar on each screen. While using `hideNavBar={true}` and creating a `<PageContent navigation={() => <NavBar />}>` is definitely a solution that works, I figured there's got to be something similar to `renderNavigationBar` in the new version.

You can close this with

[2017-07-28 04:28] adarshTS commented on #2125
how can we use navBar property to add multiple buttons

[2017-07-28 06:23] nakulkundaliya commented on #2129
Me too

I won't able to change icon's image and remove tab name .

Please help me.

[2017-07-28 07:14] sayhei opened #2131 "Scenes inside tabs (switch) getting corrently unmounted and then incorrectly re-mounted"
and this is happend to v4 again #1870

[2017-07-28 07:55] aksonov commented on #2131
Please reproduce it with Example project.

[2017-07-28 08:08] gardner commented on #2074
I am getting this too. How did you fix it?

[2017-07-28 08:37] bartaveld commented on #2110
You can even just put a <Icon> from 'React-native-vector-icon'

[code]

[2017-07-28 09:04] rasmniel commented on #2115
I am afraid I don't have the answer, but in regards to initializing state, I found this Redux library, which might contain some code that could serve as an inspiration: [redux-async-initial-state](https://github.com/KELiON/redux-async-initial-state)

I'm guessing you will be able to create an initial state for the Router, which is then be injected into the Redux store as an enhancer, through the `

[2017-07-28 09:22] aksonov commented on #2115
Probably I will restore old v3 syntax `Actions.create(<Scene>...</Scene>)` to create all actions BEFORE Router usage for this. Does it sound good?

[2017-07-28 10:01] rasmniel commented on #2115
I don't mind that syntax - so if it enables storing navigation state inside Redux without breaking new functionality, I say do it!

[2017-07-28 11:01] adarshTS opened #2132 "navigationBarStyle or navTransparent and also navigationBarStyle={[STYLES.navBar]} is not working while trying to make the custom navigation bar transparent"
### Version
- react-native-router-flux v4.0.0-beta.14 (v3 is not supported)
- react-native v0.46.4
-react-native-router-flux-nav-bar v1.1.0

### Expected behaviour

transparent navigationbar background

### Actual behaviour
white color background in the navigation bar

[2017-07-28 11:12] adarshTS commented on #2125
hey I sorted out that issue,
In my Router.js file, I created a navBar property and gave it my NavBar.js file to it like navBar={NavBar} and inside my NavBar.js file I  have customized the buttons that I needed on both left and right sides

hope this might help someone

and thanks @aksonov

[2017-07-28 11:26] aksonov commented on #2130
I will add it. You could use shorter syntax for now - `navBar`

[2017-07-28 11:27] aksonov commented on #2129
It is how react-navigation tabBar works. Have you tried to pass own tab bar and pass it as `tabBarComponent` ?

[2017-07-28 11:29] aksonov commented on #2132
Probably issue with react-navigation. Please check pure react-navigation examples and try to make transparent navbar there. If you are able to do it then send me the link.

[2017-07-28 11:29] #2121 closed

[2017-07-28 11:48] vijaychouhan-rails opened #2133 "react-native-drawer example with react-native-router-flux 4"
Can you please provide me an example of react-native-drawer with react-native-router-flux 4

[2017-07-28 11:54] aksonov commented on #2133
v4 uses built-in react-navigation drawer.

[2017-07-28 11:59] nakulkundaliya commented on #2129
@aksonov Thank you for replay.
I have try with your demo project..
Example.js File
[code]
TabIcon.js File

[code]

TabView.js File

[code]
Let me know what is wrong in this my code????

[2017-07-28 12:02] aksonov commented on #2129
Nothing, wrong, react-navigation doesn't pass params to icons, that is why I've proposed to define your own tabbar.

[2017-07-28 12:06] nakulkundaliya commented on #2129
Okay,
What do you suggest if I want to remove text below the tab icons? and also need to change icon image Is it possible to do with your library?.
As i have mentioned in following image.
![screenshot at jul 28 15-54-04](https://user-images.githubusercontent.com/15937642/28716497-4475858a-73bb-11e7-916f-a78ef5a8b1cc.png)

[2017-07-28 12:44] adarshTS commented on #2132
Here's something that I found : [https://github.com/react-community/react-navigation/issues/312]
But it didn't work with my project and I didn't install react-navigation but still, I don't think that it will work

[2017-07-28 12:45] aksonov commented on #2132
Yes, I used this for `navTransparent` and it works well.

[2017-07-28 12:45] aksonov commented on #2132
But I didn't tried for custom nav bar.

[2017-07-28 12:46] adarshTS commented on #2132
yes navTransparent worked well for me in default navigation bar but it didnt work in custom nav bar

[2017-07-28 13:00] aksonov commented on #2132
Then you must check pure react-navigation first. It has navigationOptions.header option for custom navbar (header).

[2017-07-28 13:25] jaimecorrea commented on #1903
Same issue here after upgrade RNRF from 3.40.1 to 4.0.0-beta12

[2017-07-28 13:26] phantom1299 commented on #1750
Hi, I implemented the Drawer from router-flux v4.0.0-beta.14 like this:
(I couldnt find any info on how to implement the new version, tried to implement it like in the Example App. Hope this helps other people.)

RouterComponent.js:
(This is my root component)
[code]
Where Home, Settings, Profile and LoginForm are usual components. And SideMenu is (yes :)) my side-menu.
SideMenu.js:

[code]

CardS

[2017-07-28 13:31] aksonov commented on #1903
Sorry, RNRF doesn't use`AccessibilityInfo`. Clear cache, etc.

[2017-07-28 14:20] FredyC commented on #2094
@aksonov Any other idea how to solve the problem at hand?

I think that things would great if `on/onEntry/onExit` would actually be automatic observers. Maybe I am missing something out here, but due to the fact, that with MobX it's not about re-rendering whole component tree, it shouldn't be probably build around events on a particular scene/route. Those are not executed when something in MobX st

[2017-07-28 14:58] ChristianTucker commented on #1345
@aksonov  Something like `Actions.prevScene` would be nice too.

[2017-07-28 15:25] aksonov commented on #2115
@rasmniel Okey, please check https://github.com/aksonov/rnrfSample

[2017-07-28 19:47] cwahlfeldt opened #2135 "Animation?"
### Version
- react-native-router-flux v4.0.0-beta.14

I cant seem to stop animations or use any of the old props such as duration={0}. How do I customize animation or get rid of animation in v4?

[2017-07-29 06:22] nakulkundaliya commented on #2129
@aksonov Any update?

If you want my code, then let me know will push on github.

[2017-07-29 10:11] aksonov commented on #2135
Duplicate of #2042

[2017-07-29 10:11] #2135 closed

[2017-07-29 10:13] aksonov commented on #2129
It is just react-navigation tab bar: https://github.com/react-community/react-navigation/blob/master/docs/api/navigators/TabNavigator.md
Have you tried `showLabel` prop ?

[2017-07-29 10:14] aksonov commented on #2127
Closed because of inactivity.

[2017-07-29 10:14] #2127 closed

[2017-07-29 10:14] aksonov commented on #2128
Closed due inactivity

[2017-07-29 10:14] #2128 closed

[2017-07-29 10:34] nakulkundaliya commented on #2129
Yes, I tried it, but getting undefined.
If you have any demo link then please share with me.

[2017-07-29 18:40] kesha-antonov opened #2137 "[Feature] Deep Linking Support"
Hello!

I've seen comments here: https://github.com/aksonov/react-native-router-flux/issues/704

Can someone add deep linking in v4?

I'll try to play around. Maybe someone already has working code?

[2017-07-30 01:29] giulianok commented on #2129
Same here, I'm trying to render icons instead of text, but looks like you can't remove the text below the icon.
I was able to remove the text creating a custom Tab using `tabBarComponent`, but I couldn't find (yet) how to get which is the active tab :(

Example of my custom tab bar

[code]

[2017-07-30 02:41] TAM604 opened #2139 "React-Native-Vector-Icons for React-Native-Router-Flux TabBar"
Hello,

I am currently using versions:

-react-native: 0.46.4
-react-native-router-flux: ^4.0.0-beta.14
-react-native-vector-icons": ^4.2.0
-mdi: ^2.0.46

Admittedly, I am still very new to coding (let alone to React Native) and I am just trying to create a home screen with tabs at the bottom using react-native-router-flux. Now I was able to create a tab bar, but now I am wondering how do I proper

[2017-07-30 07:32] aksonov commented on #2139
Duplicate of #2129. RNRF just uses react-navigation TabBar. Check Example for this repository. You may check more Examples from react-navigation repo.

With latest master repo it should work well.

[2017-07-30 07:32] #2139 closed

[2017-07-30 07:38] aksonov commented on #2115
Check latest master now.

[2017-07-30 07:38] #2129 closed

[2017-07-30 07:46] #2113 closed

[2017-07-30 08:05] #2124 closed

[2017-07-30 08:05] #2130 closed

[2017-07-30 08:59] adarshTS commented on #2132
here are the few links that I found referring react-navigation @aksonov [https://reactnavigation.org/docs/navigators/tab#tabBarVisible](url)
[https://reactnavigation.org/docs/navigators/stack#header](url)
can I make my custom navbar transparent without changing from RNRF to React-navigation

[2017-07-30 09:29] aksonov commented on #2132
`tabBarVisible`? Try to do it with React-Navigation. If it is possible, it could be easy done with RNRF.

[2017-07-30 10:02] lucianomlima opened #2141 "Hot to focus second tab when push tabBar Scene?"
### Version
Tell us which versions you are using:

- react-native-router-flux v3.39.2
- react-native v0.44.2

### Expected behaviour
I have the following scenes:
[code]
My starts on main scene and I try to push tabbar scene from buttons press on mais scene.
First button push and focus first tab and second button, second tab.
But I only make this works pushing tabbar action, not beauty and health.

[2017-07-30 11:06] aksonov commented on #2141
Set initial prop for second scene - check Example project

[2017-07-30 11:18] aksonov commented on #2141
Sorry only v4 is supported now

[2017-07-30 11:41] rasmniel commented on #2115
There you go! This works as expected, and events are now firing properly within Redux.
You can safely push the changes to the next release, imo 👍
Thanks for the solution! :)

[2017-07-30 12:22] aksonov commented on #2131
Closed due inactivity

[2017-07-30 12:22] #2131 closed

[2017-07-30 12:25] aksonov commented on #2117
Closed due inactivity. Btw, try to set `headerMode='screen'` when you are moving from hidden navbar to shown navbar to avoid any flickering (default iOS header transition)

[2017-07-30 12:25] #2117 closed

[2017-07-30 12:25] aksonov commented on #2110
Close due forked repo was not given.

[2017-07-30 12:25] #2109 closed

[2017-07-30 12:26] aksonov commented on #2119
Closed due inactivity (didn't received forked Example to reproduce the problem)

[2017-07-30 12:26] #2119 closed

[2017-07-30 12:28] #2141 closed

[2017-07-30 12:33] #2122 closed

[2017-07-30 12:34] #2115 closed

[2017-07-30 12:48] #2123 closed

[2017-07-30 17:56] badaz commented on #2106
I've got the same pb, what was your solution ? which view should have a containerStyle ?

[2017-07-30 18:43] Shubham-Sinha opened #2142 "How to hide drawer for specific scenes"
### Version
- react-native-router-flux v4.0.0-beta.14.
- react-native v0.46.3

### Expected behaviour

Drawer shouldn't be visible on some scenes.

### Actual behaviour

If Scene with key as 'root' is child of Scene with drawer, the drawer is always accessible.
### Steps to reproduce
I have a specific use case and that is of authentication ( common concern  )
1. Set up routes as in Example
2. Use

[2017-07-30 19:50] aksonov commented on #2142
Hm, it seems wrong design decision - have you tried to put drawer lower, it should not be parent of unauthenticated screen.

[2017-07-30 19:51] harmeetv opened #2143 "How to open drawer onPress in v4?"

[2017-07-30 19:52] aksonov commented on #2143
`Actions.drawerOpen`

On Sun, Jul 30, 2017 at 9:51 PM, harmeetv <notifications@github.com> wrote:

[2017-07-30 19:52] #2143 closed

[2017-07-30 20:05] AlmogRnD commented on #2106
@badaz I did the following

[code]

[code]

You need the container style

[2017-07-30 20:13] harmeetv opened #2144 "How to use both left and right drawer in v4?"
`<Scene key="main" drawer contentComponent={MainDrawer} hideNavBar>`
`<Scene key="main2" drawer contentComponent={MainDrawer} hideNavBar drawerPosition="right">`
`    <Scene key="mainScreen" component={MainScreen} title="Main Screen" hideNavBar />`
`</Scene>`
`</Scene>`

I want 2 drawers in single screen and above is the code I am using. When I close the left drawer 2nd drawer automaticaly opens.

[2017-07-31 03:35] adarshTS commented on #2132
@aksonov What I observed is that when I  change it to any other color the background of the navigation bar is changing but when we are trying to make it transparent it changes into white why is it so? for making it transparent I tried these : `backgroundColor: 'transparent'`  and `backgroundColor: 'rgba(52, 52, 52, 0.8)'`

this is what I get now
![navbar](https://user-images.githubusercontent.com/

[2017-07-31 05:39] vijaychouhan-rails commented on #2133
@aksonov

I know but I want to use react-native-drawer because I need to use displace screen feature but in-build drawer does not provide this.

[2017-07-31 05:58] astulip commented on #1994
console.error: "Error handling:Error: [mobx] Invariant failed: Since strict-mode is enabled, changing observed observable values outside actions is not allowed. Please wrap the code in an `action` if this change is intended. Tried to modify: NavigationStore@4._onEnterHandlerExecuted"

[2017-07-31 06:03] astulip opened #2145 "4.0.0-beta.14 mobx strict-mode is enabled bug"
console.error: "Error handling:Error: [mobx] Invariant failed: Since strict-mode is enabled, changing observed observable values outside actions is not allowed. Please wrap the code in an action if this change is intended. Tried to modify: NavigationStore@4._onEnterHandlerExecuted"

version: 4.0.0-beta.14

[2017-07-31 06:19] aksonov commented on #2145
Could you try latest master version?

[2017-07-31 06:20] aksonov commented on #2132
Could you try pure react-navigation? If it has this issue, it is react-navigation bug, create ticket there.

[2017-07-31 06:23] astulip commented on #2145
I am through the version of the installation of yarn, it is not easy to test. If you follow the latest release version. I can try. I have now closed mobx strict mode

[2017-07-31 06:26] aksonov commented on #2144
Looks like it is open issue for react-navigation: https://github.com/react-community/react-navigation/issues/780

Maybe we could maintain own DrawerNavigator and include proposed PR into RNRF. Feel free to submit PR to include this functionality

[2017-07-31 06:39] aksonov commented on #2133
Try new `overlay` and `contentComponent` props (not documented, will be useful for PR about documentation):
[code]

Within `CustomDrawer` you define all drawer. The question is how to call drawer open/close... We need to think about it, but try this first.

[2017-07-31 06:40] aksonov commented on #2145
I'm going to publish new version today (beta.15)

[2017-07-31 06:41] astulip commented on #2145
Okay, after i'm released, I'll try it.

[2017-07-31 06:51] aksonov commented on #2112
Closed due inactivity.

[2017-07-31 06:51] #2112 closed

[2017-07-31 07:01] bartaveld commented on #2110
Sorry I don't have the time to give a forked repo

[2017-07-31 07:06] badaz commented on #2106
OK, thanks, definitely not the problem I had. What my problem was is that when migrating from v3 to 4 I hadn't realized that: 1 - the way to connect the router to redux had changed, 2 - the actions sent by the router had changed too.

[2017-07-31 07:32] #2110 closed

[2017-07-31 07:34] adarshTS commented on #2132
@aksonov will this help in making the navBar transparent
[https://github.com/aksonov/react-native-router-flux/pull/1476](url)

[2017-07-31 07:34] aksonov commented on #2106
Check latest master, it has full redux support now (v3 didn't have it)

[2017-07-31 07:35] aksonov commented on #2132
It is unknown when it will be done for v4.

[2017-07-31 07:36] aksonov commented on #2132
Have you looked at https://github.com/react-community/react-navigation/issues/716 ?

[2017-07-31 07:40] astulip opened #2146 "header onBack bug?"
`export default props => (
    <Scene key="root" hideNavBar>
        <Scene
            key="home" tabs
            initial={props.initKey === 'home'}
            tabBarComponent={TabBarBottom} >
            <Scene tabBarIcon={welcomeIcon} key="homeWelcome" tabBarLabel="Welcome" component={Welcome}  title="React Native"/>
            <Scene tabBarIcon={homeIcon} key="homeIndex" title="home" tabBar

[2017-07-31 07:41] aksonov commented on #2146
Please try to reproduce on Example project and give me a link.

[2017-07-31 07:41] aksonov commented on #2145
Closing now, feel free to open if it will happen with beta.15

[2017-07-31 07:41] #2145 closed

[2017-07-31 07:46] astulip commented on #2146
I am in China, do you look at this git address (https://git.oschina.net/stulip/react-native-template) Can you visit?

Project catalog
Adb install build / android / iyimu-main-debug-0.1.17.apk
Yarn && yarn start

Home click Android or iOS text.

[2017-07-31 10:07] aksonov commented on #2146
Do you see the bug on iOS? I don't have android sdk.

[2017-07-31 10:16] vexsnare commented on #2001
Totally agree with @Rewieer

[2017-07-31 10:24] astulip commented on #2146
There is also this problem.
If you can access my project git. After you update git can run on ios above
Script: react-native run-ios

[2017-07-31 10:28] rajsuvariya opened #2147 "onEnter not being executed when using Actions.pop() manually"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.12
- react-native v0.46.3

### Expected behavior
When I press "Add" button I am calling Actions.pop() and Actions.refresh({data: this.state.mydata}). In this case, when the previous screen becomes visible onEnter callback should be executed.

### Actual behavior
When I press "Add" button I am calling Actions.

[2017-07-31 10:43] aksonov commented on #2147
Please check latest master branch. If it still exists, try to reproduce on this repo Example project.

[2017-07-31 11:11] adarshTS commented on #2132
@aksonov
I was facing some issues in react-navigation I couldnt navigate properly in react navigation and thats why i switched to RNRF but we could hide the default navBar

Can u make help in making changes and see if its getting transparent  in my project  [](https://github.com/adarshTS/bookCricket-app)
 I am just a beginner can u please help

[2017-07-31 12:59] aksonov commented on #2137
Okey, I added `path` passing to react-navigation, but it doesn't work good. react-navigation router doesn't return any action for deep nodes, only for top level. Also it creates several pushes for some reason... You need to debug react-navigation code to make it work. Check PR above, you may open login popup using `xcrun simctl openurl booted mychat://login/123`, but it pushes two login screens fo

[2017-07-31 13:49] rajsuvariya commented on #2147
After taking clone of master even onExit is not working when I open the new screen using Actions.secondComp().

I have added onEnter and onExit props in `loginModal` in the Example.js in this repo https://github.com/rajsuvariya/react-native-router-flux Please check

[2017-07-31 14:05] rajsuvariya commented on #2147
![video](https://user-images.githubusercontent.com/12663795/28781338-585bf94e-7627-11e7-974c-2d5398125741.gif)

[2017-07-31 16:48] kesha-antonov commented on #2137
Thanks!

[2017-07-31 17:24] Shubham-Sinha commented on #2142
![initial code](https://preview.ibb.co/iAHrUk/rnrf_previous.png)

When I put drawer lower

![code lower](https://preview.ibb.co/d3apFQ/drawer_down.png)

I get following error :

![error](https://preview.ibb.co/jO9c25/error_drawer.png)

[2017-07-31 17:44] inferusvv opened #2149 "How to make drawer navigation?"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.14
- react-native v0.46.4

I can't understand how to make navigator with `DrawerLayoutAndroid`.

Here is my code:

[code]

Drawer works fine. In navbar I see title `test`. And content is not visible. Just blank page. So what I am doing wrong.

[2017-07-31 17:54] Shubham-Sinha commented on #2149
You don't have a scene with ``key="root"`` . It will be parent to ``key="home`` and ``key="test"`` . Check Example/Example.js for better understanding

[2017-07-31 19:36] aksonov commented on #2149
Check breaking changes section, now containers cannot have 'component', but 'contentComponent' instead. And right, check Example project for more details

[2017-07-31 19:36] #2149 closed

[2017-07-31 19:50] mleung commented on #1915
Hey guys, I know this ticket is closed, but in case anyone else runs into this problem--this actually solved it for me:

https://stackoverflow.com/questions/39657029/react-native-android-several-apps-instances-running-at-the-same-time-as-result

Basically, if you don't manually set android:launchMode="singleInstance", your route file and entire app will get created over and over coming from the ba

[2017-07-31 20:21] NickBefore commented on #2074
#1974

[2017-07-31 20:39] abeltje1 opened #2150 "Upgrade to v4 broke - almost - everything"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.15 (v3 is not supported)
- react-native v0.46.4

I have updated react-native-router-flux from v3 to v4 and my whole navigation is not working anymore. I've tried to read through example.js and the migrating guide but it still isn't clear to me how to solve this problem. In v3 everything worked perfectly with

[2017-08-01 06:24] SXQJSL opened #2151 "can i use it with react-redux or it will support redux？？"
my project use v3 with redux，but i want upgrade to v4. i find it can`t work with react-redux.so,i have a question,v4 can support redux by some other method?????

[2017-08-01 06:52] aksonov commented on #2150
Please read 'breaking changes' carefully:
https://github.com/aksonov/react-native-router-flux/blob/master/docs/MIGRATION.md especially item about custom navigators and impossibility of `children` and `component` props together.

`DefaultRenderer` concept is replaced with custom navigators from react-navigation. It is quite similar and more powerful:
https://reactnavigation.org/docs/navigators/cust

[2017-08-01 06:52] #2150 closed

[2017-08-01 06:54] aksonov commented on #2151
v4 (latest 4.0.0-beta.15) provides full redux support (v3 provided partial, 'read-only' support, it was not possible to provide external redux state). PR about new integration is welcome. For now check #2115 and rnrfSample repo provided there.

[2017-08-01 06:54] #2151 closed

[2017-08-01 07:56] abeltje1 commented on #2150
Thanks for your quick reply and help! I will try to figure it out. cheers!

[2017-08-01 08:33] aksonov opened #2152 "[Regression] Jump to the same route pushes new screen (should be ignored)"
### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.15

[2017-08-01 08:42] aksonov commented on #2147
So only onExit doesn't work properly, right?

[2017-08-01 08:55] #2152 closed

[2017-08-01 09:08] aksonov commented on #2146
I can't help here, I could work only with modified Example from this repository, not your projects.

[2017-08-01 09:12] #2147 closed

[2017-08-01 09:13] aksonov commented on #2142
I can't help with external code, only with Example project from this repo. Check latest master, I moved drawer

[2017-08-01 09:33] OrianeInMoon commented on #2019
on 4.0.0-beta.15:
`leftTitle` is only displayed when no `onLeft` function is provided.

[2017-08-01 09:35] aksonov commented on #2019
Have you checked 4.0.0-beta.14?

[2017-08-01 09:36] OrianeInMoon commented on #2019
The same occured using 4.0.0-beta.14.

In fact, it only works when using `onLeft={Actions.pop}`, not when using `onLeft={Actions.mypage}`

[2017-08-01 09:47] SXQJSL commented on #2151
thank u

[2017-08-01 09:48] aksonov commented on #2019
It means actions is not generated yet i.e. Null value

[2017-08-01 09:51] OrianeInMoon commented on #2019
So why I can see  the wanted action using `console.log(Actions)` before the Router declaration !?

[2017-08-01 11:40] rota-rossi opened #2155 "(Warning) Multiple mobx instances running"
Hi, folks. I just added mobx to my RN project, and I'm receiving the warning below. Am I doing something wrong?

### Version
Tell us which versions you are using:

- react-native-router-flux v4.0.0-beta.15
- react-native v0.46.4
- mobx v3.2.2
- mobx-react v4.2.2

### Expected behaviour / Actual behaviour
So far, no problems found (except for the warning message)

### The step-by-step
1. added mobx

[2017-08-01 12:09] rajsuvariya commented on #2147
Yes

[2017-08-01 12:11] aksonov commented on #2147
Please check latest master, it should be fixed

[2017-08-01 12:17] rota-rossi commented on #2155
I 'solved' the issue by downgrading my mobx and mobx-react versions for the same used by RNRF.

[2017-08-01 12:20] aksonov commented on #2155
Feel free to upgrade RNRF's dependencies and submit PR.

[2017-08-01 12:40] astulip commented on #2146
Yes, I changed your example:
addcode in TabView.js
`<Button onPress={Actions.home}>home</Button>`
You can reproduce the problem.
Should be Action.pop bug

[2017-08-01 12:48] luco commented on #2137
This would be awesome.

[2017-08-01 12:50] rubycon opened #2156 "Decorators (MobX) not supported by React Native defaut Babel preset"
### Version
- react-native-router-flux v4.0.0-beta.15
- react-native v0.4.6

After updating to the last version of RNRF my app broke. This was cause by the use of MobX decorators in Router.js (and in other files too). As of now it seems [React Native default Babel presets](https://github.com/facebook/react-native/tree/master/babel-preset) don't handle ES7 decorators.

### Fix
The fix is simple, bu

[2017-08-01 12:51] rajsuvariya commented on #2147
Okay

[2017-08-01 12:52] aksonov commented on #2156
RNRF provides compiled version within `dist` folder. Plugin is necessary only if you want to use source code directly, without transpiling.

[2017-08-01 12:58] aksonov commented on #2146
Home is used to demonstrate 'pop and push' action - it cannot be used for initial scenes like TabView.

[2017-08-01 13:00] aksonov commented on #2146
It is definitely configuration problem - you are calling screens from another parent tree - so you will be switched to that tree, so back action will return you to parent tree, not your one. You could try to use `clone` scenes so they will be pushed from your current nav tree.

[2017-08-01 13:00] #2146 closed

[2017-08-01 13:31] rubycon commented on #2156
Thanks. How do I import the transpiled version directly in my code?

[2017-08-01 13:35] aksonov commented on #2156
It should be done automatically - RNRF package.json points to dist/index.js, not to src/index.js.
I just removed that plugin from .babelrc for this repo's Example project and run it without any problem. Please check Example project from latest master.

[2017-08-01 13:43] aksonov commented on #2156
I see `"main": "dist/index.js",` there

[2017-08-01 13:44] rajsuvariya commented on #2147
No, it isn't fixed yet.

![image](https://user-images.githubusercontent.com/12663795/28828219-a42ff070-76ed-11e7-9232-f9c3caca377d.png)

[2017-08-01 13:46] rajsuvariya commented on #2147
No, It isn't fixed yet.

![image](https://user-images.githubusercontent.com/12663795/28828289-ea5f86be-76ed-11e7-9666-42422aba812e.png)

[2017-08-01 13:46] rubycon commented on #2156
Sorry, put the wrong link (that was the 4.0.0-beta.15 tagged branch). I fixed it.

[2017-08-01 13:48] rajsuvariya commented on #2147
No, It isn't fixed yet.

![image](https://user-images.githubusercontent.com/12663795/28828337-13b8ce9e-76ee-11e7-9783-4b52f688a9b0.png)

[2017-08-01 13:49] aksonov commented on #2147
How did you test it? Are you sure that you are using latest master (not just Example from master) ?

[2017-08-01 14:14] rajsuvariya commented on #2147
I am using your example project only and yes I took pull from master not Example project (see the image)

![image](https://user-images.githubusercontent.com/12663795/28829554-c7703348-76f1-11e7-976b-752570f3bbd3.png)

[2017-08-01 14:24] aksonov commented on #2147
Example uses beta.15 not latest master, that is why I asked you to change RNRF inside Example to latest one.

[2017-08-01 14:27] rajsuvariya commented on #2147
I am sorry about that.

But as I am new to open source I don't know how to use the source code directly. Can you please tell me how to do it?

[2017-08-01 14:58] jaimecorrea commented on #2150
Hi,

I need help on how to migrate my MenuDrawer from v3 to v4, there are many changes, I'm using react-native-drawer inside a MenuDrawer component but I can't use <DefaultRenderer>...

[2017-08-01 15:00] abeltje1 commented on #2150
I decided sticking with v3, It gave me too much of a headache hehe. I'll check back in a few weeks time..still getting used to RN and Redux.

[2017-08-01 15:56] ranasing commented on #2049
Can you explain what you mean by this, 'container scene as root'? I am getting the same error. Thanks

[2017-08-01 16:16] aksonov commented on #2156
I've fixed package.json now for master

[2017-08-01 16:16] #2156 closed

[2017-08-01 16:17] aksonov commented on #2147
Ok, please check latest now, I've modified dependencies directly to latest master

[2017-08-01 16:39] rubycon commented on #2156
Great! Thank you very much.

[2017-08-01 16:50] typeslower commented on #2001
Regarding slow transitions:
@Rewieer are you passing a lot of props or loading data from state via Redux or something similar? Also was this tested only in iOS or android simulators?

I ask because haven't had any problems with transitions. The only time I noticed a slow transition was when I had some buggy code in my react native projects. Something sounds off though.

Sorry for going off topic.

[2017-08-01 16:55] ranasing commented on #2049
Ok, I'm not getting the error any more, but it only shows a blank screen on my Android simulator. Here is the relevant code:

import React, { Component } from 'react';
import { Scene, Router } from 'react-native-router-flux';
import { createStore, applyMiddleware } from 'redux';
import { Provider } from 'react-redux';
import LoginForm from './components/LoginForm';

  render() {
    const store =

[2017-08-01 16:55] emilj858 opened #2157 "Scene Not changing"
"react-native-router-flux": "3.38.0"

Expected Behavior: Scene should change to settings component upon button press.

Actual behavior: Nothing happens, I do see the console.log for the button press though.

Code:

`I am trying to add a button to get to my settings component (index.js) from my home component(main screen). For some reason this is not working, I have added different screens before a

[2017-08-01 17:06] rajsuvariya commented on #2147
Yes, It's working perfectly. Thanks a lot.

[2017-08-01 17:09] ranasing opened #2158 "Can't read property 'router' of null #2049"
Sorry, I reposted this because realized that original post was closed.

Can you explain what you mean by this, 'container scene as root'? I am getting the same error. Thanks

Ok, I'm not getting the error any more, but it only shows a blank screen on my Android simulator. Here is the relevant code (**update:**, it gave me a blank screen, but then went back to the old error above reappeared) :

imp

[2017-08-01 17:33] rota-rossi commented on #2155
I don't know if it would be just that.
The proper way (as I understood) is actually to change the mobx packages to be a peer dependency here. But this way, the users will need to install by hand mobx and mobx-react, even if they do not plan to use it (peerDependencies are not installed by default).
Should I proceed on this path?

[2017-08-01 17:38] mikaello commented on #2158
I think _container scene as root_ means that you should have a Scene-component directly under Router-component with `key='root` that encapsulates all your other scenes:

[code]

[2017-08-01 17:52] ranasing commented on #2158
Ok thank you! I’ll give that a try.

From: mikaello [mailto:notifications@github.com]
Sent: Tuesday, August 01, 2017 1:38 PM
To: aksonov/react-native-router-flux
Cc: ranasing; Author
Subject: Re: [aksonov/react-native-router-flux] Can't read property 'router' of null #2049 (#2158)

I think container scene as root means that you should have a Scene-component directly under Router-component with key

[2017-08-01 17:59] aksonov commented on #2049
Your root scene is not container

[2017-08-01 18:04] Rewieer commented on #2001
@typeslower so far it was working fine on emulator but was painfully slow on Emulator.
I remember back then I was using Immutable with Redux but the entity base wasn't so heavy. I had Redux-Persist with 200ms debouncing as well. So maybe loading data from state using Immutable with sorts & filters could make a deal but, on list of < 100 elements it's hard to think this could have a this huge impac